<%= render "header" %>
<style>
    body {
        margin: 41px;
        padding: 0;
    }
    .course-card {
        margin-bottom: 20px;
    }

    .left-box {
        padding: 20px;
        width: 120%;
    }

    .right-box {
        padding: 20px;
        margin-top: 20px;
    }

    h1 {
        font-weight: bold;
    }

    h2 {
        font-weight: bold;
        margin: 0px;
        margin-top: 20px; 
       font-size: 19px;
    }
    h3{
        color: red;
        font-size: 13px;
        margin-left: 1064px;
        margin-top: -34px;
    }
    h4{
        font-size: 1.5rem;
        margin-top: 102px;
        font-size: 20px;
        font-weight: bold;
    }
    a1 {
        color: red;
    }
    .text-black {
        color: black !important;
    }
    .star{
        margin-left: 210px;
    }
    span.Rating{    
        margin-left: 28px;
    }
    p{
        font-size: 12px
    }
    .container {
        width: 766px;
    }
    .img-thumbnail {
        border: none;
    }
    .clicked {
        filter: brightness(0) invert(1);
        border: none; 
        outline: none; 
    }
        thead{
        background-color: lightblue
    }
</style>
<body>
<div class="page-title">
    <h1 class="border-bottom pb-2" style="font-weight: bold; font-size: 20px; margin-left: 30px; margin-right: 31px;">Course Schedule
        <h3><a href="http://localhost:3000/home" style=" color: red;"> Home </a><svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="currentColor" class="bi bi-chevron-double-right" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M3.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L9.293 8 3.646 2.354a.5.5 0 0 1 0-.708z"/>
            <path fill-rule="evenodd" d="M7.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L13.293 8 7.646 2.354a.5.5 0 0 1 0-.708z"/>
        </svg> Course Schedule
        </h3><br><br>
    </h1><br>
  <p class="border-bottom pb-2" style=" margin-left: 30px; margin-right: 31px;">This is a page description</p><br>
</div>

<div class="row">

<div class="col-md-6">
        <div class="left-box">
            <p class="paragrap" style="margin-top: 20px; word-spacing: 2px;"> The <strong>Depth Core Software Training</strong> Institute of Hyderabad, India offers multiple <strong>training schedules</strong> to meet our student’s needs.  Most of our students already have careers, work obligations, children etc., and our<strong> software training </strong>classes are designed to work well within these lifestyles.</p>
        </div>
        <div class="left-box">
            <p class="paragrap" style="margin-top: 20px; word-spacing: 2px; font-size: 20px; font-weight: bold;"> “Depth Core adds unique scheduling flexibility you will not find at most Software Training Institutes</p>
            <img src="./assets/onlinepng" width="600" height="300">
        </div>
    <div class="container mt-4">
        <h2>Course Schedule</h2><br>
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Course</th>
              <th>Faculty</th>
              <th>Date</th>
              <th>Time (IST)</th>
              <th>Register Now</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Placement Program on JAVA & .NET</td>
              <td>Team of Expert</td>
              <td>28th December</td>
              <td>9:00 AM</td>
              <td>Register Now</td>
            </tr>
            <tr>
                <td><a href="/development">Full Stack JAVA</a></td>
                <td>Mr. Mansani</td>
                <td>28th December</td>
                <td>7:30 PM</td>
                <td><a href="https://docs.google.com/forms/d/1gUhrsbYZxUOx5KjQuOhCL-bdtMSnkWu76MPuHlkupY8">Register Now</a></td>
            </tr>
            <tr>
                <td><a href="/python">Full Stack PYTHON</a></td>
                <td>Mr. Satish Gupta</td>
                <td>2nd January</td>
                <td>5:00 PM</td>
                <td><a href="#">Register Now</a></td>
            </tr>
            <tr>
                <td>Azure Data Engineer with Data Factory</td>
                <td>Mr. Gareth</td>
                <td>28th December</td>
                <td>7:30 PM</td>
                <td><a href="#">Register Now</a></td>
            </tr>
            <tr>
                <td><a href="/python">PYTHON</a></td>
                <td>Dr. Venkat Raju</td>
                <td>28th December</td>
                <td>8:30 PM</td>
                <td><a href="#">Register Now</a></td>
            </tr>
            <tr>
                <td>SQL Server</td>
                <td>Mr .Shiva Chaitanya</td>
                <td>29th December</td>
                <td>6:00 PM</td>
                <td><a href="#">Register Now</a></td>
            </tr>
            <tr>
                <td>ORACLE (SQL & PL/SQL)</td>
                <td>Mr. Sudhakar.L</td>
                <td>29th December</td>
                <td>4:00 PM</td>
                <td><a href="#">Register Now</a></td>
            </tr>
             <tr>
                <td><a href="/language">C Language</a></td>
                <td>Mr. Rishi Kumar</td>
                <td>29th December</td>
                <td>6:00 PM</td>
                <td><a href="#">Register Now</a></td>
            </tr>
            <tr>
                <td>Mulesoft</td>
                <td>Mr. Srinath</td>
                <td>29th December</td>
                <td>7:00 AM</td>
                <td><a href="#">Register Now</a></td>
            </tr>
            <tr>
                <td>DevOps with AWS</td>
                <td>Mr. Veera Babu</td>
                <td>29th December</td>
                <td>7:30 AM</td>
                <td><a href="#">Register Now</a></td>
            </tr>
            <tr>
                <td><a href="/AWS">AWS</a></td>
                <td>Mr. Avinash</td>
                <td>29th December</td>
                <td>9:00 AM</td>
                <td><a href="#">Register Now</a></td>
            </tr>
            <tr>
                <td>Ms Azure + Azure DevOps</td>
                <td>Mr. Naveen</td>
                <td>29th December</td>
                <td>7:30 AM</td>
                <td><a href="#">Register Now</a></td>
            </tr>
            <tr>
                <td><a href="/core">CORE JAVA</a></td>
                <td>Mr. Mansani</td>
                <td>28th December</td>
                <td>7:30 PM</td>
                <td><a href="#">Register Now</a></td>
            </tr>
              <tr>
                <td><a href="/spring">Spring Basics, Spring Boot & MicroServices</a></td>
                <td>Mr. Dileep Singh</td>
                <td>29th December</td>
                <td>7:30 AM</td>
                <td><a href="#">Register Now</a></td>
            </tr>
            <tr>
                <td>POWER BI</td>
                <td>Miss. Mohana</td>
                <td>29th December</td>
                <td>8:00 AM</td>
                <td><a href="#">Register Now</a></td>
            </tr>
            <tr>
                <td><a href="/react">REACT JS</a></td>
                <td>Mr. Sudhakar Sharma</td>
                <td>29th December</td>
                <td>7:30 AM</td>
                <td><a href="#">Register Now</a></td>
            </tr>
            <tr>
                <td><a href="/net">ASP.NET CORE MVC 5 + MVC Core</a></td>
                <td>Mr. Bangar Raju</td>
                <td>29th December</td>
                <td>11:00 AM</td>
                <td><a href="#">Register Now</a></td>
            </tr>
            <tr>
                <td>SELENIUM</td>
                <td>Mr. Anil Kumar</td>
                <td>2nd January</td>
                <td>9:00 AM</td>
                <td><a href="#">Register Now</a></td>
            </tr>
            <tr>
                <td><a href="/AWS">AWS</td>
                <td>Mr. Reyaz</td>
                <td>2nd January</td>
                <td>5:30 PM</td>
                <td><a href="#">Register Now</a></td>
            </tr>
            <tr>
                <td><a href="/dev">DevOps</a></td>
                <td>Mr. Shiva</td>
                <td>2nd January</td>
                <td>7:00 PM</td>
                <td><a href="#">Register Now</a></td>
            </tr>
            <tr>
                <td><a href="/view_courses">Full Stack DATA SCIENCE & AI</a></td>
                <td>Mr. Omkar</td>
                <td>2nd January</td>
                <td>10:30 AM</td>
                <td><a href="#">Register Now</a></td>
            </tr>
            <tr>
                <td>UI Full Stack Web With ReactJS</td>
                <td>Mr. Prasad</td>
                <td>2nd January</td>
                <td>4:00 PM</td>
                <td><a href="#">Register Now</a></td>
            </tr>
            <tr>
                <td>DIGITAL MARKETING</td>
                <td>Mr. Ramakanth</td>
                <td>3rd January</td>
                <td>6:00 PM</td>
                <td><a href="#">Register Now</a></td>
            </tr>
            <tr>
                <td><a href="/sale">Salesforce CRM</a></td>
                <td>Mr. Adhan</td>
                <td>8th January</td>
                <td>7:30 AM</td>
                <td><a href="#">Register Now</a></td>
            </tr>
          </tbody>
        </table>
            <div class="left-box">
                <img src="./assets/awspng" width="700" height="100">
            </div>
            <div class="left-box">
                <img src="./assets/fullpng" width="700" height="100">
            </div>
            <div class="left-box">
                <img src="./assets/devpng" width="700" height="100">
            </div>
            <div class="left-box">
                <img src="./assets/mspng" width="700" height="100">
            </div>
            <div class="left-box">
                <img src="./assets/springpng" width="700" height="100">
            </div>
 <!--            <div class="left-box">
                <p class="paragrap" style="margin-top: 20px; word-spacing: 2px;">New students may start as late as the end of the first week.  Late starts must be made up on Friday of the first enrollment week for that course schedule.</p>
            </div>
 -->
    </div>
</div>
 <div class="col-md-6 px-4">
        <div class="right-box">
            <div class="star">
            <span class="Rating"><a>Rating of &nbsp; <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="yellow" class="bi bi-star" viewBox="0 0 16 16">
                <polygon points="8 0 10 5 15 5 11.25 8.75 12.5 14.5 8 11 3.5 14.5 4.75 8.75 1 5" />
            </svg><svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="yellow" class="bi bi-star" viewBox="0 0 16 16">
                <polygon points="8 0 10 5 15 5 11.25 8.75 12.5 14.5 8 11 3.5 14.5 4.75 8.75 1 5" />
            </svg><svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="yellow" class="bi bi-star" viewBox="0 0 16 16">
                <polygon points="8 0 10 5 15 5 11.25 8.75 12.5 14.5 8 11 3.5 14.5 4.75 8.75 1 5" />
            </svg><svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="yellow" class="bi bi-star" viewBox="0 0 16 16">
                <polygon points="8 0 10 5 15 5 11.25 8.75 12.5 14.5 8 11 3.5 14.5 4.75 8.75 1 5" />
            </svg><svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="yellow" class="bi bi-star" viewBox="0 0 16 16">
                <polygon points="8 0 10 5 15 5 11.25 8.75 12.5 14.5 8 11 3.5 14.5 4.75 8.75 1 5" />
            </svg> </a></span><br>
            <a class="average" style="font-size: 10px;">Average of 4.98 on a total of 500 Ratings</a><br></div>
            <div class="training" style="margin-left: 142px; margin-top: 14px; font-size: 12px">
            <a herf="/trainers_profile" style="color: red;">Trainers Profile</a><br>
            <a href="/student_enquiry" style="color: red;">Student Enquiry</a><br>
            <a href="/corporate_training" style="color: red;">Corporate Training</a><br>
            <a href="/feedback" style="color: red;">Post your Feedback</a><br>
            <a href="/post_testimonials" style="color: red;">View/Post Testimonials<br>
            <a href="/contact" style="color: red;">Contact Us</a></a1></div>
            <div class="margin" style="margin-left: 141px;">
                <h2>Register for Course!</h3><br>
                <p>Learn from the Real-Time Experts</p>
                <br>
                    <form>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="firstName">First Name<span class="text-danger">*</span></label>
                                <input type="text" class="form-control" id="firstName" placeholder="Enter your first name">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="lastName">Last Name<span class="text-danger">*</span></label>
                                <input type="text" class="form-control" id="lastName" placeholder="Enter your last name">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="email">Email<span class="text-danger">*</span></label>
                                <input type="email" class="form-control" id="email" placeholder="Enter your email">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="phone">Phone<span class="text-danger">*</span></label>
                                <input type="tel" class="form-control" id="phone" placeholder="Enter your phone number">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="state">State</label>
                                <input type="tel" class="form-control" id="state" placeholder="Enter your phone number">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="modeOfTraining">Mode of Training<span class="text-danger">*</span></label>
                            <select id="modeOfTraining" class="form-control">
                                <option selected>Online Training</option>
                                <option selected>Classroom Training</option>
                                <option selected>Weekend Training</option>
                                <option selected>Project Training</option>
                                <option selected>Intership Training</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="course">Course</label>
                            <select id="course" class="form-control">
                                <option selected>Select Course</option>
                                <option selected>Python</option>
                                <option selected>Java</option>
                                <option selected>C++</option>
                                <option selected>C#</option>
                                <option selected>JavaScript</option>
                                <option selected>Ruby</option>
                                <option selected>Swift</option>
                                <option selected>Kotlin</option>
                                <option selected>Data Science</option>
                                <option selected>Machine Learning</option>
                                <option selected>Deep Learning</option>
                                <option selected>Natural Language Processing (NLP)</option>
                                <option selected>TensorFlow</option>
                                <option selected>PyTorch</option>
                            </select>
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                    <br>

                    <h2>JOIN WHATSAPP GROUPS FOR UPDATES<br><br>
                        <img src="./assets/whatsappjpg">
                    </h2>
                    <h2>WATCH FREE TUTORIALS<br><br>
                        <img src="./assets/telegramjpeg">
                    </h2>
                    <h2>JOIN US ON TELEGRAM FOR UPDATES<br><br>
                        <img src="./assets/freejpg">
                    </h2>
                    <h2>FIND COURSES HERE</h2>
                    <li>courses traning</li>
                    <li>Android Training</li>
                    <li>iPhone Training</li>
                    <li>Asp.Net Training</li>
                    <li>Asp.Net MVC Training</li>
                    <li>C#.NET Training</li>
                    <li>C++ Training</li>
                    <li>Data Structure Training</li>
                    <li>Java Training</li>
                    <ul class="list">
                        <li>Core Java Training</li>
                        <li>Advanced Java Training</li>
                        <li>Hibernate Training</li>
                        <li>J2EE Training</li>
                        <li>Spring 5.x Training</li>
                        <li>Hibernate Training</li>
                        <li>Web Services Training</li>
                        <li>Struts Training</li>
                        <li>XML Training</li>
                        <li>Java Online Training</li></ul>
                    <li>Oracle Training</li>
                    <li>SQL Server Training</li>
                    <li>Selenium Training</li>
                    <li>UNIX LINUX Training</li>
                    <li>PHP Training</li>
                    <li>HTML5 CSS3 Training</li>
                    <li>jQuery Training</li>
                    <li>UI Technologies Training</li>
                    <li>UI UX Training</li>
                    <li>AngularJS Training</li>
                    <ul class="list">
                        <li>Angular 2 Training</li>
                        <li>Angular 4 Training</li>
                        <li>Angular 6 Training</li>
                        <li>Angular 7 Training</li>
                    </ul>
                    <li>Data Science Training</li>
                    <li>Artificial Intelligence Training</li>
                    <li>Hadoop Training</li>
                    <li>Apache Spark Training</li>
                    <li>Python Training</li>
                    <li>Hadoop Online Training</li>
                    <li>DevOps Training</li>
                    <li>AWS Training</li>
                    <li>IoT Training</li>
                    <li>SalesForce CRM Training</li>
                    <li>Digital Marketing Training</li>
                    <li>RPA Training</li>
                    <ul class="list">
                        <li>Blue Prism Training</li>
                        <li>Automation Anywhere Training</li>
                        <li>Automation Anywhere Online Training</li>
                    </ul>
                    <li>Blockchain Training</li>
                    <li>Realtime Projects</li>
                    <ul class="list">
                        <li>Real Time Java Project</li>
                        <li>Real-Time Project on PHP</li></ul>
                    <li>Doubleclick for Publishers Training</li>
                    <li>Software Training in Chennai</li>
                    <li>Testing Tools Training</li>
                    <li>Full Stack Web Development Course</li>
                    <li>Full Stack Web Development Course</li>
                    <li>Full Stack Java Developer Course</li>
               </div>
           </div>
        </div>
    </div>
</div>
</body>

