
<style>
    .course-card {
        margin-bottom: 20px;
    }

    .left-box {
        padding: 20px;
        width: 120%;
    }

    .right-box {
        padding: 20px;
        margin-top: 20px;
    }

    h1 {
        font-weight: bold;
    }

    h2 {
        font-weight: bold;
        margin: 0px;
        margin-top: 20px; 
       font-size: 19px;
    }
    h3{
        color: red;
        font-size: 13px;
        margin-left: 416px;
        margin-top: 14px;
    }
    h4{
        font-size: 1.5rem;
        margin-top: 102px;
        font-size: 20px;
        font-weight: bold;
    }
 /*   a1, td {
        color: red;
    }*/
    .text-black {
        color: black !important;
    }
    .star{
        margin-left: 210px;
    }
    span.Rating{    
        margin-left: 28px;
    }
    p{
        font-size: 12px
    }
    .container {
        width: 766px;
    }
    input#searchInput {
        margin-left: 199px;
    }

</style>
<body>

<div class="row">
    <div class="col-md-6 px-4">
        <div class="left-box">
            <h class="services" style="font-size: 20px; font-weight: bold;">Placements</h>
            <p class="paragrap" style="margin-top: 20px; word-spacing: 2px;">A renowned name in the field of IT training, a brand used as a synonym for expanding the horizons in offering the best and the latest. As an organization that has committed itself in assisting the students in being placed into their dream organizations, We are now assisting our students in being placed into their dream organizations.</p>
        </div><br>
        <div class="container mt-2">
            <div class="size">
                <div class="col-md-6 text-right">
                    <label for="entriesSelect">Show</label>
                    <select id="entriesSelect" class="form-control d-inline-block" style="width: 100px;">
                      <option value="10">10</option>
                      <option value="25">25</option>
                      <option value="50">50</option>
                      <option value="100" selected>100</option>
                    </select>
                    <label for="entriesSelect" class="ml-2">entries</label>
                </div>
            </div>
            <div class="col-md-3 text-left">
                <input type="text" id="searchInput" class="form-control" placeholder="Search...">
            </div>
            <table class="table table-bordered">

              <thead>
                <tr>
                  <th>Date of Drive</th>
                  <th>Company Name</th>
                  <th>Technology</th>
                  <th>Location</th>
                  <th>Placed</th>
                </tr>
              </thead>

              <tbody id="myTable">
                <tr>
                  <td>13-Apr-19</td>
                  <td>Accenture</td>
                  <td>UI-Technologies</td>
                  <td>Hyderabad</td>
                  <td>2</td>
                </tr>
                <tr>
                  <td>16-Mar-19</td>
                  <td>Aclara</td>
                  <td>MS.NET with MVC</td>
                  <td>Hyderabad</td>
                  <td>6</td>
                </tr>
                <tr>
                  <td>2-Nov-19</td>
                  <td>Aclara Technologies</td>
                  <td>MS.NET</td>
                  <td>Hyderabad</td>
                  <td>3</td>
                </tr>
                <tr>
                  <td>27-Dec-19</td>
                  <td>AETINS GLOBAL PVT LTD</td>
                  <td>ORACLE</td>
                  <td>Hyderabad</td>
                  <td>3</td>
                </tr>
                <tr>
                  <td>22-Jun-19</td>
                  <td>Affluent Global Services Pvt Ltd</td>
                  <td>MS.NET with MVC</td>
                  <td>Hyderabad</td>
                  <td>3</td>
                </tr>
                <tr>
                  <td>22-Jun-19</td>
                  <td>Affluent Global Services Pvt Ltd</td>
                  <td>SQL SERVER</td>
                  <td>Hyderabad</td>
                  <td>1</td>
                </tr>
                <tr>
                  <td>12-Oct-19</td>
                  <td>Akken Technologies Pvt. Ltd.</td>
                  <td>MS.NET with MVC</td>
                  <td>Hyderabad</td>
                  <td>4</td>
                </tr>
                <tr>
                  <td>12-Oct-19</td>
                  <td>Akken Technologies Pvt. Ltd.</td>
                  <td>PHP</td>
                  <td>Hyderabad</td>
                  <td>3</td>
                </tr>
                <tr>
                  <td>27-Apr-19</td>
                  <td>appensure</td>
                  <td>JAVA</td>
                  <td>Hyderabad</td>
                  <td>3</td>
                </tr>
                <tr>
                  <td>4-May-19</td>
                  <td>ARU Tech</td>
                  <td>MS.NET</td>
                  <td>Hyderabad</td>
                  <td>3</td>
                </tr>
                <tr>
                  <td>12-Oct-19</td>
                  <td>Assetsense</td>
                  <td>MS.NET</td>
                  <td>Hyderabad</td>
                  <td>5</td>
                </tr>
                <tr>
                  <td>7-Dec-19</td>
                  <td>Aumnics</td>
                  <td>ANDROID</td>
                  <td>Hyderabad</td>
                  <td>5</td>
                </tr>
                <tr>
                  <td>7-Dec-19</td>
                  <td>Aumnics</td>
                  <td>JAVA</td>
                  <td>Hyderabad</td>
                  <td>4</td>
                </tr>
                <tr>
                  <td>8-Jun-19</td>
                  <td>AuroPro Soft Systems Pvt. Ltd</td>
                  <td>MS.NET</td>
                  <td>Hyderabad</td>
                  <td>4</td>
                </tr>
                <tr>
                  <td>8-Jun-19</td>
                  <td>AuroPro Soft Systems Pvt. Ltd</td>
                  <td>SELENIUM</td>
                  <td>Hyderabad</td>
                  <td>2</td>
                </tr>
                 <tr>
                  <td>2-Mar-19</td>
                  <td>B2B Software</td>
                  <td>C, C++</td>
                  <td>Hyderabad</td>
                  <td>5</td>
                </tr>
                <tr>
                  <td>2-Mar-19</td>
                  <td>B2B Software</td>
                  <td>MS.NET</td>
                  <td>Hyderabad</td>
                  <td>6</td>
                </tr>
                <tr>
                  <td>2-Feb-19</td>
                  <td>Birlasoft</td>
                  <td>JAVA</td>
                  <td>Hyderabad</td>
                  <td>13</td>
                </tr>
                <tr>
                  <td>13-Jul-19</td>
                  <td>Blueberry Digital Labs Private Limited.</td>
                  <td>AWS</td>
                  <td>Hyderabad</td>
                  <td>5</td>
                </tr>
                <tr>
                  <td>13-Jul-19</td>
                  <td>Blueberry Digital Labs Private Limited.</td>
                  <td>DevOps</td>
                  <td>Hyderabad</td>
                  <td>5</td>
                </tr>
                <tr>
                  <td>30-Nov-19</td>
                  <td>Broadridge</td>
                  <td>AWS</td>
                  <td>Hyderabad</td>
                  <td>5</td>
                </tr>
                <tr>
                  <td>30-Nov-19</td>
                  <td>Broadridge</td>
                  <td>JAVA</td>
                  <td>Hyderabad</td>
                  <td>4</td>
                </tr>
                <tr>
                  <td>11-May-19</td>
                  <td>Broadridge</td>
                  <td>JAVA</td>
                  <td>Hyderabad</td>
                  <td>17</td>
                </tr>
                <tr>
                  <td>30-Nov-19</td>
                  <td>Broadridge</td>
                  <td>SQL SERVER</td>
                  <td>Hyderabad</td>
                  <td>7</td>
                </tr>
                <tr>
                  <td>29-Jun-19</td>
                  <td>C-TEL Infosystems</td>
                  <td>ANDROID</td>
                  <td>Hyderabad</td>
                  <td>2</td>
                </tr>
                <tr>
                  <td>29-Jun-19</td>
                  <td>C-TEL Infosystems</td>
                  <td>iPhone</td>
                  <td>Hyderabad</td>
                  <td>1</td>
                </tr>
                <tr>
                  <td>29-Jun-19</td>
                  <td>C-TEL Infosystems</td>
                  <td>JAVA</td>
                  <td>Hyderabad</td>
                  <td>3</td>
                </tr>
                <tr>
                  <td>29-Jun-19</td>
                  <td>C-TEL Infosystems</td>
                  <td>PHP</td>
                  <td>Hyderabad</td>
                  <td>2</td>
                </tr>
                <tr>
                  <td>25-Jan-2020</td>
                  <td>C-TEL INFOSYSTEMS PVT.LTD</td>
                  <td>JAVA</td>
                  <td>Hyderabad</td>
                  <td>Progress</td>
                </tr>
                <tr>
                  <td>25-Jan-2020</td>
                  <td>C-TEL INFOSYSTEMS PVT.LTD</td>
                  <td>PHP</td>
                  <td>Hyderabad</td>
                  <td>Progress</td>
                </tr>
                <tr>
                  <td>13-Dec-19</td>
                  <td>C2S Technologies</td>
                  <td>SQL SERVER</td>
                  <td>Hyderabad</td>
                  <td>2</td>
                </tr>
                <tr>
                  <td>16-Nov-19</td>
                  <td>CapGemini</td>
                  <td>Freshers</td>
                  <td>All Over India</td>
                  <td>8</td>
                </tr>
                <tr>
                  <td>9-Nov-19</td>
                  <td>Carbynetech India Pvt Ltd</td>
                  <td>ANGULAR</td>
                  <td>Hyderabad</td>
                  <td>5</td>
                </tr>
                <tr>
                  <td>9-Nov-19</td>
                  <td>Carbynetech India Pvt Ltd</td>
                  <td>MD.NET</td>
                  <td>Hyderabad</td>
                  <td>5</td>
                </tr>
                <tr>
                  <td>9-Nov-19</td>
                  <td>Carbynetech India Pvt Ltd</td>
                  <td>UI Technologies</td>
                  <td>Hyderabad</td>
                  <td>5</td>
                </tr>
                <tr>
                  <td>23-Nov-19</td>
                  <td>Carbynetech Pvt Ltd</td>
                  <td>.Net and UI</td>
                  <td>Gachibowli</td>
                  <td>3</td>
                </tr>
                <tr>
                  <td>31-Aug-19</td>
                  <td>Cashapona Technologies Private Limited</td>
                  <td>UI Technologies</td>
                  <td>Hyderabad</td>
                  <td>6</td>
                </tr>
                <tr>
                  <td>16-Mar-19</td>
                  <td>Cassini Systems</td>
                  <td>JAVA</td>
                  <td>Hyderabad</td>
                  <td>4</td>
                </tr>
                <tr>
                  <td>5-Oct-19</td>
                  <td>CES Ltd</td>
                  <td>MS.NET</td>
                  <td>Hyderabad</td>
                  <td>4</td>
                </tr>
                <tr>
                  <td>18-May-19</td>
                  <td>Cloudzen Technologies</td>
                  <td>C, C++</td>
                  <td>Pune</td>
                  <td>3</td>
                </tr>
                <tr>
                  <td>23-Mar-19</td>
                  <td>Coco Soft Inc</td>
                  <td>MS.NET</td>
                  <td>Hyderabad</td>
                  <td>6</td>
                </tr>
                <tr>
                  <td>27-Jul-19</td>
                  <td>Code Stream</td>
                  <td>.NET</td>
                  <td>Kolkata</td>
                  <td>2</td>
                </tr>
                <tr>
                  <td>27-Jul-19</td>
                  <td>Code Stream</td>
                  <td>JAVA</td>
                  <td>Kolkata</td>
                  <td>2</td>
                </tr>
                <tr>
                  <td>10-Aug-19</td>
                  <td>compuGain Solutions (India) Pvt ltd</td>
                  <td>MS.NET with MVC</td>
                  <td>Hyderabad</td>
                  <td>2</td>
                </tr>
                <tr>
                  <td>24-Aug-19</td>
                  <td>CopperTaurus Technologies (India) Pvt. Ltd.</td>
                  <td>PYTHON</td>
                  <td>Hyderabad</td>
                  <td>2</td>
                </tr>
                <tr>
                  <td>17-Aug-19</td>
                  <td>CraftAny IT Solutions</td>
                  <td>MS.NET</td>
                  <td>Hyderabad</td>
                  <td>13</td>
                </tr>
                <tr>
                  <td>30-Mar-19</td>
                  <td>Darvis Solution Full Stack Developer</td>
                  <td>Hyderabad</td>
                  <td>2</td>
                </tr>
                <tr>
                  <td>23-Mar-19</td>
                  <td>Delta tech</td>
                  <td>SELENIUM</td>
                  <td>Hyderabad</td>
                  <td>3</td>
                </tr>
                <tr>
                  <td>21-Sep-19</td>
                  <td>Digiryte Private Limited</td>
                  <td>ReactJS</td>
                  <td>Chennai</td>
                  <td>3</td>
                </tr>
                <tr>
                  <td>4-May-19</td>
                  <td>Digitohub</td>
                  <td>ORACLE</td>
                  <td>Hyderabad</td>
                  <td>3</td>
                </tr>
                <tr>
                  <td>27-Apr-19</td>
                  <td>Digitohub</td>
                  <td>SQL SERVER</td>
                  <td>Hyderabad</td>
                  <td>5</td>
                </tr>
                <tr>
                  <td>24-Aug-19</td>
                  <td>Docme Softlabs Pvt Ltd</td>
                  <td>JAVA</td>
                  <td>Hyderabad</td>
                  <td>6</td>
                </tr>
                <tr>
                  <td>24-Aug-19</td>
                  <td>Docme Softlabs Pvt Ltd</td>
                  <td>MS.NET</td>
                  <td>Hyderabad</td>
                  <td>4</td>
                </tr>
                <tr>
                  <td>13-Jul-19</td>
                  <td>Droid5 Informatics Private Limited</td>
                  <td>ANDROID</td>
                  <td>Hyderabad</td>
                  <td>4</td>
                </tr>
                <tr>
                  <td>13-Jul-19</td>
                  <td>Droid5 Informatics Private Limited</td>
                  <td>Django & PYTHON</td>
                  <td>Hyderabad</td>
                  <td>4</td>
                </tr>
                <tr>
                  <td>6-Dec-19</td>
                  <td>Drucare Pvt Ltd</td>
                  <td>PYTHON</td>
                  <td>Hyderabad</td>
                  <td>4</td>
                </tr>
                <tr>
                  <td>6-Dec-19</td>
                  <td>Drucare Pvt Ltd</td>
                  <td>UI-Technologies</td>
                  <td>Hyderabad</td>
                  <td>3</td>
                </tr>
                <tr>
                  <td>8-Jun-19</td>
                  <td>Drucare Pvt.Ltd</td>
                  <td>DATA SCIENCE</td>
                  <td>Hyderabad</td>
                  <td>6</td>
                </tr>
                <tr>
                  <td>8-Jun-19</td>
                  <td>Drucare Pvt.Ltd</td>
                  <td>UI Technologies</td>
                  <td>Hyderabad</td>
                  <td>10</td>
                </tr>
                <tr>
                  <td>13-Apr-19</td>
                  <td>Eliga Pvt Ltd</td>
                  <td>UI Technologies</td>
                  <td>Hyderabad</td>
                  <td>3</td>
                </tr>

              </tbody>
            </table>

            <div class="text-center">
              <button class="btn btn-primary" onclick="previousPage()">Previous</button>
              <span id="pageNumber">10</span>
              <button class="btn btn-primary" onclick="nextPage()">Next</button>
            </div>
        </div>
    </div>
    <div class="col-md-6 px-4">
        <div class="right-box">
            <h3><a href="http://localhost:3000/home" style=" color: red;"> Home </a><svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="currentColor" class="bi bi-chevron-double-right" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M3.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L9.293 8 3.646 2.354a.5.5 0 0 1 0-.708z"/>
                <path fill-rule="evenodd" d="M7.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L13.293 8 7.646 2.354a.5.5 0 0 1 0-.708z"/>
            </svg> Placements</h3><br><br>
            <div class="star">
            <span class="Rating"><a>Rating of &nbsp; <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="yellow" class="bi bi-star" viewBox="0 0 16 16">
                <polygon points="8 0 10 5 15 5 11.25 8.75 12.5 14.5 8 11 3.5 14.5 4.75 8.75 1 5" />
            </svg><svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="yellow" class="bi bi-star" viewBox="0 0 16 16">
                <polygon points="8 0 10 5 15 5 11.25 8.75 12.5 14.5 8 11 3.5 14.5 4.75 8.75 1 5" />
            </svg><svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="yellow" class="bi bi-star" viewBox="0 0 16 16">
                <polygon points="8 0 10 5 15 5 11.25 8.75 12.5 14.5 8 11 3.5 14.5 4.75 8.75 1 5" />
            </svg><svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="yellow" class="bi bi-star" viewBox="0 0 16 16">
                <polygon points="8 0 10 5 15 5 11.25 8.75 12.5 14.5 8 11 3.5 14.5 4.75 8.75 1 5" />
            </svg><svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="yellow" class="bi bi-star" viewBox="0 0 16 16">
                <polygon points="8 0 10 5 15 5 11.25 8.75 12.5 14.5 8 11 3.5 14.5 4.75 8.75 1 5" />
            </svg> </a></span><br>
            <a class="average" style="font-size: 10px;">Average of 4.98 on a total of 500 Ratings</a><br></div>
            <div class="training" style="margin-left: 142px; margin-top: 14px; font-size: 12px">
            <a herf="/trainers_profile" style="color: red;">Trainers Profile</a><br>
            <a href="/student_enquiry" style="color: red;">Student Enquiry</a><br>
            <a href="/corporate_training" style="color: red;">Corporate Training</a><br>
            <a href="/feedback" style="color: red;">Post your Feedback</a><br>
            <a href="/post_testimonials" style="color: red;">View/Post Testimonials<br>
            <a href="/contact" style="color: red;">Contact Us</a></a1></div>
            <div class="margin" style="margin-left: 141px;">
                <h2>Register for Course!</h3><br>
                <p>Learn from the Real-Time Experts</p>
                <br>
                    <form>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="firstName">First Name<span class="text-danger">*</span></label>
                                <input type="text" class="form-control" id="firstName" placeholder="Enter your first name">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="lastName">Last Name<span class="text-danger">*</span></label>
                                <input type="text" class="form-control" id="lastName" placeholder="Enter your last name">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="email">Email<span class="text-danger">*</span></label>
                                <input type="email" class="form-control" id="email" placeholder="Enter your email">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="phone">Phone<span class="text-danger">*</span></label>
                                <input type="tel" class="form-control" id="phone" placeholder="Enter your phone number">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="state">State</label>
                                <input type="tel" class="form-control" id="state" placeholder="Enter your phone number">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="modeOfTraining">Mode of Training<span class="text-danger">*</span></label>
                            <select id="modeOfTraining" class="form-control">
                                <option selected>Online Training</option>
                                <option selected>Classroom Training</option>
                                <option selected>Weekend Training</option>
                                <option selected>Project Training</option>
                                <option selected>Intership Training</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="course">Course</label>
                            <select id="course" class="form-control">
                                <option selected>Select Course</option>
                                <option selected>Python</option>
                                <option selected>Java</option>
                                <option selected>C++</option>
                                <option selected>C#</option>
                                <option selected>JavaScript</option>
                                <option selected>Ruby</option>
                                <option selected>Swift</option>
                                <option selected>Kotlin</option>
                                <option selected>Data Science</option>
                                <option selected>Machine Learning</option>
                                <option selected>Deep Learning</option>
                                <option selected>Natural Language Processing (NLP)</option>
                                <option selected>TensorFlow</option>
                                <option selected>PyTorch</option>
                            </select>
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                    <br>

                    <h2>JOIN WHATSAPP GROUPS FOR UPDATES<br><br>
                        <img src="./assets/whatsappjpg">
                    </h2>
                    <h2>WATCH FREE TUTORIALS<br><br>
                        <img src="./assets/telegramjpeg">
                    </h2>
                    <h2>JOIN US ON TELEGRAM FOR UPDATES<br><br>
                        <img src="./assets/freejpg">
                    </h2>
                    <h2>FIND COURSES HERE</h2>
                    <li>courses traning</li>
                    <li>Android Training</li>
                    <li>iPhone Training</li>
                    <li>Asp.Net Training</li>
                    <li>Asp.Net MVC Training</li>
                    <li>C#.NET Training</li>
                    <li>C++ Training</li>
                    <li>Data Structure Training</li>
                    <li>Java Training</li>
                    <ul class="list">
                        <li>Core Java Training</li>
                        <li>Advanced Java Training</li>
                        <li>Hibernate Training</li>
                        <li>J2EE Training</li>
                        <li>Spring 5.x Training</li>
                        <li>Hibernate Training</li>
                        <li>Web Services Training</li>
                        <li>Struts Training</li>
                        <li>XML Training</li>
                        <li>Java Online Training</li></ul>
                    <li>Oracle Training</li>
                    <li>SQL Server Training</li>
                    <li>Selenium Training</li>
                    <li>UNIX LINUX Training</li>
                    <li>PHP Training</li>
                    <li>HTML5 CSS3 Training</li>
                    <li>jQuery Training</li>
                    <li>UI Technologies Training</li>
                    <li>UI UX Training</li>
                    <li>AngularJS Training</li>
                    <ul class="list">
                        <li>Angular 2 Training</li>
                        <li>Angular 4 Training</li>
                        <li>Angular 6 Training</li>
                        <li>Angular 7 Training</li>
                    </ul>
                    <li>Data Science Training</li>
                    <li>Artificial Intelligence Training</li>
                    <li>Hadoop Training</li>
                    <li>Apache Spark Training</li>
                    <li>Python Training</li>
                    <li>Hadoop Online Training</li>
                    <li>DevOps Training</li>
                    <li>AWS Training</li>
                    <li>IoT Training</li>
                    <li>SalesForce CRM Training</li>
                    <li>Digital Marketing Training</li>
                    <li>RPA Training</li>
                    <ul class="list">
                        <li>Blue Prism Training</li>
                        <li>Automation Anywhere Training</li>
                        <li>Automation Anywhere Online Training</li>
                    </ul>
                    <li>Blockchain Training</li>
                    <li>Realtime Projects</li>
                    <ul class="list">
                        <li>Real Time Java Project</li>
                        <li>Real-Time Project on PHP</li></ul>
                    <li>Doubleclick for Publishers Training</li>
                    <li>Software Training in Chennai</li>
                    <li>Testing Tools Training</li>
                    <li>Full Stack Web Development Course</li>
                    <li>Full Stack Web Development Course</li>
                    <li>Full Stack Java Developer Course</li>
               </div>
           </div>
        </div>
    </div>
</div>