<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>contact</title>
</head>
<%= render "header" %>
<style type="text/css">
	h{
		margin-left: 994px;
        font-size: 13px;
    }h3{
    	font-weight: bold;
    }
</style>
<body>
<div  class="page-title">
    <h1 class="border-bottom pb-2" style="font-weight: bold; font-size: 20px; margin-left: 30px; margin-right: 31px;">Contact Us
        <h><a href="http://localhost:3000/home" style=" color: red;"> Home </a><svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="currentColor" class="bi bi-chevron-double-right" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M3.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L9.293 8 3.646 2.354a.5.5 0 0 1 0-.708z"/>
            <path fill-rule="evenodd" d="M7.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L13.293 8 7.646 2.354a.5.5 0 0 1 0-.708z"/>
        </svg> Contact Us </h>
    </h1><br>
    <p class="border-bottom pb-2" style=" margin-left: 30px; margin-right: 31px;">Welcome to Depth Core</p>
</div>
<div  class="page">
	<h3>Get in Touch with Naresh i Technologies</h3>
	<p>Thank you for your interest in NareshIT</p><br>
	<p>Please read below that best fits your needs and provide some brief information that will enable us to route your request to the appropriate person. We look forward to quickly responding to your inquiry.</p>
	<p>Do you have Questions?
	We really appreciate you taking the time to Get In Touch with us.
	We would love to hear from you!</p>
</div>



</body>
</html>
