<%= render "header" %>
<style type="text/css">
	body {
        margin: 41px;
        padding: 0;
    }
	h{
		margin-left: 987px;
        font-size: 13px;
    }h3{
    	font-weight: bold;
    }
    .page {
    	margin-left: 31px;
    	margin-top: 67px;
    }p{
    	font-size: 11px;
    }p2{
    	font-size: 8px;
    }h4{
    	font-size: 12px;
    	font-weight: bold;
    }
</style>
<body>
<div  class="page-title">
    <h1 class="border-bottom pb-2" style="font-weight: bold; font-size: 20px; margin-left: 30px; margin-right: 31px;">Contact Us<h><a href="http://localhost:3000/home" style=" color: red;"> Home </a><svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="currentColor" class="bi bi-chevron-double-right" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M3.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L9.293 8 3.646 2.354a.5.5 0 0 1 0-.708z"/>
            <path fill-rule="evenodd" d="M7.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L13.293 8 7.646 2.354a.5.5 0 0 1 0-.708z"/>
        </svg> Contact Us </h>
    </h1><br>
    <p class="border-bottom pb-2" style=" margin-left: 30px; margin-right: 31px;">Welcome to Depth Core</p>
</div>
<div  class="page">
	<h3>Get in Touch with Depth Core Technologies</h3>
	<p>Thank you for your interest in Depth Core</p><br>
	<p>Please read below that best fits your needs and provide some brief information that will enable us to route your request to the appropriate person. We look forward to quickly responding to your inquiry.</p>
	<p>Do you have Questions?<br>
	We really appreciate you taking the time to Get In Touch with us.<br>
	We would love to hear from you!</p>
</div>
<div class="page">
	<h3>India – Hyderabad Office</h3>
	<p>2nd Floor, Durga Bhavani Plaza, Ameerpet, HyderabadTel: +91 40 2374 6666 (IN – Hyderabad)<br>
	<strong>Tel: </strong>+91 40 2373 4842 (IN – Hyderabad)<br>
	+91 9000994007<br>
	+91 9000994008<br>
	for Projects : +91 9000994005<br>
	<strong>Email:</strong>info@DepthCore.com</p>
</div>
<div class="page">
	<h3>USA Office</h3>
	<p>5007 Arbor View Pkwy NW Acworth, GA, 30101<br>
	<strong>Ph: </strong>+1 404-232-9879, +1 248-522-6925<br>
	<strong>Email: </strong> sriram@DepthCore.com</p>
</div>
<div class="page">
    <h3>for Online Training</h3>
	<p>Mobile/Whats App:<br>
	<strong>+91 81 79 19 1999<br>
	+91 92 93 22 6789</strong><br>
	Email: online@DepthCore.com</p>
</div>
<div class="page">
	<h3>India – Software Development Office</h3>
	<p>Nacre Software Services Pvt Ltd,<br>
	#7-1-212/A/69, Plot No:84,<br>
	Shivabagh, Ameerpet,<br>
	Hyderabad – 500038.<br>
	<strong>Tel:+91 40 4015 1017</strong> <br>
	<strong>Email:</strong>info@nacreservices.com</p>
</div>
<div class="page">
	<h3>Current and Prospective Students</h3>
	<p>Complete our Contact Form to learn more about how Depth Core Technologies can work with you to achieve your business goals.</p>
</div>
<div class="page">
	<h3>Software Trainers / IT Professionals</h3>
	<p>Visit our Careers page to search for job openings and apply online.</p>
</div>
<div class="page">
	<h3>Contact Us</h3>
	<p>Thank you for your interest in Depth Core Please provide the<br> following information about your business needs to help us<br>route your request to the appropriate person.</p>
</div>
<div class="page">
	<form>
	    <div class="form-row">
	        <div class="form-group col-md-4">
	            <label for="firstName">First Name<span class="text-danger">*</span></label>
	            <input type="text" class="form-control" id="firstName" placeholder="Enter your first name">
	        </div>
	    </div>
	    <div class="form-row">
	        <div class="form-group col-md-4">
	            <label for="lastName">Last Name<span class="text-danger">*</span></label>
	            <input type="text" class="form-control" id="lastName" placeholder="Enter your last name">
	        </div>
	    </div>
	    <div class="form-row">
	        <div class="form-group col-md-4">
	            <label for="email">Email<span class="text-danger">*</span></label>
	            <input type="email" class="form-control" id="email" placeholder="Enter your email">
	        </div>
	    </div>
	    <div class="form-row">
	        <div class="form-group col-md-4">
	            <label for="phone">Phone<span class="text-danger">*</span></label>
	            <input type="tel" class="form-control" id="phone" placeholder="Enter your phone number">
	        </div>
	    </div>
	    <div class="form-row">
	        <div class="form-group col-md-4">
	            <label for="Title / Job Role">Title / Job Role<span class="text-danger">*</span></label>
	            <input type="tel" class="form-control" id="Title / Job Role" placeholder="Enter your Job role">
	        </div>
	    </div>
	    <div class="form-row">
	        <div class="form-group col-md-4">
	            <label for="Company">Company<span class="text-danger">*</span></label>
	            <input type="tel" class="form-control" id="Company" placeholder="Enter your company">
	        </div>
	    </div>
	    <div class="form-row">
	        <div class="form-group col-md-6">
	        	<label for="How can we Help You?*">How can we Help You?<span class="text-danger">*</span></label><br>
	            <input type="tel" class="form-control" id="How can we Help You?*" placeholder="Enter your How can we Help You?*">
	            <p2>0 of 300 max characters</p2>
	        </div>
	    </div>
	</form>
    <h4>Read and Accept Terms & Conditions<span class="text-danger">*</span></h4>
    <div class="form-group col-md-2">
        <select id="Accepted" class="form-control">
            <option selected>Accepted</option>
        </select>
    </div><br>
    <br><p2><br>I, hereby authorize Naresh i Technologies, to contact me. It will override<br> my registry on the NCPR. By providing your contact details <br>you have expressly authorized Naresh i Technologies <br>to contact you in future through calls/SMS/E-mails<br> and inform you about our products.</p2><br><br>
    <button type="submit" class="btn btn-primary">Submit</button>
</div>
<div class="page">
	<h3>24*7 Online Support Team</h3>
	<p>If you want quick answers about general questions, billing, online training, classroom training, corporate training, please email us at info@nareshit.com or chat with us.</p>
</div>
<div class="page">
	<h3>Corporate Training Inquiries</h3>
	<p>If you are interested in Corporate Training, check out our Corporate Training Program Highlights.<br>
	OR<br>
	You can mail us at info@DepthCore.com<br>
	<strong>Phone :</strong> 040-23746666<br>
	<strong>Email :</strong> info@DepthCore.com</p>
</div>
<div class="page">
	<h3>Get Social</h3>
	<p>Connect with us socially and stay up-to-date on all the latest news at Depth Core</p>
</div>


</body>
</html>
<br>
<p class="paragrap" style="font-weight: bold;">© 2023 Depth Core  Technologies | Software Training - Online Training - Live Project Training - Weekend Training</p>