<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Naresh IT Website</title>
  <link href="styles.css" rel="stylesheet"> <!-- Link to your CSS file -->
</head>
<body>
	 <%= render "header" %>
   
</body>
</html>


