<style type="text/css">
	page-title {
    font-size: 20px;
    font-weight: 600;
    margin: 0;
    padding: 20px 0;
    padding: 2rem 0;
    }
    .border-bottom {
            border-bottom: 3px solid black;
            padding-bottom: 5px;
        }
</style>
<div class="page-title">
	<h1 class="border-bottom pb-2">Software Trainers Profile</h1><br>
</div>

