<%= render "header" %>
<style>
    .course-card {
        margin-bottom: 20px;
    }

    .left-box {
        padding: 20px
    }

    .right-box {
        padding: 20px;
        margin-top: 20px;
    }

    h1 {
        font-weight: bold;
    }

    h2 {
        font-weight: bold;
        margin: 0px;
        margin-top: 20px; 
       font-size: 19px;
    }
    h3{
        color: red;
        font-size: 18px;
    }
    h4{
        font-size: 1.5rem;
        margin-top: 102px;
        font-size: 20px;
        font-weight: bold;
    }
    a1, td {
        color: red;
    }
    .text-black {
        color: black !important;
    }
    .star{
        margin-left: 210px;
    }
    h{
        font-weight: bold;
    }pr li{
    margin-left: 35px;
    font-size: 12px;
    font-style: italic;
    }
/*    img{
        width: 100;
        height: 10vh;
    }*/
</style>
<body>
<div class="row">
<!-- Left Box -->
<div class="col-md-6">
    <div class="left-box">
        <h4 class="border-bottom pb-2">Data Science Training</h4>
        <a1 class="border-bottom pb-2">NIT Manager</a1>
        <div class="left-box">
            <h class="services" style="font-size: 12px; font-weight: bold;">Data Science Training Overview</h>
            <p class="paragrap" style="margin-top: 20px; word-spacing: 2px;">Data science Training by Expert. Data science it is a software here distributing and processing the large set of data into the cluster of computers. This Course is designed to Master yourself in the <h>Data Science Techniques </h>and Upgrade your skill set to the next level to sustain your career in ever changing the software Industry.This Course covers from the basics of Data Science to Big Data<a1> Hadoop, Python, </a1><h>Apache Spark </h>etc</p>
        </div>
        <h class="ser" style="font-size: 12px; font-weight: bold; margin: 16px;">Objectives of the Course</h><br><br>
        <h class="ser" style="font-size: 12px; font-weight: bold; margin: 16px;">Pre-Requites  of the Course</h><br><br>
        <h class="ser" style="font-size: 12px; font-weight: bold; margin: 16px;">Course Duration</h><br><br>
        <h class="ser" style="font-size: 12px; font-weight: bold; margin: 16px;">Data Science Course Content</h><br><br>
        <pr>
        <li>Need for Data Scientists</li>
        <li>Foundation of Data Science</li>
        <li>What is Business Intelligence</li>
        <li>What is Data Analysis, Data Mining, and Machine Learning</li>
        <li>Analytics vs Data Science</li>
        <li>Value Chain</li>
        <li>Types of Analytics</li>
        <li>Lifecycle Probability</li>
        <li>Analytics Project Lifecycle</li><br><br></pr>
        <h class="ser" style="font-size: 12px; font-weight: bold; margin: 16px;">Data</h><br><br>
        <pr><li> What is Big Data?</li>
        <li>5 Vs of Big Data</li>
        <li>Big Data Architecture, Technologies, Challenge and Big Data Requirements</li>
        <li>What is Data Analysis, Data Mining, and Machine Learning</li>
        <li>Big Data Distributed Computing and Complexity</li>
        <li>Hadoop</li>
        <li>Map Reduce Framework</li>
        <li>Map Reduce Framework</li><br><br></pr>
        <h class="ser" style="font-size: 12px; font-weight: bold; margin: 16px;">Data Science Deep Dive</h><br><br>
        <pr><li>What is Data Science?</li>
        <li>Why are Data Scientists in demand?</li>
        <li>What is a Data Product</li>
        <li>The growing need for Data Science</li>
        <li>Large-Scale Analysis Cost vs Storage</li>
        <li>Data Science Skills</li>
        <li>Data Science Use Cases and Data Science Project Life Cycle & Stages</li>
        <li>Map-Reduce Framework</li>
        <li>Hadoop Ecosystem</li>
        <li>Data Acquisition</li>
        <li>Where to source data</li>
        <li>Techniques</li>
        <li>Evaluating input data</li>
        <li>Data formats, Quantity and Data Quality</li>
        <li>Resolution Techniques</li>
        <li>Data Transformation</li>
        <li>File Format Conversions</li>
        <li>Anonymization</li><br><br></pr>
        <h class="ser" style="font-size: 12px; font-weight: bold; margin: 16px;">Intro to R Programming</h><br><br>
        <pr><li>Introduction to R</li>
        <li>Business Analytics</li>
        <li>Analytics concepts</li>
        <li>The importance of R in analytics</li>
        <li>R Language community and eco-system</li>
        <li>Usage of R in industry</li>
        <li>Installing R and other packages</li>
        <li>Perform basic R operations using command line</li>
        <li>Usage of IDE R Studio and various GUI</li></pr>
        <h class="ser" style="font-size: 12px; font-weight: bold; margin: 16px;">R Programming Concepts</h><br><br>
        <pr><li>The datatypes in R and its uses</li>
        <li>Built-in functions in R</li>
        <li>Subsetting methods</li>
        <li>Summarize data using functions</li>
        <li>Use of functions like head(), tail(), for inspecting data</li>
        <li>Use-cases for problem solving using R</li><br><br></pr>
        <h class="ser" style="font-size: 12px; font-weight: bold; margin: 16px;">Data Manipulation in R</h><br><br>
        <pr><li>Various phases of Data Cleaning</li>
        <li>Functions used in Inspection</li>
        <li>Data Cleaning Techniques</li>
        <li>Uses of functions involved</li>
        <li>Use-cases for Data Cleaning using R</li><br><br></pr>
        <h class="ser" style="font-size: 12px; font-weight: bold; margin: 16px;">Data Import Techniques in R</h><br><br>
        <pr><li>Import data from spreadsheets and text files into R</li>
        <li>Importing data from statistical formats</li>
        <li>Packages installation for database import</li>
        <li>Connecting to RDBMS from R using ODBC and basic SQL queries in R</li>
        <li>Web Scraping</li>
        <li>Other concepts on Data Import Techniques</li><br><br></pr>
        <h class="ser" style="font-size: 12px; font-weight: bold; margin: 16px;">Exploratory Data Analysis (EDA) using R</h><br><br>
        <pr><li>What is EDA?</li>
        <li>Why do we need EDA?</li>
        <li>Goals of EDA</li>
        <li>Types of EDA</li>
        <li>Implementing of EDA</li>
        <li>Boxplots, cor() in R</li>
        <li>EDA functions</li>
        <li>Multiple packages in R for data analysis</li>
        <li>Some fancy plots</li>
        <li>Use-cases for EDA using R</li><br></pr>
        <h class="ser" style="font-size: 12px; font-weight: bold; margin: 16px;">Data Visualization in R</h><br><br>
        <pr><li>Storytelling with Data</li>
        <li>Principle tenets</li>
        <li>Elements of Data Visualization</li>
        <li>Infographics vs Data Visualization</li>
        <li>Data Visualization & Graphical functions in R</li>
        <li>Plotting Graphs</li>
        <li>Customizing Graphical Parameters to improvise the plots</li>
        <li>Various GUIs</li>
        <li>Spatial Analysis</li>
        <li>Other Visualization concepts</li><br></pr>
        <img src="./assets/Hadjpg"  width="600" height="60vh">
        <h class="ser" style="font-size: 12px; font-weight: bold; margin: 16px;">Big Data and Hadoop Introduction</h><br><br>
        <pr><li>What is Big Data and Hadoop?</li>
        <li>Challenges of Big Data</li>
        <li>Traditional approach Vs Hadoop</li>
        <li>Hadoop Architecture</li>
        <li>Distributed Model</li>
        <li>Block structure File System</li>
        <li>Technologies supporting Big Data</li>
        <li>Replication</li>
        <li>Fault Tolerance</li>
        <li>Why Hadoop?</li>
        <li>Hadoop Eco-System</li>
        <li>Use cases of Hadoop</li>
        <li>Fundamental Design Principles of Hadoop</li>
        <li>Comparison of Hadoop Vs RDBMS</li><br></pr>
        <h class="ser" style="font-size: 12px; font-weight: bold; margin: 16px;">Understand Hadoop Cluster Architecture</h><br><br>
        <pr><li>Hadoop Cluster and Architecture</li>
        <li>5 Daemons</li>
        <li>Hands-On Exercise</li>
        <li>Typical Workflow</li>
        <li>Hands-On Exercise</li>
        <li>Writing Files to HDFS</li>
        <li>Hands-On Exercise</li>
        <li>Reading Files from HDFS</li>
        <li>Hands-On Exercise</li>
        <li>Rack Awareness</li>
        <li>Before Map Reduce</li><br></pr>
        <h class="ser" style="font-size: 12px; font-weight: bold; margin: 16px;">Map Reduce Concepts</h><br><br>
        <pr><li>Map Reduce Concepts</li>
        <li>What is Map Reduce?</li>
        <li>Why Map Reduce?</li>
        <li>Map Reduce in real world  and Map Reduce Flow</li>
        <li>What is Mapper,  Reducer, and Shuffling?</li>
        <li>Word Count Problem</li>
        <li>Hands-On Exercise</li>
        <li>Distributed Word Count Flow and Solution</li>
        <li>Log Processing and Map Reduce</li>
        <li>Hands-On Exercise</li><br></pr>
        <h class="ser" style="font-size: 12px; font-weight: bold; margin: 16px;">Advanced Map Reduce Concepts</h><br><br>
        <pr><li>What is Combiner?</li>
        <li>Hands-On Exercise</li>
        <li>What is Partitioner?</li>
        <li>Hands-On Exercise</li>
        <li>What is Counter?</li>
        <li>Hands-On Exercise</li>
        <li>InputFormats/Output Formats</li>
        <li>Hands-On Exercise</li>
        <li>Map Join using MR</li>
        <li>Hands-On Exercise</li>
        <li>Reduce Join using MR</li>
        <li>Hands-On Exercise</li>
        <li>MR Distributed Cache</li>
        <li>Hands-On Exercise</li>
        <li>Using sequence files & images with MR</li>
        <li>Hands-On Exercise</li>
        <li>Planning for Cluster & Hadoop 2.0 Yarn</li>
        <li>Configuration of Hadoop</li>
        <li>Choosing Right Hadoop Hardware and Software?</li>
        <li>Hadoop Log Files?</li><br></pr>
        <h class="ser" style="font-size: 12px; font-weight: bold; margin: 16px;">Hadoop 2.0 and YARN</h><br><br>
        <pr><li>Hadoop 1.0 Challenges</li>
        <li>NN Scalability, SPOF, and HA</li>
        <li>Job Tracker Challenges</li>
        <li>Hadoop 2.0 New Features</li>
        <li>Hadoop 2.0 Cluster Architecture & Federation</li>
        <li>Hadoop 2.0 HA</li>
        <li>Yarn & Hadoop Ecosystem</li>
        <li>Yarn MR Application Flow</li><br></pr>
        <h class="ser" style="font-size: 12px; font-weight: bold; margin: 16px;">PIG</h><br><br>
        <pr><li>Introduction to Pig</li>
        <li>What Is Pig?</li>
        <li>Pig’s Features & Pig Use Cases</li>
        <li>Interacting with Pig</li>
        <li>Basic Data Analysis with Pig</li>
        <li>Hands-On Exercise</li>
        <li>Pig Latin Syntax</li>
        <li>Loading Data</li>
        <li>Hands-On Exercise</li>
        <li>Simple Data Types</li>
        <li>Field Definitions</li>
        <li>Data Output</li>
        <li>Viewing the Schema</li>
        <li>Hands-On Exercise</li>
        <li>Filtering and Sorting Data</li>
        <li>Hands-On Exercise</li>
        <li>Commonly-Used Functions</li>
        <li>Hands-On Exercise: Pig for ETL Processing</li>
        <li>Processing Complex Data with Pig</li>
        <li>Hands-On Exercise</li>
        <li>Storage Formats</li>
        <li>Complex/Nested Data Types</li>
        <li>Hands-On Exercise</li>
        <li>Grouping</li>
        <li>Hands-On Exercise</li>
        <li>Built-in Functions for Complex Data</li>
        <li>Hands-On Exercise</li>
        <li>Iterating Grouped Data</li>
        <li>Hands-On Exercises</li>
        <li>Multi-Dataset Operations with Pig</li>
        <li>Hands-On Exercise</li>
        <li>Techniques for Combining Data Sets</li>
        <li>Joining Data Sets in Pig</li>
        <li>Hands-On Exercise</li>
        <li>Splitting Data Sets</li>
        <li>Hands-On Exercise</li><br></pr>
        <h class="ser" style="font-size: 12px; font-weight: bold; margin: 16px;">HIVE</h><br><br>
        <pr><li>Hive Fundamentals and Architecture</li>
        <li>Loading and Querying Data in Hive</li>
        <li>Hands-On Exercise</li>
        <li>Hive Architecture and Installation</li>
        <li>Comparison with Traditional Database</li>
        <li>HiveQL: Data Types, Operators and Functions</li>
        <li>Hands-On Exercise</li>
        <li>Hive Tables, Managed Tables and External Tables</li>
        <li>Hands-On Exercise</li>
        <li>Partitions and Buckets</li>
        <li>Hands-On Exercise</li>
        <li>Storage Formats, Importing Data, Altering Tables, Dropping Tables</li>
        <li>Hands-On Exercise</li>
        <li>Querying Data, Sorting and Aggregating, Map Reduce Scripts</li>
        <li>Hands-On Exercise</li><br></pr>
        <h class="ser" style="font-size: 12px; font-weight: bold; margin: 16px;">Module-9</h><br><br>
        <pr><li>Joins & Sub queries, Views</li>
        <li>Hands-On Exercise</li>
        <li>Integration, Data manipulation with Hive</li>
        <li>Hands-On Exercise</li>
        <li>User Defined Functions</li>
        <li>Hands-On Exercise</li>
        <li>Appending Data into existing Hive Table</li>
        <li>Hands-On Exercise</li>
        <li>Static partitioning vs dynamic partitioning</li>
        <li>Hands-On Exercise</li><br></pr>
        <h class="ser" style="font-size: 12px; font-weight: bold; margin: 16px;">HBASE</h><br><br>
        <pr><li>CAP Theorem</li>
        <li>HBase Architecture and concepts</li>
        <li>Introduction to HBase</li>
        <li>Client API’s and their features</li>
        <li>HBase tables The ZooKeeper Service</li>
        <li>Data Model, Operations</li><br></pr>
        <h class="ser" style="font-size: 12px; font-weight: bold; margin: 16px;">Module-11</h><br><br>
        <pr><li>Programming and Hands on Exercises</li><br></pr>
        <h class="ser" style="font-size: 12px; font-weight: bold; margin: 16px;">SQOOP</h><br><br>
        <pr><li>Introduction to Sqoop</li>
        <li>MySQL Client & server</li>
        <li>Connecting to relational data base using Sqoop</li>
        <li>Importing data using Sqoop from Mysql</li>
        <li>Exporting data using Sqoop to MySql</li>
        <li>Incremental append</li>
        <li>Importing data using Sqoop from Mysql to hive</li>
        <li>Exporting data using Sqoop to MySql from hive</li>
        <li>Importing data using Sqoop from Mysql to hbase</li>
        <li>Using queries and sqoop</li><br></pr>
        <h class="ser" style="font-size: 12px; font-weight: bold; margin: 16px;">Flume and Oozie</h><br><br>
        <pr><li>What is Flume?</li>
        <li>Why use Flume, Architecture, configurations</li>
        <li>Master, collector, Agent</li>
        <li>Twitter Data Sentimental Analysis project</li>
        <li>Oozie</li>
        <li>What is Oozie, Architecture, configurations?</li>
        <li>Oozie Job Submission</li>
        <li>Oozie properties</li>
        <li>Hands-on exercises</li><br></pr>
        <h class="ser" style="font-size: 12px; font-weight: bold; margin: 16px;">Projects</h><br><br>
        <pr><li>Social Media Final Project</li>
        <li>Hadoop Project</li>
        <li>Objective</li>
        <li>Problem Definition</li>
        <li>Solution</li>
        <li>Discuss datasets and specifications of the project</li><br>
        <h class="ser" style="font-size: 12px; font-weight: bold; margin: 16px;">Project in Healthcare Domain</h><br><br>
        <li>Hadoop Project in Healthcare</li>
        <li>Objective</li>
        <li>Problem Definition</li>
        <li>Solution</li>
        <li>Discuss datasets and specifications of the project</li><br></pr>
        <h class="ser" style="font-size: 12px; font-weight: bold; margin: 16px;">Project in Finance/Banking Domain</h><br><br>
        <pr><li>Hadoop Project in Banking Domain</li>
        <li>Objective</li>
        <li>Problem Definition</li>
        <li>Solution</li>
        <li>Discuss datasets and specifications of the project</li><br></pr>
        <img src="./assets/sparkjpeg"  width="600" height="60vh">
        <h class="ser" style="font-size: 12px; font-weight: bold; margin: 16px;">Spark</h><br><br>
        <h class="ser" style="font-size: 12px; font-weight: bold; margin: 16px;">Apache Spark</h><br><br>
        <pr><li>Introduction to Apache Spark</li>
        <li>Why Spark</li>
        <li>Batch Vs. Real-Time Big Data Analytics</li>
        <li>Batch Analytics – Hadoop Ecosystem Overview</li>
        <li>Real-Time Analytics Options</li>
        <li>Streaming Data – Storm</li>
        <li>In Memory Data – Spark, What is Spark?</li>
        <li>Spark benefits to Professionals</li>
        <li>Limitations of MR in Hadoop</li>
        <li>Components of Spark</li>
        <li>Spark Execution Architecture</li>
        <li>Benefits of Apache Spark</li>
        <li>Hadoop vs Spark</li><br></pr>
        <h class="ser" style="font-size: 12px; font-weight: bold; margin: 16px;">Introduction to Scala</h><br><br>
        <pr><li>Features of Scala</li>
        <li>Basic Data Types of Scala</li>
        <li>Val vs Var</li>
        <li>Type Inference</li>
        <li>REPL</li>
        <li>Objects & Classes in Scala</li>
        <li>Functions as Objects in Scala</li>
        <li>Anonymous Functions in Scala</li>
        <li>Higher Order Functions</li>
        <li>Lists in Scala</li>
        <li>Maps</li>
        <li>Pattern Matching</li>
        <li>Traits in Scala</li>
        <li>Collections in Scala</li><br></pr>
        <h class="ser" style="font-size: 12px; font-weight: bold; margin: 16px;">Spark Core Architecture</h><br><br>
        <pr><li>Spark & Distributed Systems</li>
        <li>Spark for Scalable Systems</li>
        <li>Spark Execution Context</li>
        <li>What is RDD</li>
        <li>RDD Deep Dive and Dependencies</li>
        <li>RDD Lineage</li>
        <li>Spark Application In Depth and Spark Deployment</li>
        <li>Parallelism in Spark</li>
        <li>Caching in Spark</li><br></pr>
        <h class="ser" style="font-size: 12px; font-weight: bold; margin: 16px;">Spark Internals</h><br><br>
        <pr><li>Spark Transformations, Actions, Cluster and SQL Introduction</li>
        <li>Spark Data Frames</li>
        <li>Spark SQL with CSV, JSON, and Database</li><br></pr>
        <h class="ser" style="font-size: 12px; font-weight: bold; margin: 16px;">Spark Streaming</h><br><br>
        <pr><li>Features of Spark Streaming</li>
        <li>Micro Batch</li>
        <li>Dstreams</li>
        <li>Transformations on Dstreams</li>
        <li>Spark Streaming Use Case</li><br></pr>
        <h class="ser" style="font-size: 12px; font-weight: bold; margin: 16px;">Statistics + Machine Learning</h><br><br>
        <h class="ser" style="font-size: 12px; font-weight: bold; margin: 16px;">Statistics</h><br><br>
        <h class="ser" style="font-size: 12px; font-weight: bold; margin: 16px;">What is Statistics?</h><br><br>
        <pr><li>Descriptive Statistics</li>
        <li>Central Tendency Measures</li>
        <li>The Story of Average</li>
        <li>Dispersion Measures</li>
        <li>Data Distributions</li>
        <li>Central Limit Theorem</li>
        <li>What is Sampling</li>
        <li>Why Sampling</li>
        <li>Sampling Methods</li>
        <li>Inferential Statistics</li>
        <li>What is Hypothesis testing</li>
        <li>Confidence Level</li>
        <li>Degrees of freedom</li>
        <li>what is pValue</li>
        <li>Chi-Square test</li>
        <li>What is ANOVA</li>
        <li>Correlation vs Regression</li>
        <li>Uses of Correlation and Regression</li><br></pr>
        <h class="ser" style="font-size: 12px; font-weight: bold; margin: 16px;">Machine Learning</h><br><br>
        <h class="ser" style="font-size: 12px; font-weight: bold; margin: 16px;">Machine Learning Introduction</h><br><br>
        <pr><li>ML Fundamentals</li>
        <li>ML Common Use Cases</li>
        <li>Understanding Supervised and Unsupervised Learning Techniques</li>
        <li>Clustering</li>
        <li>Similarity Metrics</li>
        <li>Distance Measure Types: Euclidean, Cosine Measures</li>
        <li>Creating predictive models</li>
        <li>Understanding K-Means Clustering</li>
        <li>Understanding TF-IDF, Cosine Similarity and their application to Vector Space Model</li>
        <li>Case study</li>
        <li>Implementing Association rule mining</li>
        <li>Case study</li>
        <li>Understanding Process flow of Supervised Learning Techniques</li>
        <li>Decision Tree Classifier</li>
        <li>How to build Decision trees</li>
        <li>Case study</li>
        <li>Random Forest Classifier</li>
        <li>What is Random Forests</li>
        <li>Features of Random Forest</li>
        <li>Out of Box Error Estimate and Variable Importance</li>
        <li>Case study</li>
        <li>Naive Bayes Classifier</li>
        <li>Case study</li>
        <li>Project Discussion</li>
        <li>Problem Statement and Analysis</li>
        <li>Various approaches to solving a Data Science Problem</li>
        <li>Pros and Cons of different approaches and algorithms</li>
        <li>Linear Regression</li>
        <li>Case study</li>
        <li>Logistic Regression</li>
        <li>Case study</li>
        <li>Text Mining</li>
        <li>Case study</li>
        <li>Sentimental Analysis</li>
        <li>Case study</li><br></pr>
        <h class="ser" style="font-size: 12px; font-weight: bold; margin: 16px;">Python</h><br><br>
        <h class="ser" style="font-size: 12px; font-weight: bold; margin: 16px;">Getting Started with Python</h><br><br>
        <pr><li>Python Overview</li>
        <li>About Interpreted Languages</li>
        <li>Advantages/Disadvantages of Python pydoc</li>
        <li>Starting Python</li>
        <li>Interpreter PATH</li>
        <li>Using the Interpreter</li>
        <li>Running a Python Script</li>
        <li>Python Scripts on UNIX/Windows, Editors and IDEs</li>
        <li>Using Variables</li>
        <li>Keywords</li>
        <li>Built-in Functions</li>
        <li>StringsDifferent Literals</li>
        <li>Math Operators and Expressions</li>
        <li>Writing to the Screen</li>
        <li>String Formatting</li>
        <li>Command Line Parameters and Flow Control</li><br></pr>
        <h class="ser" style="font-size: 12px; font-weight: bold; margin: 16px;">Sequences and File Operations</h><br><br>
        <pr><li>Lists</li>
        <li>Tuples</li>
        <li>Indexing and Slicing</li>
        <li>Iterating through a Sequence</li>
        <li>Functions for all Sequences</li>
        <li>Using Enumerate()</li>
        <li>Operators and Keywords for Sequences</li>
        <li>The xrange() function</li>
        <li>List Comprehensions</li>
        <li>Generator Expressions</li>
        <li>Dictionaries and Sets</li><br></pr>
        <h class="ser" style="font-size: 12px; font-weight: bold; margin: 16px;">Deep Dive – Functions Sorting Errors and Exception Handling</h><br><br>
        <pr><li>Functions</li>
        <li>Function Parameters</li>
        <li>Global Variables</li>
        <li>Variable Scope and Returning Values. Sorting</li>
        <li>Alternate Keys</li>
        <li>Lambda Functions</li>
        <li>Sorting Collections of Collections, Dictionaries and Lists in Place</li>
        <li>Errors and Exception Handling</li>
        <li>Handling Multiple Exceptions</li>
        <li>The Standard Exception Hierarchy</li>
        <li>Using Modules</li>
        <li>The Import Statement</li>
        <li>Module Search Path</li>
        <li>Package Installation Ways</li><br></pr>
        <h class="ser" style="font-size: 12px; font-weight: bold; margin: 16px;">Regular Expressionist’s Packages and Object – Oriented Programming in Python</h><br><br>
        <pr><li>The Sys Module</li>
        <li>Interpreter Information</li>
        <li>STDIO</li>
        <li>Launching External Programs</li>
        <li>path directories and Filenames</li>
        <li>Walking Directory Trees</li>
        <li>Math Function</li>
        <li>Random Numbers</li>
        <li>Dates and Times</li>
        <li>Zipped Archives</li>
        <li>Introduction to Python Classes</li>
        <li>Defining Classes</li>
        <li>Initializers</li>
        <li>Instance Methods</li>
        <li>Properties</li>
        <li>Class Methods and Data Static Methods</li>
        <li>Private Methods and Inheritance</li>
        <li>Module Aliases and Regular Expressions</li><br></pr>
        <h class="ser" style="font-size: 12px; font-weight: bold; margin: 16px;">Debugging, Databases and Project Skeletons</h><br><br>
        <pr><li>Debugging</li>
        <li>Dealing with Errors</li>
        <li>Using Unit Tests</li>
        <li>Project Skeleton</li>
        <li>Required Packages</li>
        <li>Creating the Skeleton</li>
        <li>Project Directory</li>
        <li>Final Directory Structure</li>
        <li>Testing your Setup</li>
        <li>Using the Skeleton</li>
        <li>Creating a Database with SQLite 3</li>
        <li>CRUD Operations</li>
        <li>Creating a Database Object</li><br></pr>
        <h class="ser" style="font-size: 12px; font-weight: bold; margin: 16px;">Machine Learning Using Python</h><br><br>
        <pr><li>Introduction to Machine Learning</li>
        <li>Areas of Implementation of Machine Learning</li>
        <li>Why Python</li>
        <li>Major Classes of Learning Algorithms</li>
        <li>Supervised vs Unsupervised Learning</li>
        <li>Learning NumPy</li>
        <li>Learning Scipy</li>
        <li>Basic plotting using Matplotlib</li>
        <li>Machine Learning application</li></pr>
        <h class="ser" style="font-size: 12px; font-weight: bold; margin: 16px;">Supervised and Unsupervised learning</h><br><br>
        <pr><li>Classification Problem</li>
        <li>Classifying with k-Nearest Neighbours (kNN)</li>
        <h class="ser" style="font-size: 12px; font-weight: bold; margin: 16px;">Algorithm</h><br><br>
        <li>General Approach to kNN</li>
        <li>Building the Classifier from Scratch</li>
        <li>Testing the Classifier</li>
        <li>Measuring the Performance of the Classifier</li>
        <li>Clustering Problem</li>
        <li>What is K-Means Clustering</li>
        <li>Clustering with k-Means in Python and an</li></pr>
        <h class="ser" style="font-size: 12px; font-weight: bold; margin: 16px;">Application Example</h><br><br>
        <pr><li>Introduction to Pandas</li>
        <li>Creating Data Frames</li>
        <li>GroupingSorting</li>
        <li>Plotting Data</li>
        <li>Creating Functions</li>
        <li>Converting Different Formats</li>
        <li>Combining Data from Various Formats</li>
        <li>Slicing/Dicing Operations</li><br></pr>
        <h class="ser" style="font-size: 12px; font-weight: bold; margin: 16px;">Scikit and Introduction to Hadoop</h><br><br>
        <pr><li>Introduction to Scikit-Learn</li>
        <li>Inbuilt Algorithms for Use</li>
        <li>What is Hadoop and why it is popular</li>
        <li>Distributed Computation and Functional Programming</li>
        <li>Understanding MapReduce Framework Sample MapReduce Job Run</li><br></pr>
        <h class="ser" style="font-size: 12px; font-weight: bold; margin: 16px;">Hadoop and Python</h><br><br>
        <pr><li>PIG and HIVE Basics</li>
        <li>Streaming Feature in Hadoop</li>
        <li>Map Reduce Job Run using Python</li>
        <li>Writing a PIG UDF in Python</li>
        <li>Writing a HIVE UDF in Python</li>
        <li>Pydoop and MRjob Basics</li><br></pr>
        <h class="ser" style="font-size: 12px; font-weight: bold; margin: 16px;">Python Project Work</h><br><br>
        <pr><li>Real world project</li><br></pr>
        <img src="./assets/datajpeg"  width="600" height="60vh">

        <form class="border-top border-bottom">
            <br>
            <h8>Click Here For<a1> Data Science Online Training</a1></h8><br><br>
            <h8>Categories:<a1>Classroom Training -- <h8 class="color" style='color: black;'>Tags:</h8> Chennai, Hyderabad</a1></h8>
            <br>
        </form>
    </div>
</div>

<div class="col-md-6">
    <div class="right-box">
        <h3><a href="http://localhost:3000/home" style=" color: red;"> Home </a><svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="currentColor" class="bi bi-chevron-double-right" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M3.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L9.293 8 3.646 2.354a.5.5 0 0 1 0-.708z"/>
            <path fill-rule="evenodd" d="M7.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L13.293 8 7.646 2.354a.5.5 0 0 1 0-.708z"/>
        </svg> CLASSROOM TRAINING <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="currentColor" class="bi bi-chevron-double-right" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M3.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L9.293 8 3.646 2.354a.5.5 0 0 1 0-.708z"/>
            <path fill-rule="evenodd" d="M7.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L13.293 8 7.646 2.354a.5.5 0 0 1 0-.708z"/>
        </svg> DATA SCIENCE TRAINING </h3><br><br>
        <div class="star">
        <span><a>Rating of      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="yellow" class="bi bi-star" viewBox="0 0 16 16">
            <polygon points="8 0 10 5 15 5 11.25 8.75 12.5 14.5 8 11 3.5 14.5 4.75 8.75 1 5" />
        </svg><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="yellow" class="bi bi-star" viewBox="0 0 16 16">
            <polygon points="8 0 10 5 15 5 11.25 8.75 12.5 14.5 8 11 3.5 14.5 4.75 8.75 1 5" />
        </svg><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="yellow" class="bi bi-star" viewBox="0 0 16 16">
            <polygon points="8 0 10 5 15 5 11.25 8.75 12.5 14.5 8 11 3.5 14.5 4.75 8.75 1 5" />
        </svg><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="yellow" class="bi bi-star" viewBox="0 0 16 16">
            <polygon points="8 0 10 5 15 5 11.25 8.75 12.5 14.5 8 11 3.5 14.5 4.75 8.75 1 5" />
        </svg><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="yellow" class="bi bi-star" viewBox="0 0 16 16">
            <polygon points="8 0 10 5 15 5 11.25 8.75 12.5 14.5 8 11 3.5 14.5 4.75 8.75 1 5" />
        </svg> </a></span><br>
        <a>Average of 4.98 on a total of 500 Ratings</a><br></div>
        <div class="training" style="margin-left: 77px;">
        <a1>Trainers Profile<br>
        Student Enquiry<br>
        Corporate Training<br>
        Post your Feedback<br>
        View/Post Testimonials<br>
        Contact Us</a1></div>

        <h2>Register for Course!</h3><br>
        <p>Learn from the Real-Time Experts</p>
        <br>
            <form>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="firstName">First Name<span class="text-danger">*</span></label>
                        <input type="text" class="form-control" id="firstName" placeholder="Enter your first name">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="lastName">Last Name<span class="text-danger">*</span></label>
                        <input type="text" class="form-control" id="lastName" placeholder="Enter your last name">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="email">Email<span class="text-danger">*</span></label>
                        <input type="email" class="form-control" id="email" placeholder="Enter your email">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="phone">Phone<span class="text-danger">*</span></label>
                        <input type="tel" class="form-control" id="phone" placeholder="Enter your phone number">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="state">State</label>
                        <input type="tel" class="form-control" id="state" placeholder="Enter your phone number">
                    </div>
                </div>
                <div class="form-group">
                    <label for="modeOfTraining">Mode of Training<span class="text-danger">*</span></label>
                    <select id="modeOfTraining" class="form-control">
                        <option selected>Online Training</option>
                        <option selected>Classroom Training</option>
                        <option selected>Weekend Training</option>
                        <option selected>Project Training</option>
                        <option selected>Intership Training</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="course">Course</label>
                    <select id="course" class="form-control">
                        <option selected>Select Course</option>
                        <option selected>Python</option>
                        <option selected>Java</option>
                        <option selected>C++</option>
                        <option selected>C#</option>
                        <option selected>JavaScript</option>
                        <option selected>Ruby</option>
                        <option selected>Swift</option>
                        <option selected>Kotlin</option>
                        <option selected>Data Science</option>
                        <option selected>Machine Learning</option>
                        <option selected>Deep Learning</option>
                        <option selected>Natural Language Processing (NLP)</option>
                        <option selected>TensorFlow</option>
                        <option selected>PyTorch</option>
                    </select>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
            <br>

            <h2>JOIN WHATSAPP GROUPS FOR UPDATES<br><br>
                <img src="./assets/whatsappjpg">
            </h2>
            <h2>WATCH FREE TUTORIALS<br><br>
                <img src="./assets/telegramjpeg">
            </h2>
            <h2>JOIN US ON TELEGRAM FOR UPDATES<br><br>
                <img src="./assets/freejpg">
            </h2>
            <h2>FIND COURSES HERE</h2><br>
            <li>courses traning</li>
            <li>Android Training</li>
            <li>iPhone Training</li>
            <li>Asp.Net Training</li>
            <li>Asp.Net MVC Training</li>
            <li>C#.NET Training</li>
            <li>C++ Training</li>
            <li>Data Structure Training</li>
            <li>Java Training</li>
            <ul class="list">
                <li>Core Java Training</li>
                <li>Advanced Java Training</li>
                <li>Hibernate Training</li>
                <li>J2EE Training</li>
                <li>Spring 5.x Training</li>
                <li>Hibernate Training</li>
                <li>Web Services Training</li>
                <li>Struts Training</li>
                <li>XML Training</li>
                <li>Java Online Training</li></ul>
            <li>Oracle Training</li>
            <li>SQL Server Training</li>
            <li>Selenium Training</li>
            <li>UNIX LINUX Training</li>
            <li>PHP Training</li>
            <li>HTML5 CSS3 Training</li>
            <li>jQuery Training</li>
            <li>UI Technologies Training</li>
            <li>UI UX Training</li>
            <li>AngularJS Training</li>
            <ul class="list">
                <li>Angular 2 Training</li>
                <li>Angular 4 Training</li>
                <li>Angular 6 Training</li>
                <li>Angular 7 Training</li>
            </ul>
            <li>Data Science Training</li>
            <li>Artificial Intelligence Training</li>
            <li>Hadoop Training</li>
            <li>Apache Spark Training</li>
            <li>Python Training</li>
            <li>Hadoop Online Training</li>
            <li>DevOps Training</li>
            <li>AWS Training</li>
            <li>IoT Training</li>
            <li>SalesForce CRM Training</li>
            <li>Digital Marketing Training</li>
            <li>RPA Training</li>
            <ul class="list">
                <li>Blue Prism Training</li>
                <li>Automation Anywhere Training</li>
                <li>Automation Anywhere Online Training</li>
            </ul>
            <li>Blockchain Training</li>
            <li>Realtime Projects</li>
            <ul class="list">
                <li>Real Time Java Project</li>
                <li>Real-Time Project on PHP</li></ul>
            <li>Doubleclick for Publishers Training</li>
            <li>Software Training in Chennai</li>
            <li>Testing Tools Training</li>
            <li>Full Stack Web Development Course</li>
            <li>Full Stack Web Development Course</li>
            <li>Full Stack Java Developer Course</li>
    
       </div>
    </div>
</div>
</body>
<%= render "footer" %>



