<style type="text/css">
    body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        background-color: #80808017;
    }
    .card {
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); 
        transition: 0.3s; 
        width: 100%; 
        height: 51vh; 
        padding: 27px; 
        border-radius: 25%; 
        display: flex; 
        flex-direction: column; 
        align-items: center; 
        background-color: #97838300;
    }
    .card:hover {
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    }h5{
        font-size: 18px;
    }
    .dot {
        height: 15px;
        width: 15px;
        margin: 0 2px;
        background-color: #bbb;
        border-radius: 50%;
        display: inline-block;
        transition: background-color 0.6s ease;
    }
    h1{
        color: rgb(4, 83, 153);
        font-weight: bold;
    }
    .recommendation-container {
        margin-right: 60px;
        margin-left: 60px;
        margin-top: -68px;
    }

</style>
<h1>Recommendations from industry experts</h1>
<div class="recommendation-container">
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <% @recommendations.each_slice(3).with_index do |group, index| %>
            <div class="carousel-item <%= 'active' if index.zero? %>">
                <div class="row">
                    <% group.each do |recommendation| %>
                    <div class="col-md-4">
                        <div class="container">
                            <div class="card">
                                <h5 class="card-title"><%= recommendation.full_name %><a href="https://www.linkedin.com/in/arun-goel-236456146/" target="_blank" rel="noreferrer">
                                    <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 448 512" color="var(--primary)" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg" style="color: var(--primary);">
                                        <path d="M416 32H31.9C14.3 32 0 46.5 0 64.3v383.4C0 465.5 14.3 480 31.9 480H416c17.6 0 32-14.5 32-32.3V64.3c0-17.8-14.4-32.3-32-32.3zM135.4 416H69V202.2h66.5V416zm-33.2-243c-21.3 0-38.5-17.3-38.5-38.5S80.9 96 102.2 96c21.2 0 38.5 17.3 38.5 38.5 0 21.3-17.2 38.5-38.5 38.5zm282.1 243h-66.4V312c0-24.8-.5-56.7-34.5-56.7-34.6 0-39.9 27-39.9 54.9V416h-66.4V202.2h63.7v29.2h.9c8.9-16.8 30.6-34.5 62.9-34.5 67.2 0 79.7 44.3 79.7 101.9V416z"></path>
                                    </svg></a>
                                </h5>
                                <div class="card-body">
                                    <div class="card-text" style="font-size: 11px; font-style: italic;"><%= recommendation.description %></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <% end %>
                </div>
            </div>
            <% end %>
        </div>
    </div>
</div>