<%= render "header" %>
<style>
    body {
        margin: 41px;
        padding: 0;
    }
    h{
        font-weight: bold;
    }pr li{
    margin-left: 35px;
    font-size: 12px;
    font-style: italic;
    }
    .course-card {
        margin-bottom: 20px;
    }
    .left-box {
        padding: 20px;
/*        width: 120%;*/
    }

    .right-box {
        padding: 20px;
        margin-top: 20px;
    }

    
    h1 {
        font-weight: bold;
    }

    h2 {
        font-weight: bold;
        margin: 0px;
        margin-top: 20px; 
       font-size: 19px;
    }
    h3{
        color: red;
        font-size: 16px;
        margin-left: 135px;
    }
    h4{
        font-size: 1.5rem;
        margin-top: 102px;
        font-size: 20px;
        font-weight: bold;
    }
    a1, td {
        color: red;
    }
    .text-black {
        color: black !important;
    }
    .star{
        margin-left: 210px;
    }
    span.Rating{    
        margin-left: 28px;
    }
    p{
        font-size: 12px
    }
    .ser {
        font-size: 12px;
        font-weight: bold;
        margin: 16px;
    }
</style>
<body>
<div class="row">
<!-- Left Box -->
<div class="col-md-6">
    <div class="left-box">
        <h4 class="border-bottom pb-2">Advanced Java Training</h4>
        <a1 class="border-bottom pb-2">NIT Manager</a1>
        <div class="left-box">
            <h class="services" style="font-size: 12px; font-weight: bold;">About Advanced Java Training</h>
            <p class="paragrap" style="margin-top: 20px; word-spacing: 2px;"> The course builds a strong understanding of JDBC Technology. It gives in to demonstrate why Servlets are the cornerstone of Java’s Web platform. It then shows how JSP is built on the Servlet architecture. Additionally, the class shows students how to use JSTL, custom tags and expression language to reduce Java code in Web pages while adding tremendous power and capability to those pages. The class culminates in an exploration of Java MVC frameworks like Struts at a high level.</p>
            <p class="paragrap" style="margin-top: 20px; word-spacing: 2px;">This is not a class that focuses on theory. Participants will find the course is loaded with practical labs and simulations. After taking this class, developers will be able to build Web applications that perform well, are scalable, and that are easier to maintain.</p>
        </div>
        <div class="left-box">
            <h class="services" style="font-size: 12px; font-weight: bold;">Advanced Java Training Course Prerequisite</h>
            <p class="paragrap" style="margin-top: 20px; word-spacing: 2px;">Basic Knowledge of Core Java is required. An understanding of Web technologies like HTML and HTTP is helpful</p>
        </div>
        <div class="left-box">
            <h class="services" style="font-size: 12px; font-weight: bold;">Advanced Java Training Course Objective</h>
            <p class="paragrap" style="margin-top: 20px; word-spacing: 2px;">Learn the fundamentals of JDBC and using the different interfaces in the JDBC API. Learn how to use Java servlets in the role of Web application control. Identify the options to state management in a Java Web application and understand the pros/cons of each. Understand how JSPs can help to separate Web logic and functionality from page layout. Explore how to make JSPs smaller and more powerful with JSTL, custom tags and expression language. Explore strategies in the exchange of data between Web pages (views) and business processing (model). Learn the meaning and importance of MVC</p>
        </div>
        <div class="left-box">
            <h class="services" style="font-size: 12px; font-weight: bold;">Advanced Java Training Course Duration</h>
            <p class="paragrap" style="margin-top: 20px; word-spacing: 2px;">60 Working days, daily one and  half hour</p>
        </div>
        <h class="services" style="font-size: 12px; font-weight: bold;">Advanced Java Training Course Content Overview</h>
        <h2 class="ser">Introduction</h2>
        <pr>
            <li>About Java Platforms</li>
            <li>Applications of Java</li>
            <li>About API (Application Programming Interface)</li>
            <li>Static Blocks</li>
            <li>Introduction to Interfaces</li>
            <li>Runtime Polymorphism</li>
        </pr><br>
        <h2 class="ser">Persistence</h2>
        <pr>
        <li>What is Persistence?</li>
        <li>File Management System</li>
        <li>Disadvantages of File Management System</li>
        <li>Database Management System</li>
        <li>Advantages of Database Management System</li></pr>
        <h2 class="ser">JDBC</h2>
        <pr>
            <li>Introduction to JDBC</li>
            <li>Why JDBC? & ODBC Vs JDBC</li>
            <li>Approach-1 Vendor Specific Library</li>
            <li>Disadvantages of Approach-1</li>
            <li>Approach-2 X/Open Standards</li>
            <li>Disadvantages of Approach-2</li>
            <li>Approach-3 ODBC Standards</li>
            <li>Disadvantages of Approach-3</li>
            <li>Approach-4 JDBC Standards</li>
            <li>Advantages of Approach-4</li>
        </pr>
        </pr><br>
        <h2 class="ser">JDBC API and JDBC Drivers</h2>
        <pr>
            <li>About JDBC API</li>
            <li>What is a JDBC Driver?</li>
            <li>JDBC Architecture</li>
            <li>Types of JDBC Drivers</li>
            <pr>
                <li>JDBC-ODBC Bridge Driver</li>
                <li>Advantages & Disadvantages</li>
                <li>Native API Partly Java Driver</li>
                <li>Advantages & Disadvantages</li>
                <li>Net-Protocol All/Pure Java Driver</li>
                <li>Advantages & Disadvantages</li>
                <li>Native-Protocol Pure Java Driver</li>
                <li>Advantages</li>
            </pr>
        </pr><br>
        <h2 class="ser">JDBC API</h2>
        <pr>
            <li>JDBC Packages</li>
            <li>sql, javax.sql Packages</li>
            <li>Interfaces and Classes in Above Packages</li>
            <li>Versions of JDBC API</li>
            <li>Steps for Developing JDBC Application</li>
        </pr><br>
        <h2 class="ser">SQL</h2>
        <pr>
            <li>Introduction to SQL</li>
            <li>Types of SQL Queries</li>
        </pr><br>
        <h2 class="ser">Establishing Connection to Database</h2>
        <pr>
            <li>About DriverManager Class</li>
            <li>Methods of DriverManager</li>
            <li>Registering Driver with DriverManager</li>
            <li>Different Methods of Registering Driver with DriverManager</li>
            <li>About getConnection Method of DriverManager</li>
            <li>Syntax of URL to Communicate with Database</li>
            <li>Autoloading of Class Driver in JDBC 4.0</li>
            <li>Example with Application</li>
        </pr><br>
        <h2 class="ser">Statement Interface</h2>
        <pr>
            <li>What is Statement? & Need of Statement</li>
            <li>Characteristics of Statement</li>
            <li>How to Get Statement Object?</li>
            <li>Methods of Statement</li>
            <li>Passing SQL Statements to Database</li>
            <li>About execute, executeUpdate, executeQuery, largeExecuteUpdates Methods</li>
            <li>Example with Application</li>
        </pr><br>
        <h2 class="ser">PreparedStatement Interface</h2>
        <pr>
            <li>What is PreparedStatement?</li>
            <li>Need of PreparedStatement</li>
            <li>Difference between Statement and PreparedStatement</li>
            <li>How to Get PreparedStatement Object</li>
            <li>Defining Parameters</li>
            <li>How to Pass Values to PreparedStatement Object</li>
            <li>SQL Injection Attack & How to Overcome</li>
            <li>Example with Application</li>
        </pr><br>
        <h2 class="ser">ResultSet Interface</h2>
        <pr>
            <li>What is ResultSet?</li>
            <li>Need of ResultSet</li>
            <li>How to Get ResultSet Object</li>
            <li>Methods of ResultSet</li>
            <li>Reading Data, Various Types of ResultSet</li>
            <li>ResultSet Types</li>
                <li>TYPE_SCROLL_SENSITIVE</li>
                <li>TYPE_SCROLL_INSENSITIVE</li>
                <li>TYPE_FORWARD_ONLY</li>
            <li>ResultSet Modes</li>
                <li>CONCUR_READ_ONLY</li>
                <li>CONCUR_UPDATABLE</li>
            <li>Example with Application</li>
        </pr><br>
        <h2 class="ser">SQL 99 Datatypes</h2>
        <pr>
            <li>BLOB</li>
                <li>Inserting BLOB Type</li>
                <li>Reading BLOB Type</li>
            <li>CLOB</li>
                <li>Inserting CLOB Type</li>
                <li>Reading CLOB Type</li>
            <li>Array</li>
                <li>Inserting Array Type</li>
                <li>Reading Array Type</li>
            <li>Object</li>
                <li>Inserting Object</li>
                <li>Reading Object</li>
            <li>Example with Application</li>
        </pr><br>
        <h2 class="ser">Metadata</h2>
        <pr>
            <li>Resultset Metadata</li>
            <li>Need of ResultsetMetaData</li>
            <li>How to Get Metadata</li>
            <li>DatabaseMetadata</li>
            <li>How to Get Database Metadata</li>
            <li>Parameterizedmetadata</li>
            <li>How to Get Parameterizedmetadata</li>
            <li>Example with Application</li>
        </pr><br>
        <h2 class="ser">CallableStatement</h2>
        <pr>
            <li>About CallableStatement</li>
            <li>Advantage of CallableStatement</li>
            <li>Creating CallableStatement Object</li>
            <li>Calling Procedure using CallableStatement</li>
            <li>Calling Functions using CallableStatement</li>
            <li>About PL/SQL Programming vs Manual on Batch Queries</li>
        </pr><br>
        <h2 class="ser">Batch Updates</h2>
        <pr>
            <li>What is Batch Processing</li>
            <li>Batch Updates Using Statement Object</li>
            <li>Batch Updates Using PreparedStatement Object</li>
        </pr><br>
        <h2 class="ser">Transaction Management</h2>
        <pr>
            <li>Transaction Definition</li>
            <li>ACID Properties</li>
            <pr>
                <li>Atomicity</li>
                <li>Consistency</li>
                <li>Isolation</li>
                <li>Durability</li>
            </pr>
            <li>Methods in Transaction Management</li>
            <pr>
                <li>setAutoCommit()</li>
                <li>setSavePoint()</li>
                <li>commit()</li>
                <li>rollback()</li>
            </pr>
            <li>Example with All Application</li>
        </pr><br>
        <h2 class="ser">Connection Pooling</h2>
        <pr>
            <li>What is Connection Pooling?</li>
            <li>Advantages of Connection Pooling</li>
            <li>Disadvantage of DriverManager</li>
            <li>About DataSource</li>
            <li>JDBC Connection Pooling</li>
            <li>Isolation Levels</li>
            <li>Example with Application</li>
        </pr><br>
        <h2 class="ser">RowSet</h2>
        <pr>
            <li>What is RowSet?</li>
            <li>What is Difference Between ResultSet and RowSet?</li>
            <li>Types of RowSets</li>
            <pr>
                <li>JdbcRowSet</li>
                <li>CachedRowSet</li>
                <li>WebRowSet</li>
            </pr>
            <li>Example with Application</li>
        </pr><br>
        <h2 class="ser">Communicating with Different Databases</h2>
        <pr>
            <li>Communicating with MYSQL</li>
            <li>Working with CSV Files</li>
            <li>Communicating with MS-EXCEL</li>
            <li>Communicating with PostgreSql</li>
            <li>Example with Application</li>
        </pr><br>
        <h2 class="ser">Working With Properties File</h2>
        <pr>
            <li>Working With Date Values</li>
            <li>Procedure To Create Desktop Icon (Jar File Execution)</li>
        </pr><br>
        <h2 class="ser">JDBC 4.0 Features</h2>
        <pr>
            <li>Auto-loading of JDBC Driver Class</li>
            <li>Connection Management Enhancements</li>
            <li>Support for RowIdSQL Type</li>
            <li>DataSet Implementation of SQL Using Annotations</li>
            <li>SQL Exception Handling Enhancements</li>
            <li>SQL XML Support</li>
            <li>Example with Application</li>
        </pr><br>
        <h2 class="ser"><a href="#">SERVLET</a></h2>
        <h2 class="ser">JEE</h2>
        <pr>
            <li>JEE Technology</li>
            <li>Components of JEE Technology</li>
            <li>What is Enterprise Application</li>
            <li>What is Web Application</li>
            <li>Types of Web Application</li>
            <pr>
                <li>Presentation-Oriented Web Application</li>
                <li>Service-Oriented Web Application</li>
            </pr>
            <li>About Web Client</li>
            <li>About Web Server</li>
            <li>About Application Server</li>
            <li>Difference Between Web Server and Application Server</li>
        </pr><br>
        <h2 class="ser">Introduction</h2>
        <pr>
            <li>Server-side Technologies</li>
            <li>Need of Server-side Technologies</li>
            <li>Client-side Technologies</li>
            <li>What is Servlet? & Advantages of Servlet</li>
            <li>Difference between CGI and Servlet</li></pr>
            <h2 class="ser">Servlet API</h2>
            <pr><li>Versions of Servlet API</li>
            <li>Packages of Servlet API</li>
            <li>About Servlet Container</li>
            <li>Responsibilities of Servlet Container</li></pr>
        </pr><br>
        <h2 class="ser">HTTP Protocol</h2>
        <pr>
            <li>What is HTTP?</li>
            <li>What is HTTP Request Format?</li>
            <li>What is HTTP Response Format?</li>
        </pr><br>
        <h2 class="ser">Developing Servlet</h2>
        <pr>
            <li>Servlet Interface</li>
            <li>Methods of Servlet Interface</li>
            <li>Developing Servlet by Implementing Servlet Interface</li>
            <li>Life Cycle Methods of Servlet</li>
            <li>Web Application Directory Structure</li>
            <li>Deployment Descriptor File (web.xml)</li>
            <li>What is Deployment?</li>
            <li>Types of Deployments</li>
            <pr>
                <li>Console Deployment</li>
                <li>Tool Deployment</li>
            </pr>
            <li>Deploying Web Application in Tomcat Server</li>
            <li>URL Patterns</li>
        </pr><br>
        <h2 class="ser">Developing and Deploying Servlet Apps in Different Servers</h2>
        <pr>
            <li>Tomcat Server</li>
            <li>JBoss Server / WildFly</li>
            <li>Weblogic Server</li>
            <li>GlassFish</li>
        </pr><br>
        <h2 class="ser">ServletRequest</h2>
        <pr>
            <li>Methods of ServletRequest</li>
            <li>About Request Parameters</li>
            <li>About Request Headers</li>
        </pr><br>
        <h2 class="ser">ServletResponse</h2>
        <pr>
            <li>Methods of ServletResponse</li>
            <li>MIME Types</li>
            <li>Generating Response</li>
        </pr><br>
        <h2 class="ser">ServletConfig</h2>
        <pr>
            <li>What is ServletConfig?</li>
            <li>Need of ServletConfig</li>
            <li>Methods of ServletConfig</li>
            <li>Different Ways of Getting ServletConfig Object</li>
            <li>Defining Config Initial Parameters in web.xml</li>
        </pr><br>
        <h2 class="ser">GenericServlet</h2>
        <pr>
            <li>What is GenericServlet?</li>
            <li>Methods of GenericServlet</li>
            <li>About init(ServletConfig) and init() Methods</li>
        </pr><br>
        <h2 class="ser">Working with welcome-file</h2>
        <pr>
            <li>Configuring welcome-file in web.xml</li>
        </pr><br>
        <h2 class="ser">Methods of Loading Servlet</h2>
        <pr>
            <li>About Load on Startup</li>
            <li>When Client Sends the First Request</li>
        </pr><br>
        <h2 class="ser">ServletContext</h2>
        <pr>
            <li>What is ServletContext?</li>
            <li>Need of ServletContext</li>
            <li>Methods of ServletContext</li>
            <li>Different Ways of Getting ServletContext Object</li>
            <li>Context Init Parameters</li>
            <li>Defining Context Init Parameters in web.xml</li>
        </pr><br>
        <h2 class="ser">HttpServlet</h2>
        <pr>
            <li>What is HttpServlet?</li>
            <li>Methods of HttpServlet</li>
            <li>HTTP Request Methods</li>
            <li>About public service and protected service methods</li>
            <li>About doXXX() Methods</li>
            <li>Difference Between GenericServlet and HttpServlet</li>
            <li>Difference Between doGet() and doPost() Methods</li>
        </pr><br>
        <h2 class="ser">HttpServletRequest</h2>
        <pr>
            <li>HttpServletRequest vs. ServletRequest</li>
            <li>How to Read Request Parameters of HttpServletRequest</li>
            <li>How to Read Request Headers of HttpServletRequest</li>
        </pr><br>
        <h2 class="ser">HttpServletResponse</h2>
        <pr>
            <li>HttpServletResponse vs. ServletResponse</li>
            <li>About HttpServletResponse Methods</li>
            <li>Response Status Codes</li>
        </pr><br>
        Html To Servlet Communication

        Form Validations

        Different Types of Form Components

        Working With Multiple Hyperlinks

        Working With Multiple Submit Buttons

        War File Creation

        Servlet To DataBase Software Communication

        <h2 class="ser">RequestDispatching</h2>
        <pr>
            <li>What is RequestDispatcher?</li>
            <li>Need of RequestDispatcher</li>
            <li>RequestDispatching Methods</li>
            <pr>
                <li>Include</li>
                <li>Forward</li>
            </pr>
            <li>Difference Between Include and Forward Methods</li>
            <li>Getting RequestDispatcher</li>
            <pr>
                <li>Using ServletRequest</li>
                <li>Using ServletContext</li>
            </pr>
            <li>Difference Between Getting RequestDispatcher Using ServletRequest and ServletContext</li>
            <li>Servlet Collaboration</li>
        </pr><br>
        <h2 class="ser">Attributes</h2>
        <pr>
            <li>What is an Attribute?</li>
            <li>Difference Between Parameter and Attribute</li>
            <li>Scope of Attributes</li>
            <pr>
                <li>Request Scope</li>
                <li>Context Scope</li>
                <li>Session Scope</li>
            </pr>
            <li>Adding, Removing, and Modifying Attributes</li>
        </pr><br>
        Thread Saftey In Servlet Programming
        <h2 class="ser">State and Session Management</h2>
        <pr>
            <li>About Connectionless Protocol</li>
            <li>About Connection-Oriented Protocol</li>
            <li>Stateless Protocol</li>
            <li>What is State/Session Management?</li>
            <li>Need of Session Management</li>
            <li>Session Management Methods</li>
            <pr>
                <li>URL Rewriting</li>
                <li>Hidden Form Fields</li>
                <li>Cookies</li>
                <li>HttpSession</li>
            </pr>
        </pr><br>
        <form class="border-top border-bottom">
            <br>
            <h8>Categories:<a1>Classroom Training -- <h8 class="color" style='color: black;'>Tags:</h8> Chennai</a1></h8>
            <br>
        </form>
    </div>
</div>

<div class="col-md-6 px-4">
        <div class="right-box">
            <h3><a href="http://localhost:3000/home" style=" color: red;"> Home </a><svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="currentColor" class="bi bi-chevron-double-right" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M3.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L9.293 8 3.646 2.354a.5.5 0 0 1 0-.708z"/>
                <path fill-rule="evenodd" d="M7.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L13.293 8 7.646 2.354a.5.5 0 0 1 0-.708z"/>
            </svg> ONLINE TRAINING <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="currentColor" class="bi bi-chevron-double-right" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M3.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L9.293 8 3.646 2.354a.5.5 0 0 1 0-.708z"/>
                <path fill-rule="evenodd" d="M7.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L13.293 8 7.646 2.354a.5.5 0 0 1 0-.708z"/>
            </svg> Advanced Java Training </h3><br><br>
            <div class="star">
            <span class="Rating"><a>Rating of &nbsp; <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="yellow" class="bi bi-star" viewBox="0 0 16 16">
                <polygon points="8 0 10 5 15 5 11.25 8.75 12.5 14.5 8 11 3.5 14.5 4.75 8.75 1 5" />
            </svg><svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="yellow" class="bi bi-star" viewBox="0 0 16 16">
                <polygon points="8 0 10 5 15 5 11.25 8.75 12.5 14.5 8 11 3.5 14.5 4.75 8.75 1 5" />
            </svg><svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="yellow" class="bi bi-star" viewBox="0 0 16 16">
                <polygon points="8 0 10 5 15 5 11.25 8.75 12.5 14.5 8 11 3.5 14.5 4.75 8.75 1 5" />
            </svg><svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="yellow" class="bi bi-star" viewBox="0 0 16 16">
                <polygon points="8 0 10 5 15 5 11.25 8.75 12.5 14.5 8 11 3.5 14.5 4.75 8.75 1 5" />
            </svg><svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="yellow" class="bi bi-star" viewBox="0 0 16 16">
                <polygon points="8 0 10 5 15 5 11.25 8.75 12.5 14.5 8 11 3.5 14.5 4.75 8.75 1 5" />
            </svg> </a></span><br>
            <a class="average" style="font-size: 10px;">Average of 4.98 on a total of 500 Ratings</a><br></div>
            <div class="training" style="margin-left: 142px; margin-top: 14px; font-size: 12px">
            <a herf="/trainers_profile" style="color: red;">Trainers Profile</a><br>
            <a href="/student_enquiry" style="color: red;">Student Enquiry</a><br>
            <a href="/corporate_training" style="color: red;">Corporate Training</a><br>
            <a href="/feedback" style="color: red;">Post your Feedback</a><br>
            <a href="/post_testimonials" style="color: red;">View/Post Testimonials<br>
            <a href="/contact" style="color: red;">Contact Us</a></a1></div>
            <div class="margin" style="margin-left: 141px;">
                <h2>Register for Course!</h3><br>
                <p>Learn from the Real-Time Experts</p>
                <br>
                    <form>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="firstName">First Name<span class="text-danger">*</span></label>
                                <input type="text" class="form-control" id="firstName" placeholder="Enter your first name">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="lastName">Last Name<span class="text-danger">*</span></label>
                                <input type="text" class="form-control" id="lastName" placeholder="Enter your last name">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="email">Email<span class="text-danger">*</span></label>
                                <input type="email" class="form-control" id="email" placeholder="Enter your email">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="phone">Phone<span class="text-danger">*</span></label>
                                <input type="tel" class="form-control" id="phone" placeholder="Enter your phone number">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="state">State</label>
                                <input type="tel" class="form-control" id="state" placeholder="Enter your phone number">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="modeOfTraining">Mode of Training<span class="text-danger">*</span></label>
                            <select id="modeOfTraining" class="form-control">
                                <option selected>Online Training</option>
                                <option selected>Classroom Training</option>
                                <option selected>Weekend Training</option>
                                <option selected>Project Training</option>
                                <option selected>Intership Training</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="course">Course</label>
                            <select id="course" class="form-control">
                                <option selected>Select Course</option>
                                <option selected>Python</option>
                                <option selected>Java</option>
                                <option selected>C++</option>
                                <option selected>C#</option>
                                <option selected>JavaScript</option>
                                <option selected>Ruby</option>
                                <option selected>Swift</option>
                                <option selected>Kotlin</option>
                                <option selected>Data Science</option>
                                <option selected>Machine Learning</option>
                                <option selected>Deep Learning</option>
                                <option selected>Natural Language Processing (NLP)</option>
                                <option selected>TensorFlow</option>
                                <option selected>PyTorch</option>
                            </select>
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                    <br>

                    <h2>JOIN WHATSAPP GROUPS FOR UPDATES<br><br>
                        <img src="./assets/whatsappjpg">
                    </h2>
                    <h2>WATCH FREE TUTORIALS<br><br>
                        <img src="./assets/telegramjpeg">
                    </h2>
                    <h2>JOIN US ON TELEGRAM FOR UPDATES<br><br>
                        <img src="./assets/freejpg">
                    </h2>
                    <h2>FIND COURSES HERE</h2>
                    <li>courses traning</li>
                    <li>Android Training</li>
                    <li>iPhone Training</li>
                    <li>Asp.Net Training</li>
                    <li>Asp.Net MVC Training</li>
                    <li>C#.NET Training</li>
                    <li>C++ Training</li>
                    <li>Data Structure Training</li>
                    <li>Java Training</li>
                    <ul class="list">
                        <li>Core Java Training</li>
                        <li>Advanced Java Training</li>
                        <li>Hibernate Training</li>
                        <li>J2EE Training</li>
                        <li>Spring 5.x Training</li>
                        <li>Hibernate Training</li>
                        <li>Web Services Training</li>
                        <li>Struts Training</li>
                        <li>XML Training</li>
                        <li>Java Online Training</li></ul>
                    <li>Oracle Training</li>
                    <li>SQL Server Training</li>
                    <li>Selenium Training</li>
                    <li>UNIX LINUX Training</li>
                    <li>PHP Training</li>
                    <li>HTML5 CSS3 Training</li>
                    <li>jQuery Training</li>
                    <li>UI Technologies Training</li>
                    <li>UI UX Training</li>
                    <li>AngularJS Training</li>
                    <ul class="list">
                        <li>Angular 2 Training</li>
                        <li>Angular 4 Training</li>
                        <li>Angular 6 Training</li>
                        <li>Angular 7 Training</li>
                    </ul>
                    <li>Data Science Training</li>
                    <li>Artificial Intelligence Training</li>
                    <li>Hadoop Training</li>
                    <li>Apache Spark Training</li>
                    <li>Python Training</li>
                    <li>Hadoop Online Training</li>
                    <li>DevOps Training</li>
                    <li>AWS Training</li>
                    <li>IoT Training</li>
                    <li>SalesForce CRM Training</li>
                    <li>Digital Marketing Training</li>
                    <li>RPA Training</li>
                    <ul class="list">
                        <li>Blue Prism Training</li>
                        <li>Automation Anywhere Training</li>
                        <li>Automation Anywhere Online Training</li>
                    </ul>
                    <li>Blockchain Training</li>
                    <li>Realtime Projects</li>
                    <ul class="list">
                        <li>Real Time Java Project</li>
                        <li>Real-Time Project on PHP</li></ul>
                    <li>Doubleclick for Publishers Training</li>
                    <li>Software Training in Chennai</li>
                    <li>Testing Tools Training</li>
                    <li>Full Stack Web Development Course</li>
                    <li>Full Stack Web Development Course</li>
                    <li>Full Stack Java Developer Course</li>
               </div>
           </div>
        </div>
    </div>
</body>
<%= render "fooder" %>
<br>
<p class="paragrap" style="font-weight: bold;">© 2023 Depth Core Technologies | Software Training - Online Training - Live Project Training - Weekend Training</p>