<%= render "header" %>
<style>
    body {
        margin: 41px;
        padding: 0;
    }
    h{
        font-weight: bold;
    }pr li{
    margin-left: 35px;
    font-size: 12px;
    font-style: italic;
    }
    .course-card {
        margin-bottom: 20px;
    }
    .left-box {
        padding: 20px;
/*        width: 120%;*/
    }

    .right-box {
        padding: 20px;
        margin-top: 20px;
    }

    
    h1 {
        font-weight: bold;
    }

    h2 {
        font-weight: bold;
        margin: 0px;
        margin-top: 20px; 
       font-size: 19px;
    }
    h3{
        color: red;
        font-size: 16px;
        margin-left: 135px;
    }
    h4{
        font-size: 1.5rem;
        margin-top: 102px;
        font-size: 20px;
        font-weight: bold;
    }
    a1, td {
        color: red;
    }
    .text-black {
        color: black !important;
    }
    .star{
        margin-left: 210px;
    }
    span.Rating{    
        margin-left: 28px;
    }
    p{
        font-size: 12px
    }
    .ser {
        font-size: 12px;
        font-weight: bold;
        margin: 16px;
    }
</style>
<body>
<div class="row">
<!-- Left Box -->
<div class="col-md-6">
    <div class="left-box">
        <h4 class="border-bottom pb-2">Android Training</h4>
        <a1 class="border-bottom pb-2">NIT Manager</a1>
        <div class="left-box">
            <h class="services" style="font-size: 12px; font-weight: bold;">Android Course Overview</h>
            <p class="paragrap" style="margin-top: 20px; word-spacing: 2px;">The goal of Android App Development Training course is to provide developers easy and complete understanding of the Android<strong> App Development</strong> with our Class Room Training. The Android Training course provides a series of sessions & Lab Assignments which introduce and explain Android features that are used to code, debug and deploy <strong>Mobile Applications</strong></p>
        </div>
        <h2 class="ser">Pre-requisites of the Course</h2>
        <pr>
            <li>Development in<a1> Java Programming </a1>Language</li>
            <li>Understanding of application development frameworks, environments, tools, and processes</li>
        </pr><br>
        <h2 class="ser">Android Training Objectives</h2>
        <pr>
            <li>Understand Android platform architecture</li>
            <li>Design, develop, debug, and deploy Android applications</li>
            <li>Use Android SDK’s Emulator to test and debug applications</li>
            <li>Construct user interfaces with built-in views and layouts</li>
            <li>Define custom view and layout</li>
            <li>Develop SQLite Database</li>
            <li>Secure Android applications</li>
            <li>Write multimedia Android applications</li>
            <li>Write location-based applications</li>
            <li>Interact with Servers using Web Services</li>
        </pr><br>

        <h2 class="ser">Course Duration</h2>
        <pr>
            <li>45 Working days, daily 1.30 hours</li>
        </pr><br>
        <h2 class="ser">Android Training Course Overview</h2>
        <h2 class="ser">Introduction to Android</h2>
        <pr>
            <li>Overview of Android</li>
            <li>Java Editions and comparison with Android</li>
            <li>Android Apps – Design, Vendor, Behavioral Classification</li>
        </pr><br>

        <h2 class="ser">Android Architecture Overview</h2>
        <pr>
            <li>Android Architecture</li>
            <li>Application Frameworks</li>
            <li>Android Libraries, Run time, Dalvik Virtual Machine</li>
        </pr><br>

        <h2 class="ser">Setup of Android Development Environment</h2>
        <pr>
            <li>System Requirements</li>
            <li>Java, Eclipse, and Android SDK Installation</li>
            <li>Android SDK and Tools</li>
            <li>Android Virtual Devices & Device Definitions</li>
        </pr><br>
        <h2 class="ser">Your Android Application</h2>
        <pr>
            <li>Android Application Design</li>
            <li>Using PhotoShop for Graphic Designing</li>
            <li>Android Application Wireframes (screens)</li>
        </pr><br>

        <h2 class="ser">Your First Android Application</h2>
        <pr>
            <li>Creating Android Application</li>
            <li>Creating Configurations</li>
            <li>Testing the app: AVD, Active Device</li>
            <li>Android Project Structure and Manifest file</li>
        </pr><br>

        <h2 class="ser">Publishing to the Play Store</h2>
        <pr>
            <li>Release process and Release build of Android Application</li>
            <li>Signing the .apk file</li>
            <li>Preparing the Store Listing page</li>
            <li>Content Rating</li>
            <li>Distributing the Application</li>
            <li>Merchant Registration for Paid Applications</li>
        </pr><br>
        <h2 class="ser">Activities</h2>
        <pr>
            <li>About XML – approach to design layouts</li>
            <li>Views and Layouts</li>
            <li>View properties</li>
            <li>Linear Layout vs. Relative Layout vs. Frame Layout vs. Absolute Layout</li>
            <li>Localization of UI</li>
            <li>Best practices for targeting various form factors: phone, tablet, TV</li>
            <li>Best practices when working designing Android UI</li>
        </pr><br>

        <h2 class="ser">Android Testing</h2>
        <pr>
            <li>Creating a Test Project for Android project</li>
            <li>Working with Test Packages</li>
            <li>Writing test cases</li>
        </pr><br>

        <h2 class="ser">Fragments</h2>
        <pr>
            <li>Designing fragments</li>
            <li>Fragments life cycle</li>
            <li>Fragment management and integration</li>
        </pr><br>
        <h2 class="ser">User Interfaces</h2>
        <pr>
            <li>Creating the Activity</li>
            <li>XML versus Java UI</li>
            <li>Selection Widgets, Using fonts</li>
            <li>Common UI components</li>
            <li>Handling UI events: a bit about listeners</li>
        </pr><br>

        <h2 class="ser">Advanced UI</h2>
        <pr>
            <li>Adapters</li>
            <li>Complex UI components</li>
            <li>Menus and Dialogs</li>
            <li>Tabbed Activities</li>
            <li>Navigation Drawer</li>
            <li>Animations</li>
            <li>Create activity layouts programmatically</li>
            <li>Testing and optimizing UI</li>
        </pr><br>

        <h2 class="ser">Android Material Design</h2>
        <pr>
            <li>What is material?</li>
            <li>Material properties and Styling / Animations</li>
            <li>Material Patterns</li>
        </pr><br>

        <h2 class="ser">Resources</h2>
        <pr>
            <li>Overview of Android Resources</li>
            <li>Creating Resources</li>
            <li>Using Resources</li>
            <li>Drawable Resources</li>
            <li>Animation Resources</li>
        </pr><br>
        <h2 class="ser">Broadcast Receivers</h2>
        <pr>
            <li>Broadcast receiver usage patterns: when and why to use them</li>
            <li>Implementing a broadcast receiver</li>
            <li>Registering a broadcast receiver via the manifest file and Programmatically</li>
        </pr><br>

        <h2 class="ser">Background Services</h2>
        <pr>
            <li>Overview of Android services</li>
            <li>Service lifecycle</li>
            <li>Declaring a service</li>
            <li>Registering a service</li>
            <li>Starting and stopping a service</li>
            <li>Threads and other concurrency considerations with services</li>
            <li>Bound versus unbound services</li>
            <li>Remote versus local services</li>
        </pr><br>

        <h2 class="ser">Intents</h2>
        <pr>
            <li>Working with Intents</li>
            <li>Explicit and implicit intents</li>
            <li>Using Intents as messaging objects</li>
            <li>Intents to start components expecting results</li>
        </pr><br>

        <h2 class="ser">Storing and Retrieving Data</h2>
        <pr>
            <li>Storage Model selection criteria</li>
            <li>Shared preferences</li>
            <li>Internal Storage – Files</li>
            <li>External Storage – SD Card</li>
            <li>Testing the created files, tools</li>
        </pr><br>
        <h2 class="ser">SQLite Database</h2>
        <pr>
            <li>Introducing SQLite</li>
            <li>SQLiteOpenHelper and creating a database</li>
            <li>Opening and closing a database</li>
            <li>Working with cursors</li>
            <li>Inserts, updates, and deletes</li>
        </pr><br>

        <h2 class="ser">Native Content Providers</h2>
        <pr>
            <li>Content provider types</li>
            <li>Searching for content</li>
            <li>Adding, changing, and removing content</li>
            <li>Native Android Content Providers</li>
            <li>Accessing Contact Book, Calendar</li>
        </pr><br>

        <h2 class="ser">Custom Content Providers</h2>
        <pr>
            <li>Custom Content Provider classes</li>
            <li>Publishing content providers</li>
        </pr><br>

        <h2 class="ser">Web Services</h2>
        <pr>
            <li>Understanding Web Services</li>
            <li>Web Services Architecture</li>
            <li>Building Server-side components</li>
            <li>Publishing web services</li>
            <li>REST-based web services</li>
            <li>Accessing Web Services</li>
            <li>Integrating Web Services with mobile client</li>
            <li>Overview of networking</li>
            <li>Checking the network status and web service status</li>
            <li>Working with HTTP to access the web services</li>
        </pr><br>
        <h2 class="ser">Parsing, Parsers</h2>
        <pr>
            <li>Document Object Model (DOM)</li>
            <li>Simple API for XML (SAX)</li>
            <li>JavaScript Object Notation (JSON)</li>
            <li>Parsing XML and JSON</li>
        </pr><br>

        <h2 class="ser">Location Based Services</h2>
        <pr>
            <li>Using Location Manager, Location Provider</li>
            <li>GPS and Network based tracking</li>
            <li>Testing the application using KML files</li>
            <li>Simulation of the locations on the active device</li>
            <li>Location Listeners and Proximity Alerts</li>
        </pr><br>

        <h2 class="ser">Integrating Google Maps</h2>
        <pr>
            <li>API Version 2 of Google Maps</li>
            <li>User Interface – MapFragments</li>
            <li>API key generation</li>
            <li>Registrations in the manifest file</li>
            <li>Google Map, Camera Positions</li>
            <li>Adding Markers, Circles, Polylines</li>
            <li>Google Maps Directions API</li>
        </pr><br>

        <h2 class="ser">Telephony</h2>
        <pr>
            <li>Telephony background</li>
            <li>Accessing telephony information</li>
            <li>Monitoring data activity and connectivity</li>
            <li>Working with messaging SMS</li>
        </pr><br>
        <h2 class="ser">Multimedia in Android</h2>
        <pr>
            <li>Playing Audio & Video</li>
            <li>Recording Audio & Video</li>
            <li>Customizing Camera & Capturing Photos</li>
            <li>Voice Recognition</li>
            <li>Text To Speech</li>
        </pr><br>

        <h2 class="ser">Bluetooth</h2>
        <pr>
            <li>Controlling local Bluetooth device</li>
            <li>Discovering and bonding with Bluetooth devices</li>
            <li>Managing Bluetooth connections</li>
            <li>Communicating with Bluetooth</li>
        </pr><br>

        <h2 class="ser">Social Networking Integrations</h2>
        <pr>
            <li>Facebook Integration</li>
        </pr><br>

        <h2 class="ser">Debugging and Testing Android Apps</h2>
        <pr>
            <li>Logcat</li>
            <li>Debugger</li>
            <li>Traceview</li>
            <li>HierarchyViewer</li>
            <li>Monkey Runner</li>
            <li>UIAutomator</li>
        </pr><br>
        <form class="border-top border-bottom">
            <br>
            <h8>Click Here For<a1> Android Online Training </a1></h8><br><br>
            <h8>Categories:<a1>Online Training<h8 class="color" style='color: black;'>Tags:</h8> Chennai, Hyderabad</a1></h8>
            <br>
        </form>
    </div>
</div>

<div class="col-md-6 px-4">
        <div class="right-box">
            <h3><a href="http://localhost:3000/home" style=" color: red;"> Home </a><svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="currentColor" class="bi bi-chevron-double-right" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M3.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L9.293 8 3.646 2.354a.5.5 0 0 1 0-.708z"/>
                <path fill-rule="evenodd" d="M7.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L13.293 8 7.646 2.354a.5.5 0 0 1 0-.708z"/>
            </svg> ONLINE TRAINING <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="currentColor" class="bi bi-chevron-double-right" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M3.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L9.293 8 3.646 2.354a.5.5 0 0 1 0-.708z"/>
                <path fill-rule="evenodd" d="M7.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L13.293 8 7.646 2.354a.5.5 0 0 1 0-.708z"/>
            </svg> Android Training </h3><br><br>
            <div class="star">
            <span class="Rating"><a>Rating of &nbsp; <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="yellow" class="bi bi-star" viewBox="0 0 16 16">
                <polygon points="8 0 10 5 15 5 11.25 8.75 12.5 14.5 8 11 3.5 14.5 4.75 8.75 1 5" />
            </svg><svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="yellow" class="bi bi-star" viewBox="0 0 16 16">
                <polygon points="8 0 10 5 15 5 11.25 8.75 12.5 14.5 8 11 3.5 14.5 4.75 8.75 1 5" />
            </svg><svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="yellow" class="bi bi-star" viewBox="0 0 16 16">
                <polygon points="8 0 10 5 15 5 11.25 8.75 12.5 14.5 8 11 3.5 14.5 4.75 8.75 1 5" />
            </svg><svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="yellow" class="bi bi-star" viewBox="0 0 16 16">
                <polygon points="8 0 10 5 15 5 11.25 8.75 12.5 14.5 8 11 3.5 14.5 4.75 8.75 1 5" />
            </svg><svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="yellow" class="bi bi-star" viewBox="0 0 16 16">
                <polygon points="8 0 10 5 15 5 11.25 8.75 12.5 14.5 8 11 3.5 14.5 4.75 8.75 1 5" />
            </svg> </a></span><br>
            <a class="average" style="font-size: 10px;">Average of 4.98 on a total of 500 Ratings</a><br></div>
            <div class="training" style="margin-left: 142px; margin-top: 14px; font-size: 12px">
            <a herf="/trainers_profile" style="color: red;">Trainers Profile</a><br>
            <a href="/student_enquiry" style="color: red;">Student Enquiry</a><br>
            <a href="/corporate_training" style="color: red;">Corporate Training</a><br>
            <a href="/feedback" style="color: red;">Post your Feedback</a><br>
            <a href="/post_testimonials" style="color: red;">View/Post Testimonials<br>
            <a href="/contact" style="color: red;">Contact Us</a></a1></div>
            <div class="margin" style="margin-left: 141px;">
                <h2>Register for Course!</h3><br>
                <p>Learn from the Real-Time Experts</p>
                <br>
                    <form>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="firstName">First Name<span class="text-danger">*</span></label>
                                <input type="text" class="form-control" id="firstName" placeholder="Enter your first name">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="lastName">Last Name<span class="text-danger">*</span></label>
                                <input type="text" class="form-control" id="lastName" placeholder="Enter your last name">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="email">Email<span class="text-danger">*</span></label>
                                <input type="email" class="form-control" id="email" placeholder="Enter your email">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="phone">Phone<span class="text-danger">*</span></label>
                                <input type="tel" class="form-control" id="phone" placeholder="Enter your phone number">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="state">State</label>
                                <input type="tel" class="form-control" id="state" placeholder="Enter your phone number">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="modeOfTraining">Mode of Training<span class="text-danger">*</span></label>
                            <select id="modeOfTraining" class="form-control">
                                <option selected>Online Training</option>
                                <option selected>Classroom Training</option>
                                <option selected>Weekend Training</option>
                                <option selected>Project Training</option>
                                <option selected>Intership Training</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="course">Course</label>
                            <select id="course" class="form-control">
                                <option selected>Select Course</option>
                                <option selected>Python</option>
                                <option selected>Java</option>
                                <option selected>C++</option>
                                <option selected>C#</option>
                                <option selected>JavaScript</option>
                                <option selected>Ruby</option>
                                <option selected>Swift</option>
                                <option selected>Kotlin</option>
                                <option selected>Data Science</option>
                                <option selected>Machine Learning</option>
                                <option selected>Deep Learning</option>
                                <option selected>Natural Language Processing (NLP)</option>
                                <option selected>TensorFlow</option>
                                <option selected>PyTorch</option>
                            </select>
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                    <br>

                    <h2>JOIN WHATSAPP GROUPS FOR UPDATES<br><br>
                        <img src="./assets/whatsappjpg">
                    </h2>
                    <h2>WATCH FREE TUTORIALS<br><br>
                        <img src="./assets/telegramjpeg">
                    </h2>
                    <h2>JOIN US ON TELEGRAM FOR UPDATES<br><br>
                        <img src="./assets/freejpg">
                    </h2>
                    <h2>FIND COURSES HERE</h2>
                    <li>courses traning</li>
                    <li>Android Training</li>
                    <li>iPhone Training</li>
                    <li>Asp.Net Training</li>
                    <li>Asp.Net MVC Training</li>
                    <li>C#.NET Training</li>
                    <li>C++ Training</li>
                    <li>Data Structure Training</li>
                    <li>Java Training</li>
                    <ul class="list">
                        <li>Core Java Training</li>
                        <li>Advanced Java Training</li>
                        <li>Hibernate Training</li>
                        <li>J2EE Training</li>
                        <li>Spring 5.x Training</li>
                        <li>Hibernate Training</li>
                        <li>Web Services Training</li>
                        <li>Struts Training</li>
                        <li>XML Training</li>
                        <li>Java Online Training</li></ul>
                    <li>Oracle Training</li>
                    <li>SQL Server Training</li>
                    <li>Selenium Training</li>
                    <li>UNIX LINUX Training</li>
                    <li>PHP Training</li>
                    <li>HTML5 CSS3 Training</li>
                    <li>jQuery Training</li>
                    <li>UI Technologies Training</li>
                    <li>UI UX Training</li>
                    <li>AngularJS Training</li>
                    <ul class="list">
                        <li>Angular 2 Training</li>
                        <li>Angular 4 Training</li>
                        <li>Angular 6 Training</li>
                        <li>Angular 7 Training</li>
                    </ul>
                    <li>Data Science Training</li>
                    <li>Artificial Intelligence Training</li>
                    <li>Hadoop Training</li>
                    <li>Apache Spark Training</li>
                    <li>Python Training</li>
                    <li>Hadoop Online Training</li>
                    <li>DevOps Training</li>
                    <li>AWS Training</li>
                    <li>IoT Training</li>
                    <li>SalesForce CRM Training</li>
                    <li>Digital Marketing Training</li>
                    <li>RPA Training</li>
                    <ul class="list">
                        <li>Blue Prism Training</li>
                        <li>Automation Anywhere Training</li>
                        <li>Automation Anywhere Online Training</li>
                    </ul>
                    <li>Blockchain Training</li>
                    <li>Realtime Projects</li>
                    <ul class="list">
                        <li>Real Time Java Project</li>
                        <li>Real-Time Project on PHP</li></ul>
                    <li>Doubleclick for Publishers Training</li>
                    <li>Software Training in Chennai</li>
                    <li>Testing Tools Training</li>
                    <li>Full Stack Web Development Course</li>
                    <li>Full Stack Web Development Course</li>
                    <li>Full Stack Java Developer Course</li>
               </div>
           </div>
        </div>
    </div>
</body>
<%= render "fooder" %>
<br>
<p class="paragrap" style="font-weight: bold;">© 2023 Depth Core Technologies | Software Training - Online Training - Live Project Training - Weekend Training</p>