<%= render "header" %>
<style>
    h{
        font-weight: bold;
    }pr li{
    margin-left: 35px;
    font-size: 12px;
    font-style: italic;
    }
    .course-card {
        margin-bottom: 20px;
    }
    .left-box {
        padding: 20px;
/*        width: 120%;*/
    }

    .right-box {
        padding: 20px;
        margin-top: 20px;
    }

    
    h1 {
        font-weight: bold;
    }

    h2 {
        font-weight: bold;
        margin: 0px;
        margin-top: 20px; 
       font-size: 19px;
    }
    h3{
        color: red;
        font-size: 16px;
        margin-left: 135px;
    }
    h4{
        font-size: 1.5rem;
        margin-top: 102px;
        font-size: 20px;
        font-weight: bold;
    }
    a1, td {
        color: red;
    }
    .text-black {
        color: black !important;
    }
    .star{
        margin-left: 210px;
    }
    span.Rating{    
        margin-left: 28px;
    }
    p{
        font-size: 12px
    }
    .ser {
        font-size: 12px;
        font-weight: bold;
        margin: 16px;
    }
</style>
<body>
<div class="row">
<!-- Left Box -->
<div class="col-md-6">
    <div class="left-box">
        <h4 class="border-bottom pb-2">Angular 2 Training</h4>
        <a1 class="border-bottom pb-2">webmaster</a1>
        <div class="left-box">
            <h class="services" style="font-size: 12px; font-weight: bold;">Angular 2 Training Overview</h>
            <p class="paragrap" style="margin-top: 20px; word-spacing: 2px;">Angular 2 is one of the next versions of AngularJS Framework for building large scle web applications. As it is next version in AngularJS it contains almost all the new necessary things which are required for developing a high-scale frond-end web and mobile applications. With the help of simple programming it provides mainly new things like performance and load time in respect to the web and mobile development.</p>
        </div>
        <h2 class="ser">Objectives</h2>
        <pr>
            <li>Understanding the difference between AngularJS and Angular 2+</li>
            <li>Understanding the design principles of single-page applications (SPAs)</li>
            <li>Working with TypeScript in Angular development</li>
            <li>Understanding and implementing MVC (Model View Controller) concepts in Angular</li>
            <li>Utilizing Angular CLI (Command Line Interface) for Angular project management</li>
        </pr><br>
        <h2 class="ser">Pre-requisites</h2>
        <pr>
            <li>HTML and JavaScript</li>
            <li>Understanding of AngularJS</li>
        </pr><br>
        <h2 class="ser">Angular 2 Course Content</h2>
        <h2 class="ser">Getting Started</h2>
        <pr>
            <li>Working with JavaScript Modules and SystemJs</li>
            <li>Introduction to TypeScript</li>
            <li>A Conceptual Overview of Angular 2</li>
            <li>What We'll Be Building</li>
            <li>Installing Git and Node</li>
            <li>Creating Your First Component</li>
            <li>Using the Angular CLI</li>
        </pr><br>
        <h2 class="ser">Creating and Communicating Between Components</h2>
        <pr>
            <li>Creating Your First Data-bound Component</li>
            <li>Using External Templates</li>
            <li>Communicating with Child Components Using @Input</li>
            <li>Communicating with Parent Components Using @Output</li>
            <li>Using Template Variables to Interact with Child Components</li>
            <li>Styling Components</li>
            <li>Exploring Angular’s CSS Encapsulation</li>
            <li>Adding a Site Header</li>
        </pr><br>
        <h2 class="ser">Exploring the New Template Syntax</h2>
        <pr>
            <li>Interpolation, Property Bindings, and Expressions</li>
            <li>Event Bindings and Statements</li>
            <li>Repeating Data with ngFor</li>
            <li>Handling Null Values with the Safe-Navigation Operator</li>
            <li>Hiding and Showing Content with ngIf</li>
            <li>Hiding Content with the [Hidden] Binding</li>
            <li>Hiding and Showing Content with ngSwitch</li>
            <li>Styling Components with ngClass</li>
            <li>Styling Components with ngStyle</li>
        </pr><br>
        <h2 class="ser">Creating Reusable Services</h2>
        <pr>
            <li>Introduction</li>
            <li>Why We Need Services and Dependency Injection</li>
            <li>Creating Your First Service</li>
            <li>Wrapping Third-Party Services</li>
        </pr><br>
        <h2 class="ser">Routing and Navigating Pages</h2>
        <pr>
            <li>Adding Multiple Pages to Your App</li>
            <li>Adding Your First Route</li>
            <li>Accessing Route Parameters</li>
            <li>Linking to Routes</li>
            <li>Navigating from Code</li>
            <li>Guarding Against Route Activation</li>
            <li>Guarding Against Route De-activation</li>
            <li>Pre-loading Data for Components</li>
            <li>Styling Active Links</li>
        </pr><br>
        <h2 class="ser">Collecting Data with Forms and Validation</h2>
        <pr>
            <li>Introduction</li>
            <li>Using Models for Type Safety</li>
            <li>Creating Your First Template-based Form</li>
            <li>Using the Data from Your Template-based Form</li>
            <li>Validating Template-based Form</li>
            <li>Validating Reactive Forms</li>
        </pr><br>
        <h2 class="ser">Communicating Between Components</h2>
        <pr>
            <li>Passing Data into a Child Component</li>
            <li>Passing Data out of a Child Component</li>
        </pr><br>

        <h2 class="ser">Reusing Components with Content Projection</h2>
        <pr>
            <li>Content Projection</li>
            <li>Multiple Slot Content Projection</li>
        </pr><br>
        <h2 class="ser">Displaying Data with Pipes</h2>
        <pr>
            <li>Using Built-in Pipes</li>
            <li>Creating a Custom Pipe</li>
        </pr><br>

        <h2 class="ser">Sorting and Filtering Overview</h2>
        <pr>
            <li>Creating a Filtering Display</li>
            <li>Filtering Data</li>
        </pr><br>
        <h2 class="ser">Understanding Dependency Injection</h2>
        <pr>
            <li>Using Third-Party Global Services – The Problem</li>
            <li>Angular Dependency Injection Lookup</li>
            <li>Using OpaqueToken for Dependency Injection</li>
            <li>Using the @Inject Decorator</li>
            <li>The useClass Provider</li>
        </pr><br>
        <h2 class="ser">Creating Directives and Advanced Components</h2>
        <pr>
            <li>Implementing the Session Search</li>
            <li>Adding jQuery</li>
            <li>Creating a Modal Component</li>
            <li>Fixing Template Parse Errors</li>
            <li>Creating Directives – The Trigger Directive</li>
            <li>Binding an ID</li>
            <li>Routing to the Same Component</li>
            <li>Using the @ViewChild Decorator</li>
            <li>Creating Settings on Components</li>
        </pr><br>
        <h2 class="ser">Communicating with the Server Using HTTP, Observables, and Rx</h2>
        <pr>
            <li>Moving Data Storage to the Server</li>
            <li>Listening to Resolved Data Changes</li>
            <li>Using Querystring Parameters</li>
            <li>Using POST and PUT</li>
            <li>Using DELETE</li>
        </pr><br>

        <h2 class="ser">Integrating Authentication with the Server</h2>
        <pr>
            <li>Persisting Authentication Status Across Page Refreshes</li>
            <li>Saving User Data to the Server</li>
            <li>Implementing Logout</li>
        </pr><br>
        <h2 class="ser">Unit Testing Your Code</h2>
        <pr>
            <li>Installing Karma</li>
            <li>Unit Testing Services</li>
            <li>Testing Mock Calls</li>
            <li>Testing Components with Isolated Tests</li>
        </pr><br>
        <h2 class="ser">Going to Production</h2>
        <pr>
            <li>Learning the Concepts</li>
            <li>Linting with TSLint</li>
            <li>Tuning Your rxJS Requests</li>
            <li>Enabling Production Mode</li>
            <li>Basic Copy Deployment</li>
            <li>Ahead of Time Compiler Overview</li>
            <li>Preparing for the AOT Compiler</li>
            <li>Making Coding Fixes for the AOT Compiler</li>
            <li>Running the AOT Compiler</li>
            <li>Tree Shaking and Bundling with Rollup</li>
        </pr><br>


        <form class="border-top border-bottom">
            <br>
            <h8>Categories:<a1>Online Training -- <h8 class="color" style='color: black;'>Tags:</h8> Chennai, Hyderabad</a1></h8>
            <br>
        </form>
    </div>
</div>

<div class="col-md-6 px-4">
        <div class="right-box">
            <h3><a href="http://localhost:3000/home" style=" color: red;"> Home </a><svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="currentColor" class="bi bi-chevron-double-right" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M3.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L9.293 8 3.646 2.354a.5.5 0 0 1 0-.708z"/>
                <path fill-rule="evenodd" d="M7.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L13.293 8 7.646 2.354a.5.5 0 0 1 0-.708z"/>
            </svg> ONLINE TRAINING <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="currentColor" class="bi bi-chevron-double-right" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M3.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L9.293 8 3.646 2.354a.5.5 0 0 1 0-.708z"/>
                <path fill-rule="evenodd" d="M7.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L13.293 8 7.646 2.354a.5.5 0 0 1 0-.708z"/>
            </svg> Angular 2 Training </h3><br><br>
            <div class="star">
            <span class="Rating"><a>Rating of &nbsp; <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="yellow" class="bi bi-star" viewBox="0 0 16 16">
                <polygon points="8 0 10 5 15 5 11.25 8.75 12.5 14.5 8 11 3.5 14.5 4.75 8.75 1 5" />
            </svg><svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="yellow" class="bi bi-star" viewBox="0 0 16 16">
                <polygon points="8 0 10 5 15 5 11.25 8.75 12.5 14.5 8 11 3.5 14.5 4.75 8.75 1 5" />
            </svg><svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="yellow" class="bi bi-star" viewBox="0 0 16 16">
                <polygon points="8 0 10 5 15 5 11.25 8.75 12.5 14.5 8 11 3.5 14.5 4.75 8.75 1 5" />
            </svg><svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="yellow" class="bi bi-star" viewBox="0 0 16 16">
                <polygon points="8 0 10 5 15 5 11.25 8.75 12.5 14.5 8 11 3.5 14.5 4.75 8.75 1 5" />
            </svg><svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="yellow" class="bi bi-star" viewBox="0 0 16 16">
                <polygon points="8 0 10 5 15 5 11.25 8.75 12.5 14.5 8 11 3.5 14.5 4.75 8.75 1 5" />
            </svg> </a></span><br>
            <a class="average" style="font-size: 10px;">Average of 4.98 on a total of 500 Ratings</a><br></div>
            <div class="training" style="margin-left: 142px; margin-top: 14px; font-size: 12px">
            <a herf="/trainers_profile" style="color: red;">Trainers Profile</a><br>
            <a href="/student_enquiry" style="color: red;">Student Enquiry</a><br>
            <a href="/corporate_training" style="color: red;">Corporate Training</a><br>
            <a href="/feedback" style="color: red;">Post your Feedback</a><br>
            <a href="/post_testimonials" style="color: red;">View/Post Testimonials<br>
            <a href="/contact" style="color: red;">Contact Us</a></a1></div>
            <div class="margin" style="margin-left: 141px;">
                <h2>Register for Course!</h3><br>
                <p>Learn from the Real-Time Experts</p>
                <br>
                    <form>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="firstName">First Name<span class="text-danger">*</span></label>
                                <input type="text" class="form-control" id="firstName" placeholder="Enter your first name">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="lastName">Last Name<span class="text-danger">*</span></label>
                                <input type="text" class="form-control" id="lastName" placeholder="Enter your last name">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="email">Email<span class="text-danger">*</span></label>
                                <input type="email" class="form-control" id="email" placeholder="Enter your email">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="phone">Phone<span class="text-danger">*</span></label>
                                <input type="tel" class="form-control" id="phone" placeholder="Enter your phone number">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="state">State</label>
                                <input type="tel" class="form-control" id="state" placeholder="Enter your phone number">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="modeOfTraining">Mode of Training<span class="text-danger">*</span></label>
                            <select id="modeOfTraining" class="form-control">
                                <option selected>Online Training</option>
                                <option selected>Classroom Training</option>
                                <option selected>Weekend Training</option>
                                <option selected>Project Training</option>
                                <option selected>Intership Training</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="course">Course</label>
                            <select id="course" class="form-control">
                                <option selected>Select Course</option>
                                <option selected>Python</option>
                                <option selected>Java</option>
                                <option selected>C++</option>
                                <option selected>C#</option>
                                <option selected>JavaScript</option>
                                <option selected>Ruby</option>
                                <option selected>Swift</option>
                                <option selected>Kotlin</option>
                                <option selected>Data Science</option>
                                <option selected>Machine Learning</option>
                                <option selected>Deep Learning</option>
                                <option selected>Natural Language Processing (NLP)</option>
                                <option selected>TensorFlow</option>
                                <option selected>PyTorch</option>
                            </select>
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                    <br>

                    <h2>JOIN WHATSAPP GROUPS FOR UPDATES<br><br>
                        <img src="./assets/whatsappjpg">
                    </h2>
                    <h2>WATCH FREE TUTORIALS<br><br>
                        <img src="./assets/telegramjpeg">
                    </h2>
                    <h2>JOIN US ON TELEGRAM FOR UPDATES<br><br>
                        <img src="./assets/freejpg">
                    </h2>
                    <h2>FIND COURSES HERE</h2>
                    <li>courses traning</li>
                    <li>Android Training</li>
                    <li>iPhone Training</li>
                    <li>Asp.Net Training</li>
                    <li>Asp.Net MVC Training</li>
                    <li>C#.NET Training</li>
                    <li>C++ Training</li>
                    <li>Data Structure Training</li>
                    <li>Java Training</li>
                    <ul class="list">
                        <li>Core Java Training</li>
                        <li>Advanced Java Training</li>
                        <li>Hibernate Training</li>
                        <li>J2EE Training</li>
                        <li>Spring 5.x Training</li>
                        <li>Hibernate Training</li>
                        <li>Web Services Training</li>
                        <li>Struts Training</li>
                        <li>XML Training</li>
                        <li>Java Online Training</li></ul>
                    <li>Oracle Training</li>
                    <li>SQL Server Training</li>
                    <li>Selenium Training</li>
                    <li>UNIX LINUX Training</li>
                    <li>PHP Training</li>
                    <li>HTML5 CSS3 Training</li>
                    <li>jQuery Training</li>
                    <li>UI Technologies Training</li>
                    <li>UI UX Training</li>
                    <li>AngularJS Training</li>
                    <ul class="list">
                        <li>Angular 2 Training</li>
                        <li>Angular 4 Training</li>
                        <li>Angular 6 Training</li>
                        <li>Angular 7 Training</li>
                    </ul>
                    <li>Data Science Training</li>
                    <li>Artificial Intelligence Training</li>
                    <li>Hadoop Training</li>
                    <li>Apache Spark Training</li>
                    <li>Python Training</li>
                    <li>Hadoop Online Training</li>
                    <li>DevOps Training</li>
                    <li>AWS Training</li>
                    <li>IoT Training</li>
                    <li>SalesForce CRM Training</li>
                    <li>Digital Marketing Training</li>
                    <li>RPA Training</li>
                    <ul class="list">
                        <li>Blue Prism Training</li>
                        <li>Automation Anywhere Training</li>
                        <li>Automation Anywhere Online Training</li>
                    </ul>
                    <li>Blockchain Training</li>
                    <li>Realtime Projects</li>
                    <ul class="list">
                        <li>Real Time Java Project</li>
                        <li>Real-Time Project on PHP</li></ul>
                    <li>Doubleclick for Publishers Training</li>
                    <li>Software Training in Chennai</li>
                    <li>Testing Tools Training</li>
                    <li>Full Stack Web Development Course</li>
                    <li>Full Stack Web Development Course</li>
                    <li>Full Stack Java Developer Course</li>
               </div>
           </div>
        </div>
    </div>
</body>
<%= render "fooder" %>
