<%= render "header" %>
<style>
    body {
        margin: 41px;
        padding: 0;
    }
    h{
        font-weight: bold;
    }pr li{
    margin-left: 35px;
    font-size: 12px;
    font-style: italic;
    }
    .course-card {
        margin-bottom: 20px;
    }
    .left-box {
        padding: 20px;
/*        width: 120%;*/
    }

    .right-box {
        padding: 20px;
        margin-top: 20px;
    }

    
    h1 {
        font-weight: bold;
    }

    h2 {
        font-weight: bold;
        margin: 0px;
        margin-top: 20px; 
       font-size: 19px;
    }
    h3{
        color: red;
        font-size: 16px;
        margin-left: 135px;
    }
    h4{
        font-size: 1.5rem;
        margin-top: 102px;
        font-size: 20px;
        font-weight: bold;
    }
    a1, td {
        color: red;
    }
    .text-black {
        color: black !important;
    }
    .star{
        margin-left: 210px;
    }
    span.Rating{    
        margin-left: 28px;
    }
    p{
        font-size: 12px
    }
    .ser {
        font-size: 12px;
        font-weight: bold;
        margin: 16px;
    }
</style>
<body>
<div class="row">
<!-- Left Box -->
<div class="col-md-6">
    <div class="left-box">
        <h4 class="border-bottom pb-2">Angular 8 Training</h4>
        <a1 class="border-bottom pb-2">webmaster</a1>
        <div class="left-box">
            <h2 class="ser">Angular 8 Training</h2>
            <h2 class="ser">Angular 8 Training Duration : 45 to 60 Days</h2>
        </div>
        <h2 class="ser">Introduction To Web Technologies</h2>
        <pr>
            <li>Understanding the Concept of the Web</li>
            <li>Requirements for Building an End-to-End Web Application</li>
            <li>Challenges in Modern Web Development</li>
            <li>Exploring the Concept of a "Stack" in Web Development</li>
        </pr><br>
        <h2 class="ser">TypeScript Deep Dive - TypeScript Architecture</h2>
        <pr>
            <li>Basic Types in TypeScript</li>
            <li>Variable Declarations in TypeScript</li>
            <li>Understanding Interfaces in TypeScript</li>
            <li>Working with Classes in TypeScript</li>
            <li>Functions in TypeScript</li>
            <li>Understanding Generics in TypeScript</li>
            <li>Enums in TypeScript</li>
            <li>Type Inference in TypeScript</li>
            <li>Type Compatibility in TypeScript</li>
            <li>Advanced Types in TypeScript</li>
            <li>Symbols in TypeScript</li>
            <li>Iterators in TypeScript</li>
            <li>Modules in TypeScript</li>
            <li>Namespaces in TypeScript</li>
            <li>Namespaces vs. Modules in TypeScript</li>
            <li>Module Resolution and Declaration Merging in TypeScript</li>
            <li>Understanding Decorators in TypeScript</li>
        </pr><br>
        <h2 class="ser">Introduction To Angular</h2>
        <pr>
            <li>Evolution of Client-Side Technologies</li>
            <li>Understanding AngularJS</li>
            <li>Introduction to Angular</li>
            <li>Comparison: Angular vs AngularJS</li>
            <li>Overview of Various Versions of Angular</li>
            <li>Angular Architecture</li>
            <li>Overview of MVC (Model-View-Controller) and MVW (Model-View-Whatever) in Angular</li>
            <li>Understanding Single Page Applications (SPA)</li>
            <li>Overview of Different Angular Versions</li>
            <li>New Features Added in Angular 8</li>
            <li>Introduction to IVY in Angular</li>
            <li>Exploring the Angular Universe</li>
            <li>Progressive Web Apps (PWA) Introduction</li>
            <li>Overview of Performance Improvements in Angular</li>
        </pr><br>
        <h2 class="ser">Setting Up Environment For Angular</h2>
        <pr>
            <li>Installing Node.js</li>
            <li>Setting Up GIT</li>
            <li>Installing Yarn</li>
            <li>Installing Angular</li>
        </pr><br>
        <h2 class="ser">Angular Architecture</h2>
        <pr>
            <li>Basic Building Blocks of an Angular Application</li>
            <li>Introduction to Modules</li>
            <pr>
                <li>NgModule Metadata</li>
                <li>Relationship between NgModules & Components</li>
                <li>NgModules & JavaScript Modules</li>
                <li>Angular Libraries</li>
            </pr>
        </pr><br>
        <h2 class="ser">Introduction to Components</h2>
        <pr>
            <li>Component Metadata Overview</li>
            <li>Templates & Views in Components</li>
            <li>Understanding Template Syntax</li>
            <li>Data Binding in Components</li>
            <li>User Input Handling</li>
            <li>String Interpolation</li>
            <li>Component Styles</li>
            <li>Angular Elements</li>
            <li>Angular Directives</li>
            <pr>
                <li>Structural Type Directives</li>
                <li>Attribute Type Directives</li>
                <li>Hosts & Listeners</li>
                <li>HostBinding</li>
                <li>Attribute, Property & Attribute Binding</li>
                <li>Comparison: Property Binding vs Interpolation</li>
                <li>Class Binding</li>
                <li>Event Binding</li>
                <li>Custom Events</li>
                <li>Nested Components</li>
                <li>Communication Between Components</li>
                <li>Component Lifecycle</li>
                <li>Understanding Lifecycle Hooks</li>
            </pr>
        </pr><br>
        <h2 class="ser">Angular Pipes</h2>
        <pr>
            <li>Understanding Pipes in Angular</li>
            <li>Built-in Angular Pipes</li>
            <li>Creating Custom Pipes</li>
            <li>Registering & Integrating Pipes</li>
        </pr><br>
        <h2 class="ser">Angular Services</h2>
        <pr>
            <li>Introduction to Service & Dependency Injection</li>
            <li>Providing a Service</li>
            <li>Creating Custom Service</li>
            <li>Consuming & Registering Service</li>
        </pr><br>
        <h2 class="ser">Angular Forms</h2>
        <pr>
            <li>Introduction to Forms in Angular</li>
            <li>Understanding Various Types of Forms in Angular</li>
            <li>Difference between Template Driven & Reactive Forms</li>
            <li>Common Foundations of Angular Forms</li>
            <li>Setting Up Form Model</li>
            <li>Setting Up Template Driven Forms</li>
            <li>Data Flow in Forms</li>
            <li>Form Validation in Angular</li>
            <li>Working with Dynamic Forms</li>
            <li>Validating Reactive & Template Driven Forms</li>
            <li>Form State Validation</li>
            <li>Input State Validation</li>
            <li>Custom Validation in Angular Forms</li>
        </pr><br>
        <h2 class="ser">Observables & RxJS</h2>
        <pr>
            <li>About Observables</li>
            <li>Understanding the RXJS Library</li>
            <li>Use of Observables in Angular</li>
            <li>Comparing RXJS with Other Techniques</li>
        </pr><br>
        <h2 class="ser">Angular Modules (NgModules)</h2>
        <pr>
            <li>Comparison: JavaScript Modules vs NgModules</li>
            <li>Frequently Used NgModules</li>
            <li>Singleton Services in NgModules</li>
            <li>Lazy Loading Feature Modules</li>
            <li>Sharing NgModules</li>
            <li>NgModules API</li>
        </pr><br>
        <h2 class="ser">Dependency Injection (DI) in Angular</h2>
        <pr>
            <li>Understanding Angular Dependency Injection</li>
            <li>Hierarchical Injection</li>
            <li>DI Providers</li>
            <li>Dependency Injection in Action</li>
        </pr><br>
        <h2 class="ser">HTTP Client</h2>
        <pr>
            <li>Setting Up HTTP Client</li>
            <li>Consuming Services from Other Technologies</li>
            <li>Creating RESTful APIs</li>
            <li>Using Node.js to Create APIs</li>
            <li>Handling Communication Using MEAN Stack</li>
            <li>Integration with MongoDB</li>
            <li>Express Middleware</li>
            <li>Angular Client Application</li>
            <li>Node.js on Server Side</li>
            <li>Developing an End-to-End Application</li>
            <li>CRUD Operations Handling</li>
        </pr><br>
        <h2 class="ser">Routing & Navigation in Angular</h2>
        <pr>
            <li>Router Imports</li>
            <li>Router Configuration</li>
            <li>Router Outlet</li>
            <li>Router Links</li>
            <li>Routing Resolvers</li>
            <li>Routing Guards</li>
            <li>Nested Routes</li>
            <li>Active Router Links</li>
            <li>Router State</li>
            <li>Router Events</li>
        </pr><br>
        <h2 class="ser">Angular Animations</h2>
        <pr>
            <li>Transition & Triggers</li>
            <li>Complex sequences</li>
            <li>Root transition animations</li>
        </pr><br>
        <h2 class="ser">Angular Materials</h2>
        <pr>
            <li>Tables</li>
            <li>Forms</li>
            <li>Tabs</li>
            <li>Grid Layout</li>
            <li>List Layout</li>
        </pr><br>
        <h2 class="ser">Unit Testing In Angular</h2>
        <pr>
            <li>Karma with Jasmine</li>
            <li>Create unit tests</li>
            <li>Testing Angular app</li>
        </pr><br>
        <h2 class="ser">Advanced Topics</h2>
        <pr>
            <li>JWT Tokens</li>
            <li>Optimization Concepts</li>
            <li>Lazy Loading Overview</li>
            <li>Angular Universal</li>
        </pr><br>
        <form class="border-top border-bottom">
            <br>
            <h8>Categories:<a1>Online Training -- <h8 class="color" style='color: black;'>Tags:</h8> Chennai, Hyderabad</a1></h8>
            <br>
        </form>
    </div>
</div>

<div class="col-md-6 px-4">
        <div class="right-box">
            <h3><a href="http://localhost:3000/home" style=" color: red;"> Home </a><svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="currentColor" class="bi bi-chevron-double-right" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M3.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L9.293 8 3.646 2.354a.5.5 0 0 1 0-.708z"/>
                <path fill-rule="evenodd" d="M7.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L13.293 8 7.646 2.354a.5.5 0 0 1 0-.708z"/>
            </svg> ONLINE TRAINING <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="currentColor" class="bi bi-chevron-double-right" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M3.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L9.293 8 3.646 2.354a.5.5 0 0 1 0-.708z"/>
                <path fill-rule="evenodd" d="M7.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L13.293 8 7.646 2.354a.5.5 0 0 1 0-.708z"/>
            </svg> Angular 8 Training </h3><br><br>
            <div class="star">
            <span class="Rating"><a>Rating of &nbsp; <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="yellow" class="bi bi-star" viewBox="0 0 16 16">
                <polygon points="8 0 10 5 15 5 11.25 8.75 12.5 14.5 8 11 3.5 14.5 4.75 8.75 1 5" />
            </svg><svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="yellow" class="bi bi-star" viewBox="0 0 16 16">
                <polygon points="8 0 10 5 15 5 11.25 8.75 12.5 14.5 8 11 3.5 14.5 4.75 8.75 1 5" />
            </svg><svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="yellow" class="bi bi-star" viewBox="0 0 16 16">
                <polygon points="8 0 10 5 15 5 11.25 8.75 12.5 14.5 8 11 3.5 14.5 4.75 8.75 1 5" />
            </svg><svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="yellow" class="bi bi-star" viewBox="0 0 16 16">
                <polygon points="8 0 10 5 15 5 11.25 8.75 12.5 14.5 8 11 3.5 14.5 4.75 8.75 1 5" />
            </svg><svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="yellow" class="bi bi-star" viewBox="0 0 16 16">
                <polygon points="8 0 10 5 15 5 11.25 8.75 12.5 14.5 8 11 3.5 14.5 4.75 8.75 1 5" />
            </svg> </a></span><br>
            <a class="average" style="font-size: 10px;">Average of 4.98 on a total of 500 Ratings</a><br></div>
            <div class="training" style="margin-left: 142px; margin-top: 14px; font-size: 12px">
            <a herf="/trainers_profile" style="color: red;">Trainers Profile</a><br>
            <a href="/student_enquiry" style="color: red;">Student Enquiry</a><br>
            <a href="/corporate_training" style="color: red;">Corporate Training</a><br>
            <a href="/feedback" style="color: red;">Post your Feedback</a><br>
            <a href="/post_testimonials" style="color: red;">View/Post Testimonials<br>
            <a href="/contact" style="color: red;">Contact Us</a></a1></div>
            <div class="margin" style="margin-left: 141px;">
                <h2>Register for Course!</h3><br>
                <p>Learn from the Real-Time Experts</p>
                <br>
                    <form>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="firstName">First Name<span class="text-danger">*</span></label>
                                <input type="text" class="form-control" id="firstName" placeholder="Enter your first name">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="lastName">Last Name<span class="text-danger">*</span></label>
                                <input type="text" class="form-control" id="lastName" placeholder="Enter your last name">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="email">Email<span class="text-danger">*</span></label>
                                <input type="email" class="form-control" id="email" placeholder="Enter your email">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="phone">Phone<span class="text-danger">*</span></label>
                                <input type="tel" class="form-control" id="phone" placeholder="Enter your phone number">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="state">State</label>
                                <input type="tel" class="form-control" id="state" placeholder="Enter your phone number">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="modeOfTraining">Mode of Training<span class="text-danger">*</span></label>
                            <select id="modeOfTraining" class="form-control">
                                <option selected>Online Training</option>
                                <option selected>Classroom Training</option>
                                <option selected>Weekend Training</option>
                                <option selected>Project Training</option>
                                <option selected>Intership Training</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="course">Course</label>
                            <select id="course" class="form-control">
                                <option selected>Select Course</option>
                                <option selected>Python</option>
                                <option selected>Java</option>
                                <option selected>C++</option>
                                <option selected>C#</option>
                                <option selected>JavaScript</option>
                                <option selected>Ruby</option>
                                <option selected>Swift</option>
                                <option selected>Kotlin</option>
                                <option selected>Data Science</option>
                                <option selected>Machine Learning</option>
                                <option selected>Deep Learning</option>
                                <option selected>Natural Language Processing (NLP)</option>
                                <option selected>TensorFlow</option>
                                <option selected>PyTorch</option>
                            </select>
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                    <br>

                    <h2>JOIN WHATSAPP GROUPS FOR UPDATES<br><br>
                        <img src="./assets/whatsappjpg">
                    </h2>
                    <h2>WATCH FREE TUTORIALS<br><br>
                        <img src="./assets/telegramjpeg">
                    </h2>
                    <h2>JOIN US ON TELEGRAM FOR UPDATES<br><br>
                        <img src="./assets/freejpg">
                    </h2>
                    <h2>FIND COURSES HERE</h2>
                    <li>courses traning</li>
                    <li>Android Training</li>
                    <li>iPhone Training</li>
                    <li>Asp.Net Training</li>
                    <li>Asp.Net MVC Training</li>
                    <li>C#.NET Training</li>
                    <li>C++ Training</li>
                    <li>Data Structure Training</li>
                    <li>Java Training</li>
                    <ul class="list">
                        <li>Core Java Training</li>
                        <li>Advanced Java Training</li>
                        <li>Hibernate Training</li>
                        <li>J2EE Training</li>
                        <li>Spring 5.x Training</li>
                        <li>Hibernate Training</li>
                        <li>Web Services Training</li>
                        <li>Struts Training</li>
                        <li>XML Training</li>
                        <li>Java Online Training</li></ul>
                    <li>Oracle Training</li>
                    <li>SQL Server Training</li>
                    <li>Selenium Training</li>
                    <li>UNIX LINUX Training</li>
                    <li>PHP Training</li>
                    <li>HTML5 CSS3 Training</li>
                    <li>jQuery Training</li>
                    <li>UI Technologies Training</li>
                    <li>UI UX Training</li>
                    <li>AngularJS Training</li>
                    <ul class="list">
                        <li>Angular 2 Training</li>
                        <li>Angular 4 Training</li>
                        <li>Angular 6 Training</li>
                        <li>Angular 7 Training</li>
                    </ul>
                    <li>Data Science Training</li>
                    <li>Artificial Intelligence Training</li>
                    <li>Hadoop Training</li>
                    <li>Apache Spark Training</li>
                    <li>Python Training</li>
                    <li>Hadoop Online Training</li>
                    <li>DevOps Training</li>
                    <li>AWS Training</li>
                    <li>IoT Training</li>
                    <li>SalesForce CRM Training</li>
                    <li>Digital Marketing Training</li>
                    <li>RPA Training</li>
                    <ul class="list">
                        <li>Blue Prism Training</li>
                        <li>Automation Anywhere Training</li>
                        <li>Automation Anywhere Online Training</li>
                    </ul>
                    <li>Blockchain Training</li>
                    <li>Realtime Projects</li>
                    <ul class="list">
                        <li>Real Time Java Project</li>
                        <li>Real-Time Project on PHP</li></ul>
                    <li>Doubleclick for Publishers Training</li>
                    <li>Software Training in Chennai</li>
                    <li>Testing Tools Training</li>
                    <li>Full Stack Web Development Course</li>
                    <li>Full Stack Web Development Course</li>
                    <li>Full Stack Java Developer Course</li>
               </div>
           </div>
        </div>
    </div>
</body>
<%= render "fooder" %>
<br>
<p class="paragrap" style="font-weight: bold;">© 2023 Naresh i Technologies | Software Training - Online Training - Live Project Training - Weekend Training</p>