<%= render "header" %>
<style>
    h{
        font-weight: bold;
    }pr li{
    margin-left: 35px;
    font-size: 12px;
    font-style: italic;
    }
    .course-card {
        margin-bottom: 20px;
    }
    .left-box {
        padding: 20px;
/*        width: 120%;*/
    }

    .right-box {
        padding: 20px;
        margin-top: 20px;
    }

    
    h1 {
        font-weight: bold;
    }

    h2 {
        font-weight: bold;
        margin: 0px;
        margin-top: 20px; 
       font-size: 19px;
    }
    h3{
        color: red;
        font-size: 16px;
        margin-left: 135px;
    }
    h4{
        font-size: 1.5rem;
        margin-top: 102px;
        font-size: 20px;
        font-weight: bold;
    }
    a1, td {
        color: red;
    }
    .text-black {
        color: black !important;
    }
    .star{
        margin-left: 210px;
    }
    span.Rating{    
        margin-left: 28px;
    }
    p{
        font-size: 12px
    }
    .ser {
        font-size: 27px;
        font-weight: bold;
        margin: 16px;
    }
</style>
<body>
<div class="row">
<!-- Left Box -->
<div class="col-md-6">
    <div class="left-box">
        <h4 class="border-bottom pb-2">AngularJS Training</h4>
        <a1 class="border-bottom pb-2">NIT Manager</a1>
        <div class="left-box">
            <h class="services" style="font-size: 12px; font-weight: bold;">AngularJS Training Overview</h>
            <p class="paragrap" style="margin-top: 20px; word-spacing: 2px;">AngularJS is one of the<a1> JavaScript</a1> open-source web application frameworks which is generally used to add an<strong> HTML</strong> page along with a tag. The major aim of AngularJS is to simplify the application development and testing performance by providing a framework called<strong> MVC (Model View Controller) </strong>Architecture. It enables the application to change from bulk amount of programming code into a simple code</p>
        </div>
        <h2 class="ser">AngularJS Training Objectives</h2>
        <pr>
            <li>Reducing Code Complexity for UI Applications</li>
            <li>Creating Single Page Applications (SPAs)</li>
            <li>Efficient Data Retrieval and Manipulation from the Back-end Server</li>
        </pr><br>
        <div class="left-box">
            <h class="services" style="font-size: 12px; font-weight: bold;">Who should do the course</h>
            <p class="paragrap" style="margin-top: 20px; word-spacing: 2px;">Anyone who are showing interest towards course to build their career in Angular world</p>
        </div>
        <h2 class="ser">Prerequisites for AngularJS Course</h2>
        <pr>
            <li>HTML</li>
            <li>JavaScript</li>
        </pr><br>
        <h2 class="ser">Angular JS Course Content</h2>
        <h2 class="ser">AngularJS Introduction</h2>
        <pr>
            <li>Introduction To Client Side Scripting Languages</li>
            <li>Basics of Javascript and jQuery</li>
            <li>Introduction to AngularJS and Its History</li>
            <li>Why should we use AngularJS?</li>
        </pr><br>
        <h2 class="ser">Execution flow</h2>
        <h2 class="ser">Controllers in AngularJS</h2>
        <pr>
            <li>Properties and Methods in Controllers</li>
            <li>Binding Controllers with Views</li>
            <li>Understanding Controller Hierarchy</li>
            <li>Sharing Data Between Controllers</li>
        </pr><br>
        <h2 class="ser">Bootstrapping Angular Apps</h2>
        <pr>
            <li>Auto Bootstrap</li>
            <li>Custom Bootstrap</li>
        </pr><br>
        <h2 class="ser">Data Binding and Scopes in AngularJS</h2>
        <pr>
            <li>Binding Model Objects</li>
            <li>Model Objects Visibility</li>
            <li>$scope and $rootScope</li>
            <li>Differences between $scope & $rootScope</li>
            <li>Using $emit and $broadcast for Event Propagation</li>
        </pr><br>

        <h2 class="ser">JSON Usage in AngularJS</h2>
        <pr>
            <li>Advantages of JSON</li>
            <li>Using JSON in AngularJS</li>
        </pr><br>

        <h2 class="ser">Using $watch, $digest & $apply</h2>
        <pr>
            <li>Understanding $watch</li>
            <li>Understanding $digest</li>
            <li>Using $apply</li>
        </pr><br>
        <h2 class="ser">Understanding AngularJS Architecture</h2>
        <h2 class="ser">Dependency Injection in AngularJS</h2>
        <pr>
            <li>What is Dependency Injection?</li>
            <li>Implicit DI</li>
            <li>Inline Array Annotated DI</li>
            <li>$inject Array Annotated DI</li>
        </pr><br>
        <h2 class="ser">AngularJS Expressions</h2>
        <pr>
            <li>AngularJS Expressions Overview</li>
            <li>AngularJS Numbers</li>
            <li>AngularJS Strings</li>
            <li>AngularJS Arrays</li>
            <li>AngularJS Objects</li>
        </pr><br>
        <h2 class="ser">Directives in AngularJS</h2>
        <pr>
            <li>Understanding the Power of Directives</li>
            <li>Working with Built-in Directives</li>
            <li>ng-app and ng-init Directives</li>
            <li>ng-model and ng-repeat Directives</li>
            <li>ng-class and ng-template Directives</li>
            <li>ng-include Directive</li>
            <li>Working with Custom Directives</li>
        </pr><br>
        <h2 class="ser">Filters in AngularJS</h2>
        <pr>
            <li>Adding Filters to Expressions and Directives</li>
            <li>Working with Built-in Filters</li>
            <li>Creating Custom Filters</li>
        </pr><br>
        <h2 class="ser">Events and Element Manipulation in AngularJS</h2>
        <pr>
            <li>Using ng-click for Handling Click Events</li>
            <li>Hiding HTML Elements with ng-show and ng-hide</li>
            <li>Disabling Elements with ng-disabled</li>
        </pr><br>
        <h2 class="ser">Modules in AngularJS</h2>
        <pr>
            <li>Understanding Modules in AngularJS</li>
            <li>Controllers and the Global Namespace</li>
            <li>Organizing AngularJS Application Files</li>
        </pr><br>
        <h2 class="ser">AJAX in AngularJS</h2>
        <pr>
            <li>Using XMLHttpRequest (AJAX) in AngularJS</li>
            <li>Utilizing AngularJS $http Service for AJAX</li>
        </pr><br>
        <h2 class="ser">AngularJS Forms & Input Validation</h2>
        <h2 class="ser">AngularJS Service Types</h2>
        <pr>
            <li>Constants and Values</li>
            <li>Factories</li>
            <li>Services</li>
            <li>Providers</li>
        </pr><br>

        <h2 class="ser">Single Page Applications (SPA) in AngularJS</h2>
        <pr>
            <li>Overview of Single Page Applications</li>
            <li>Working with SPAs in AngularJS</li>
        </pr><br>

        <h2 class="ser">REST API Calls in AngularJS</h2>
        <pr>
            <li>Overview of REST API</li>
            <li>Use of AngularJS $resource Module for REST API Calls</li>
        </pr><br>

        <h2 class="ser">Animations in AngularJS</h2>
        <pr>
            <li>Overview of Transitions</li>
            <li>Utilizing AngularJS ngAnimate Module for Animations</li>
        </pr><br>

        <h2 class="ser">Working with Routes in AngularJS</h2>
        <pr>
            <li>Static and Dynamic Routing</li>
            <li>Routing Concepts and Implementation</li>
        </pr><br>
        <h2 class="ser">Angular Integration with UI Frameworks</h2>
        <pr>
            <li>Using UI Bootstrap with Angular</li>
            <li>Integration of Angular with Angular Material</li>
        </pr><br>

        <h2 class="ser">Behavior Driven Development (BDD)</h2>
        <pr>
            <li>Understanding BDD</li>
            <li>Application of BDD in Angular Development</li>
        </pr><br>

        <form class="border-top border-bottom">
            <br>
            <h8>Click Here For<a1> AngularJS Online Training</a1></h8><br><br>
            <h8>Categories:<a1>Online Training</a1></h8>
            <br>
        </form>
    </div>
</div>

<div class="col-md-6 px-4">
        <div class="right-box">
            <h3><a href="http://localhost:3000/home" style=" color: red;"> Home </a><svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="currentColor" class="bi bi-chevron-double-right" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M3.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L9.293 8 3.646 2.354a.5.5 0 0 1 0-.708z"/>
                <path fill-rule="evenodd" d="M7.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L13.293 8 7.646 2.354a.5.5 0 0 1 0-.708z"/>
            </svg> ONLINE TRAINING <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="currentColor" class="bi bi-chevron-double-right" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M3.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L9.293 8 3.646 2.354a.5.5 0 0 1 0-.708z"/>
                <path fill-rule="evenodd" d="M7.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L13.293 8 7.646 2.354a.5.5 0 0 1 0-.708z"/>
            </svg> AngularJS Training </h3><br><br>
            <div class="star">
            <span class="Rating"><a>Rating of &nbsp; <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="yellow" class="bi bi-star" viewBox="0 0 16 16">
                <polygon points="8 0 10 5 15 5 11.25 8.75 12.5 14.5 8 11 3.5 14.5 4.75 8.75 1 5" />
            </svg><svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="yellow" class="bi bi-star" viewBox="0 0 16 16">
                <polygon points="8 0 10 5 15 5 11.25 8.75 12.5 14.5 8 11 3.5 14.5 4.75 8.75 1 5" />
            </svg><svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="yellow" class="bi bi-star" viewBox="0 0 16 16">
                <polygon points="8 0 10 5 15 5 11.25 8.75 12.5 14.5 8 11 3.5 14.5 4.75 8.75 1 5" />
            </svg><svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="yellow" class="bi bi-star" viewBox="0 0 16 16">
                <polygon points="8 0 10 5 15 5 11.25 8.75 12.5 14.5 8 11 3.5 14.5 4.75 8.75 1 5" />
            </svg><svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="yellow" class="bi bi-star" viewBox="0 0 16 16">
                <polygon points="8 0 10 5 15 5 11.25 8.75 12.5 14.5 8 11 3.5 14.5 4.75 8.75 1 5" />
            </svg> </a></span><br>
            <a class="average" style="font-size: 10px;">Average of 4.98 on a total of 500 Ratings</a><br></div>
            <div class="training" style="margin-left: 142px; margin-top: 14px; font-size: 12px">
            <a herf="/trainers_profile" style="color: red;">Trainers Profile</a><br>
            <a href="/student_enquiry" style="color: red;">Student Enquiry</a><br>
            <a href="/corporate_training" style="color: red;">Corporate Training</a><br>
            <a href="/feedback" style="color: red;">Post your Feedback</a><br>
            <a href="/post_testimonials" style="color: red;">View/Post Testimonials<br>
            <a href="/contact" style="color: red;">Contact Us</a></a1></div>
            <div class="margin" style="margin-left: 141px;">
                <h2>Register for Course!</h3><br>
                <p>Learn from the Real-Time Experts</p>
                <br>
                    <form>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="firstName">First Name<span class="text-danger">*</span></label>
                                <input type="text" class="form-control" id="firstName" placeholder="Enter your first name">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="lastName">Last Name<span class="text-danger">*</span></label>
                                <input type="text" class="form-control" id="lastName" placeholder="Enter your last name">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="email">Email<span class="text-danger">*</span></label>
                                <input type="email" class="form-control" id="email" placeholder="Enter your email">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="phone">Phone<span class="text-danger">*</span></label>
                                <input type="tel" class="form-control" id="phone" placeholder="Enter your phone number">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="state">State</label>
                                <input type="tel" class="form-control" id="state" placeholder="Enter your phone number">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="modeOfTraining">Mode of Training<span class="text-danger">*</span></label>
                            <select id="modeOfTraining" class="form-control">
                                <option selected>Online Training</option>
                                <option selected>Classroom Training</option>
                                <option selected>Weekend Training</option>
                                <option selected>Project Training</option>
                                <option selected>Intership Training</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="course">Course</label>
                            <select id="course" class="form-control">
                                <option selected>Select Course</option>
                                <option selected>Python</option>
                                <option selected>Java</option>
                                <option selected>C++</option>
                                <option selected>C#</option>
                                <option selected>JavaScript</option>
                                <option selected>Ruby</option>
                                <option selected>Swift</option>
                                <option selected>Kotlin</option>
                                <option selected>Data Science</option>
                                <option selected>Machine Learning</option>
                                <option selected>Deep Learning</option>
                                <option selected>Natural Language Processing (NLP)</option>
                                <option selected>TensorFlow</option>
                                <option selected>PyTorch</option>
                            </select>
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                    <br>

                    <h2>JOIN WHATSAPP GROUPS FOR UPDATES<br><br>
                        <img src="./assets/whatsappjpg">
                    </h2>
                    <h2>WATCH FREE TUTORIALS<br><br>
                        <img src="./assets/telegramjpeg">
                    </h2>
                    <h2>JOIN US ON TELEGRAM FOR UPDATES<br><br>
                        <img src="./assets/freejpg">
                    </h2>
                    <h2>FIND COURSES HERE</h2>
                    <li>courses traning</li>
                    <li>Android Training</li>
                    <li>iPhone Training</li>
                    <li>Asp.Net Training</li>
                    <li>Asp.Net MVC Training</li>
                    <li>C#.NET Training</li>
                    <li>C++ Training</li>
                    <li>Data Structure Training</li>
                    <li>Java Training</li>
                    <ul class="list">
                        <li>Core Java Training</li>
                        <li>Advanced Java Training</li>
                        <li>Hibernate Training</li>
                        <li>J2EE Training</li>
                        <li>Spring 5.x Training</li>
                        <li>Hibernate Training</li>
                        <li>Web Services Training</li>
                        <li>Struts Training</li>
                        <li>XML Training</li>
                        <li>Java Online Training</li></ul>
                    <li>Oracle Training</li>
                    <li>SQL Server Training</li>
                    <li>Selenium Training</li>
                    <li>UNIX LINUX Training</li>
                    <li>PHP Training</li>
                    <li>HTML5 CSS3 Training</li>
                    <li>jQuery Training</li>
                    <li>UI Technologies Training</li>
                    <li>UI UX Training</li>
                    <li>AngularJS Training</li>
                    <ul class="list">
                        <li>Angular 2 Training</li>
                        <li>Angular 4 Training</li>
                        <li>Angular 6 Training</li>
                        <li>Angular 7 Training</li>
                    </ul>
                    <li>Data Science Training</li>
                    <li>Artificial Intelligence Training</li>
                    <li>Hadoop Training</li>
                    <li>Apache Spark Training</li>
                    <li>Python Training</li>
                    <li>Hadoop Online Training</li>
                    <li>DevOps Training</li>
                    <li>AWS Training</li>
                    <li>IoT Training</li>
                    <li>SalesForce CRM Training</li>
                    <li>Digital Marketing Training</li>
                    <li>RPA Training</li>
                    <ul class="list">
                        <li>Blue Prism Training</li>
                        <li>Automation Anywhere Training</li>
                        <li>Automation Anywhere Online Training</li>
                    </ul>
                    <li>Blockchain Training</li>
                    <li>Realtime Projects</li>
                    <ul class="list">
                        <li>Real Time Java Project</li>
                        <li>Real-Time Project on PHP</li></ul>
                    <li>Doubleclick for Publishers Training</li>
                    <li>Software Training in Chennai</li>
                    <li>Testing Tools Training</li>
                    <li>Full Stack Web Development Course</li>
                    <li>Full Stack Web Development Course</li>
                    <li>Full Stack Java Developer Course</li>
               </div>
           </div>
        </div>
    </div>
</body>
<%= render "fooder" %>
