<%= render "header" %>
<style>
    body {
        margin: 41px;
        padding: 0;
    }

    .course-card {
        margin-bottom: 20px;
    }
    .left-box {
        padding: 20px;
/*        width: 120%;*/
    }

    .right-box {
        padding: 20px;
        margin-top: 20px;
    }

    
    h1 {
        font-weight: bold;
    }

    h2 {
        font-weight: bold;
        margin: 0px;
        margin-top: 20px; 
       font-size: 19px;
    }
    h3{
        color: red;
        font-size: 16px;
        margin-left: 135px;
    }
    h4{
        font-size: 1.5rem;
        margin-top: 102px;
        font-size: 20px;
        font-weight: bold;
    }
    a1, td {
        color: red;
    }
    .text-black {
        color: black !important;
    }
    .star{
        margin-left: 210px;
    }
    span.Rating{    
        margin-left: 28px;
    }
    p{
        font-size: 12px
    }
</style>
<body>
<div class="row">
<!-- Left Box -->
<div class="col-md-6">
    <div class="left-box">
        <h4 class="border-bottom pb-2">AWS Training</h4>
        <a1 class="border-bottom pb-2">webmaster</a1>
        <div class="left-box">
            <h class="services" style="font-size: 12px; font-weight: bold;">AWS Training Overview</h>
            <p class="paragrap" style="margin-top: 20px; word-spacing: 2px;">This Instructor-led comprehensive AWS Training<h class="services" style="font-size: 12px; font-weight: bold;"> ( AWS Solutions Architect – Associate and Sysops  Administrator )</h>designed to show how to setup and run Cloud Services in Amazon Web Services (AWS) all the way through to IaaS with hands-on experience on AWS Public cloud.</p>

            <p>This course provides a strong foundation for implementing and designing cloud services.</p>
        </div>
        <h class="ser" style="font-size: 12px; font-weight: bold; margin: 16px;">AWS Training System Requirements</h><br><br>
        <pr><li>Compute (EC2)</li>
        <li>Storage (S3, EBS, EFS, Storage Gateway and Snowball)</li>
        <li>Database (RDS, DMS and Redshift)</li>
        <li>Network and Content Delivery (Route 53, VPC and Cloud Front)</li>
        <li>Management Tools (Cloud Watch, Cloud Formation and Cloud Trail)</li>
        <li>Security & Identity Compliance (IAM, Trusted Advisor, Config and Inspector)</li>
        <li>Application Services (SWF and Elastic Transcoder)</li>
        <li>Messaging (SNS, SQS and SES)</li>
        <li>Developer tools (Code Commit, Code Build, Code Deploy and Code Pipeline)</li></pr><br><br>
        <h class="ser" style="font-size: 12px; font-weight: bold; margin: 16px;">AWS Training Prerequisites</h><br><br>
        <pr><li>Absolute Beginners. No prior AWS experience is necessary</li>
        <li>Previous System Administration/Development knowledge would be an added advantage</li>
        <li>System Administrators Interested in Deploying Applications on AWS</li>
        <li>Cloud Computing Enthusiasts</li></pr><br><br>
        <h class="ser" style="font-size: 12px; font-weight: bold; margin: 16px;">AWS System Requirements</h><br><br>
        <pr><li>Need to set up an AWS Account</li>
        <li>Most of the Services come with AWS free tier eligibility</li>
        <li>For Windows: Putty, Putty KeyGen, and a Web Browser with Internet connectivity</li>
        <li>For Linux/Mac: Default Terminal</li></pr><br><br>
        <h class="ser" style="font-size: 12px; font-weight: bold; margin: 16px;">AWS Course Details</h><br><br>
        <pr><li>Duration: 35 Days</li>
        <li>Daily Schedule: One Hour per Day</li></pr><br><br>

        <h class="ser" style="font-size: 12px; font-weight: bold; margin: 16px;">AWS Course Content</h><br><br>
        <h class="ser" style="font-size: 12px; font-weight: bold; margin: 16px;">Introduction to Cloud Computing</h><br><br>
        <pr><li>Essential Characteristics of Cloud Computing</li>
        <li>Service Models in Cloud Computing</li>
        <li>Deployment Models in Cloud Computing</li></pr><br><br>

        <h class="ser" style="font-size: 12px; font-weight: bold; margin: 16px;">Introduction to AWS</h><br><br>
        <pr><li>AWS Account Creation & Free Tier Limitations Overview</li>
        <li>Identity Access Management</li>
        <li>Root Account Vs IAM User</li>
        <li>Multi-Factor Authentication for Users</li>
        <li>IAM Password Policies</li>
        <li>Creating Customer Managed Policies</li>
        <li>Groups</li>
        <li>Roles</li></pr><br><br>
        <h class="ser" style="font-size: 12px; font-weight: bold; margin: 16px;">Storage - AWS Services</h><br><br>
        <pr><li>Glacier Storage</li>
        <li>What is Simple Storage Service (S3)</li>
        <li>Storage Classes</li>
        <li>Versioning</li>
        <li>Cross-region Replication</li>
        <li>Life Cycle Management</li>
        <li>Security & Encryption</li>
        <li>Static Webhosting with S3 Bucket</li>
        <li>Events Configuration on S3 Buckets</li>
        <li>Enabling Cross-account Access for S3</li>
        <li>S3 Data Management and Backup using 3rd Party Applications</li>
        <li>S3 Cross-account Access and Pre-signed URLs</li>
        <li>Storage Gateway</li></pr><br><br>
        <h class="ser" style="font-size: 12px; font-weight: bold; margin: 16px;">Linux Introduction for AWS</h><br><br>
        <pr><li>Basics of Linux for AWS</li>
        <li>Linux Installation and Basic Commands Overview</li>
        <li>Web Server and Services Configurations</li></pr><br><br>
        <h class="ser" style="font-size: 12px; font-weight: bold; margin: 16px;">Compute - AWS Services</h><br><br>
        <pr><li>EC2 Instance Launch Wizard</li>
        <li>EC2 Instance Types</li>
        <li>Generating Custom Public Key and Private Keys for EC2 Instances</li>
        <li>Security Groups</li>
        <li>Volumes and Snapshots</li>
        <li>Creating Customized Amazon Machine Images</li>
        <li>RAID Overview and RAID Configurations</li>
        <li>User Data and Metadata</li>
        <li>ElasticLoad Balancers & Health Checks</li>
        <li>Auto Scaling Groups</li>
        <li>CloudWatch</li>
        <li>Creating Billing Alarm and EC2 Instance Alarms</li>
        <li>AWS CLI & EC2 Roles</li>
        <li>Elastic File System</li>
        <li>AWS Lightsail</li>
        <li>Elastic Beanstalk</li>
        <li>Placement Groups</li></pr><br><br>

        <h class="ser" style="font-size: 12px; font-weight: bold; margin: 16px;">Route 53 - AWS Services</h><br><br>
        <pr><li>DNS Records Overview</li>
        <li>Routing Policies</li>
        <li>Hosting Sample Website and Configuring Policies</li>
        <li>Simple Routing Policy</li>
        <li>Latency Routing Policy</li>
        <li>Failover Routing Policy</li>
        <li>Weighted Routing Policy</li>
        <li>Geolocation Routing Policy</li></pr><br><br>
        <h class="ser" style="font-size: 12px; font-weight: bold; margin: 16px;">Databases - AWS Services</h><br><br>
        <pr><li>Launching RDS Instances (MySQL, MSSQL & Aurora)</li>
        <li>Multi-AZ & Read Replicas for RDS Instances</li>
        <li>DynamoDB</li>
        <li>Redshift</li>
        <li>ElastiCache</li>
        <li>Database Migration Service and Schema Conversion Tool</li></pr><br><br>

        <h class="ser" style="font-size: 12px; font-weight: bold; margin: 16px;">VPC and Networking - AWS Services</h><br><br>
        <pr><li>Networking Basics</li>
        <li>Creating Custom VPCs and Custom Subnets</li>
        <li>Network ACL’s</li>
        <li>Route Tables & IGW (Internet Gateway)</li>
        <li>VPC Peering</li>
        <li>Flow Log Creation</li>
        <li>VPN Configuration with AWS (OpenVPN)</li></pr><br><br>

        <h class="ser" style="font-size: 12px; font-weight: bold; margin: 16px;">Security Options - AWS Services</h><br><br>
        <pr><li>CloudTrail</li>
        <li>AWS Config</li>
        <li>Key Management Services</li>
        <li>AWS Certificate Manager</li>
        <li>AWS Inspector</li>
        <li>AWS Trusted Advisor</li>
        <pr><li>CloudFront (Content Delivery Network)</li></pr><br><br>
        <h class="ser" style="font-size: 12px; font-weight: bold; margin: 16px;">Application Services - AWS</h><br><br>
        <pr><li>Simple Email Service (SES)</li>
        <li>Simple Queue Service (SQS)</li>
        <li>Simple Workflow Service (SWF)</li>
        <li>Simple Notification Service (SNS)</li>
        <li>SMS – Server Migration Service</li>
        <li>Migrating Server from On-premises to Cloud</li>
        <li>CloudFormation</li>
        <li>Directory Services and Adding EC2 Instance to Domain</li>
        <li>AWS TCO Calculator and Simple Monthly Calculator</li></pr><br><br>

        <h class="ser" style="font-size: 12px; font-weight: bold; margin: 16px;">DevOps Tools in AWS</h><br><br>
        <pr><li>What is DevOps in Cloud</li>
        <li>Code Pipeline</li>
        <li>Code Commit, Code Build</li>
        <li>Code Deploy</li>
        <li>Lambda</li></pr><br><br>
        <h class="ser" style="font-size: 12px; font-weight: bold; margin: 16px;">Monitoring, Security, and Best Practices</h><br><br>
        <pr><li>Monitoring Tools</li>
        <li>Creating Custom Metrics with CloudWatch</li>
        <li>Amazon White Papers Review</li>
        <li>Security Best Practices</li>
        <li>Reliability</li>
        <li>Performance Efficiency</li>
        <li>Cost Optimization</li>
        <li>Operational Excellence</li>
        </pr><br><br>

        <h class="services" style="font-size: 12px; font-weight: bold;">Quiz and Scenario-based Questions Discussion<br>Resume Key Points and AWS Certifications overview</h><br>
        <form class="border-top border-bottom">
            <br>
            <a1>AWS Interview Questions</a1><br><br>
            <h8>Click Here For<a1>  Hadoop Online Training</a1></h8><br><br>
            <h8>Categories:<a1>Online Training -- <h8 class="color" style='color: black;'>Tags:</h8> Chennai, Hyderabad</a1></h8>
            <br>
        </form>
    </div>
</div>

<div class="col-md-6 px-4">
        <div class="right-box">
            <h3><a href="http://localhost:3000/home" style=" color: red;"> Home </a><svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="currentColor" class="bi bi-chevron-double-right" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M3.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L9.293 8 3.646 2.354a.5.5 0 0 1 0-.708z"/>
                <path fill-rule="evenodd" d="M7.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L13.293 8 7.646 2.354a.5.5 0 0 1 0-.708z"/>
            </svg> CLASSROOM TRAINING <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="currentColor" class="bi bi-chevron-double-right" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M3.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L9.293 8 3.646 2.354a.5.5 0 0 1 0-.708z"/>
                <path fill-rule="evenodd" d="M7.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L13.293 8 7.646 2.354a.5.5 0 0 1 0-.708z"/>
            </svg>ALL COURSES </h3><br><br>
            <div class="star">
            <span class="Rating"><a>Rating of &nbsp; <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="yellow" class="bi bi-star" viewBox="0 0 16 16">
                <polygon points="8 0 10 5 15 5 11.25 8.75 12.5 14.5 8 11 3.5 14.5 4.75 8.75 1 5" />
            </svg><svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="yellow" class="bi bi-star" viewBox="0 0 16 16">
                <polygon points="8 0 10 5 15 5 11.25 8.75 12.5 14.5 8 11 3.5 14.5 4.75 8.75 1 5" />
            </svg><svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="yellow" class="bi bi-star" viewBox="0 0 16 16">
                <polygon points="8 0 10 5 15 5 11.25 8.75 12.5 14.5 8 11 3.5 14.5 4.75 8.75 1 5" />
            </svg><svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="yellow" class="bi bi-star" viewBox="0 0 16 16">
                <polygon points="8 0 10 5 15 5 11.25 8.75 12.5 14.5 8 11 3.5 14.5 4.75 8.75 1 5" />
            </svg><svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="yellow" class="bi bi-star" viewBox="0 0 16 16">
                <polygon points="8 0 10 5 15 5 11.25 8.75 12.5 14.5 8 11 3.5 14.5 4.75 8.75 1 5" />
            </svg> </a></span><br>
            <a class="average" style="font-size: 10px;">Average of 4.98 on a total of 500 Ratings</a><br></div>
            <div class="training" style="margin-left: 142px; margin-top: 14px; font-size: 12px">
            <a herf="/trainers_profile" style="color: red;">Trainers Profile</a><br>
            <a href="/student_enquiry" style="color: red;">Student Enquiry</a><br>
            <a href="/corporate_training" style="color: red;">Corporate Training</a><br>
            <a href="/feedback" style="color: red;">Post your Feedback</a><br>
            <a href="/post_testimonials" style="color: red;">View/Post Testimonials<br>
            <a href="/contact" style="color: red;">Contact Us</a></a1></div>
            <div class="margin" style="margin-left: 141px;">
                <h2>Register for Course!</h3><br>
                <p>Learn from the Real-Time Experts</p>
                <br>
                    <form>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="firstName">First Name<span class="text-danger">*</span></label>
                                <input type="text" class="form-control" id="firstName" placeholder="Enter your first name">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="lastName">Last Name<span class="text-danger">*</span></label>
                                <input type="text" class="form-control" id="lastName" placeholder="Enter your last name">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="email">Email<span class="text-danger">*</span></label>
                                <input type="email" class="form-control" id="email" placeholder="Enter your email">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="phone">Phone<span class="text-danger">*</span></label>
                                <input type="tel" class="form-control" id="phone" placeholder="Enter your phone number">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="state">State</label>
                                <input type="tel" class="form-control" id="state" placeholder="Enter your phone number">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="modeOfTraining">Mode of Training<span class="text-danger">*</span></label>
                            <select id="modeOfTraining" class="form-control">
                                <option selected>Online Training</option>
                                <option selected>Classroom Training</option>
                                <option selected>Weekend Training</option>
                                <option selected>Project Training</option>
                                <option selected>Intership Training</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="course">Course</label>
                            <select id="course" class="form-control">
                                <option selected>Select Course</option>
                                <option selected>Python</option>
                                <option selected>Java</option>
                                <option selected>C++</option>
                                <option selected>C#</option>
                                <option selected>JavaScript</option>
                                <option selected>Ruby</option>
                                <option selected>Swift</option>
                                <option selected>Kotlin</option>
                                <option selected>Data Science</option>
                                <option selected>Machine Learning</option>
                                <option selected>Deep Learning</option>
                                <option selected>Natural Language Processing (NLP)</option>
                                <option selected>TensorFlow</option>
                                <option selected>PyTorch</option>
                            </select>
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                    <br>

                    <h2>JOIN WHATSAPP GROUPS FOR UPDATES<br><br>
                        <img src="./assets/whatsappjpg">
                    </h2>
                    <h2>WATCH FREE TUTORIALS<br><br>
                        <img src="./assets/telegramjpeg">
                    </h2>
                    <h2>JOIN US ON TELEGRAM FOR UPDATES<br><br>
                        <img src="./assets/freejpg">
                    </h2>
                    <h2>FIND COURSES HERE</h2>
                    <li>courses traning</li>
                    <li>Android Training</li>
                    <li>iPhone Training</li>
                    <li>Asp.Net Training</li>
                    <li>Asp.Net MVC Training</li>
                    <li>C#.NET Training</li>
                    <li>C++ Training</li>
                    <li>Data Structure Training</li>
                    <li>Java Training</li>
                    <ul class="list">
                        <li>Core Java Training</li>
                        <li>Advanced Java Training</li>
                        <li>Hibernate Training</li>
                        <li>J2EE Training</li>
                        <li>Spring 5.x Training</li>
                        <li>Hibernate Training</li>
                        <li>Web Services Training</li>
                        <li>Struts Training</li>
                        <li>XML Training</li>
                        <li>Java Online Training</li></ul>
                    <li>Oracle Training</li>
                    <li>SQL Server Training</li>
                    <li>Selenium Training</li>
                    <li>UNIX LINUX Training</li>
                    <li>PHP Training</li>
                    <li>HTML5 CSS3 Training</li>
                    <li>jQuery Training</li>
                    <li>UI Technologies Training</li>
                    <li>UI UX Training</li>
                    <li>AngularJS Training</li>
                    <ul class="list">
                        <li>Angular 2 Training</li>
                        <li>Angular 4 Training</li>
                        <li>Angular 6 Training</li>
                        <li>Angular 7 Training</li>
                    </ul>
                    <li>Data Science Training</li>
                    <li>Artificial Intelligence Training</li>
                    <li>Hadoop Training</li>
                    <li>Apache Spark Training</li>
                    <li>Python Training</li>
                    <li>Hadoop Online Training</li>
                    <li>DevOps Training</li>
                    <li>AWS Training</li>
                    <li>IoT Training</li>
                    <li>SalesForce CRM Training</li>
                    <li>Digital Marketing Training</li>
                    <li>RPA Training</li>
                    <ul class="list">
                        <li>Blue Prism Training</li>
                        <li>Automation Anywhere Training</li>
                        <li>Automation Anywhere Online Training</li>
                    </ul>
                    <li>Blockchain Training</li>
                    <li>Realtime Projects</li>
                    <ul class="list">
                        <li>Real Time Java Project</li>
                        <li>Real-Time Project on PHP</li></ul>
                    <li>Doubleclick for Publishers Training</li>
                    <li>Software Training in Chennai</li>
                    <li>Testing Tools Training</li>
                    <li>Full Stack Web Development Course</li>
                    <li>Full Stack Web Development Course</li>
                    <li>Full Stack Java Developer Course</li>
               </div>
           </div>
        </div>
    </div>
</body>
<%= render "fooder" %>
<br>
<p class="paragrap" style="font-weight: bold;">© 2023 Naresh i Technologies | Software Training - Online Training - Live Project Training - Weekend Training</p>