<%= render "header" %>
<style>
    body {
        margin: 41px;
        padding: 0;
    }
    h{
        font-weight: bold;
    }pr li{
    margin-left: 35px;
    font-size: 12px;
    font-style: italic;
    }
    .course-card {
        margin-bottom: 20px;
    }
    .left-box {
        padding: 20px;
/*        width: 120%;*/
    }

    .right-box {
        padding: 20px;
        margin-top: 20px;
    }

    
    h1 {
        font-weight: bold;
    }

    h2 {
        font-weight: bold;
        margin: 0px;
        margin-top: 20px; 
       font-size: 19px;
    }
    h3{
        color: red;
        font-size: 16px;
        margin-left: 135px;
    }
    h4{
        font-size: 1.5rem;
        margin-top: 102px;
        font-size: 20px;
        font-weight: bold;
    }
    a1, td {
        color: red;
    }
    .text-black {
        color: black !important;
    }
    .star{
        margin-left: 210px;
    }
    span.Rating{    
        margin-left: 28px;
    }
    p{
        font-size: 12px
    }
    .ser {
        font-size: 12px;
        font-weight: bold;
        margin: 16px;
    }
</style>
<body>
<div class="row">
<!-- Left Box -->
<div class="col-md-6">
    <div class="left-box">
        <h4 class="border-bottom pb-2">C#.NET Training</h4>
        <a1 class="border-bottom pb-2">NIT Manager</a1>
        <div class="left-box">
            <h class="services" style="font-size: 12px; font-weight: bold;">About C#.Net Training</h>
            <p class="paragrap" style="margin-top: 20px; word-spacing: 2px;"> This C#.NET training teaches non-experienced people how to create the Solutions/Applications using C#.NET.  C#.NET is Microsoft’s entry into the world of managed programming. Using a syntax that is deliberately from Java, C++ and C, C#.NET achieves a natural trade-off of terseness and clarity,  enabling programmers to express concepts in a clear and maintainable form. The recent enhancements to the language have made it even more powerful than before, allowing programmers to work with C#.NET in both an Object-Oriented and partially functional style.</p>
        </div>
        <h class="ser">C#.Net Training Course Prerequisite</h><br><br>
        <pr>
            <li>No prior experience is presumed.</li>
        </pr><br><br>
        <h class="ser">C#.Net Training Course Content Objective</h><br><br>
        <pr>
            <li>Learn the fundamentals of C# programming in Visual Studio.</li>
            <li>Using .Net Framework</li>
            <li>Working with variables, data types</li>
            <li>Work with standard programming skills</li>
            <li>Exception Handling in C#</li>
            <li>Object oriented programming in C#</li>
            <li>Object oriented techniques</li>
            <li>Working with Arrays</li>
            <li>Create Generic classes and methods.</li>
            <li>Collections in C#</li>
            <li>Generate and test your own classes using the Class Designer and Object Test Bench tools.</li>
            <li>Use delegate types to provide flexibility and type safety.</li>
            <li>Use anonymous types, lambda expressions, extension methods, object initializers, and implicit type declarations.</li>
        </pr><br><br>
        <h class="ser">C#.Net Training Course Duration</h><br><br>
        <pr>
            <li>Normal Track: 60 Working days, daily one and a half hours</li>
            <li>Fast Track: 40 Working days, daily two hours</li><br>
            <div style="text-align:center;">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/0u9k-kOR3KE" frameborder="0" allowfullscreen></iframe>
            </div>

        </pr><br><br>
        <h2 class="ser">C#.NET Training Course Overview</h2>
        <h class="ser">Introduction/Overview of .Net</h><br><br>
        <pr>
            <li>Introduction to .Net</li>
            <li>Platform for the .Net</li>
            <li>Drawbacks of Current Trend</li>
            <li>Net Framework – BCL & CLR | Key design goals</li>
            <li>CLR, CTS, MSIL & other tools.</li>
            <li>Multiple Language Interaction & support | Moving from Project to Assemblies...</li>
            <li>Security in .NET – CAS</li>
        </pr><br><br>
        <h class="ser">.Net Framework [Advanced]</h><br><br>
<pr>
    <li>Advantages/Disadvantages</li>
    <li>Features of .Net</li>
    <li>Assemblies in Detail</li>
    <li>GAC, Strong Names</li>
    <li>Language Interop</li>
    <li>Reflection</li>
</pr><br><br>
<h class="ser">Visual C#.Net Language</h><br><br>
<pr>
    <li>Advantages/Disadvantages</li>
    <li>Why C#/Why Not C#</li>
    <li>Where does C# Fit in</li>
    <li>C, C++ to Visual C#</li>
    <li>Features of C#</li>
    <li>.NET Namespaces</li>
</pr><br><br>
<h class="ser">.Net Installations/C#.Net</h><br><br>
<pr>
    <li>.NET Versions – 1.1/2.0/3.0/3.5 Beta</li>
    <li>Visual Studio.NET 2003/2005/Orcas/2008</li>
    <li>Windows Vista – New Look</li>
    <li>Gadgets/SideBars/UAC – relation with .NET</li>
    <li>Hardware/Software Requirements</li>
    <li>FAQ’s with detailed answers</li>
</pr><br><br>
<h class="ser">Programming Using Visual C#.Net</h><br><br>
<pr>
    <li>The start of the application</li>
    <li>C#.Net Program Design</li>
    <li>Variables and types</li>
    <li>Value types and reference types (CTS)</li>
    <li>Strings and arrays</li>
    <li>The Console class</li>
    <li>String formatting</li>
    <li>Statements and flows</li>
    <li>Programming Structures</li>
    <li>Command-line arguments</li>
    <li>VS.NET to Create C#.NET Apps</li>
    <li>C# 3.0/3.5 features – Implicit types, Extension Methods and more</li>
</pr><br><br>
<h class="ser">Introduction To Windows Forms - I</h><br><br>
<pr>
    <li>Windows forms library - WinForms</li>
    <li>Layout Enhancements</li>
    <li>Forms and controls - Hierarchy</li>
    <li>Creating simple GUI by hand</li>
    <li>Event handling</li>
    <li>Basic controls - Windows forms buttons, check boxes, radio buttons, panels, group boxes, list boxes, picture boxes...</li>
</pr><br><br>
<h class="ser">Windows Forms - II</h><br><br>
<pr>
    <li>Menus</li>
    <li>Built-in dialog boxes and printing</li>
    <li>Extender Controls</li>
    <li>ToolStrips, StatusStrips, and progress bars</li>
    <li>A new MDI forms strategy</li>
    <li>Inheritance with forms</li>
    <li>New Controls - Web Browser, Property Grid, etc.</li>
</pr><br><br>
<h class="ser">Object Oriented Concepts (Basic)</h><br><br>
<pr>
    <li>Classes & objects</li>
    <li>Abstract & override methods</li>
    <li>Creating and using your own classes</li>
    <li>Data members and member methods</li>
    <li>Instantiate an object</li>
    <li>This keyword</li>
    <li>Properties - Read Only, Write Only...</li>
    <li>Build process using windows class library</li>
    <li>Generate classes for other clients</li>
    <li>How to use classes as part of project</li>
</pr><br><br>
<h class="ser">Object Oriented Concepts (Advanced)</h><br><br>
<pr>
    <li>Accessibility levels, specifiers</li>
    <li>Constructors</li>
    <li>Method overloading</li>
    <li>Class (static) variables & methods</li>
    <li>Object destruction</li>
    <li>'ref' and 'out' parameters</li>
    <li>Constant values</li>
    <li>Enumerations</li>
    <li>Inheritance and Polymorphism</li>
    <li>The root of all classes</li>
    <li>Creating derived classes</li>
    <li>Method overriding and hiding</li>
    <li>Polymorphism and virtual functions</li>
    <li>Casting objects</li>
    <li>Abstract classes</li>
    <li>Sealed classes</li>
    <li>Static classes</li>
</pr><br><br>
<h class="ser">Object Oriented Concepts (Implementation Oriented)</h><br><br>
<pr>
    <li>Case Studies</li>
    <li>Class Diagram in VS.Net</li>
    <li>Refactoring & others</li>
    <li>FAQ’s</li>
    <li>Error Handling</li>
    <li>Unstructured error handling support</li>
    <li>Structured error handling</li>
    <li>Error categories</li>
    <li>Debugging the application</li>
    <li>Debug and Trace classes</li>
    <li>Code Optimization</li>
    <li>Testing and strategies</li>
</pr><br><br>
<h class="ser">ADO.Net 1.1/2.0/LINQ</h><br><br>
<pr>
    <li>History and background</li>
    <li>From DAO to ADO.NET</li>
    <li>ADO.NET LINQ</li>
    <li>ADO.NET design goals</li>
    <li>The ADO.NET architecture and its components</li>
    <li>ADO.NET in relation to the other .NET tools</li>
    <li>DataSet in Real-Time Scenarios</li>
</pr><br><br>
<h class="ser">ADO.Net Components</h><br><br>
<pr>
    <li>Connected and disconnected environment</li>
    <li>ADO.NET object model</li>
    <li>Data sources, providers, and connections</li>
    <li>Commands and data readers</li>
    <li>Data sets and data adapters</li>
    <li>Data tables, rows, and columns</li>
    <li>Constraints and relations</li>
    <li>Data-centric applications - New ADO.Net Hierarchy</li>
</pr><br><br>
<h class="ser">Data Sources And .Net Data Providers</h><br><br>
<pr>
    <li>Connecting to a data source</li>
    <li>SQL Server .NET data provider</li>
    <li>OLE-DB .NET data provider</li>
    <li>Connections and connection strings</li>
    <li>SQL-Server integrated security</li>
    <li>Connection pooling</li>
    <li>ADO.NET exceptions</li>
</pr><br><br>

<h class="ser">Accessing Data In The Connected Environment</h><br><br>
<pr>
    <li>Commands</li>
    <li>Creating and executing commands</li>
    <li>Reading data using a data reader</li>
    <li>Batch queries & single result queries</li>
    <li>Parameterized queries (input & output parameters)</li>
    <li>Adding, editing, and deleting data</li>
    <li>Stored procedures</li>
</pr><br><br>
<h class="ser">Accessing Data In Disconnected Environment</h><br><br>
<pr>
    <li>Why using a disconnected environment?</li>
    <li>DataSet and DataAdapter features</li>
    <li>Filling datasets using data adapters</li>
    <li>Read data using data tables, rows and columns</li>
    <li>Batch queries and datasets</li>
    <li>Visual Studio Data Menu & tools</li>
    <li>DataSet Navigation</li>
    <li>DataSet Functionality</li>
    <li>DataSet Optimistic Concurrency</li>
</pr><br><br>

<h class="ser">Sorting, Searching And Filtering</h><br><br>
<pr>
    <li>Searching in datasets</li>
    <li>Find on primary keys</li>
    <li>Searching on any column</li>
    <li>Searching on row state</li>
    <li>Wildcard searches</li>
    <li>Sorting and filtering using data views</li>
    <li>Searching in a data view</li>
</pr><br><br>
<h class="ser">Live Case Study and Implementation Of ADO.NET in N-Tier</h><br><br>
<pr>
    <li>Client Server Basics</li>
    <li>N-Tier - Classical and New</li>
    <li>N-Tier importance w.r.t other .Net technologies</li>
    <li>Build User Interface Layer - importance</li>
    <li>Business Layer in N-Tier - advantages & disadvantages</li>
    <li>Data Access Layer - Generic/Specific Advantages</li>
    <li>N-Tier DataBase Application</li>
    <li>SQLHelper, CodeSmith etc. tools awareness</li>
</pr><br><br>

<h class="ser">XML</h><br><br>
<pr>
    <li>XML Basics - Importance in Today's world</li>
    <li>XML designers/support in VS.NET</li>
    <li>XML Derived Technologies - XSD, XSL, SOAP, WSDL</li>
</pr><br><br>

<h class="ser">XML IN .NET</h><br><br>
<pr>
    <li>System.Xml Namespace</li>
    <li>Stream Model XML</li>
    <li>XML DOM</li>
    <li>XmlTextReader, TextWriter</li>
    <li>XmlDocument/XmlDataDocument Classes</li>
    <li>DOM Objects - XMLNode/XMLNodeList</li>
    <li>XPATH - Query Language for XML</li>
    <li>DOM - Navigation & Access Case Studies</li>
</pr><br><br>
<h class="ser">Creating Custom Windows Controls</h><br><br>
<pr>
    <li>About user-defined controls</li>
    <li>Understanding the Control class with Container</li>
    <li>Add Properties/Methods/Events to Control</li>
    <li>Pack & use control in other Windows applications</li>
    <li>Create & implement a Windows control</li>
</pr><br><br>

<h class="ser">Windows Services*</h><br><br>
<pr>
    <li>Understanding services</li>
    <li>Creating Windows services</li>
    <li>Setting properties</li>
    <li>Compile, run & install services</li>
    <li>Event log services</li>
</pr><br><br>

<h class="ser">.Net Remoting</h><br><br>
<pr>
    <li>About Distributed Applications</li>
    <li>COM/DCOM in Distributed Environment</li>
    <li>Drawbacks of DCOM</li>
    <li>.NET Remoting - New distributed environment</li>
    <li>Advantages & Disadvantages</li>
    <li>Remoting - Web Services comparisons</li>
    <li>MBR, MBV</li>
    <li>Channels</li>
    <li>Formatters</li>
    <li>Programming Model - Object Styles & Lifestyles</li>
    <li>Activation</li>
    <li>Case Study - Implementation using Remoting</li>
</pr><br><br>

<h class="ser">Crystal Reports*</h><br><br>
<pr>
    <li>Reporting Need in the application</li>
    <li>Crystal Reports - Reporting Tool</li>
    <li>Different Versions of Crystal Reports</li>
    <li>Developing a Crystal Report</li>
    <li>Different ways to Invoke/Deploy Crystal Reports</li>
</pr><br><br>

<h class="ser">Application Deployment</h><br><br>
<pr>
    <li>Packaging Code</li>
    <li>ClickOnce Deployment</li>
    <li>Configuring the .Net framework</li>
    <li>Deploying the application in Web Server</li>
    <li>Deployment - other methods</li>
</pr><br><br>
        <form class="border-top border-bottom">
            <br>
            <h8>Click Here For<a1> C#.NET Training </a1></h8><br><br>
            <h8>Categories:<a1>Classroom Training -- <h8 class="color" style='color: black;'>Tags:</h8> chennai</a1></h8>
            <br>
        </form>
    </div>
</div>

<div class="col-md-6 px-4">
        <div class="right-box">
            <h3><a href="http://localhost:3000/home" style=" color: red;"> Home </a><svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="currentColor" class="bi bi-chevron-double-right" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M3.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L9.293 8 3.646 2.354a.5.5 0 0 1 0-.708z"/>
                <path fill-rule="evenodd" d="M7.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L13.293 8 7.646 2.354a.5.5 0 0 1 0-.708z"/>
            </svg> CLASSROOM TRAINING <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="currentColor" class="bi bi-chevron-double-right" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M3.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L9.293 8 3.646 2.354a.5.5 0 0 1 0-.708z"/>
                <path fill-rule="evenodd" d="M7.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L13.293 8 7.646 2.354a.5.5 0 0 1 0-.708z"/>
            </svg> C#.NET Training </h3><br><br>
            <div class="star">
            <span class="Rating"><a>Rating of &nbsp; <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="yellow" class="bi bi-star" viewBox="0 0 16 16">
                <polygon points="8 0 10 5 15 5 11.25 8.75 12.5 14.5 8 11 3.5 14.5 4.75 8.75 1 5" />
            </svg><svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="yellow" class="bi bi-star" viewBox="0 0 16 16">
                <polygon points="8 0 10 5 15 5 11.25 8.75 12.5 14.5 8 11 3.5 14.5 4.75 8.75 1 5" />
            </svg><svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="yellow" class="bi bi-star" viewBox="0 0 16 16">
                <polygon points="8 0 10 5 15 5 11.25 8.75 12.5 14.5 8 11 3.5 14.5 4.75 8.75 1 5" />
            </svg><svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="yellow" class="bi bi-star" viewBox="0 0 16 16">
                <polygon points="8 0 10 5 15 5 11.25 8.75 12.5 14.5 8 11 3.5 14.5 4.75 8.75 1 5" />
            </svg><svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="yellow" class="bi bi-star" viewBox="0 0 16 16">
                <polygon points="8 0 10 5 15 5 11.25 8.75 12.5 14.5 8 11 3.5 14.5 4.75 8.75 1 5" />
            </svg> </a></span><br>
            <a class="average" style="font-size: 10px;">Average of 4.98 on a total of 500 Ratings</a><br></div>
            <div class="training" style="margin-left: 142px; margin-top: 14px; font-size: 12px">
            <a herf="/trainers_profile" style="color: red;">Trainers Profile</a><br>
            <a href="/student_enquiry" style="color: red;">Student Enquiry</a><br>
            <a href="/corporate_training" style="color: red;">Corporate Training</a><br>
            <a href="/feedback" style="color: red;">Post your Feedback</a><br>
            <a href="/post_testimonials" style="color: red;">View/Post Testimonials<br>
            <a href="/contact" style="color: red;">Contact Us</a></a1></div>
            <div class="margin" style="margin-left: 141px;">
                <h2>Register for Course!</h3><br>
                <p>Learn from the Real-Time Experts</p>
                <br>
                    <form>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="firstName">First Name<span class="text-danger">*</span></label>
                                <input type="text" class="form-control" id="firstName" placeholder="Enter your first name">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="lastName">Last Name<span class="text-danger">*</span></label>
                                <input type="text" class="form-control" id="lastName" placeholder="Enter your last name">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="email">Email<span class="text-danger">*</span></label>
                                <input type="email" class="form-control" id="email" placeholder="Enter your email">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="phone">Phone<span class="text-danger">*</span></label>
                                <input type="tel" class="form-control" id="phone" placeholder="Enter your phone number">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="state">State</label>
                                <input type="tel" class="form-control" id="state" placeholder="Enter your phone number">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="modeOfTraining">Mode of Training<span class="text-danger">*</span></label>
                            <select id="modeOfTraining" class="form-control">
                                <option selected>Online Training</option>
                                <option selected>Classroom Training</option>
                                <option selected>Weekend Training</option>
                                <option selected>Project Training</option>
                                <option selected>Intership Training</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="course">Course</label>
                            <select id="course" class="form-control">
                                <option selected>Select Course</option>
                                <option selected>Python</option>
                                <option selected>Java</option>
                                <option selected>C++</option>
                                <option selected>C#</option>
                                <option selected>JavaScript</option>
                                <option selected>Ruby</option>
                                <option selected>Swift</option>
                                <option selected>Kotlin</option>
                                <option selected>Data Science</option>
                                <option selected>Machine Learning</option>
                                <option selected>Deep Learning</option>
                                <option selected>Natural Language Processing (NLP)</option>
                                <option selected>TensorFlow</option>
                                <option selected>PyTorch</option>
                            </select>
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                    <br>

                    <h2>JOIN WHATSAPP GROUPS FOR UPDATES<br><br>
                        <img src="./assets/whatsappjpg">
                    </h2>
                    <h2>WATCH FREE TUTORIALS<br><br>
                        <img src="./assets/telegramjpeg">
                    </h2>
                    <h2>JOIN US ON TELEGRAM FOR UPDATES<br><br>
                        <img src="./assets/freejpg">
                    </h2>
                    <h2>FIND COURSES HERE</h2>
                    <li>courses traning</li>
                    <li>Android Training</li>
                    <li>iPhone Training</li>
                    <li>Asp.Net Training</li>
                    <li>Asp.Net MVC Training</li>
                    <li>C#.NET Training</li>
                    <li>C++ Training</li>
                    <li>Data Structure Training</li>
                    <li>Java Training</li>
                    <ul class="list">
                        <li>Core Java Training</li>
                        <li>Advanced Java Training</li>
                        <li>Hibernate Training</li>
                        <li>J2EE Training</li>
                        <li>Spring 5.x Training</li>
                        <li>Hibernate Training</li>
                        <li>Web Services Training</li>
                        <li>Struts Training</li>
                        <li>XML Training</li>
                        <li>Java Online Training</li></ul>
                    <li>Oracle Training</li>
                    <li>SQL Server Training</li>
                    <li>Selenium Training</li>
                    <li>UNIX LINUX Training</li>
                    <li>PHP Training</li>
                    <li>HTML5 CSS3 Training</li>
                    <li>jQuery Training</li>
                    <li>UI Technologies Training</li>
                    <li>UI UX Training</li>
                    <li>AngularJS Training</li>
                    <ul class="list">
                        <li>Angular 2 Training</li>
                        <li>Angular 4 Training</li>
                        <li>Angular 6 Training</li>
                        <li>Angular 7 Training</li>
                    </ul>
                    <li>Data Science Training</li>
                    <li>Artificial Intelligence Training</li>
                    <li>Hadoop Training</li>
                    <li>Apache Spark Training</li>
                    <li>Python Training</li>
                    <li>Hadoop Online Training</li>
                    <li>DevOps Training</li>
                    <li>AWS Training</li>
                    <li>IoT Training</li>
                    <li>SalesForce CRM Training</li>
                    <li>Digital Marketing Training</li>
                    <li>RPA Training</li>
                    <ul class="list">
                        <li>Blue Prism Training</li>
                        <li>Automation Anywhere Training</li>
                        <li>Automation Anywhere Online Training</li>
                    </ul>
                    <li>Blockchain Training</li>
                    <li>Realtime Projects</li>
                    <ul class="list">
                        <li>Real Time Java Project</li>
                        <li>Real-Time Project on PHP</li></ul>
                    <li>Doubleclick for Publishers Training</li>
                    <li>Software Training in Chennai</li>
                    <li>Testing Tools Training</li>
                    <li>Full Stack Web Development Course</li>
                    <li>Full Stack Web Development Course</li>
                    <li>Full Stack Java Developer Course</li>
               </div>
           </div>
        </div>
    </div>
</body>
<%= render "fooder" %>
<br>
<p class="paragrap" style="font-weight: bold;">© 2023 Naresh i Technologies | Software Training - Online Training - Live Project Training - Weekend Training</p>