<%= render "header" %>
<style>
    body {
        margin: 41px;
        padding: 0;
    }
    h{
        font-weight: bold;
    }pr li{
    margin-left: 35px;
    font-size: 12px;
    font-style: italic;
    }
    .course-card {
        margin-bottom: 20px;
    }
    .left-box {
        padding: 20px;
/*        width: 120%;*/
    }

    .right-box {
        padding: 20px;
        margin-top: 20px;
    }

    
    h1 {
        font-weight: bold;
    }

    h2 {
        font-weight: bold;
        margin: 0px;
        margin-top: 20px; 
       font-size: 19px;
    }
    h3{
        color: red;
        font-size: 16px;
        margin-left: 135px;
    }
    h4{
        font-size: 1.5rem;
        margin-top: 102px;
        font-size: 20px;
        font-weight: bold;
    }
    a1, td {
        color: red;
    }
    .text-black {
        color: black !important;
    }
    .star{
        margin-left: 210px;
    }
    span.Rating{    
        margin-left: 28px;
    }
    p{
        font-size: 12px
    }
</style>
<body>
<div class="row">
<!-- Left Box -->
<div class="col-md-6">
    <div class="left-box">
        <h4 class="border-bottom pb-2">DevOps Training</h4>
        <a1 class="border-bottom pb-2">webmaster</a1>
        <div class="left-box">
            <h class="services" style="font-size: 12px; font-weight: bold;"> DevOps Course Overview</h>
            <p class="paragrap" style="margin-top: 20px; word-spacing: 2px;">This DevOps Training is to make an individual expert in all<a1> DevOps Concepts</a1>form the Basics. This  Course is Provided by the Real-Time professionals to make you understand the Real-Time IT Scenario’s and Problems.DevOps Training makes you master in the various aspects of the principles of continuous development and deployment, software development operations, continuous integration, automation of configuration management and learn the various tools like Git, Docker, Jenkins, Nagios, Puppet, Ansible and Kubernetes.</p>
        </div>
        <h class="ser" style="font-size: 12px; font-weight: bold; margin: 16px;">Objectives of the Course</h><br><br>
        <pr><li>To understand the DevOps Concepts and DevOps Tools</li>
        <li>Deploying the main DevOps tools</li>
        <li>To implement automated system updates and DevOps lifecycle</li>
        <li>To understand virtualization and performance</li>
        <li>Providing perfect security for the entire infrastructure</li></pr><br><br>

        <h class="ser" style="font-size: 12px; font-weight: bold; margin: 16px;">Pre-requisites</h><br><br>
        <pr><li>Basic knowledge of object-oriented programming is enough</li></pr><br><br>
        <h class="ser" style="font-size: 12px; font-weight: bold; margin: 16px;">Who Should Take This Course</h><br><br>
        <pr><li>Software Developers</li>
        <li>Project Managers</li>
        <li>IT Managers</li>
        <li>Development Managers</li>
        <li>Architects</li></pr><br><br>

        <h class="ser" style="font-size: 12px; font-weight: bold; margin: 16px;">DevOps Training Duration</h><br><br>
        <pr><li>Duration: 45 Days</li></pr><br><br>
        <h class="ser" style="font-size: 12px; font-weight: bold; margin: 16px;">DevOps Course Content</h><br><br>
        <pr><li>Introduction to DevOps</li>
        <li>What is DevOps?</li>
        <li>History of DevOps</li>
        <li>Dev and Ops Collaboration</li>
        <li>DevOps Definitions, Software Development Life Cycle, and Main Objectives</li>
        <li>Infrastructure as Code</li>
        <li>Prerequisites for DevOps</li>
        <li>Tools (Jenkins, Chef, Docker, Vagrant, etc.)</li>
        <li>Continuous Integration and Development</li></pr><br><br>
        <h class="ser" style="font-size: 12px; font-weight: bold; margin: 16px;">Linux Concepts</h><br><br>
        <pr><li>Linux Installation</li>
        <li>User Management</li>
        <li>Package Management</li>
        <li>Networking</li>
        </pr><br><br>

        <h class="ser" style="font-size: 12px; font-weight: bold; margin: 16px;">Automation Concepts</h><br><br>
        <pr><li>OS Basics</li>
        <li>Scripting Introduction</li>
        <li>Learn Shell Scripting</li>
        <li>Database Concepts</li>
        <li>Shell Variable, Decision Making, and Shell Test Conditions</li>
        <li>Shell Loops, Re-directors, Exit Status</li>
        </pr><br><br>
        <h class="ser" style="font-size: 12px; font-weight: bold; margin: 16px;">Revision Control System - Git and Subversion</h><br><br>
        <pr><li>Subversion Controls/Git</li>
        <li>Working with Local Repositories and Remote Repositories</li>
        <li>Branching</li>
        <li>Merging</li>
        <li>Cloning</li>
        <li>Fetch/Pull</li>
        <li>Installation of Git Server</li>
        </pr><br><br>

        <h class="ser" style="font-size: 12px; font-weight: bold; margin: 16px;">Configuration Management - Chef/Puppet/Ansible</h><br><br>
        <pr><li>Chef/Puppet/Ansible Introduction</li>
        <li>Chef Server Hands-On</li>
        <li>Workstation Setup</li>
        <li>Chef Distribution Kit and Concepts</li>
        </pr><br><br>
        <h class="ser" style="font-size: 12px; font-weight: bold; margin: 16px;">Environments and Cookbooks</h><br><br>
        <pr><li>Attributes</li>
        <li>Resources</li>
        <li>Cookbook</li>
        <li>Run List</li>
        <li>Recipes</li>
        <li>Supermarket</li></pr><br><br>

        <h class="ser" style="font-size: 12px; font-weight: bold; margin: 16px;">Build Automation with Maven</h><br><br>
        <pr><li>Introduction with Maven</li>
        <li>Maven Structure and Phases</li>
        <li>Installation of Maven</li>
        <li>Configuration</li>
        <li>JAR/WAR Project Structure</li></pr><br><br>
        <h class="ser" style="font-size: 12px; font-weight: bold; margin: 16px;">Tomcat Web Server</h><br><br>
        <pr><li>Installation and Configuration</li>
        <li>Tomcat Manager</li>
        <li>Application Management</li>
        <li>Application Deployment Methods</li></pr><br><br>

        <h class="ser" style="font-size: 12px; font-weight: bold; margin: 16px;">Nexus Artifacts/Proxy Tool</h><br><br>
        <pr><li>Introduction to Nexus</li>
        <li>Installation and Configuration</li>
        <li>Repository Management</li>
        <li>Proxy Management</li>
        <li>Integration with Maven</li></pr><br><br>
        <h class="ser" style="font-size: 12px; font-weight: bold; margin: 16px;">Jenkins Framework</h><br><br>
        <pr><li>Introduction to Jenkins</li>
        <li>Jenkins Installation</li>
        <li>User Profile and Management</li>
        <li>Security and Plugins Management</li>
        <li>Builds Setup</li>
        <li>Integration with Git, Maven, Tomcat</li></pr><br><br>
        <h class="ser" style="font-size: 12px; font-weight: bold; margin: 16px;">LAMP Setup</h><br><br>
        <h class="ser" style="font-size: 12px; font-weight: bold; margin: 16px;">Apache/HTTPD Web Service</h><br><br>
        <pr><li>Installation of Apache</li>
        <li>Configuration of Apache</li>
        <li>Static Pages</li>
        <li>Dynamic Pages</li>
        <li>PHP Integration</li></pr><br><br>

        <h class="ser" style="font-size: 12px; font-weight: bold; margin: 16px;">MySQL Database</h><br><br>
        <pr><li>Introduction to MySQL Database</li>
        <li>Configuration</li>
        <li>User Management</li>
        <li>Permission Management</li>
        <li>Creating Database</li>
        <li>Data Insertion/Update</li>
        <li>MySQL Data Backup, Hands-on</li>
        <li>MySQL GUI Tools</li></pr><br><br>
        <h class="ser" style="font-size: 12px; font-weight: bold; margin: 16px;">Installation of WordPress with LAMP</h><br><br>
        <pr><li>Vagrant</li>
        <li>Introduction to Vagrant</li>
        <li>Vagrant Terminologies</li>
        <li>Installation of Vagrant</li>
        <li>Vagrant Proxy Project and Hands-On</li></pr><br><br>
        <h class="ser" style="font-size: 12px; font-weight: bold; margin: 16px;">Working with Docker</h><br><br>
        <li>Introduction to Docker</li>
        <li>Docker Terminologies</li>
        <li>Installation of Docker</li>
        <li>Docker Image Creation and Docker Hands-On</li></pr><br><br>
        <h class="ser" style="font-size: 12px; font-weight: bold; margin: 16px;">System Monitoring - Nagios</h><br><br>
        <pr><li>Introduction to Nagios</li>
        <li>Concepts behind Nagios</li>
        <li>Nagios Installation</li>
        <li>Hands-On with Nagios</li></pr><br><br>

        <h class="ser" style="font-size: 12px; font-weight: bold; margin: 16px;">DevOps Project Work</h><br><br>
        <pr><li>Project LAMP Setup</li>
        <li>Web Layer Setup</li>
        <li>Database Layer Setup</li>
        <li>Application Layer Setup</li>
        <li>Monitoring using Nagios</li></pr><br><br>
        <form class="border-top border-bottom">
            <br>
            <h8>Click Here For<a1>  DevOps Online Training</a1></h8><br><br>
            <h8>Categories:<a1>Online Training -- <h8 class="color" style='color: black;'>Tags:</h8> Bangalore, Chennai</a1></h8>
            <br>
        </form>
    </div>
</div>


<div class="col-md-6 px-4">
        <div class="right-box">
            <h3><a href="http://localhost:3000/home" style=" color: red;"> Home </a><svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="currentColor" class="bi bi-chevron-double-right" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M3.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L9.293 8 3.646 2.354a.5.5 0 0 1 0-.708z"/>
                <path fill-rule="evenodd" d="M7.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L13.293 8 7.646 2.354a.5.5 0 0 1 0-.708z"/>
            </svg> CLASSROOM TRAINING <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="currentColor" class="bi bi-chevron-double-right" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M3.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L9.293 8 3.646 2.354a.5.5 0 0 1 0-.708z"/>
                <path fill-rule="evenodd" d="M7.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L13.293 8 7.646 2.354a.5.5 0 0 1 0-.708z"/>
            </svg>ALL COURSES </h3><br><br>
            <div class="star">
            <span class="Rating"><a>Rating of &nbsp; <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="yellow" class="bi bi-star" viewBox="0 0 16 16">
                <polygon points="8 0 10 5 15 5 11.25 8.75 12.5 14.5 8 11 3.5 14.5 4.75 8.75 1 5" />
            </svg><svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="yellow" class="bi bi-star" viewBox="0 0 16 16">
                <polygon points="8 0 10 5 15 5 11.25 8.75 12.5 14.5 8 11 3.5 14.5 4.75 8.75 1 5" />
            </svg><svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="yellow" class="bi bi-star" viewBox="0 0 16 16">
                <polygon points="8 0 10 5 15 5 11.25 8.75 12.5 14.5 8 11 3.5 14.5 4.75 8.75 1 5" />
            </svg><svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="yellow" class="bi bi-star" viewBox="0 0 16 16">
                <polygon points="8 0 10 5 15 5 11.25 8.75 12.5 14.5 8 11 3.5 14.5 4.75 8.75 1 5" />
            </svg><svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="yellow" class="bi bi-star" viewBox="0 0 16 16">
                <polygon points="8 0 10 5 15 5 11.25 8.75 12.5 14.5 8 11 3.5 14.5 4.75 8.75 1 5" />
            </svg> </a></span><br>
            <a class="average" style="font-size: 10px;">Average of 4.98 on a total of 500 Ratings</a><br></div>
            <div class="training" style="margin-left: 142px; margin-top: 14px; font-size: 12px">
            <a herf="/trainers_profile" style="color: red;">Trainers Profile</a><br>
            <a href="/student_enquiry" style="color: red;">Student Enquiry</a><br>
            <a href="/corporate_training" style="color: red;">Corporate Training</a><br>
            <a href="/feedback" style="color: red;">Post your Feedback</a><br>
            <a href="/post_testimonials" style="color: red;">View/Post Testimonials<br>
            <a href="/contact" style="color: red;">Contact Us</a></a1></div>
            <div class="margin" style="margin-left: 141px;">
                <h2>Register for Course!</h3><br>
                <p>Learn from the Real-Time Experts</p>
                <br>
                    <form>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="firstName">First Name<span class="text-danger">*</span></label>
                                <input type="text" class="form-control" id="firstName" placeholder="Enter your first name">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="lastName">Last Name<span class="text-danger">*</span></label>
                                <input type="text" class="form-control" id="lastName" placeholder="Enter your last name">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="email">Email<span class="text-danger">*</span></label>
                                <input type="email" class="form-control" id="email" placeholder="Enter your email">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="phone">Phone<span class="text-danger">*</span></label>
                                <input type="tel" class="form-control" id="phone" placeholder="Enter your phone number">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="state">State</label>
                                <input type="tel" class="form-control" id="state" placeholder="Enter your phone number">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="modeOfTraining">Mode of Training<span class="text-danger">*</span></label>
                            <select id="modeOfTraining" class="form-control">
                                <option selected>Online Training</option>
                                <option selected>Classroom Training</option>
                                <option selected>Weekend Training</option>
                                <option selected>Project Training</option>
                                <option selected>Intership Training</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="course">Course</label>
                            <select id="course" class="form-control">
                                <option selected>Select Course</option>
                                <option selected>Python</option>
                                <option selected>Java</option>
                                <option selected>C++</option>
                                <option selected>C#</option>
                                <option selected>JavaScript</option>
                                <option selected>Ruby</option>
                                <option selected>Swift</option>
                                <option selected>Kotlin</option>
                                <option selected>Data Science</option>
                                <option selected>Machine Learning</option>
                                <option selected>Deep Learning</option>
                                <option selected>Natural Language Processing (NLP)</option>
                                <option selected>TensorFlow</option>
                                <option selected>PyTorch</option>
                            </select>
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                    <br>

                    <h2>JOIN WHATSAPP GROUPS FOR UPDATES<br><br>
                        <img src="./assets/whatsappjpg">
                    </h2>
                    <h2>WATCH FREE TUTORIALS<br><br>
                        <img src="./assets/telegramjpeg">
                    </h2>
                    <h2>JOIN US ON TELEGRAM FOR UPDATES<br><br>
                        <img src="./assets/freejpg">
                    </h2>
                    <h2>FIND COURSES HERE</h2>
                    <li>courses traning</li>
                    <li>Android Training</li>
                    <li>iPhone Training</li>
                    <li>Asp.Net Training</li>
                    <li>Asp.Net MVC Training</li>
                    <li>C#.NET Training</li>
                    <li>C++ Training</li>
                    <li>Data Structure Training</li>
                    <li>Java Training</li>
                    <ul class="list">
                        <li>Core Java Training</li>
                        <li>Advanced Java Training</li>
                        <li>Hibernate Training</li>
                        <li>J2EE Training</li>
                        <li>Spring 5.x Training</li>
                        <li>Hibernate Training</li>
                        <li>Web Services Training</li>
                        <li>Struts Training</li>
                        <li>XML Training</li>
                        <li>Java Online Training</li></ul>
                    <li>Oracle Training</li>
                    <li>SQL Server Training</li>
                    <li>Selenium Training</li>
                    <li>UNIX LINUX Training</li>
                    <li>PHP Training</li>
                    <li>HTML5 CSS3 Training</li>
                    <li>jQuery Training</li>
                    <li>UI Technologies Training</li>
                    <li>UI UX Training</li>
                    <li>AngularJS Training</li>
                    <ul class="list">
                        <li>Angular 2 Training</li>
                        <li>Angular 4 Training</li>
                        <li>Angular 6 Training</li>
                        <li>Angular 7 Training</li>
                    </ul>
                    <li>Data Science Training</li>
                    <li>Artificial Intelligence Training</li>
                    <li>Hadoop Training</li>
                    <li>Apache Spark Training</li>
                    <li>Python Training</li>
                    <li>Hadoop Online Training</li>
                    <li>DevOps Training</li>
                    <li>AWS Training</li>
                    <li>IoT Training</li>
                    <li>SalesForce CRM Training</li>
                    <li>Digital Marketing Training</li>
                    <li>RPA Training</li>
                    <ul class="list">
                        <li>Blue Prism Training</li>
                        <li>Automation Anywhere Training</li>
                        <li>Automation Anywhere Online Training</li>
                    </ul>
                    <li>Blockchain Training</li>
                    <li>Realtime Projects</li>
                    <ul class="list">
                        <li>Real Time Java Project</li>
                        <li>Real-Time Project on PHP</li></ul>
                    <li>Doubleclick for Publishers Training</li>
                    <li>Software Training in Chennai</li>
                    <li>Testing Tools Training</li>
                    <li>Full Stack Web Development Course</li>
                    <li>Full Stack Web Development Course</li>
                    <li>Full Stack Java Developer Course</li>
               </div>
           </div>
        </div>
    </div>
</div>
</body>
<%= render "fooder" %>
<br>
<p class="paragrap" style="font-weight: bold;">© 2023 Naresh i Technologies | Software Training - Online Training - Live Project Training - Weekend Training</p>