<%= render "header" %>
<style>
	body {
        margin: 41px;
        padding: 0;
    }
    h{
        font-weight: bold;
    }pr li{
    margin-left: 35px;
    font-size: 12px;
    font-style: italic;
    }
    .course-card {
        margin-bottom: 20px;
    }
    .left-box {
        padding: 20px;
/*        width: 120%;*/
    }

    .right-box {
        padding: 20px;
        margin-top: 20px;
    }

    
    h1 {
        font-weight: bold;
    }

    h2 {
        font-weight: bold;
        margin: 0px;
        margin-top: 20px; 
       font-size: 19px;
    }
    h3{
        color: red;
        font-size: 13px;
        margin-left: 135px;
    }
    h4{
        font-size: 1.5rem;
        margin-top: 102px;
        font-size: 20px;
        font-weight: bold;
    }
    a1, td {
        color: red;
    }
    .text-black {
        color: black !important;
    }
    .star{
        margin-left: 210px;
    }
    span.Rating{    
        margin-left: 28px;
    }
    p{
        font-size: 12px
    }
    .ser {
        font-size: 12px;
        font-weight: bold;
        margin: 16px;
    }
</style>
<body>
<div class="row">
<!-- Left Box -->
<div class="col-md-6">
    <div class="left-box">
        <h4 class="border-bottom pb-2">Full Stack Web Development Course</h4>
        <a1 class="border-bottom pb-2">webmaster</a1>
        <div class="left-box">
            <h class="services" style="font-size: 12px; font-weight: bold;">About Full Stack Web Development Course</h>
            <p class="paragrap" style="margin-top: 20px; word-spacing: 2px;">Full Stack Web Development is nothing but complete designing of both websites and applications where the developers need to work from frontend to backend development. With our Full Stack Web Development Course, you will become an expert in all the aspects of web development such as Java, .NET, MEAN Stack and Python. In Frontend you are able to learn – HTML, HMTL5, CSS3, Bootstrap, JavaScript and jQuery whereas in Backend – Node.js, Meteor.js, Angular 2,4&5, PHP and Ruby on Rails and finally in Database – MySQL, PostgreSQL, MongoDB, CouchDB and Apache Cassandra.</p>
        </div>
        <h2 class="ser">Course Objectives:</h2>
		<pr>
		    <li>To Learn the core concepts of both the frontend and backend programming course</li>
		    <li>To Get familiar with the latest web development technologies</li>
		    <li>To Learn all about SQL and NoSQL databases</li>
		    <li>To Learn complete web development process</li>
		</pr><br>
		<h2 class="ser">Pre-requisites:</h2>
		<pr>
		    <li>Basic Knowledge of Programming is enough</li>
		</pr><br>

		<h2 class="ser">Who should go for this course:</h2>
		<pr>
		    <li>Students who are interested in becoming Full Stack Web Developers</li>
		    <li>Frontend Developers</li>
		    <li>Backend Developers</li>
		</pr><br>

		<h2 class="ser">Full Stack Web Development Course Content</h2>
		<h2 class="ser">Introduction</h2>
		<pr>
		    <li>UI Developer roles and responsibilities</li>
		    <li>UX designer roles</li>
		    <li>Technologies needed</li>
		    <li>Power of UI</li>
		    <li>Current market requirements on UI</li>
		    <li>Basic Technologies needed</li>
		    <li>Difference between Front end and Backend</li>
		    <li>Sample web pages</li>
		    <li>Crawling and Meta tags</li>
		</pr><br>

		<h2 class="ser">Basics – HTML</h2>
		<pr>
		    <li>Exploring existing pages</li>
		    <li>Browsers & Editors</li>
		    <li>DOM</li>
		    <li>Structure of HTML Page</li>
		    <li>Mandatory tags in html page (html, head, body)</li>
		    <li>Heading tags (H1…H6), Tags and attributes (Class, Id, style…etc.)</li>
		    <li>Inline and block level elements</li>
		</pr><br>

		<h2 class="ser">CSS</h2>
		<pr>
		    <li>What is CSS</li>
		    <li>Different ways of applying CSS for elements, and priority chain of CSS</li>
		    <li>CSS Properties (color, font, size, border…etc.)</li>
		    <li>Box model, Margin & Padding</li>
		    <li>Positioning Elements, Floating Elements</li>
		</pr><br>
		<h2 class="ser">More HTML Tags</h2>
		<pr>
		    <li>Including external page links in a page using anchor tags and its properties</li>
		    <li>Working with row & column data using table tags</li>
		    <li>Hiding and un-hiding elements using display property</li>
		    <li>img tag, p tag, ul & ol tags, li, nobr, hr, etc.</li>
		    <li>Layouts, forms, buttons</li>
		    <li>Input fields (textbox, radio button, checkbox, dropdown, text area, etc.)</li>
		    <li>Debugging HTML & CSS (Firebug, IE and Chrome developer tool)</li>
		    <li>Creating Tabs and menu lists</li>
		</pr><br>

		<h2 class="ser">More CSS Properties</h2>
		<pr>
		    <li>Adding borders, font, Pseudo classes & Pseudo Elements</li>
		    <li>Positioning elements (absolute, relative, fixed & static)</li>
		    <li>Image spriting</li>
		    <li>Box model (margins, padding)</li>
		    <li>Floating elements (float left, right etc.)</li>
		    <li>Including external resources</li>
		    <li>Absolute and Relative paths</li>
		    <li>Including external resources like CSS, images etc.</li>
		    <li>Display Property (inline, block, inline block etc.)</li>
		    <li>Display none and hidden elements</li>
		</pr><br>

		<h2 class="ser">Form Elements</h2>
		<pr>
		    <li>Get & Post Communication</li>
		    <li>Validating input values in a form</li>
		    <li>Form action and type</li>
		</pr><br>
		<h2 class="ser">JavaScript</h2>
		<pr>
		    <li>Data types and data structures in JavaScript</li>
		    <li>Control structures: if, if-else, while, for, switch-case statements</li>
		    <li>Hosting & type casting</li>
		</pr><br>

		<h2 class="ser">JavaScript Supported Data Structures</h2>
		<pr>
		    <li>Arrays and Predefined methods</li>
		    <li>Working on logical programs using Arrays</li>
		    <li>Predefined methods in arrays</li>
		    <li>Strings and predefined methods</li>
		    <li>Objects</li>
		    <li>JSON, SET, MAP</li>
		    <li>Iterating through Dynamic JSON Object</li>
		    <li>Exploring Predefined Date object</li>
		</pr><br>

		<h2 class="ser">Advanced JavaScript</h2>
		<pr>
		    <li>Inheriting Static Object using proto</li>
		    <li>Inheritance using Object.create()</li>
		    <li>JavaScript Classes</li>
		    <li>Prototyping</li>
		    <li>Inheritance using prototyping</li>
		    <li>Global and local variables</li>
		    <li>Securing Data using Closures</li>
		    <li>Exception Handling</li>
		    <li>Handling Predefined and user-defined exceptions</li>
		    <li>Exploring try, catch, finally, and throws</li>
		</pr><br>
		<h2 class="ser">jQuery</h2>
		<pr>
		    <li>History and version exploration</li>
		    <li>Difference between Minified and non-minified JS files</li>
		    <li>On load and on ready difference</li>
		    <li>jQuery selectors</li>
		    <li>Multiple ways of referring DOM elements using jQuery selectors</li>
		    <li>jQuery methods</li>
		    <li>Adding dynamic properties for DOM elements</li>
		    <li>Toggling elements</li>
		    <li>Creating dynamic elements using jQuery</li>
		</pr><br>

		<h2 class="ser">jQuery Traversing Methods</h2>
		<pr>
		    <li>Traversing Siblings, Children’s & Parent Elements</li>
		    <li>Traversing Ancestors</li>
		    <li>Finding elements using jQuery techniques</li>
		    <li>Filtering elements</li>
		</pr><br>
		<h2 class="ser">Events using jQuery</h2>
		<pr>
		    <li>Binding events, Dynamic binding</li>
		    <li>List of events been supported in jQuery (blur, change, click, dbclick….etc.)</li>
		</pr><br>

		<h2 class="ser">AJAX</h2>
		<pr>
		    <li>Advantages with AJAX and its limitations</li>
		    <li>Samples working with AJAX</li>
		    <li>Different data formats used in AJAX (string, xml, JSON, etc.)</li>
		    <li>XML and JSON difference</li>
		    <li>Cross domain interactions using JSONP</li>
		    <li>jQuery Promises with multiple conditions</li>
		    <li>Handling Multiple AJAX Calls using jQuery Promises</li>
		</pr><br>

		<h2 class="ser">jQuery Animations</h2>
		<pr>
		    <li>Animation Effects using Hide, Show</li>
		    <li>Sliding up and down, Fading, Animate Method</li>
		</pr><br>
		<h2 class="ser">jQuery Templating</h2>
		<pr>
		    <li>Loading DOM dynamically using jQuery templates</li>
		    <li>Loading templates using AJAX</li>
		</pr><br>

		<h2 class="ser">HTML 5</h2>
		<pr>
		    <li>Difference between HTML5 and HTML 4</li>
		    <li>List of Browsers support HTML5</li>
		    <li>Doc type & Semantic Tags</li>
		    <li>Multithreading Using Web Workers</li>
		    <li>Media Support (audio and video tags)</li>
		    <li>Graphics using Canvas tag and SVG Tags</li>
		    <li>Drag and Drop features</li>
		    <li>Offline Application using Application Cache</li>
		    <li>Exploring Navigator Object</li>
		    <li>Working on locations lat and lng using Geolocation</li>
		    <li>Storing user preferences using Local storage & Session Storage</li>
		</pr><br>

		<h2 class="ser">CSS 3</h2>
		<pr>
		    <li>Difference between CSS 2 and CSS 3</li>
		    <li>Adding borders and backgrounds</li>
		    <li>Advanced text effects (shadow)</li>
		    <li>2D and 3D Transformations</li>
		    <li>Adding Transitions to elements</li>
		    <li>Adding animations to text and elements</li>
		</pr><br>

		<h2 class="ser">Responsive Design</h2>
		<pr>
		    <li>Difference between multiple devices, making a page to work on multiple devices</li>
		    <li>Media queries</li>
		    <li>Introduction to Bootstrap CSS API</li>
		</pr><br>
		<h2 class="ser">Bootstrap-4 along with components</h2>
		<pr>
		    <li>Basic Typography</li>
		    <li>Text Alignments, Floats, Positions</li>
		    <li>Colors, Backgrounds, Margins, Paddings</li>
		    <li>Sizings, Breakpoints, Buttons, Navbars</li>
		    <li>List Groups, Forms, Input Groups</li>
		    <li>Alerts, Progress</li>
		    <li>Tables, Cards, Carousel, Collapse, Modal</li>
		    <li>Grid System, Grid Alignments, Flexboxes</li>
		</pr><br>

		<h2 class="ser">ECMA 6 (Latest JavaScript)</h2>
		<pr>
		    <li>Const and let keywords</li>
		    <li>Arrow functions, advantages</li>
		    <li>Extended parameter handling, default parameters</li>
		    <li>Template literals</li>
		    <li>Enhanced object parameters</li>
		    <li>Creating direct classes, inheritance</li>
		    <li>Implementing promises</li>
		    <li>New data structures sets and maps</li>
		    <li>New string built-in methods</li>
		    <li>Using iterators</li>
		</pr><br>

		<h2 class="ser">NODE JS</h2>
		<pr>
		    <li>Introduction to Server-Side Scripting</li>
		    <li>Node JS Features and Drawbacks</li>
		    <li>Setup Environment for Node.js</li>
		    <li>Node JS Program architecture</li>
		    <li>Node JS Web Server</li>
		    <li>Node JS Global Objects</li>
		    <li>Node JS OS Objects</li>
		    <li>Node JS Error Handling</li>
		    <li>Node JS Event Loop</li>
		    <li>Node JS File System</li>
		    <li>Async and Sync</li>
		    <li>Connecting with Database</li>
		    <li>Handling CRUD Operations</li>
		    <li>Express</li>
		    <li>Routing in Express</li>
		    <li>Response Methods in Express</li>
		    <li>Serving Static Files</li>
		    <li>Express JSON Parser</li>
		    <li>Express CORS</li>
		    <li>Creating Web API</li>
		</pr><br>
		<h2 class="ser">Express JS</h2>
		<pr>
		    <li>Exploring Express module</li>
		    <li>Setting up express environment</li>
		    <li>Creating HTTP server using Express</li>
		</pr><br>
		<h2 class="ser">Express Sessions </h2>

		<h2 class="ser">Data Communication</h2>
		<pr>
		    <li>Sending and receiving Post & GET Data</li>
		    <li>Reading data from GET/POST requests</li>
		</pr><br>

		<h2 class="ser">Templates</h2>
		<pr>
		    <li>Creating templates using PUG/JADE</li>
		    <li>Generating Dynamic HTML pages from the server</li>
		    <li>Responding a template for a client request</li>
		</pr><br>

		<h2 class="ser">File System</h2>
		<pr>
		    <li>Exploring File system</li>
		    <li>Reading and writing to files</li>
		</pr><br>
		<h2 class="ser">File System</h2>
		<pr>
		    <li>Exploring File system</li>
		    <li>Reading and writing to files</li>
		</pr><br>

		<h2 class="ser">REST API & Web Services</h2>
		<pr>
		    <li>Introduction to REST API</li>
		    <li>REST Architecture</li>
		</pr><br>

		<h2 class="ser">Clustering</h2>
		<pr>
		    <li>Creating and handling multiple clusters in Node.js</li>
		</pr><br>

		<h2 class="ser">DB Connection</h2>
		<pr>
		    <li>Connecting to MongoDB</li>
		    <li>Connecting to SQL</li>
		</pr><br>

		<h2 class="ser">Web Service with DB interactions</h2>
		<pr>
		    <li>Creating web services communicating with the Database</li>
		</pr><br>

		<h2 class="ser">MongoDB</h2>
		<pr>
		    <li>Introduction to MongoDB</li>
		    <li>Configuring Server and Client</li>
		    <li>MongoDB Compass</li>
		    <li>Creating Database</li>
		    <li>MongoDB Commands</li>
		    <li>MongoDB CRUD Operations</li>
		</pr><br>

		<h2 class="ser">Angular-13 Introduction</h2>
		<h2 class="ser">ReactJS Introduction</h2>

        <form class="border-top border-bottom">
            <br>
            <h8>Categories:<a1> Online Training </a1></h8>
            <br>
        </form>
    </div>
</div>

<div class="col-md-6 px-4">
        <div class="right-box">
            <h3><a href="http://localhost:3000/home" style=" color: red;"> Home </a><svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="currentColor" class="bi bi-chevron-double-right" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M3.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L9.293 8 3.646 2.354a.5.5 0 0 1 0-.708z"/>
                <path fill-rule="evenodd" d="M7.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L13.293 8 7.646 2.354a.5.5 0 0 1 0-.708z"/>
            </svg> CLASSROOM TRAINING <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="currentColor" class="bi bi-chevron-double-right" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M3.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L9.293 8 3.646 2.354a.5.5 0 0 1 0-.708z"/>
                <path fill-rule="evenodd" d="M7.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L13.293 8 7.646 2.354a.5.5 0 0 1 0-.708z"/>
            </svg> Full Stack Web Development Course </h3><br><br>
            <div class="star">
            <span class="Rating"><a>Rating of &nbsp; <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="yellow" class="bi bi-star" viewBox="0 0 16 16">
                <polygon points="8 0 10 5 15 5 11.25 8.75 12.5 14.5 8 11 3.5 14.5 4.75 8.75 1 5" />
            </svg><svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="yellow" class="bi bi-star" viewBox="0 0 16 16">
                <polygon points="8 0 10 5 15 5 11.25 8.75 12.5 14.5 8 11 3.5 14.5 4.75 8.75 1 5" />
            </svg><svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="yellow" class="bi bi-star" viewBox="0 0 16 16">
                <polygon points="8 0 10 5 15 5 11.25 8.75 12.5 14.5 8 11 3.5 14.5 4.75 8.75 1 5" />
            </svg><svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="yellow" class="bi bi-star" viewBox="0 0 16 16">
                <polygon points="8 0 10 5 15 5 11.25 8.75 12.5 14.5 8 11 3.5 14.5 4.75 8.75 1 5" />
            </svg><svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="yellow" class="bi bi-star" viewBox="0 0 16 16">
                <polygon points="8 0 10 5 15 5 11.25 8.75 12.5 14.5 8 11 3.5 14.5 4.75 8.75 1 5" />
            </svg> </a></span><br>
            <a class="average" style="font-size: 10px;">Average of 4.98 on a total of 500 Ratings</a><br></div>
            <div class="training" style="margin-left: 142px; margin-top: 14px; font-size: 12px">
            <a herf="/trainers_profile" style="color: red;">Trainers Profile</a><br>
            <a href="/student_enquiry" style="color: red;">Student Enquiry</a><br>
            <a href="/corporate_training" style="color: red;">Corporate Training</a><br>
            <a href="/feedback" style="color: red;">Post your Feedback</a><br>
            <a href="/post_testimonials" style="color: red;">View/Post Testimonials<br>
            <a href="/contact" style="color: red;">Contact Us</a></a1></div>
            <div class="margin" style="margin-left: 141px;">
                <h2>Register for Course!</h3><br>
                <p>Learn from the Real-Time Experts</p>
                <br>
                    <form>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="firstName">First Name<span class="text-danger">*</span></label>
                                <input type="text" class="form-control" id="firstName" placeholder="Enter your first name">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="lastName">Last Name<span class="text-danger">*</span></label>
                                <input type="text" class="form-control" id="lastName" placeholder="Enter your last name">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="email">Email<span class="text-danger">*</span></label>
                                <input type="email" class="form-control" id="email" placeholder="Enter your email">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="phone">Phone<span class="text-danger">*</span></label>
                                <input type="tel" class="form-control" id="phone" placeholder="Enter your phone number">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="state">State</label>
                                <input type="tel" class="form-control" id="state" placeholder="Enter your phone number">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="modeOfTraining">Mode of Training<span class="text-danger">*</span></label>
                            <select id="modeOfTraining" class="form-control">
                                <option selected>Online Training</option>
                                <option selected>Classroom Training</option>
                                <option selected>Weekend Training</option>
                                <option selected>Project Training</option>
                                <option selected>Intership Training</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="course">Course</label>
                            <select id="course" class="form-control">
                                <option selected>Select Course</option>
                                <option selected>Python</option>
                                <option selected>Java</option>
                                <option selected>C++</option>
                                <option selected>C#</option>
                                <option selected>JavaScript</option>
                                <option selected>Ruby</option>
                                <option selected>Swift</option>
                                <option selected>Kotlin</option>
                                <option selected>Data Science</option>
                                <option selected>Machine Learning</option>
                                <option selected>Deep Learning</option>
                                <option selected>Natural Language Processing (NLP)</option>
                                <option selected>TensorFlow</option>
                                <option selected>PyTorch</option>
                            </select>
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                    <br>

                    <h2>JOIN WHATSAPP GROUPS FOR UPDATES<br><br>
                        <img src="./assets/whatsappjpg">
                    </h2>
                    <h2>WATCH FREE TUTORIALS<br><br>
                        <img src="./assets/telegramjpeg">
                    </h2>
                    <h2>JOIN US ON TELEGRAM FOR UPDATES<br><br>
                        <img src="./assets/freejpg">
                    </h2>
                    <h2>FIND COURSES HERE</h2>
                    <li>courses traning</li>
                    <li>Android Training</li>
                    <li>iPhone Training</li>
                    <li>Asp.Net Training</li>
                    <li>Asp.Net MVC Training</li>
                    <li>C#.NET Training</li>
                    <li>C++ Training</li>
                    <li>Data Structure Training</li>
                    <li>Java Training</li>
                    <ul class="list">
                        <li>Core Java Training</li>
                        <li>Advanced Java Training</li>
                        <li>Hibernate Training</li>
                        <li>J2EE Training</li>
                        <li>Spring 5.x Training</li>
                        <li>Hibernate Training</li>
                        <li>Web Services Training</li>
                        <li>Struts Training</li>
                        <li>XML Training</li>
                        <li>Java Online Training</li></ul>
                    <li>Oracle Training</li>
                    <li>SQL Server Training</li>
                    <li>Selenium Training</li>
                    <li>UNIX LINUX Training</li>
                    <li>PHP Training</li>
                    <li>HTML5 CSS3 Training</li>
                    <li>jQuery Training</li>
                    <li>UI Technologies Training</li>
                    <li>UI UX Training</li>
                    <li>AngularJS Training</li>
                    <ul class="list">
                        <li>Angular 2 Training</li>
                        <li>Angular 4 Training</li>
                        <li>Angular 6 Training</li>
                        <li>Angular 7 Training</li>
                    </ul>
                    <li>Data Science Training</li>
                    <li>Artificial Intelligence Training</li>
                    <li>Hadoop Training</li>
                    <li>Apache Spark Training</li>
                    <li>Python Training</li>
                    <li>Hadoop Online Training</li>
                    <li>DevOps Training</li>
                    <li>AWS Training</li>
                    <li>IoT Training</li>
                    <li>SalesForce CRM Training</li>
                    <li>Digital Marketing Training</li>
                    <li>RPA Training</li>
                    <ul class="list">
                        <li>Blue Prism Training</li>
                        <li>Automation Anywhere Training</li>
                        <li>Automation Anywhere Online Training</li>
                    </ul>
                    <li>Blockchain Training</li>
                    <li>Realtime Projects</li>
                    <ul class="list">
                        <li>Real Time Java Project</li>
                        <li>Real-Time Project on PHP</li></ul>
                    <li>Doubleclick for Publishers Training</li>
                    <li>Software Training in Chennai</li>
                    <li>Testing Tools Training</li>
                    <li>Full Stack Web Development Course</li>
                    <li>Full Stack Web Development Course</li>
                    <li>Full Stack Java Developer Course</li>
               </div>
           </div>
        </div>
    </div>
</body>
<%= render "fooder" %>
<br>
<p class="paragrap" style="font-weight: bold;">© 2023 Naresh i Technologies | Software Training - Online Training - Live Project Training - Weekend Training</p>