<%= render "header" %>
<style>
    body {
        margin: 41px;
        padding: 0;
    }
    h{
        font-weight: bold;
    }pr li{
    margin-left: 35px;
    font-size: 12px;
    font-style: italic;
    }
    .course-card {
        margin-bottom: 20px;
    }
    .left-box {
        padding: 20px;
/*        width: 120%;*/
    }

    .right-box {
        padding: 20px;
        margin-top: 20px;
    }

    
    h1 {
        font-weight: bold;
    }

    h2 {
        font-weight: bold;
        margin: 0px;
        margin-top: 20px; 
       font-size: 19px;
    }
    h3{
        color: red;
        font-size: 16px;
        margin-left: 135px;
    }
    h4{
        font-size: 1.5rem;
        margin-top: 102px;
        font-size: 20px;
        font-weight: bold;
    }
    a1, td {
        color: red;
    }
    .text-black {
        color: black !important;
    }
    .star{
        margin-left: 210px;
    }
    span.Rating{    
        margin-left: 28px;
    }
    p{
        font-size: 12px
    }
    .ser {
        font-size: 12px;
        font-weight: bold;
        margin: 16px;
    }
</style>
<body>
<div class="row">
<!-- Left Box -->
<div class="col-md-6">
    <div class="left-box">
        <h4 class="border-bottom pb-2">Digital Marketing Training</h4>
        <a1 class="border-bottom pb-2">NIT Manager</a1>
        <div class="left-box">
            <h class="services" style="font-size: 12px; font-weight: bold;">Digital Marketing Training Overview</h>
            <p class="paragrap" style="margin-top: 20px; word-spacing: 2px;">NareshIT is one of the leading IT Institutions for <a1>Digital Marketing Training </a1>(SEO, SEM , SMO and SMM) Class Room and Online, which is located in Hyderabad, Chennai. The objective of Course is providing Training services for various requirements in IT industry. Learn Digital Marketing training by Real-Time Expert with Real-Time Scenarios.</p>
        </div>
        <h2 class="ser">Course Duration</h2>
        <h2 class="ser">Course Prerequisites</h2>
        <p class="paragrap" style="margin-top: 20px; word-spacing: 2px;">Everyone with basic computer skills can learn this Course</p>

        <h2 class="ser">Digital Marketing Course Content</h2>
        <h2 class="ser">Digital Marketing Introduction</h2>
        <pr>
            <li>What is Digital Marketing?</li>
            <li>Why Digital Marketing?</li>
            <li>Digital Marketing Platforms</li>
            <li>Digital Marketing Strategy</li>
            <li>Types of Digital Marketing – Organic & Paid</li>
            <li>Digital Marketing vs. Traditional Marketing</li>
            <li>Differences between Digital and Traditional Marketing</li>
            <li>ROI Comparison between Digital and Traditional Marketing</li>
        </pr><br>

        <h2 class="ser">Understanding the Website</h2>
        <pr>
            <li>What is a Website?</li>
            <li>Types of Websites</li>
            <li>Static Website</li>
            <li>Dynamic Website</li>
            <li>E-Commerce Website</li>
            <li>Domain Booking</li>
            <li>Web Hosting Purchase</li>
            <li>Website Architecture</li>
        </pr><br>

        <h2 class="ser">Website Creation</h2>
        <pr>
            <li>Blogger</li>
            <li>WordPress</li>
        </pr><br>

        <h2 class="ser">Keyword Selection Strategies</h2>
        <pr>
            <li>Keyword Analysis</li>
            <li>Keyword Competition</li>
        </pr><br>

        <h2 class="ser">Search Engine Optimization (SEO)</h2>
        <pr>
            <li>What is SEO?</li>
            <li>How do Search Engines work?</li>
            <li>SEO Tools</li>
            <li>Web Position Analysis</li>
            <li>Competition Analysis</li>
            <li>Google Algorithms and Updates</li>
        </pr><br>
        <h2 class="ser">On-Page Optimization</h2>
        <pr>
            <li>Title Tag</li>
            <li>Meta Description</li>
            <li>Meta Tags</li>
            <li>Canonical form</li>
            <li>Alt Tag</li>
            <li>Anchor Text</li>
            <li>Header Tag</li>
            <li>Robots.txt</li>
            <li>XML Sitemap</li>
            <li>Redirections (301, 302)</li>
            <li>403 Forbidden</li>
            <li>404 File Not Found</li>
            <li>Webmaster</li>
            <li>Google Analytics</li>
        </pr><br>

        <h2 class="ser">Social Media Optimization (SMO)</h2>
        <pr>
            <li>Google+</li>
            <pr>
                <li>Set-up and usage</li>
                <li>Company profile</li>
                <li>Communities Creations</li>
                <li>Promotions</li>
                <li>Event Creations</li>
            </pr>
        </pr><br>
        <h2 class="ser">Facebook</h2>
        <pr>
            <li>Profile Creations</li>
            <li>Creating groups and pages</li>
            <li>Tips and Guides</li>
            <li>Posts And promotions</li>
            <li>Events Creations</li>
            <li>Video Marketing</li>
            <li>Promotional Techniques</li>
            <li>Integration Techniques</li>
        </pr><br>

        <h2 class="ser">Twitter</h2>
        <pr>
            <li>Set-up and usage</li>
            <li>Tips</li>
            <li>Promoted Tweets</li>
            <li>Video Marketing</li>
            <li>Promotional Techniques</li>
            <li>Integration Techniques</li>
            <li>Analytics</li>
        </pr><br>

        <h2 class="ser">LinkedIn</h2>
        <pr>
            <li>Profile Creations</li>
            <li>Company Page Creations</li>
            <li>Tips and Guides</li>
            <li>LinkedIn posts</li>
            <li>LinkedIn promotions</li>
            <li>LinkedIn Groups</li>
            <li>Video Marketing</li>
            <li>Promotional Techniques</li>
            <li>Integration Techniques</li>
        </pr><br>

        <h2 class="ser">Instagram</h2>
        <pr>
            <li>Integration Techniques</li>
            <li>Promotional Techniques</li>
        </pr><br>
        <h2 class="ser">Search Engine Marketing (SEM)</h2>
        <h2 class="ser">Introduction to SEM</h2>

        <h2 class="ser">Google AdWords</h2>
        <pr>
            <li>Search Advertising</li>
            <li>Display Advertising</li>
            <li>Mobile Advertising</li>
            <li>Video Advertising</li>
            <li>Shopping Advertising</li>
            <li>Report generation</li>
        </pr><br>

        <h2 class="ser">Google AdWords Express</h2>
        <pr>
            <li>Setup</li>
            <li>Google Mapping Ads</li>
        </pr><br>

        <h2 class="ser">Bing Ads</h2>
        <pr>
            <li>Setup</li>
            <li>Marketing</li>
        </pr><br>
        <h2 class="ser">Social Media Marketing (SMM)</h2>
        <h2 class="ser">Introduction to SMM</h2>
        <h2 class="ser">Facebook</h2>
        <pr>
            <li>Sign up</li>
            <li>Payments Methods</li>
            <li>Paid Promotion</li>
            <li>Video Ads</li>
            <li>Event Marketing</li>
        </pr><br>

        <h2 class="ser">Twitter</h2>
        <pr>
            <li>Set-up and usage</li>
            <li>Tips</li>
            <li>Promoted Tweets</li>
        </pr><br>

        <h2 class="ser">LinkedIn</h2>
        <pr>
            <li>Setup Paid Ads</li>
            <li>Linkedin Post promotions</li>
            <li>LinkedIn Paid Campaigns</li>
        </pr><br>

        <h2 class="ser">Affiliate Marketing</h2>
        <pr>
            <li>What is Affiliate Marketing</li>
            <li>Components of Affiliate Marketing</li>
            <li>Affiliate marketing types</li>
            <li>Affiliate marketing tools</li>
            <li>Earning Techniques</li>
        </pr><br>

        <h2 class="ser">Email Marketing</h2>
        <pr>
            <li>How Email Marketing Works?</li>
            <li>Types of emails</li>
            <li>What to write</li>
            <li>How to write</li>
            <li>List creation</li>
            <li>Creating e-mailers</li>
            <li>Tracking emailers</li>
            <li>Create Template</li>
            <li>Reporting</li>
        </pr><br>

        <h2 class="ser">Mobile App Promotions</h2>
        <pr>
            <li>Android Apps</li>
            <li>iPhone Apps</li>
            <li>Marketing Strategies</li>
            <li>Marketing Tips</li>
        </pr><br>
        <h2 class="ser">Certifications</h2>
        <pr>
            <li>Google Partners</li>
            <ul class="list">
                <li>Search Advertising</li>
                <li>Display Advertising</li>
                <li>Mobile Advertising</li>
                <li>Video Advertising</li>
                <li>Shopping Advertising</li>
                <li>Google Analytics</li>
                <li>Social Media Marketing Certification</li>
            </ul>
        </pr><br>

        <h2 class="ser">Reporting</h2>
        <pr>
            <li>Google Webmasters</li>
            <li>Google Analytics</li>
        </pr><br>

        <h2 class="ser">Tools</h2>
        <pr>
            <li>Alexa</li>
            <li>VIDIQ</li>
            <li>AddThis</li>
            <li>Pinterest</li>
            <li>MOZ</li>
        </pr><br>

        <h2 class="ser">Youtube Marketing</h2>
        <pr>
            <li>Youtube Channel Setup</li>
            <li>How to Rank and Optimize Youtube Videos</li>
            <li>How to get more views and Subscribers</li>
            <li>How to Promote Your Youtube Channel</li>
            <li>How to boost your Business with youtube Channel</li>
            <li>Learn to Edit Video</li>
            <li>Learn ways to Make Money from Youtube</li>
            <li>How to Setup youtube Premiere</li>
            <li>Youtube Earning</li>
            <li>Youtube Advertising</li>
        </pr><br>
        <h2 class="ser">Online Earning Types</h2>
         <pr><li>Google Adsense</li>
         <li>Content Marketing</li></pr>
        <h2 class="ser">Video Marketing</h2>
        <h2 class="ser">Affiliate Marketing</h2>
        <h2 class="ser">Freelancing</h2>
        <h2 class="ser">Entrepreneur</h2>
        <h2 class="ser">Resume Preparation Guidance</h2>
        <h2 class="ser">Mock Interviews</h2>
        <h2 class="ser">Interview Tips</h2>
        <form class="border-top border-bottom">
            <br>
            <h8>Click Here For<a1> Digital Marketing Online Training</a1></h8><br><br>
            <br>
        </form>
    </div>
</div>

<div class="col-md-6 px-4">
        <div class="right-box">
            <h3><a href="http://localhost:3000/home" style=" color: red;"> Home </a><svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="currentColor" class="bi bi-chevron-double-right" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M3.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L9.293 8 3.646 2.354a.5.5 0 0 1 0-.708z"/>
                <path fill-rule="evenodd" d="M7.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L13.293 8 7.646 2.354a.5.5 0 0 1 0-.708z"/>
            </svg> CLASSROOM TRAINING <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="currentColor" class="bi bi-chevron-double-right" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M3.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L9.293 8 3.646 2.354a.5.5 0 0 1 0-.708z"/>
                <path fill-rule="evenodd" d="M7.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L13.293 8 7.646 2.354a.5.5 0 0 1 0-.708z"/>
            </svg> Digital Marketing Training </h3><br><br>
            <div class="star">
            <span class="Rating"><a>Rating of &nbsp; <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="yellow" class="bi bi-star" viewBox="0 0 16 16">
                <polygon points="8 0 10 5 15 5 11.25 8.75 12.5 14.5 8 11 3.5 14.5 4.75 8.75 1 5" />
            </svg><svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="yellow" class="bi bi-star" viewBox="0 0 16 16">
                <polygon points="8 0 10 5 15 5 11.25 8.75 12.5 14.5 8 11 3.5 14.5 4.75 8.75 1 5" />
            </svg><svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="yellow" class="bi bi-star" viewBox="0 0 16 16">
                <polygon points="8 0 10 5 15 5 11.25 8.75 12.5 14.5 8 11 3.5 14.5 4.75 8.75 1 5" />
            </svg><svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="yellow" class="bi bi-star" viewBox="0 0 16 16">
                <polygon points="8 0 10 5 15 5 11.25 8.75 12.5 14.5 8 11 3.5 14.5 4.75 8.75 1 5" />
            </svg><svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="yellow" class="bi bi-star" viewBox="0 0 16 16">
                <polygon points="8 0 10 5 15 5 11.25 8.75 12.5 14.5 8 11 3.5 14.5 4.75 8.75 1 5" />
            </svg> </a></span><br>
            <a class="average" style="font-size: 10px;">Average of 4.98 on a total of 500 Ratings</a><br></div>
            <div class="training" style="margin-left: 142px; margin-top: 14px; font-size: 12px">
            <a herf="/trainers_profile" style="color: red;">Trainers Profile</a><br>
            <a href="/student_enquiry" style="color: red;">Student Enquiry</a><br>
            <a href="/corporate_training" style="color: red;">Corporate Training</a><br>
            <a href="/feedback" style="color: red;">Post your Feedback</a><br>
            <a href="/post_testimonials" style="color: red;">View/Post Testimonials<br>
            <a href="/contact" style="color: red;">Contact Us</a></a1></div>
            <div class="margin" style="margin-left: 141px;">
                <h2>Register for Course!</h3><br>
                <p>Learn from the Real-Time Experts</p>
                <br>
                    <form>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="firstName">First Name<span class="text-danger">*</span></label>
                                <input type="text" class="form-control" id="firstName" placeholder="Enter your first name">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="lastName">Last Name<span class="text-danger">*</span></label>
                                <input type="text" class="form-control" id="lastName" placeholder="Enter your last name">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="email">Email<span class="text-danger">*</span></label>
                                <input type="email" class="form-control" id="email" placeholder="Enter your email">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="phone">Phone<span class="text-danger">*</span></label>
                                <input type="tel" class="form-control" id="phone" placeholder="Enter your phone number">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="state">State</label>
                                <input type="tel" class="form-control" id="state" placeholder="Enter your phone number">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="modeOfTraining">Mode of Training<span class="text-danger">*</span></label>
                            <select id="modeOfTraining" class="form-control">
                                <option selected>Online Training</option>
                                <option selected>Classroom Training</option>
                                <option selected>Weekend Training</option>
                                <option selected>Project Training</option>
                                <option selected>Intership Training</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="course">Course</label>
                            <select id="course" class="form-control">
                                <option selected>Select Course</option>
                                <option selected>Python</option>
                                <option selected>Java</option>
                                <option selected>C++</option>
                                <option selected>C#</option>
                                <option selected>JavaScript</option>
                                <option selected>Ruby</option>
                                <option selected>Swift</option>
                                <option selected>Kotlin</option>
                                <option selected>Data Science</option>
                                <option selected>Machine Learning</option>
                                <option selected>Deep Learning</option>
                                <option selected>Natural Language Processing (NLP)</option>
                                <option selected>TensorFlow</option>
                                <option selected>PyTorch</option>
                            </select>
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                    <br>

                    <h2>JOIN WHATSAPP GROUPS FOR UPDATES<br><br>
                        <img src="./assets/whatsappjpg">
                    </h2>
                    <h2>WATCH FREE TUTORIALS<br><br>
                        <img src="./assets/telegramjpeg">
                    </h2>
                    <h2>JOIN US ON TELEGRAM FOR UPDATES<br><br>
                        <img src="./assets/freejpg">
                    </h2>
                    <h2>FIND COURSES HERE</h2>
                    <li>courses traning</li>
                    <li>Android Training</li>
                    <li>iPhone Training</li>
                    <li>Asp.Net Training</li>
                    <li>Asp.Net MVC Training</li>
                    <li>C#.NET Training</li>
                    <li>C++ Training</li>
                    <li>Data Structure Training</li>
                    <li>Java Training</li>
                    <ul class="list">
                        <li>Core Java Training</li>
                        <li>Advanced Java Training</li>
                        <li>Hibernate Training</li>
                        <li>J2EE Training</li>
                        <li>Spring 5.x Training</li>
                        <li>Hibernate Training</li>
                        <li>Web Services Training</li>
                        <li>Struts Training</li>
                        <li>XML Training</li>
                        <li>Java Online Training</li></ul>
                    <li>Oracle Training</li>
                    <li>SQL Server Training</li>
                    <li>Selenium Training</li>
                    <li>UNIX LINUX Training</li>
                    <li>PHP Training</li>
                    <li>HTML5 CSS3 Training</li>
                    <li>jQuery Training</li>
                    <li>UI Technologies Training</li>
                    <li>UI UX Training</li>
                    <li>AngularJS Training</li>
                    <ul class="list">
                        <li>Angular 2 Training</li>
                        <li>Angular 4 Training</li>
                        <li>Angular 6 Training</li>
                        <li>Angular 7 Training</li>
                    </ul>
                    <li>Data Science Training</li>
                    <li>Artificial Intelligence Training</li>
                    <li>Hadoop Training</li>
                    <li>Apache Spark Training</li>
                    <li>Python Training</li>
                    <li>Hadoop Online Training</li>
                    <li>DevOps Training</li>
                    <li>AWS Training</li>
                    <li>IoT Training</li>
                    <li>SalesForce CRM Training</li>
                    <li>Digital Marketing Training</li>
                    <li>RPA Training</li>
                    <ul class="list">
                        <li>Blue Prism Training</li>
                        <li>Automation Anywhere Training</li>
                        <li>Automation Anywhere Online Training</li>
                    </ul>
                    <li>Blockchain Training</li>
                    <li>Realtime Projects</li>
                    <ul class="list">
                        <li>Real Time Java Project</li>
                        <li>Real-Time Project on PHP</li></ul>
                    <li>Doubleclick for Publishers Training</li>
                    <li>Software Training in Chennai</li>
                    <li>Testing Tools Training</li>
                    <li>Full Stack Web Development Course</li>
                    <li>Full Stack Web Development Course</li>
                    <li>Full Stack Java Developer Course</li>
               </div>
           </div>
        </div>
    </div>
</body>
<%= render "fooder" %>
<br>
<p class="paragrap" style="font-weight: bold;">© 2023 Naresh i Technologies | Software Training - Online Training - Live Project Training - Weekend Training</p>