<%= render "header" %>
<style>
    h{
        font-weight: bold;
    }pr li{
    margin-left: 35px;
    font-size: 12px;
    font-style: italic;
    }
    .course-card {
        margin-bottom: 20px;
    }
    .left-box {
        padding: 20px;
/*        width: 120%;*/
    }

    .right-box {
        padding: 20px;
        margin-top: 20px;
    }

    
    h1 {
        font-weight: bold;
    }

    h2 {
        font-weight: bold;
        margin: 0px;
        margin-top: 20px; 
       font-size: 19px;
    }
    h3{
        color: red;
        font-size: 16px;
        margin-left: 135px;
    }
    h4{
        font-size: 1.5rem;
        margin-top: 102px;
        font-size: 20px;
        font-weight: bold;
    }
    a1, td {
        color: red;
    }
    .text-black {
        color: black !important;
    }
    .star{
        margin-left: 210px;
    }
    span.Rating{    
        margin-left: 28px;
    }
    p{
        font-size: 12px
    }
    .ser {
        font-size: 12px;
        font-weight: bold;
        margin: 16px;
    }
</style>
<body>
<div class="row">
<!-- Left Box -->
<div class="col-md-6">
    <div class="left-box">
        <h4 class="border-bottom pb-2">Hibernate Training</h4>
        <a1 class="border-bottom pb-2">NIT Manager</a1>
        <div class="left-box">
            <h class="services" style="font-size: 12px; font-weight: bold;">About Hibernate Training</h>
            <p class="paragrap" style="margin-top: 20px; word-spacing: 2px;">Hibernate is the most popular object-relational mapping framework for Java environments. Object relational mapping in large enterprise applications is difficult. In this class, students learn object-relational mapping concepts and the various issues and options available in Java to address object persistence. With these fundamentals, the course then explores the basics of Hibernate object persistence and configuration. It also digs into the details of Hibernate mapping, queries, transactions, and concurrency.</p>
            <p class="paragrap" style="margin-top: 20px;, word-spacing: 2px;">This course is loaded with lots of hands on examples and deals with maintenance and performance issues. After taking this class, developers will be able to build faster, more flexible and easier to maintain application persistence layers with the Hibernate framework.
        </div>
        <h2>Prerequisites for Hibernate Course</h2><br>
        <pr>
            <li>Good Understanding of Java Programming Language</li>
            <li>Basic Knowledge of Relational Databases</li>
            <li>Familiarity with SQL (Structured Query Language)</li>
        </pr><br>
        <h2>Hibernate Training Course Objectives</h2><br>
        <pr>
            <li>Understanding the Challenges of Object-Relational Mapping (ORM)</li>
            <li>Learning the Architecture of Hibernate</li>
            <li>Setting up and Configuring Hibernate for a Java Project</li>
            <li>Mapping Java Classes and Object Associations to Relational Database Tables with Hibernate Mapping Files</li>
            <li>Studying Hibernate's Strategies for Mapping Java Inheritance Trees to Relational Database Tables</li>
            <li>Exploring Hibernate Query Language (HQL) and Criteria API for Retrieving Java Objects</li>
            <li>Understanding Hibernate's Caching Architecture</li>
        </pr><br>
        <h2>Hibernate Training Course Duration</h2><br>
        <pr>
            <li>Normal Track: 45 Working days, daily one and a half hours</li>
            <li>Fast Track: 30 Working days, daily two hours</li>
        </pr><br>
        <h2 class="ser">Hibernate Training Course Overview</h2><br>
        <h2 class="ser">Advantages of Hibernate compared to JDBC</h2>
        <h2 class="ser">Introduction</h2>
        <h2 class="ser">ORM (Object Relational Mapping)</h2><br>
        <h2 class="ser">Hibernate Resources</h2><br>
        <pr>
            <li>Configuration file</li>
            <li>Mapping file</li>
            <li>Persistent class or POJO</li>
            <li>Client application</li>
        </pr><br>
        <h2 class="ser">Hibernate Architecture</h2>

        <h2 class="ser">Installation and Directory Structure</h2>

        <h2 class="ser">Hibernate Data Types</h2>

        <h2 class="ser">First Application using Hibernate</h2><br>
        <h2 class="ser">Hibernate API</h2><br>
        <pr>
            <li>Configuration</li>
            <li>SessionFactory</li>
            <li>Session</li>
            <li>Transaction</li>
        </pr><br>
        <h2 class="ser">Object Life Cycle in Hibernate</h2><br> 
        <pr>
            <li>Transient object</li>
            <li>Persistent object</li>
            <li>Detached object</li>
        </pr><br>
        <h2 class="ser">CRUD Operations using Session Methods in Hibernate</h2><br>
        <pr>
            <h2 class="ser">Creating (Inserting) Data:</h2>
            <ul class="list">
                <li>save</li>
                <li>persist</li>
                <li>saveOrUpdate</li>
            </ul>

            <h2 class="ser">Updating Data:</h2>
            <ul class="list">
                <li>update</li>
                <li>merge</li>
            </ul>

            <h2 class="ser">Deleting Data:</h2>
            <ul class="list">
                <li>delete</li>
            </ul>

            <h2 class="ser">Retrieving Data:</h2>
            <ul class="list">
                <li>load</li>
                <li>get</li>
            </ul>

            <h2 class="ser">Managing Session:</h2>
            <ul class="list">
                <li>flush</li>
                <li>evict</li>
                <li>clear</li>
            </ul>
        </pr><br>
        <h2 class="ser">Versioning</h2><br>
        <h2>Primary Key Generators in Hibernate</h2>
        <pr>
            <li>Assigned</li>
            <li>Increment</li>
            <li>Sequence</li>
            <li>Hilo</li>
            <li>Seqhilo</li>
            <li>Identity</li>
            <li>Foreign</li>
            <li>Native</li>
            <li>UUID</li>
            <li>Custom generator</li>
        </pr><br>

        <h2 class="ser">Hibernate Query Language (HQL)</h2>

        <h2 class="ser">Joins in Hibernate</h2>

        <h2 class="ser">Batch processing and Native SQL</h2>

        <h2 class="ser">Criteria API</h2>

        <h2 class="ser">Criteria with projections</h2><br>
        <h2>Inheritance Mapping in Hibernate</h2>
        <pr>
            <li>Table per class</li>
            <li>Table per subclass</li>
            <li>Table per concrete class</li>
        </pr><br>
        <h2 class="ser">Component Mapping</h2>

        <h2 class="ser">Custom Mapping</h2>
        <h2 class="ser">Collection Mapping in Hibernate</h2>
        <pr>
            <li><list></li>
            <li><set></li>
            <li><map></li>
            <li><bag></li>
            <li>Mapping array</li>
            <li>Sorting collections</li>
        </pr><br>
        <h2>Association Mapping in Hibernate</h2><br>
        <pr>
            <h2 class="ser">Types of Associations:</h2>
            <ul class="list">
                <li>One-to-One</li>
                <li>One-to-Many</li>
                <li>Many-to-One</li>
                <li>Many-to-Many</li>
            </ul>

            <h2 class="ser">Direction of Associations:</h2>
            <ul class="list">
                <li>Unidirectional</li>
                <li>Bidirectional</li>
            </ul>

            <h2 class="ser">Explanation on Attributes:</h2>
            <ul class="list">
                <li>Explanation on 'inverse' attribute</li>
                <li>Explanation on 'cascade' attribute</li>
            </ul>
        </pr><br>
        <h2 class="ser">Caching in Hibernate</h2><br>
        <pr>
            <li>First-level Cache (Session cache)</li>
            <li>Second-level Cache (SessionFactory cache)</li>
            <li>Query-level Cache</li>
        </pr><br>
        <h2 class="ser">Connection Pool in Hibernate</h2><br>
        <pr>
            <li>Default connection pool</li>
            <li>Server-supplied pool</li>
            <li>Third-party vendor connection pool</li>
        </pr><br>
        <h2 class="ser">Transactions and Concurrency in Hibernate</h2><br>
        <pr>
            <li>Programmatic transactions with JTA</li>
            <li>Optimistic Concurrency control</li>
            <li>Pessimistic Concurrency control</li>
        </pr><br>
        <h2 class="ser">Hibernate Pagination</h2>
        <h2 class="ser">Hibernate Filter</h2>
        <h2 class="ser">Hibernate Interceptor</h2>
        <h2 class="ser">Connecting with Multiple Databases (Oracle, HypersonicSQL)</h2>
        <h2 class="ser">Integrating Hibernate with Servlet</h2>
        <h2 class="ser">Integrating Hibernate with Struts</h2>
        <h2 class="ser">Working with Hibernate Annotations</h2><br>
        <h2 class="ser">IDE:    Eclipse, Netbeans</h2>

        <form class="border-top border-bottom">
            <br>
            <h8>Click Here For<a1>  Hibernate Online Training</a1></h8><br><br>
            <h8>Categories:<a1>Online Training -- <h8 class="color" style='color: black;'>Tags:</h8> Chennai, Hyderabad</a1></h8>
            <br>
        </form>
    </div>
</div>

<div class="col-md-6 px-4">
        <div class="right-box">
            <h3><a href="http://localhost:3000/home" style=" color: red;"> Home </a><svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="currentColor" class="bi bi-chevron-double-right" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M3.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L9.293 8 3.646 2.354a.5.5 0 0 1 0-.708z"/>
                <path fill-rule="evenodd" d="M7.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L13.293 8 7.646 2.354a.5.5 0 0 1 0-.708z"/>
            </svg> ONLINE TRAINING <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="currentColor" class="bi bi-chevron-double-right" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M3.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L9.293 8 3.646 2.354a.5.5 0 0 1 0-.708z"/>
                <path fill-rule="evenodd" d="M7.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L13.293 8 7.646 2.354a.5.5 0 0 1 0-.708z"/>
            </svg> Hibernate Training </h3><br><br>
            <div class="star">
            <span class="Rating"><a>Rating of &nbsp; <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="yellow" class="bi bi-star" viewBox="0 0 16 16">
                <polygon points="8 0 10 5 15 5 11.25 8.75 12.5 14.5 8 11 3.5 14.5 4.75 8.75 1 5" />
            </svg><svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="yellow" class="bi bi-star" viewBox="0 0 16 16">
                <polygon points="8 0 10 5 15 5 11.25 8.75 12.5 14.5 8 11 3.5 14.5 4.75 8.75 1 5" />
            </svg><svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="yellow" class="bi bi-star" viewBox="0 0 16 16">
                <polygon points="8 0 10 5 15 5 11.25 8.75 12.5 14.5 8 11 3.5 14.5 4.75 8.75 1 5" />
            </svg><svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="yellow" class="bi bi-star" viewBox="0 0 16 16">
                <polygon points="8 0 10 5 15 5 11.25 8.75 12.5 14.5 8 11 3.5 14.5 4.75 8.75 1 5" />
            </svg><svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="yellow" class="bi bi-star" viewBox="0 0 16 16">
                <polygon points="8 0 10 5 15 5 11.25 8.75 12.5 14.5 8 11 3.5 14.5 4.75 8.75 1 5" />
            </svg> </a></span><br>
            <a class="average" style="font-size: 10px;">Average of 4.98 on a total of 500 Ratings</a><br></div>
            <div class="training" style="margin-left: 142px; margin-top: 14px; font-size: 12px">
            <a herf="/trainers_profile" style="color: red;">Trainers Profile</a><br>
            <a href="/student_enquiry" style="color: red;">Student Enquiry</a><br>
            <a href="/corporate_training" style="color: red;">Corporate Training</a><br>
            <a href="/feedback" style="color: red;">Post your Feedback</a><br>
            <a href="/post_testimonials" style="color: red;">View/Post Testimonials<br>
            <a href="/contact" style="color: red;">Contact Us</a></a1></div>
            <div class="margin" style="margin-left: 141px;">
                <h2>Register for Course!</h3><br>
                <p>Learn from the Real-Time Experts</p>
                <br>
                    <form>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="firstName">First Name<span class="text-danger">*</span></label>
                                <input type="text" class="form-control" id="firstName" placeholder="Enter your first name">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="lastName">Last Name<span class="text-danger">*</span></label>
                                <input type="text" class="form-control" id="lastName" placeholder="Enter your last name">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="email">Email<span class="text-danger">*</span></label>
                                <input type="email" class="form-control" id="email" placeholder="Enter your email">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="phone">Phone<span class="text-danger">*</span></label>
                                <input type="tel" class="form-control" id="phone" placeholder="Enter your phone number">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="state">State</label>
                                <input type="tel" class="form-control" id="state" placeholder="Enter your phone number">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="modeOfTraining">Mode of Training<span class="text-danger">*</span></label>
                            <select id="modeOfTraining" class="form-control">
                                <option selected>Online Training</option>
                                <option selected>Classroom Training</option>
                                <option selected>Weekend Training</option>
                                <option selected>Project Training</option>
                                <option selected>Intership Training</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="course">Course</label>
                            <select id="course" class="form-control">
                                <option selected>Select Course</option>
                                <option selected>Python</option>
                                <option selected>Java</option>
                                <option selected>C++</option>
                                <option selected>C#</option>
                                <option selected>JavaScript</option>
                                <option selected>Ruby</option>
                                <option selected>Swift</option>
                                <option selected>Kotlin</option>
                                <option selected>Data Science</option>
                                <option selected>Machine Learning</option>
                                <option selected>Deep Learning</option>
                                <option selected>Natural Language Processing (NLP)</option>
                                <option selected>TensorFlow</option>
                                <option selected>PyTorch</option>
                            </select>
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                    <br>

                    <h2>JOIN WHATSAPP GROUPS FOR UPDATES<br><br>
                        <img src="./assets/whatsappjpg">
                    </h2>
                    <h2>WATCH FREE TUTORIALS<br><br>
                        <img src="./assets/telegramjpeg">
                    </h2>
                    <h2>JOIN US ON TELEGRAM FOR UPDATES<br><br>
                        <img src="./assets/freejpg">
                    </h2>
                    <h2>FIND COURSES HERE</h2>
                    <li>courses traning</li>
                    <li>Android Training</li>
                    <li>iPhone Training</li>
                    <li>Asp.Net Training</li>
                    <li>Asp.Net MVC Training</li>
                    <li>C#.NET Training</li>
                    <li>C++ Training</li>
                    <li>Data Structure Training</li>
                    <li>Java Training</li>
                    <ul class="list">
                        <li>Core Java Training</li>
                        <li>Advanced Java Training</li>
                        <li>Hibernate Training</li>
                        <li>J2EE Training</li>
                        <li>Spring 5.x Training</li>
                        <li>Hibernate Training</li>
                        <li>Web Services Training</li>
                        <li>Struts Training</li>
                        <li>XML Training</li>
                        <li>Java Online Training</li></ul>
                    <li>Oracle Training</li>
                    <li>SQL Server Training</li>
                    <li>Selenium Training</li>
                    <li>UNIX LINUX Training</li>
                    <li>PHP Training</li>
                    <li>HTML5 CSS3 Training</li>
                    <li>jQuery Training</li>
                    <li>UI Technologies Training</li>
                    <li>UI UX Training</li>
                    <li>AngularJS Training</li>
                    <ul class="list">
                        <li>Angular 2 Training</li>
                        <li>Angular 4 Training</li>
                        <li>Angular 6 Training</li>
                        <li>Angular 7 Training</li>
                    </ul>
                    <li>Data Science Training</li>
                    <li>Artificial Intelligence Training</li>
                    <li>Hadoop Training</li>
                    <li>Apache Spark Training</li>
                    <li>Python Training</li>
                    <li>Hadoop Online Training</li>
                    <li>DevOps Training</li>
                    <li>AWS Training</li>
                    <li>IoT Training</li>
                    <li>SalesForce CRM Training</li>
                    <li>Digital Marketing Training</li>
                    <li>RPA Training</li>
                    <ul class="list">
                        <li>Blue Prism Training</li>
                        <li>Automation Anywhere Training</li>
                        <li>Automation Anywhere Online Training</li>
                    </ul>
                    <li>Blockchain Training</li>
                    <li>Realtime Projects</li>
                    <ul class="list">
                        <li>Real Time Java Project</li>
                        <li>Real-Time Project on PHP</li></ul>
                    <li>Doubleclick for Publishers Training</li>
                    <li>Software Training in Chennai</li>
                    <li>Testing Tools Training</li>
                    <li>Full Stack Web Development Course</li>
                    <li>Full Stack Web Development Course</li>
                    <li>Full Stack Java Developer Course</li>
               </div>
           </div>
        </div>
    </div>
</body>
<%= render "fooder" %>
