<%= render "header" %>
<style>
    body {
        margin: 41px;
        padding: 0;
    }
    h{
        font-weight: bold;
    }pr li{
    margin-left: 35px;
    font-size: 12px;
    font-style: italic;
    }
    .course-card {
        margin-bottom: 20px;
    }
    .left-box {
        padding: 20px;
/*        width: 120%;*/
    }

    .right-box {
        padding: 20px;
        margin-top: 20px;
    }

    
    h1 {
        font-weight: bold;
    }

    h2 {
        font-weight: bold;
        margin: 0px;
        margin-top: 20px; 
       font-size: 19px;
    }
    h3{
        color: red;
        font-size: 16px;
        margin-left: 135px;
    }
    h4{
        font-size: 1.5rem;
        margin-top: 102px;
        font-size: 20px;
        font-weight: bold;
    }
    a1, td {
        color: red;
    }
    .text-black {
        color: black !important;
    }
    .star{
        margin-left: 210px;
    }
    span.Rating{    
        margin-left: 28px;
    }
    p{
        font-size: 12px
    }
    .ser {
        font-size: 12px;
        font-weight: bold;
        margin: 16px;
    }

    .container {
        margin-left: 210px;
    }
</style>
<body>
<div class="row">
<!-- Left Box -->
<div class="col-md-6">
    <div class="left-box">
        <h4 class="border-bottom pb-2">HTML5 CSS3 Training</h4>
        <a1 class="border-bottom pb-2">NIT Manager</a1>
        <div class="left-box">
            <h class="services" style="font-size: 12px; font-weight: bold;">HTML5 and CSS3 Course Overview</h>
            <p class="paragrap" style="margin-top: 20px; word-spacing: 2px;">HTML5 is everywhere, and is a technology that can no longer be ignored or treated as a mere extension of HTML4. <strong>HTML5</strong> is a vast umbrella term for modern Front End Engineering, namely JavaScript, Markup, DeviceAPIs, and Styles. Almost anything you see in<strong> App Stores</strong> can now be created with pure HTML5</p>
            <p class="paragrap" style="margin-top: 20px; word-spacing: 2px;">Although we will cover some of the most exciting features of HTML5 such as geo location, web sockets, local storage, Real Time Communications(Web Workers, Web Socket), File / Hardware Access(Native Drag and Drop, FileSystem APIs, Geolocation, Device Orientation and Speech Input), Semantics and Markup, Multimedia, Graphics (2D and 3D Effects) SVG and Canvas, the focus of the course will be to help people understand the core principles and best practices for creating websites and apps.</p>
            <p class="paragrap" style="margin-top: 20px; word-spacing: 2px;">CSS3 is split up into “modules”. The old specification has been split into smaller pieces, and new ones are also added. Some of the most important CSS3 modules are Selectors, Box Model, Backgrounds and Borders, Text Effects, 2D/3D Transformations, Animations, Multiple Column Layout and <a1>User Interface</a1></p>
        </div>
        <h2 class="ser">HTML5 and CSS3 Training Course Prerequisite</h2>
        <pr>
            <li>HTML</li>
            <li>CSS</li>
            <li>JavaScript</li>
        </pr><br>
        <h2 class="ser">HTML5 and CSS3 Training Course Objectives</h2>
        <pr>
            <li>As we delve into this course, one of our primary goals is to introduce you thoroughly to HTML5, a ubiquitous platform for the web.</li>
            <li>Whether you're a mobile web developer, an enterprise with specific business needs, or a serious game developer exploring the web as a new platform, HTML5 offers versatile functionalities catering to various needs.</li>
            <li>HTML5 has significantly empowered the web platform, enhancing its capabilities in different areas, making it more robust and powerful for diverse applications.</li>
        </pr><br>
        <h2 class="ser">HTML5 and CSS3 Course Duration</h2>
        <pr>
            <li>30 Working days</li>
            <li>Daily one and a half hours</li>
        </pr><br>
        <h2 class="ser">HTML5 and CSS3 Course Content</h2>
        <h2 class="ser">Introduction to WEB</h2>
        <pr>
            <li>W3C and W3C Members</li>
            <li>Why WHATWG?</li>
            <li>What is Web?</li>
        </pr><br>
        <h2 class="ser">HTML Basics</h2>
        <pr>
            <li>Introduction</li>
            <li>Parts in HTML Document</li>
            <li>Editors</li>
            <li>Basic Elements</li>
            <li>Attributes</li>
            <li>Headings Basics</li>
            <li>Paragraphs Formatting</li>
            <li>Links</li>
            <li>Head</li>
            <li>CSS</li>
            <li>Images</li>
            <li>Tables</li>
            <li>JavaScript</li>
            <li>HTML XHTML</li>
            <li>HTML4 Drawbacks</li>
        </pr><br>
        <h2 class="ser">HTML5 Introduction</h2>
        <pr>
            <li>HTML5 HISTORY</li>
            <li>New Features and groups</li>
            <li>Backward Compatibility</li>
            <li>Why HTML5?</li>
            <li>Power of HTML5: m or mobi or touch domains</li>
            <li>Common Terms in HTML5</li>
        </pr><br>
        <h2 class="ser">HTML5 Syntax</h2>
        <pr>
            <li>The DOCTYPE:</li>
            <li>Character Encoding</li>
        </pr><br>

        <h2 class="ser">Obsolete Elements/Deprecated Elements</h2>
        <pr>
            <li>&lt;acronym&gt;</li>
            <li>&lt;applet&gt;</li>
            <li>&lt;basefont&gt;</li>
            <li>&lt;big&gt;</li>
            <li>&lt;center&gt;</li>
            <li>&lt;dir&gt;</li>
            <li>&lt;font&gt;</li>
            <li>&lt;frame&gt;</li>
            <li>&lt;frameset&gt;</li>
            <li>&lt;isindex&gt;</li>
            <li>&lt;noframes&gt;</li>
            <li>&lt;s&gt;</li>
            <li>&lt;strike&gt;</li>
            <li>&lt;tt&gt;</li>
            <li>&lt;u&gt;</li>
            <li>&lt;xmp&gt;</li>
        </pr><br>

        <h2 class="ser">HTML5 New Elements</h2>
        <pr>
            <li>New Semantic/Structural Elements</li>
            <li>&lt;article&gt;</li>
            <li>&lt;aside&gt;</li>
            <li>&lt;bdi&gt;</li>
            <li>&lt;command&gt;</li>
            <li>&lt;details&gt;</li>
            <li>&lt;dialog&gt;</li>
            <li>&lt;summary&gt;</li>
            <li>&lt;figure&gt;</li>
            <li>&lt;figcaption&gt;</li>
            <li>&lt;footer&gt;</li>
            <li>&lt;header&gt;</li>
            <li>&lt;mark&gt;</li>
            <li>&lt;meter&gt;</li>
            <li>&lt;nav&gt;</li>
            <li>&lt;progress&gt;</li>
            <li>&lt;ruby&gt;</li>
            <li>&lt;rt&gt;</li>
            <li>&lt;rp&gt;</li>
            <li>&lt;section&gt;</li>
            <li>&lt;time&gt;</li>
            <li>&lt;wbr&gt;</li>
        </pr><br>
        <h2 class="ser">HTML5 Canvas</h2>
        <pr>
            <li>What is Canvas?</li>
            <li>Create a Canvas</li>
            <li>Canvas Coordinates</li>
            <li>Canvas – Paths</li>
            <li>Canvas – Text</li>
            <li>Canvas – Gradients</li>
            <li>Canvas – Images</li>
        </pr><br>

        <h2 class="ser">HTML5 SVG</h2>
        <pr>
            <li>What is SVG?</li>
            <li>SVG Advantages</li>
            <li>Differences Between SVG and Canvas</li>
            <li>Comparison of Canvas and SVG</li>
        </pr><br>

        <h2 class="ser">HTML5 Drag/Drop</h2>
        <pr>
            <li>Introduction</li>
            <li>Make an Element Draggable</li>
            <li>What to Drag? Where to Drop?</li>
        </pr><br>

        <h2 class="ser">HTML5 Geolocation</h2>
        <pr>
            <li>Introduction</li>
            <li>Locate the User’s Position</li>
            <li>Handling Errors and Rejections</li>
            <li>The getCurrentPosition()</li>
            <li>Geolocation object</li>
        </pr><br>
        <h2 class="ser">HTML5 Video</h2>
        <pr>
            <li>Introduction</li>
            <li>Video on the Web</li>
            <li>How It Works?</li>
            <li>Video Formats and Browser Support</li>
            <li>HTML5 Video Tags</li>
        </pr><br>

        <h2 class="ser">HTML5 Audio</h2>
        <pr>
            <li>Introduction</li>
            <li>Audio on the Web</li>
            <li>How It Works?</li>
            <li>Audio Formats and Browser Support</li>
            <li>HTML5 Audio Tags</li>
        </pr><br>

        <h2 class="ser">HTML5 Input Types</h2>
        <pr>
            <li>Introduction</li>
            <li>color</li>
            <li>date</li>
            <li>datetime</li>
            <li>datetime-local</li>
            <li>email</li>
            <li>month</li>
            <li>number</li>
            <li>range</li>
            <li>search</li>
            <li>tel</li>
            <li>time</li>
            <li>url</li>
            <li>week</li>
        </pr><br>

        <h2 class="ser">HTML5 Form Elements</h2>
        <pr>
            <li>&lt;datalist&gt;</li>
            <li>&lt;keygen&gt;</li>
            <li>&lt;output&gt;</li>
        </pr><br>
        <h2 class="ser">HTML5 Form Attributes</h2>
        <pr>
            <li>New attributes for &lt;form&gt; and &lt;input&gt;</li>
            <ul class="list">
                <li>New attributes for &lt;form&gt;:
                    <ul class="list">
                        <li>autocomplete</li>
                        <li>novalidate</li>
                    </ul>
                </li>
                <li>New attributes for &lt;input&gt;:
                    <ul class="list">
                        <li>autocomplete</li>
                        <li>autofocus</li>
                        <li>form, formaction</li>
                        <li>formenctype, formmethod</li>
                        <li>formnovalidate</li>
                        <li>formtarget</li>
                        <li>height and width</li>
                        <li>list, min and max</li>
                        <li>multiple</li>
                        <li>pattern (regexp)</li>
                        <li>placeholder</li>
                        <li>required, step</li>
                    </ul>
                </li>
            </ul>
        </pr><br>

        <h2 class="ser">HTML5 Semantic</h2>
        <pr>
            <li>Introduction</li>
            <li>What are Semantic Elements?</li>
            <li>non-semantic elements: &lt;div&gt; and &lt;span&gt;</li>
            <li>semantic elements: &lt;form&gt;, &lt;table&gt;, and &lt;img&gt;</li>
            <li>New Semantic Elements in HTML5:
                <ul class="list">
                    <li>&lt;header&gt;</li>
                    <li>&lt;nav&gt;</li>
                    <li>&lt;section&gt;</li>
                    <li>&lt;article&gt;</li>
                    <li>&lt;aside&gt;</li>
                    <li>&lt;figcaption&gt;</li>
                    <li>&lt;figure&gt;</li>
                    <li>&lt;footer&gt;</li>
                </ul>
            </li>
        </pr><br>
        <h2 class="ser">HTML5 Web Storage</h2>
        <pr>
            <li>What is HTML5 Web Storage?</li>
            <li>Browser Support</li>
            <li>The localStorage Object</li>
            <li>The sessionStorage Object</li>
        </pr><br>

        <h2 class="ser">HTML5 App Cache</h2>
        <pr>
            <li>What is Application Cache?</li>
            <li>Cache Manifest Basics</li>
            <li>HTML5 Cache Manifest</li>
        </pr><br>

        <h2 class="ser">HTML5 Web Workers</h2>
        <pr>
            <li>What is a Web Worker?</li>
            <li>Check Web Worker Support</li>
            <li>Create a Web Worker File</li>
            <li>Terminate a Web Worker</li>
        </pr><br>

        <h2 class="ser">HTML5 SSE</h2>
        <pr>
            <li>One Way Messaging</li>
            <li>Browser Support</li>
            <li>The EventSource Object</li>
        </pr><br>

        <h2 class="ser">HTML Media</h2>
        <pr>
            <li>New Media Elements</li>
            <ul class="list">
                <li>&lt;audio&gt;</li>
                <li>&lt;video&gt;</li>
                <li>&lt;source&gt;</li>
                <li>&lt;embed&gt;</li>
                <li>&lt;track&gt;</li>
            </ul>
        </pr><br>
        <h2 class="ser">HTML Multimedia</h2>
        <pr>
            <li>What is Multimedia?</li>
            <li>Browser Support</li>
            <li>Multimedia Formats</li>
            <ul class="list">
                <li>Video Formats</li>
                <li>Sound Formats</li>
            </ul>
        </pr><br>

        <h2 class="ser">HTML5 – MathML</h2>
        <pr>
            <li>Introduction</li>
            <li>Using MathML Characters</li>
            <li>Matrix Presentation</li>
            <li>Math Formulas</li>
        </pr><br>

        <h2 class="ser">CSS 1.0 and 2.0</h2>
        <pr>
            <li>CSS Basics</li>
            <li>CSS Introduction</li>
            <li>CSS Syntax</li>
            <li>CSS Id, Class, and CSS Styling</li>
            <li>Styling Backgrounds</li>
            <li>Styling Text</li>
            <li>Styling Fonts</li>
            <li>Links, Styling Lists, and Styling Tables</li>
            <li>CSS Border</li>
        </pr><br>

        <h2 class="ser">CSS3</h2>
        <pr>
            <li>Introduction</li>
            <li>CSS3 Modules</li>
            <li>Selectors</li>
            <li>Box Model</li>
            <li>Backgrounds and Borders</li>
            <li>Text Effects</li>
            <li>2D/3D Transformations</li>
            <li>Animations</li>
            <li>Multiple Column Layout</li>
            <li>User Interface</li>
        </pr><br>
        <h2 class="ser">Borders</h2>
        <pr>
            <li>border-radius</li>
            <li>box-shadow</li>
            <li>border-image</li>
        </pr><br>

        <h2 class="ser">CSS3 Backgrounds</h2>
        <pr>
            <li>background-size</li>
            <li>background-origin</li>
        </pr><br>

        <h2 class="ser">CSS3 Text Effects</h2>
        <pr>
            <li>text-shadow</li>
            <li>word-wrap</li>
        </pr><br>

        <h2 class="ser">CSS3 Fonts</h2>
        <pr>
            <li>@font-face Rule</li>
            <li>font-stretch</li>
            <li>font-weight</li>
        </pr><br>

        <h2 class="ser">CSS3 2D Transforms</h2>
        <pr>
            <li>How Does it Work?</li>
            <li>Browser Support</li>
            <li>2D Transforms</li>
            <ul class="list">
                <li>translate()</li>
                <li>rotate()</li>
                <li>scale()</li>
                <li>skew()</li>
                <li>matrix()</li>
            </ul>
        </pr><br>
        <h2 class="ser">CSS3 3D Transforms</h2>
        <pr>
            <li>rotateX()</li>
            <li>rotateY()</li>
        </pr><br>

        <h2 class="ser">CSS3 Transitions</h2>
        <pr>
            <li>How does it work?</li>
            <li>transition-property, duration, and delay</li>
        </pr><br>

        <h2 class="ser">CSS3 Animations</h2>
        <pr>
            <li>CSS3 @keyframes Rule</li>
            <li>Browser Support</li>
            <li>Animation, animation-duration</li>
        </pr><br>

        <h2 class="ser">CSS3 Multiple Columns</h2>
        <pr>
            <li>column-count</li>
            <li>column-gap</li>
            <li>column-rule</li>
        </pr><br>

        <h2 class="ser">CSS3 User Interface</h2>
        <pr>
            <li>resize</li>
            <li>box-sizing</li>
            <li>outline-offset</li>
        </pr><br>
        <form class="border-top border-bottom">
                    <br>
                    <h8>Categories:<a1>CLASSROOM Training -- <h8 class="color" style='color: black;'>Tags:</h8> Chennai, Hyderabad</a1></h8>
                    <br>
                </form>
            </div>
        </div>

<div class="col-md-6 px-4">
        <div class="right-box">
            <h3><a href="http://localhost:3000/home" style=" color: red;"> Home </a><svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="currentColor" class="bi bi-chevron-double-right" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M3.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L9.293 8 3.646 2.354a.5.5 0 0 1 0-.708z"/>
                <path fill-rule="evenodd" d="M7.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L13.293 8 7.646 2.354a.5.5 0 0 1 0-.708z"/>
            </svg> ONLINE TRAINING <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="currentColor" class="bi bi-chevron-double-right" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M3.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L9.293 8 3.646 2.354a.5.5 0 0 1 0-.708z"/>
                <path fill-rule="evenodd" d="M7.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L13.293 8 7.646 2.354a.5.5 0 0 1 0-.708z"/>
            </svg> HTML5 CSS3 Training </h3><br><br>
            <div class="star">
            <span class="Rating"><a>Rating of &nbsp; <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="yellow" class="bi bi-star" viewBox="0 0 16 16">
                <polygon points="8 0 10 5 15 5 11.25 8.75 12.5 14.5 8 11 3.5 14.5 4.75 8.75 1 5" />
            </svg><svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="yellow" class="bi bi-star" viewBox="0 0 16 16">
                <polygon points="8 0 10 5 15 5 11.25 8.75 12.5 14.5 8 11 3.5 14.5 4.75 8.75 1 5" />
            </svg><svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="yellow" class="bi bi-star" viewBox="0 0 16 16">HTML5 CSS3 Training
                <polygon points="8 0 10 5 15 5 11.25 8.75 12.5 14.5 8 11 3.5 14.5 4.75 8.75 1 5" />
            </svg><svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="yellow" class="bi bi-star" viewBox="0 0 16 16">
                <polygon points="8 0 10 5 15 5 11.25 8.75 12.5 14.5 8 11 3.5 14.5 4.75 8.75 1 5" />
            </svg><svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="yellow" class="bi bi-star" viewBox="0 0 16 16">
                <polygon points="8 0 10 5 15 5 11.25 8.75 12.5 14.5 8 11 3.5 14.5 4.75 8.75 1 5" />
            </svg> </a></span><br>
            <a class="average" style="font-size: 10px;">Average of 4.98 on a total of 500 Ratings</a><br></div>
            <div class="training" style="margin-left: 142px; margin-top: 14px; font-size: 12px">
            <a herf="/trainers_profile" style="color: red;">Trainers Profile</a><br>
            <a href="/student_enquiry" style="color: red;">Student Enquiry</a><br>
            <a href="/corporate_training" style="color: red;">Corporate Training</a><br>
            <a href="/feedback" style="color: red;">Post your Feedback</a><br>
            <a href="/post_testimonials" style="color: red;">View/Post Testimonials<br>
            <a href="/contact" style="color: red;">Contact Us</a></a1></div>
            <div class="margin" style="margin-left: 141px;">
                <h2>Register for Course!</h3><br>
                <p>Learn from the Real-Time Experts</p>
                <br>
                    <form>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="firstName">First Name<span class="text-danger">*</span></label>
                                <input type="text" class="form-control" id="firstName" placeholder="Enter your first name">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="lastName">Last Name<span class="text-danger">*</span></label>
                                <input type="text" class="form-control" id="lastName" placeholder="Enter your last name">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="email">Email<span class="text-danger">*</span></label>
                                <input type="email" class="form-control" id="email" placeholder="Enter your email">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="phone">Phone<span class="text-danger">*</span></label>
                                <input type="tel" class="form-control" id="phone" placeholder="Enter your phone number">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="state">State</label>
                                <input type="tel" class="form-control" id="state" placeholder="Enter your phone number">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="modeOfTraining">Mode of Training<span class="text-danger">*</span></label>
                            <select id="modeOfTraining" class="form-control">
                                <option selected>Online Training</option>
                                <option selected>Classroom Training</option>
                                <option selected>Weekend Training</option>
                                <option selected>Project Training</option>
                                <option selected>Intership Training</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="course">Course</label>
                            <select id="course" class="form-control">
                                <option selected>Select Course</option>
                                <option selected>Python</option>
                                <option selected>Java</option>
                                <option selected>C++</option>
                                <option selected>C#</option>
                                <option selected>JavaScript</option>
                                <option selected>Ruby</option>
                                <option selected>Swift</option>
                                <option selected>Kotlin</option>
                                <option selected>Data Science</option>
                                <option selected>Machine Learning</option>
                                <option selected>Deep Learning</option>
                                <option selected>Natural Language Processing (NLP)</option>
                                <option selected>TensorFlow</option>
                                <option selected>PyTorch</option>
                            </select>
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                    <br>

                    <h2>JOIN WHATSAPP GROUPS FOR UPDATES<br><br>
                        <img src="./assets/whatsappjpg">
                    </h2>
                    <h2>WATCH FREE TUTORIALS<br><br>
                        <img src="./assets/telegramjpeg">
                    </h2>
                    <h2>JOIN US ON TELEGRAM FOR UPDATES<br><br>
                        <img src="./assets/freejpg">
                    </h2>
                    <h2>FIND COURSES HERE</h2>
                    <li>courses traning</li>
                    <li>Android Training</li>
                    <li>iPhone Training</li>
                    <li>Asp.Net Training</li>
                    <li>Asp.Net MVC Training</li>
                    <li>C#.NET Training</li>
                    <li>C++ Training</li>
                    <li>Data Structure Training</li>
                    <li>Java Training</li>
                    <ul class="list">
                        <li>Core Java Training</li>
                        <li>Advanced Java Training</li>
                        <li>Hibernate Training</li>
                        <li>J2EE Training</li>
                        <li>Spring 5.x Training</li>
                        <li>Hibernate Training</li>
                        <li>Web Services Training</li>
                        <li>Struts Training</li>
                        <li>XML Training</li>
                        <li>Java Online Training</li></ul>
                    <li>Oracle Training</li>
                    <li>SQL Server Training</li>
                    <li>Selenium Training</li>
                    <li>UNIX LINUX Training</li>
                    <li>PHP Training</li>
                    <li>HTML5 CSS3 Training</li>
                    <li>jQuery Training</li>
                    <li>UI Technologies Training</li>
                    <li>UI UX Training</li>
                    <li>AngularJS Training</li>
                    <ul class="list">
                        <li>Angular 2 Training</li>
                        <li>Angular 4 Training</li>
                        <li>Angular 6 Training</li>
                        <li>Angular 7 Training</li>
                    </ul>
                    <li>Data Science Training</li>
                    <li>Artificial Intelligence Training</li>
                    <li>Hadoop Training</li>
                    <li>Apache Spark Training</li>
                    <li>Python Training</li>
                    <li>Hadoop Online Training</li>
                    <li>DevOps Training</li>
                    <li>AWS Training</li>
                    <li>IoT Training</li>
                    <li>SalesForce CRM Training</li>
                    <li>Digital Marketing Training</li>
                    <li>RPA Training</li>
                    <ul class="list">
                        <li>Blue Prism Training</li>
                        <li>Automation Anywhere Training</li>
                        <li>Automation Anywhere Online Training</li>
                    </ul>
                    <li>Blockchain Training</li>
                    <li>Realtime Projects</li>
                    <ul class="list">
                        <li>Real Time Java Project</li>
                        <li>Real-Time Project on PHP</li></ul>
                    <li>Doubleclick for Publishers Training</li>
                    <li>Software Training in Chennai</li>
                    <li>Testing Tools Training</li>
                    <li>Full Stack Web Development Course</li>
                    <li>Full Stack Web Development Course</li>
                    <li>Full Stack Java Developer Course</li>
               </div>
           </div>
        </div>
    </div>
</body>
<%= render "fooder" %>
<br>
<p class="paragrap" style="font-weight: bold;">© 2023 Naresh i Technologies | Software Training - Online Training - Live Project Training - Weekend Training</p>