<%= render "header" %>
<style>
    body {
        margin: 41px;
        padding: 0;
    }
    h{
        font-weight: bold;
    }pr li{
    margin-left: 35px;
    font-size: 12px;
    font-style: italic;
    }
    .course-card {
        margin-bottom: 20px;
    }
    .left-box {
        padding: 20px;
/*        width: 120%;*/
    }

    .right-box {
        padding: 20px;
        margin-top: 20px;
    }

    
    h1 {
        font-weight: bold;
    }

    h2 {
        font-weight: bold;
        margin: 0px;
        margin-top: 20px; 
       font-size: 19px;
    }
    h3{
        color: red;
        font-size: 16px;
        margin-left: 135px;
    }
    h4{
        font-size: 1.5rem;
        margin-top: 102px;
        font-size: 20px;
        font-weight: bold;
    }
    a1, td {
        color: red;
    }
    .text-black {
        color: black !important;
    }
    .star{
        margin-left: 210px;
    }
    span.Rating{    
        margin-left: 28px;
    }
    p{
        font-size: 12px
    }
    .ser {
        font-size: 12px;
        font-weight: bold;
        margin: 16px;
    }
</style>
<body>
<div class="row">
<!-- Left Box -->
<div class="col-md-6">
    <div class="left-box">
        <h4 class="border-bottom pb-2">IoT Training</h4>
        <a1 class="border-bottom pb-2">webmaster</a1>
        <div class="left-box">
            <h class="services" style="font-size: 12px; font-weight: bold;">Internet of Things (IoT) Training Overview</h>
            <p class="paragrap" style="margin-top: 20px; word-spacing: 2px;">This IoT Training is provided by Real-Time Expert with in-depth analysis and real-time examples. The IoT <a1> (Internet of Things)</a1> Used to enable the Collection and Exchanging the Data between the Connected Devices, Smart Devices, sensors, software and Other things embedded with electronics. Attend free demo by real time experts and join IoT Course today…</p>
        </div>
        <h2 class="ser">iPhone Course Prerequisite</h2>
        <pr>
            <li>Prior 'ANSI-C' programming language experience</li>
            <li>Basic object-oriented languages like<strong> C++,</strong> Java,<a1> C#.Net</a1> is recommended</li>
            <li>Knowing basic <a1>SQL</a1> queries can be an advantage</li>
        </pr><br>
        <h2 class="ser">Course Duration</h2>
        <pr><li>30 Hrs</li></pr><br>
        <h2 class="ser">IoT Training Prerequisites</h2>
        <pr><li>No Prerequisites</li></pr>
        <h2 class="ser">IoT Course Content</h2>
        <h2 class="ser">Introduction</h2>
        <pr>
            <li>What is IoT?</li>
            <li>How IoT is applied in different domains?</li>
            <li>Use cases ranging from Smart Cities to IIoT</li>
            <li>How large is the IoT Market in different domains?</li>
        </pr><br>
        <h2 class="ser">IoT Architecture</h2>
        <pr>
            <li>IoT Technology stack</li>
            <li>Sensors & Actuators</li>
            <li>Hardware Platforms</li>
            <li>Wireless Communication Protocols</li>
            <li>Network Communication Protocols</li>
            <li>Cloud, its components and IoT</li>
            <li>Data Streaming in IoT</li>
            <li>Data Store and IoT</li>
            <li>Analytics & Visualization for IoT</li>
        </pr><br>

        <h2 class="ser">Sensor & Actuator</h2>
        <pr>
            <li>What is Sensor & Actuator?</li>
            <li>What is a good sensor?</li>
            <li>Sensor properties and their classification</li>
            <li>Types of Sensors & Actuators</li>
            <li>Working of typical Sensors and Actuators</li>
            <li>Categories of sensors Commercial/Industrial/Military/Medical/Food grade sensors</li>
            <li>Selecting a sensor for your use case</li>
            <li>IoT Hardware Platform & comparison</li>
            <li>Criteria for selecting Hardware platform</li>
        </pr><br>

        <h2 class="ser">Raspberry pi and Arduino Hardware Overview</h2>
        <pr>
            <li>The Raspberry Pi and Arduino Open Source Microcontroller Platform</li>
            <li>Schematics, PCB Design Tools and prototype steps</li>
            <li>Raspberry Pi and Arduino Board Layout & Architecture</li>
            <li>Why Raspberry Pi and Arduino?</li>
        </pr><br>

        <h2 class="ser">Arduino Programming Fundamentals</h2>
        <pr>
            <li>How to program Arduino with Arduino IDE</li>
            <li>How to make your Arduino respond to sensors and actuators</li>
            <li>Reading data from analog/Digital Sensors</li>
            <li>Writing data to analog (PWM)/Digital actuators</li>
        </pr><br>
        <h2 class="ser">Interfacing Sensors and Actuators with Hardware</h2>
        <pr>
            <li>Connecting sensors to Arduino to read data from sensor and display on serial monitor (Temperature, Humidity, Distance, Light, Moisture, Gas (Methane/Alcohol), Proximity, Motion)</li>
            <li>Connecting actuator to Arduino and controlling Actuator (LED, Relay, Push button, Buzzer)</li>
            <li>Controlling a motor (actuator) by sensing Temperature</li>
            <li>Controlling a buzzer using Ultrasonic ranger</li>
            <li>PIR (Human presence) (Combining sensors to avoid false alarms)</li>
            <li>Controlling sprinklers using relay by sensing moisture in the soil using moisture sensor</li>
        </pr><br>
        <h2 class="ser">Program Raspberry Pi board</h2>
        <pr>
            <li>Working with Raspberry Pi 3 Model</li>
            <li>Installing OS and Designing Systems using Raspberry pi</li>
            <li>Configuring Raspberry Pi for VNC Connection</li>
            <li>Getting introduced to Linux OS</li>
            <li>Basic Linux commands and uses</li>
            <li>Getting Started with Python</li>
            <li>Variables, Functions and control Structure</li>
            <li>File Handling in Python & Importing or Exporting Data</li>
            <li>Interface sensor and Actuator with Raspberry Pi</li>
        </pr><br>

        <h2 class="ser">IoT Communication Protocol</h2>
        <pr>
            <li>IoT Wireless Protocols</li>
            <li>RFID, NFC, Blue Tooth, BLE, ZigBee, Zwave Mesh network</li>
            <li>Comparison of wireless Protocols</li>
            <li>How to select a wireless Protocol based on use case</li>
        </pr><br>

        <h2 class="ser">IoT Communication Channels</h2>
        <pr>
            <li>Wi Fi, GSM/GPRS, 2G, 3G, LTE</li>
            <li>Comparison of Communication Channels</li>
            <li>How to select a Communication Channels based on Use Case</li>
        </pr><br>

        <h2 class="ser">IoT Network Protocols</h2>
        <pr>
            <li>MQTT/MQTTS, CoAP, 6LoWPAN, TCP, UDP, HTTP/s</li>
        </pr><br>
        <h2 class="ser">Comparison of the Network Protocols</h2>
        <pr>
            <li>How to select a Network Protocol based on Use Case</li>
        </pr><br>

        <h2 class="ser">Introduction to IPv4 and IPv6</h2>
        <pr>
            <li>Issues with IPv4 in IoT</li>
            <li>How IPv6 solves the issues with IPv4</li>
        </pr><br>

        <h2 class="ser">Application Issues with RF Protocol</h2>
        <pr>
            <li>Power consumption, LOS, reliability, Security aspects</li>
        </pr><br>

        <h2 class="ser">TCP/UDP Transport Layer Protocol</h2>
        <pr>
            <li>Introduction of TCP & UDP</li>
            <li>Difference between TCP/UDP Transport Layer Protocol</li>
            <li>Practical testing of TCP v/s UDP by Python socket programming</li>
        </pr><br>

        <h2 class="ser">HTTP Application Layer IoT Protocol</h2>
        <pr>
            <li>Introduction and structure of HTTP protocol</li>
            <li>Start with HTTP protocol GET/POST Method</li>
            <li>Work on Python Flask library design web page</li>
            <li>Control things from the webpage using the HTTP protocol</li>
            <li>Publish sensor data over a webserver</li>
        </pr><br>
        <h2 class="ser">MQTT IoT Protocol</h2>
        <pr>
            <li>Introduction to MQTT</li>
            <li>Why MQTT?</li>
            <li>Features of MQTT</li>
            <li>MQTT Subscribe/Publish</li>
            <li>MQTT Broker</li>
            <li>MQTT QoS</li>
            <li>MQTT Security</li>
        </pr><br>

        <h2 class="ser">MQTT with Raspberry Pi</h2>
        <pr>
            <li>Installation of Mosquito MQTT broker</li>
            <li>Publish and Subscriber test on a local server broker</li>
            <li>Start with Paho MQTT</li>
            <li>Publish/subscribe test on iot.eclipse platform</li>
        </pr><br>

        <h2 class="ser">IoT Cloud Platform (Ubidot)</h2>
        <pr>
            <li>Read data from sensors</li>
            <li>Create JSON Object</li>
            <li>Establish HTTPS connection using Wi-Fi</li>
            <li>Send JSON data to Ubidot Rest API over HTTPS</li>
            <li>Create business rules in Ubidot for alarms</li>
            <li>Send Data to Ubidot platform</li>
            <li>Create rule and configure Alarm (SMS/Email) for your device</li>
            <li>Send data to Ubidot which will trigger the alarm</li>
            <li>Create and configure Chart/Graph for visualization</li>
            <li>Control the actuator from Ubidot using polling technique</li>
        </pr><br>
        <h2 class="ser">Theory Introduction to Big Data and Big Data Technologies</h2>
        <pr>
            <li>Cloud Computing</li>
            <li>What is cloud?</li>
            <li>What is cloud computing?</li>
            <li>Benefits of cloud</li>
            <li>Deployment Models</li>
            <li>Top cloud providers</li>
            <li>Service Models</li>
            <li>Service Catalogue</li>
            <li>Advantages for different offerings</li>
            <li>Introduction to AWS</li>
            <li>Services provided by AWS</li>
            <ul class="list">
                <li>E2C</li>
                <li>SimpleDB</li>
                <li>RDS</li>
                <li>Dynamo DB</li>
                <li>Elastic Beanstalk</li>
                <li>SNS</li>
                <li>Cloud Watch</li>
                <li>Route 53</li>
                <li>VPC</li>
                <li>Elastic Load Balancing</li>
                <li>S3</li>
                <li>EBS</li>
                <li>IAM</li>
            </ul>
        </pr><br>
        <h2 class="ser">Big Data</h2>
        <pr>
            <li>Cloud data storage</li>
            <li>Introduction to Big Data</li>
            <li>Definition and Characteristics of Big Data</li>
            <li>Big Data Generation</li>
            <li>Big Data Analytics</li>
            <li>Reasons for Big Data Analytics</li>
            <li>Applications of Big Data Analytics</li>
            <li>Different Data Stores</li>
            <li>Big Data Technologies</li>
            <ul>
                <li>CouchDB</li>
                <li>MongoDB</li>
                <li>Node4J</li>
            </ul>
        </pr>

        <h2 class="ser">AWS IoT Setup for Application Development</h2>
        <pr>
            <li>Introduction to AWS IoT</li>
            <li>Creating a Thing in AWS IoT</li>
            <li>Downloading SDK and configuring Raspberry Pi</li>
            <li>Preparing the Raspberry Pi to connect to AWS IoT</li>
            <ul>
                <li>Downloading Certificates from AWS IoT console</li>
                <li>Installing certificates in Raspberry Pi</li>
                <li>Connecting Sensors to Raspberry Pi</li>
            </ul>
            <li>Connecting to AWS IoT</li>
            <li>Configuring Raspberry Pi sketch to connect to AWS IoT through Wi-Fi</li>
            <li>Establishing MQTT Connection</li>
            <li>Publishing Sensor data to AWS IoT Thing Shadow</li>
            <li>Subscribing MQTT Topic and controlling actuator from Thing shadow</li>
        </pr><br>
        <h2 class="ser">Send Data from Raspberry Pi to AWS IoT</h2>
        <pr>
            <li>Run Ultrasonic ranger sketch in Raspberry Pi and check</li>
            <li>Updating of data from Raspberry Pi to AWS Thing Shadow</li>
        </pr>

        <h2 class="ser">DynamoDB</h2>
        <pr>
            <li>Configuration of DynamoDB</li>
            <li>Create table in DynamoDB</li>
            <li>Create rule linking DynamoDB with AWS IoT</li>
            <li>Store sensor data from AWS IoT in DynamoDB</li>
        </pr>

        <h2 class="ser">SNS</h2>
        <pr>
            <li>Setup SNS service</li>
            <li>Test SNS service by publish/subscribe</li>
            <li>Create a rule and link with AWS IoT</li>
            <li>Notify through mail when Publisher publishes data</li>
        </pr>

        <h2 class="ser">IoT Project</h2>
        <pr>
            <li>Plot location and Route on Google map</li>
            <li>Based on condition plot locations of Smart Garbage Bin (node) with respective status of Garbage Bin (empty/half/full) on Google map</li>
            <li>Plot the optimized route for the garbage collection truck route on Google map</li>
        </pr><br>
        <form class="border-top border-bottom">
            <br>
            <h8>For<strong> DevOps Online Training: <a1>Click</a1></strong></h8><br><br>
            <h8>Categories:<a1>Online Training<h8 class="color" style='color: black;'>Tags:</h8> Chennai, Hyderabad,Internet of Things, Internet of Things Course, Internet of Things Training</a1></h8>
            <br>
        </form>
    </div>
</div>

<div class="col-md-6 px-4">
        <div class="right-box">
            <h3><a href="http://localhost:3000/home" style=" color: red;"> Home </a><svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="currentColor" class="bi bi-chevron-double-right" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M3.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L9.293 8 3.646 2.354a.5.5 0 0 1 0-.708z"/>
                <path fill-rule="evenodd" d="M7.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L13.293 8 7.646 2.354a.5.5 0 0 1 0-.708z"/>
            </svg> ONLINE TRAINING <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="currentColor" class="bi bi-chevron-double-right" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M3.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L9.293 8 3.646 2.354a.5.5 0 0 1 0-.708z"/>
                <path fill-rule="evenodd" d="M7.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L13.293 8 7.646 2.354a.5.5 0 0 1 0-.708z"/>
            </svg> IoT Training </h3><br><br>
            <div class="star">
            <span class="Rating"><a>Rating of &nbsp; <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="yellow" class="bi bi-star" viewBox="0 0 16 16">
                <polygon points="8 0 10 5 15 5 11.25 8.75 12.5 14.5 8 11 3.5 14.5 4.75 8.75 1 5" />
            </svg><svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="yellow" class="bi bi-star" viewBox="0 0 16 16">
                <polygon points="8 0 10 5 15 5 11.25 8.75 12.5 14.5 8 11 3.5 14.5 4.75 8.75 1 5" />
            </svg><svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="yellow" class="bi bi-star" viewBox="0 0 16 16">
                <polygon points="8 0 10 5 15 5 11.25 8.75 12.5 14.5 8 11 3.5 14.5 4.75 8.75 1 5" />
            </svg><svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="yellow" class="bi bi-star" viewBox="0 0 16 16">
                <polygon points="8 0 10 5 15 5 11.25 8.75 12.5 14.5 8 11 3.5 14.5 4.75 8.75 1 5" />
            </svg><svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="yellow" class="bi bi-star" viewBox="0 0 16 16">
                <polygon points="8 0 10 5 15 5 11.25 8.75 12.5 14.5 8 11 3.5 14.5 4.75 8.75 1 5" />
            </svg> </a></span><br>
            <a class="average" style="font-size: 10px;">Average of 4.98 on a total of 500 Ratings</a><br></div>
            <div class="training" style="margin-left: 142px; margin-top: 14px; font-size: 12px">
            <a herf="/trainers_profile" style="color: red;">Trainers Profile</a><br>
            <a href="/student_enquiry" style="color: red;">Student Enquiry</a><br>
            <a href="/corporate_training" style="color: red;">Corporate Training</a><br>
            <a href="/feedback" style="color: red;">Post your Feedback</a><br>
            <a href="/post_testimonials" style="color: red;">View/Post Testimonials<br>
            <a href="/contact" style="color: red;">Contact Us</a></a1></div>
            <div class="margin" style="margin-left: 141px;">
                <h2>Register for Course!</h3><br>
                <p>Learn from the Real-Time Experts</p>
                <br>
                    <form>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="firstName">First Name<span class="text-danger">*</span></label>
                                <input type="text" class="form-control" id="firstName" placeholder="Enter your first name">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="lastName">Last Name<span class="text-danger">*</span></label>
                                <input type="text" class="form-control" id="lastName" placeholder="Enter your last name">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="email">Email<span class="text-danger">*</span></label>
                                <input type="email" class="form-control" id="email" placeholder="Enter your email">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="phone">Phone<span class="text-danger">*</span></label>
                                <input type="tel" class="form-control" id="phone" placeholder="Enter your phone number">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="state">State</label>
                                <input type="tel" class="form-control" id="state" placeholder="Enter your phone number">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="modeOfTraining">Mode of Training<span class="text-danger">*</span></label>
                            <select id="modeOfTraining" class="form-control">
                                <option selected>Online Training</option>
                                <option selected>Classroom Training</option>
                                <option selected>Weekend Training</option>
                                <option selected>Project Training</option>
                                <option selected>Intership Training</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="course">Course</label>
                            <select id="course" class="form-control">
                                <option selected>Select Course</option>
                                <option selected>Python</option>
                                <option selected>Java</option>
                                <option selected>C++</option>
                                <option selected>C#</option>
                                <option selected>JavaScript</option>
                                <option selected>Ruby</option>
                                <option selected>Swift</option>
                                <option selected>Kotlin</option>
                                <option selected>Data Science</option>
                                <option selected>Machine Learning</option>
                                <option selected>Deep Learning</option>
                                <option selected>Natural Language Processing (NLP)</option>
                                <option selected>TensorFlow</option>
                                <option selected>PyTorch</option>
                            </select>
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                    <br>

                    <h2>JOIN WHATSAPP GROUPS FOR UPDATES<br><br>
                        <img src="./assets/whatsappjpg">
                    </h2>
                    <h2>WATCH FREE TUTORIALS<br><br>
                        <img src="./assets/telegramjpeg">
                    </h2>
                    <h2>JOIN US ON TELEGRAM FOR UPDATES<br><br>
                        <img src="./assets/freejpg">
                    </h2>
                    <h2>FIND COURSES HERE</h2>
                    <li>courses traning</li>
                    <li>Android Training</li>
                    <li>iPhone Training</li>
                    <li>Asp.Net Training</li>
                    <li>Asp.Net MVC Training</li>
                    <li>C#.NET Training</li>
                    <li>C++ Training</li>
                    <li>Data Structure Training</li>
                    <li>Java Training</li>
                    <ul class="list">
                        <li>Core Java Training</li>
                        <li>Advanced Java Training</li>
                        <li>Hibernate Training</li>
                        <li>J2EE Training</li>
                        <li>Spring 5.x Training</li>
                        <li>Hibernate Training</li>
                        <li>Web Services Training</li>
                        <li>Struts Training</li>
                        <li>XML Training</li>
                        <li>Java Online Training</li></ul>
                    <li>Oracle Training</li>
                    <li>SQL Server Training</li>
                    <li>Selenium Training</li>
                    <li>UNIX LINUX Training</li>
                    <li>PHP Training</li>
                    <li>HTML5 CSS3 Training</li>
                    <li>jQuery Training</li>
                    <li>UI Technologies Training</li>
                    <li>UI UX Training</li>
                    <li>AngularJS Training</li>
                    <ul class="list">
                        <li>Angular 2 Training</li>
                        <li>Angular 4 Training</li>
                        <li>Angular 6 Training</li>
                        <li>Angular 7 Training</li>
                    </ul>
                    <li>Data Science Training</li>
                    <li>Artificial Intelligence Training</li>
                    <li>Hadoop Training</li>
                    <li>Apache Spark Training</li>
                    <li>Python Training</li>
                    <li>Hadoop Online Training</li>
                    <li>DevOps Training</li>
                    <li>AWS Training</li>
                    <li>IoT Training</li>
                    <li>SalesForce CRM Training</li>
                    <li>Digital Marketing Training</li>
                    <li>RPA Training</li>
                    <ul class="list">
                        <li>Blue Prism Training</li>
                        <li>Automation Anywhere Training</li>
                        <li>Automation Anywhere Online Training</li>
                    </ul>
                    <li>Blockchain Training</li>
                    <li>Realtime Projects</li>
                    <ul class="list">
                        <li>Real Time Java Project</li>
                        <li>Real-Time Project on PHP</li></ul>
                    <li>Doubleclick for Publishers Training</li>
                    <li>Software Training in Chennai</li>
                    <li>Testing Tools Training</li>
                    <li>Full Stack Web Development Course</li>
                    <li>Full Stack Web Development Course</li>
                    <li>Full Stack Java Developer Course</li>
               </div>
           </div>
        </div>
    </div>
</body>
<%= render "fooder" %>
<br>
<p class="paragrap" style="font-weight: bold;">© 2023 Naresh i Technologies | Software Training - Online Training - Live Project Training - Weekend Training</p>