<%= render "header" %>
<style>
    body {
        margin: 41px;
        padding: 0;
    }
    h{
        font-weight: bold;
    }pr li{
    margin-left: 35px;
    font-size: 12px;
    font-style: italic;
    }
    .course-card {
        margin-bottom: 20px;
    }
    .left-box {
        padding: 20px;
/*        width: 120%;*/
    }

    .right-box {
        padding: 20px;
        margin-top: 20px;
    }

    
    h1 {
        font-weight: bold;
    }

    h2 {
        font-weight: bold;
        margin: 0px;
        margin-top: 20px; 
       font-size: 19px;
    }
    h3{
        color: red;
        font-size: 16px;
        margin-left: 135px;
    }
    h4{
        font-size: 1.5rem;
        margin-top: 102px;
        font-size: 20px;
        font-weight: bold;
    }
    a1, td {
        color: red;
    }
    .text-black {
        color: black !important;
    }
    .star{
        margin-left: 210px;
    }
    span.Rating{    
        margin-left: 28px;
    }
    p{
        font-size: 12px
    }
    .ser {
        font-size: 12px;
        font-weight: bold;
        margin: 16px;
    }

    .container {
        margin-left: 210px;
    }
</style>
<body>
<div class="row">
<!-- Left Box -->
<div class="col-md-6">
    <div class="left-box">
        <h4 class="border-bottom pb-2">Java Training</h4>
        <a1 class="border-bottom pb-2">NIT Manager</a1>
        <div class="left-box">
            <h class="services" style="font-size: 12px; font-weight: bold;">Java Training Prerequisites :</h>
            <p class="paragrap" style="margin-top: 20px; word-spacing: 2px;">Java it is an Object oriented Programming Language. It is platform independent, secure and Multi threaded.it is used to develop software and applications.A Java program Can run Various operating Systems. With this Java Training you will able to understand the all concepts clearly.</p>
        </div>
        <h2 class="ser">Objectives of Java Training</h2>
        <pr>
            <li>Familiarize with Java Language</li>
            <li>Writing Java code according to OOPs concepts</li>
            <li>Designing Graphical User Applications</li>
            <li>Developing applications using JDBC</li>
        </pr><br>

        <h2 class="ser">Who can learn this course</h2>
        <pr>
            <li>B.E/B.Tech Students</li>
            <li>Working Professionals</li>
        </pr><br>
        <h2 class="ser">Java Training Duration : 4 Months</h2>
        <h2 class="ser">Java Training Content :</h2>
        <div class="container"><h2 class="ser">Basic Core Java</h2></div>
        <h2 class="ser">New Features in JAVASE 6 & J2SE 5.0</h2>
        <pr>
            <li>Generics</li>
            <li>Enhanced for loop (for each loop)</li>
            <li>Autoboxing/Unboxing</li>
            <li>Typesafe Enums</li>
            <li>Varargs</li>
            <li>Static Import</li>
            <li>Metadata (Annotations)</li>
            <li>Collections Framework</li>
            <li>Reflection API</li>
            <li>Application Development on Eclipse IDE</li>
        </pr><br>

        <h2 class="ser">Java 7 New Features</h2>
        <h2 class="ser">Introduction to JAVA</h2>
        <pr>
            <li>How to Install Java and About Environment Variables</li>
            <li>JVM Architecture</li>
            <li>Datatypes, Variables, Keywords, and Identifiers</li>
            <li>Operators and Expressions</li>
            <li>Naming Conventions in Java</li>
            <li>Control Flow Statements</li>
            <li>Arrays</li>
            <li>Command Line Arguments</li>
            <li>Object and Class</li>
            <li>Object-Oriented Programming (OOP)</li>
            <li>Inheritance</li>
            <li>Interfaces</li>
            <li>Abstract Classes</li>
            <li>Inner Classes</li>
            <li>Access Specifiers</li>
            <li>Access Modifiers</li>
            <li>Packages</li>
            <li>Collection Framework</li>
            <li>Exception Handling</li>
            <li>Multi-Threading</li>
            <li>Input/Output Streams</li>
            <li>Networking</li>
            <li>AWT, Applets, and Swings</li>
        </pr><br>

        <h2 class="ser">FAQ’s and SCJP Exam Oriented Concepts</h2>
        <div class="container"><h2 class="ser">Advanced Java</h2></div>
        <h2 class="ser">Course Highlights</h2>
        <pr>
            <li>Developing Web applications on MyEclipse and NetBeans IDEs.</li>
            <li>Deploying Servlets and JSPs on Weblogic, Websphere, JBoss Application Servers</li>
        </pr><br>

        <h2 class="ser">JDBC 4.0</h2>
        <pr>
            <li>Introduction to JDBC</li>
            <li>JDBC Architecture</li>
            <li>java.sql Package</li>
            <li>Connection, Statement, ResultSet</li>
            <li>Prepared Statement</li>
            <li>Callable Statement</li>
            <li>Scrollable and Updatable ResultSet</li>
            <li>Batch Updates</li>
            <li>ResultSetMetaData</li>
            <li>Simple Transaction Management</li>
            <li>Four Levels of JDBC drivers, their pros & cons</li>
            <li>Features of JDBC 3.0</li>
        </pr><br>
        <h2 class="ser">Servlets 3.0</h2>
        <pr>
            <li>Need of Server-side Programming</li>
            <li>Introduction to Servlets</li>
            <li>Servlet Life Cycle</li>
            <li>javax.servlet package</li>
            <li>ServletConfig, ServletContext, ServletResponse</li>
            <li>Supplying initialization parameters to Servlets</li>
            <li>Performing database operations in Servlets</li>
            <li>Include and forward mechanisms</li>
            <li>Applying filters to Servlets</li>
            <li>javax.servlet.http Package</li>
            <li>HttpServlet Life Cycle</li>
            <li>Http request methods GET vs POST</li>
            <li>HttpServletRequest, HttpServletResponse</li>
            <li>Dealing with HTTP headers & error codes</li>
            <li>Session Tracking, purpose</li>
            <li>Hidden form fields, Cookies</li>
            <li>Http Session, URL rewriting</li>
            <li>Event listeners</li>
            <li>Web application security</li>
        </pr>
        <br>

        <h2 class="ser">JSP 2.2</h2>
        <pr>
            <li>Disadvantages of Servlets</li>
            <li>Introduction to JSP</li>
            <li>JSP Life Cycle</li>
            <li>Creating dynamic Web content with JSP</li>
            <li>Scripting elements</li>
            <li>Scriplet, Declaration, Expression</li>
            <li>XML syntax for JSP elements</li>
            <li>JSP directives page, include, and taglib</li>
            <li>JSP implicit objects</li>
            <li>JSP scopes</li>
            <li>Include and forward mechanism</li>
            <li>Using a Java bean in a JSP</li>
            <li>JSP Model 1 architecture</li>
            <li>JSP Model 2 (MVC) architecture</li>
            <li>Custom Tag Development</li>
            <li>Classic Tags, Simple Tags</li>
            <li>Error Handling in a JSP</li>
            <li>JSTL (JSP Standard Tag Library)</li>
            <li>Expression Language</li>
            <li>Processing XML in a JSP</li>
        </pr><br>
        <div class="container"><h2 class="ser">Java EE</h2></div>
        <h2 class="ser">RMI-Remote Method Invocation</h2>
        <pr>
            <li>Java Distributed Technology</li>
            <li>RMI Architecture</li>
            <li>Dynamic / Bootstrap Clients</li>
            <li>Object Passing in RMI</li>
            <li>DGC (Distributed Garbage Collection)</li>
            <li>Activation</li>
            <li>RMI-IIOP (Remote Method Invocation over Internet Inter-ORB Protocol)</li>
        </pr><br>
        <p class="paragrap" style="margin-top: 20px; word-spacing: 2px;">JJ2EE Introduction J2EE Architecture,Comparison between J2EE&.NET,J2EE Application development roles.</p>
        <h2 class="ser">EJB – Enterprise Java Beans</h2>
        <pr>
            <li>Introduction</li>
            <li>Comparison between different Distributed tech(EJB, CORBA, COM/DCOM)</li>
            <li>EJB Architecture</li>
            <li>EJB Container</li>
            <li>Stateless Session Bean</li>
            <li>Stateful Session Bean</li>
            <li>Bean Managed Entity Bean (Container Managed Entity Bean, Bean Managed Security)</li>
            <li>Container Managed Security</li>
            <li>Bean Managed Transactions</li>
            <li>Container Managed Security</li>
            <li>Bean Managed Transactions</li>
            <li>Container Managed Transactions</li>
            <li>Clusters</li>
            <li>Using JDBC Connection Pool in EJB</li>
        </pr><br>

        <h2 class="ser">EJB 2.0</h2>
        <pr>
            <li>Local Enterprise Beans</li>
            <li>CMP2.0 model – Container Managed Persistency</li>
            <li>EJBQL – EJB Query Language</li>
            <li>EJB Select Methods</li>
            <li>Finder Methods with EJBQL</li>
            <li>CMR – Container Managed Relationships</li>
            <li>MDB-Message Driven Bean</li>
        </pr><br>
        <h2 class="ser">EJB 2.1</h2>
        <pr>
            <li>Enhancements to EJB –QL</li>
            <li>Timer Service</li>
            <li>Web services Support to SLSB</li>
        </pr><br>

        <h2 class="ser">EJB 3.0</h2>
        <pr>
            <li>Introduction to EJB 3.0</li>
            <li>Architecture of EJB 3.0</li>
            <li>Session Beans in EJB 3.0</li>
            <pr>
                <li>Stateless Session Bean</li>
                <li>Stateful Session Bean</li>
            </pr>
            <li>Entity Components + JPA 1.0</li>
            <li>Simplified packaging in on context dependency injection (CDI)</li>
            <li>JPA-Java persistence API</li>
            <pr>
                <li>Relations with Entities</li>
                <ul class="list">
                    <li>one-to-one</li>
                    <li>one-to-many</li>
                    <li>many-to-one</li>
                    <li>many-to-many</li>
                </ul>
                <li>Inheritance with Entities</li>
            </pr>
            <li>JPQL-Java Persistence Query Language</li>
            <li>Message Driven Bean in EJB 3.0</li>
            <li>Transaction with EJB 3.0</li>
            <li>AOP in EJB 3.0</li>
            <pr>
                <li>AOP – Aspect-oriented programming</li>
            </pr>
            <li>Exposing Stateless Session Bean as Web Service</li>
        </pr><br>
        <h2 class="ser">EJB 3.1</h2>
        <pr>
            <li>Introduction of 3.1</li>
            <li>Removal of local business interface</li>
            <li>Introduction of singletons</li>
            <li>Asynchronous Session Beans</li>
            <li>Embeddable API for executing EJB in Java SE env</li>
        </pr><br>

        <h2 class="ser">JTS/JTA-Java Transaction Service / Java Transaction API</h2>
        <pr>
            <li>ACID (Atomicity, Consistency, Isolation, Durability) properties</li>
            <li>When to use Transactions</li>
            <li>Local Transactions</li>
            <li>Distributed Transactions</li>
            <li>Flat Transactions</li>
            <li>Nested Transactions</li>
            <li>Chained Transactions</li>
            <li>Two-phase Commit Protocol</li>
        </pr><br>

        <h2 class="ser">JNDI-Java Naming & Directory Interface</h2>
        <pr>
            <li>JNDI Architecture</li>
            <li>Programming with JNDI</li>
            <li>JNDI Security</li>
        </pr><br>
        <h2 class="ser">JAAS (Java Authentication and Authorization Service)</h2>
        <h2 class="ser">JMS 1.1 (Java Messaging Service)</h2>
        <h2 class="ser">Java Mail 1.3</h2>
        <h2 class="ser">XML (Extensible Markup Language)</h2>
        <pr>
            <li>Introduction</li>
            <li>Need of XML in application architectures</li>
            <li>DTD (Document Type Definition)</li>
            <li>XML Parsers – SAX (Simple API for XML)</li>
            <li>DOM (Document Object Model) using IBM’s XML4J parser</li>
            <li>XML Schemas</li>
            <li>XML DB Utility (XML SQL Utility)</li>
        </pr><br>

        <h2 class="ser">XSL (Extensible Stylesheet Language)</h2>
        <pr>
            <li>XSL tags</li>
            <li>Using Apache Sziann’s XSLT engine for transformation</li>
            <li>XPath specifications</li>
            <li>XPath expressions</li>
        </pr><br>

        <h2 class="ser">JAXP 1.2 (Java API for XML Parsing)</h2>
        <h2 class="ser">Web Services</h2>
        <pr>
            <li>SOAP 1.1 (Simple Object Access Protocol)</li>
            <li>UDDI 2.0 (The Universel Description, Discovery and Integration)</li>
            <li>WSDL 1.1 (Web Services Description Language)</li>
            <li>JAX-RPC 1.1 (Java API for XML Remote Procedure Call)</li>
            <li>SAAJ 1.2 (SOAP with Attachments API for Java)</li>
            <li>JAXR (Java API for XML Registration)</li>
            <li>JAXB (Java Architecture for XML Binding)</li>
            <li>JAXWS (Java API for XML …….Webservices)</li>
        </pr>
        <br>
        <h2 class="ser">J2EE Design Patterns</h2>
        <h2 class="ser">Servers</h2>
        <pr>
            <li>Weblogic 10.0</li>
            <li>IBM Websphere 6.0</li>
            <li>JBoss</li>
            <li>Sun One Application Server 9.1</li>
            <li>Oracle 9i Application Server</li>
            <li>Pramati</li>
            <li>GlassFish</li>
        </pr><br>

        <h2 class="ser">IDEs</h2>
        <pr>
            <li>MyEclipse</li>
            <li>JBuilder</li>
            <li>IntelliJ</li>
            <li>NetBeans</li>
            <li>WebLogic Workshop</li>
            <li>EXADEL Studio</li>
            <li>WSAD</li>
        </pr><br>

        <h2 class="ser">Tools</h2>
        <pr>
            <li>Build – ANT</li>
            <li>Logging – Log4j</li>
        </pr><br>
        <form class="border-top border-bottom">
                    <br>
                    <h8>Categories:<a1>CLASSROOM Training -- <h8 class="color" style='color: black;'>Tags:</h8> Chennai, Hyderabad</a1></h8>
                    <br>
                </form>
            </div>
        </div>

<div class="col-md-6 px-4">
        <div class="right-box">
            <h3><a href="http://localhost:3000/home" style=" color: red;"> Home </a><svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="currentColor" class="bi bi-chevron-double-right" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M3.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L9.293 8 3.646 2.354a.5.5 0 0 1 0-.708z"/>
                <path fill-rule="evenodd" d="M7.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L13.293 8 7.646 2.354a.5.5 0 0 1 0-.708z"/>
            </svg> CLASSROOM TRAINING <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="currentColor" class="bi bi-chevron-double-right" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M3.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L9.293 8 3.646 2.354a.5.5 0 0 1 0-.708z"/>
                <path fill-rule="evenodd" d="M7.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L13.293 8 7.646 2.354a.5.5 0 0 1 0-.708z"/>
            </svg> Java Training </h3><br><br>
            <div class="star">
            <span class="Rating"><a>Rating of &nbsp; <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="yellow" class="bi bi-star" viewBox="0 0 16 16">
                <polygon points="8 0 10 5 15 5 11.25 8.75 12.5 14.5 8 11 3.5 14.5 4.75 8.75 1 5" />
            </svg><svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="yellow" class="bi bi-star" viewBox="0 0 16 16">
                <polygon points="8 0 10 5 15 5 11.25 8.75 12.5 14.5 8 11 3.5 14.5 4.75 8.75 1 5" />
            </svg><svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="yellow" class="bi bi-star" viewBox="0 0 16 16">
                <polygon points="8 0 10 5 15 5 11.25 8.75 12.5 14.5 8 11 3.5 14.5 4.75 8.75 1 5" />
            </svg><svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="yellow" class="bi bi-star" viewBox="0 0 16 16">
                <polygon points="8 0 10 5 15 5 11.25 8.75 12.5 14.5 8 11 3.5 14.5 4.75 8.75 1 5" />
            </svg><svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="yellow" class="bi bi-star" viewBox="0 0 16 16">
                <polygon points="8 0 10 5 15 5 11.25 8.75 12.5 14.5 8 11 3.5 14.5 4.75 8.75 1 5" />
            </svg> </a></span><br>
            <a class="average" style="font-size: 10px;">Average of 4.98 on a total of 500 Ratings</a><br></div>
            <div class="training" style="margin-left: 142px; margin-top: 14px; font-size: 12px">
            <a herf="/trainers_profile" style="color: red;">Trainers Profile</a><br>
            <a href="/student_enquiry" style="color: red;">Student Enquiry</a><br>
            <a href="/corporate_training" style="color: red;">Corporate Training</a><br>
            <a href="/feedback" style="color: red;">Post your Feedback</a><br>
            <a href="/post_testimonials" style="color: red;">View/Post Testimonials<br>
            <a href="/contact" style="color: red;">Contact Us</a></a1></div>
            <div class="margin" style="margin-left: 141px;">
                <h2>Register for Course!</h3><br>
                <p>Learn from the Real-Time Experts</p>
                <br>
                    <form>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="firstName">First Name<span class="text-danger">*</span></label>
                                <input type="text" class="form-control" id="firstName" placeholder="Enter your first name">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="lastName">Last Name<span class="text-danger">*</span></label>
                                <input type="text" class="form-control" id="lastName" placeholder="Enter your last name">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="email">Email<span class="text-danger">*</span></label>
                                <input type="email" class="form-control" id="email" placeholder="Enter your email">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="phone">Phone<span class="text-danger">*</span></label>
                                <input type="tel" class="form-control" id="phone" placeholder="Enter your phone number">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="state">State</label>
                                <input type="tel" class="form-control" id="state" placeholder="Enter your phone number">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="modeOfTraining">Mode of Training<span class="text-danger">*</span></label>
                            <select id="modeOfTraining" class="form-control">
                                <option selected>Online Training</option>
                                <option selected>Classroom Training</option>
                                <option selected>Weekend Training</option>
                                <option selected>Project Training</option>
                                <option selected>Intership Training</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="course">Course</label>
                            <select id="course" class="form-control">
                                <option selected>Select Course</option>
                                <option selected>Python</option>
                                <option selected>Java</option>
                                <option selected>C++</option>
                                <option selected>C#</option>
                                <option selected>JavaScript</option>
                                <option selected>Ruby</option>
                                <option selected>Swift</option>
                                <option selected>Kotlin</option>
                                <option selected>Data Science</option>
                                <option selected>Machine Learning</option>
                                <option selected>Deep Learning</option>
                                <option selected>Natural Language Processing (NLP)</option>
                                <option selected>TensorFlow</option>
                                <option selected>PyTorch</option>
                            </select>
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                    <br>

                    <h2>JOIN WHATSAPP GROUPS FOR UPDATES<br><br>
                        <img src="./assets/whatsappjpg">
                    </h2>
                    <h2>WATCH FREE TUTORIALS<br><br>
                        <img src="./assets/telegramjpeg">
                    </h2>
                    <h2>JOIN US ON TELEGRAM FOR UPDATES<br><br>
                        <img src="./assets/freejpg">
                    </h2>
                    <h2>FIND COURSES HERE</h2>
                    <li>courses traning</li>
                    <li>Android Training</li>
                    <li>iPhone Training</li>
                    <li>Asp.Net Training</li>
                    <li>Asp.Net MVC Training</li>
                    <li>C#.NET Training</li>
                    <li>C++ Training</li>
                    <li>Data Structure Training</li>
                    <li>Java Training</li>
                    <ul class="list">
                        <li>Core Java Training</li>
                        <li>Advanced Java Training</li>
                        <li>Hibernate Training</li>
                        <li>J2EE Training</li>
                        <li>Spring 5.x Training</li>
                        <li>Hibernate Training</li>
                        <li>Web Services Training</li>
                        <li>Struts Training</li>
                        <li>XML Training</li>
                        <li>Java Online Training</li></ul>
                    <li>Oracle Training</li>
                    <li>SQL Server Training</li>
                    <li>Selenium Training</li>
                    <li>UNIX LINUX Training</li>
                    <li>PHP Training</li>
                    <li>HTML5 CSS3 Training</li>
                    <li>jQuery Training</li>
                    <li>UI Technologies Training</li>
                    <li>UI UX Training</li>
                    <li>AngularJS Training</li>
                    <ul class="list">
                        <li>Angular 2 Training</li>
                        <li>Angular 4 Training</li>
                        <li>Angular 6 Training</li>
                        <li>Angular 7 Training</li>
                    </ul>
                    <li>Data Science Training</li>
                    <li>Artificial Intelligence Training</li>
                    <li>Hadoop Training</li>
                    <li>Apache Spark Training</li>
                    <li>Python Training</li>
                    <li>Hadoop Online Training</li>
                    <li>DevOps Training</li>
                    <li>AWS Training</li>
                    <li>IoT Training</li>
                    <li>SalesForce CRM Training</li>
                    <li>Digital Marketing Training</li>
                    <li>RPA Training</li>
                    <ul class="list">
                        <li>Blue Prism Training</li>
                        <li>Automation Anywhere Training</li>
                        <li>Automation Anywhere Online Training</li>
                    </ul>
                    <li>Blockchain Training</li>
                    <li>Realtime Projects</li>
                    <ul class="list">
                        <li>Real Time Java Project</li>
                        <li>Real-Time Project on PHP</li></ul>
                    <li>Doubleclick for Publishers Training</li>
                    <li>Software Training in Chennai</li>
                    <li>Testing Tools Training</li>
                    <li>Full Stack Web Development Course</li>
                    <li>Full Stack Web Development Course</li>
                    <li>Full Stack Java Developer Course</li>
               </div>
           </div>
        </div>
    </div>
</body>
<%= render "fooder" %>
<br>
<p class="paragrap" style="font-weight: bold;">© 2023 Depth Core Technologies | Software Training - Online Training - Live Project Training - Weekend Training</p>