<%= render "header" %>
<style>
    body {
        margin: 41px;
        padding: 0;
    }
    h{
        font-weight: bold;
    }pr li{
    margin-left: 35px;
    font-size: 12px;
    font-style: italic;
    }
    .course-card {
        margin-bottom: 20px;
    }
    .left-box {
        padding: 20px;
/*        width: 120%;*/
    }

    .right-box {
        padding: 20px;
        margin-top: 20px;
    }

    
    h1 {
        font-weight: bold;
    }

    h2 {
        font-weight: bold;
        margin: 0px;
        margin-top: 20px; 
       font-size: 19px;
    }
    h3{
        color: red;
        font-size: 16px;
        margin-left: 135px;
    }
    h4{
        font-size: 1.5rem;
        margin-top: 102px;
        font-size: 20px;
        font-weight: bold;
    }
    a1, td {
        color: red;
    }
    .text-black {
        color: black !important;
    }
    .star{
        margin-left: 210px;
    }
    span.Rating{    
        margin-left: 28px;
    }
    p{
        font-size: 12px
    }
    .ser {
        font-size: 12px;
        font-weight: bold;
        margin: 16px;
    }
</style>
<body>
<div class="row">
<!-- Left Box -->
<div class="col-md-6">
    <div class="left-box">
        <h4 class="border-bottom pb-2">HTML Javascript Training</h4>
        <a1 class="border-bottom pb-2">NIT Manager</a1>
        <div class="left-box">
            <h class="services" style="font-size: 12px; font-weight: bold;">About HTML JavaScript Training</h>
            <p class="paragrap" style="margin-top: 20px; word-spacing: 2px;">HTML (the<strong> Hypertext Markup Language)</strong> and CSS<strong> (Cascading Style Sheets)</strong> are two of the core technologies for building Web pages. HTML provides the structure of the page, CSS the (visual and aural) layout, for a variety of devices. Along with graphics and scripting, HTML and CSS are the basis of building Web pages and Web Applications.</p>
        </div>
        <div class="left-box">
            <h class="services" style="font-size: 12px; font-weight: bold;">HTML JavaScript Training Course Objective</h>
            <p class="paragrap" style="margin-top: 20px; word-spacing: 2px;">This course main objective is, student the fundamental knowledge of application development for the internet using HTML. After completing the course, the student should be able to</p>
        </div>
        <pr><li>Create an HTML Documents, and establish adequate formatting for presentation purposes,  Import, insert and modify images, Insert and manipulate tables,  Establish and maintain internal and external link to available resources, Use special effect to make the expressive, evocative documents, Insert and manipulate multi-media objects,Manager forms (Create forms, call programs)</li>
        <li>In this course you will use cascading style sheets to design and develop efficient and effective websites.Control color and typography, Create style sheets that cascadee according to established guidelines,Design content sections using box properties,Control your page layouts with CSS positioning,Enhance an existing design,Create alternate style sheets and link your pages to them to enhance the accessibility and functionality of your websites.</li>
        <li>This course offers the student the fundamental knowledge of Scripting and Client side Validatons. JavaScript (JS) is an interpreted computer programming language.It was originally implemented as part of web browsers so that client-side scripts could interact with the user, control the browser, communicate asynchronously. JavaScript is the world’s most popular programming language. It is the language for HTML and the web, for servers, PCs, laptops, tablets, smart phones, and more.</li></pr><br>
        <div class="left-box">
            <h class="services" style="font-size: 12px; font-weight: bold;">Why Is The Course Different From Any Other ?</h>
            <p class="paragrap" style="margin-top: 20px; word-spacing: 2px;">The main goal of this course is to help you become a better front-end programmer (web developer). This will be done by showing you a range of tools, teaching the latest cool CSS3 tricks and why HTML5 is so great. Most courses aim to teach you basic syntax, we will cover basic syntax but dive deeper and show you the real web development.</p>
        </div>
        <h2 class="ser">HTML Java Script Training Course Duration</h2>
        <pr><li>25 Working days, daily one and half hours</li></pr><br>
        <h2 class="ser">HTML JavaScript Training Course Overview</h2>
        <h2 class="ser" style="font-size: 20px;">HTML</h2>
        <h2 class="ser">Introduction</h2>
        <pr>
            <li>Overview of Web and Internet</li>
            <li>Difference between Languages and Scripts</li>
            <li>Client-side and Server-side Programming</li>
            <li>What is HTML?</li>
            <li>Versions of HTML</li>
            <li>Structure Of HTML</li>
            <li>How HTML content transfers data between browser and server</li>
            <li>Types of Webpages</li>
            <li>Introduction To Doctypes</li>
        </pr>

        <h2 class="ser">HTML Tags</h2>
        <pr>
            <li>Types of tags</li>
            <li>Explanation about html, head, and body tags</li>
            <li>Input controls and attributes</li>
            <li>How to divide a web page with div tag</li>
            <li>Formatting Tags</li>
            <li>Link Tags</li>
            <li>How to create ordered and unordered lists</li>
            <li>Table tag</li>
            <li>Form tag</li>
            <li>Frame Tag</li>
            <li>How to provide Meta keywords</li>
            <li>What is Meta Description?</li>
        </pr><br>

        <h2 class="ser">Attributes</h2>
        <pr>
            <li>What is an attribute?</li>
            <li>Attributes of HTML controls</li>
        </pr><br>

        <h2 class="ser">Events</h2>
        <pr>
            <li>What is an event and how to use?</li>
            <li>Dynamic HTML with events</li>
        </pr><br>
        <h2 class="ser">Styling</h2>
        <pr>
            <li>What is the style object?</li>
            <li>Properties of style</li>
            <li>Applying styles to elements</li>
            <li>Changing style properties with events</li>
        </pr><br>

        <h2 class="ser">Advanced HTML</h2>
        <pr>
            <li>How to embed external plug-ins in an HTML document</li>
            <li>Displaying videos on browsers using HTML tags</li>
            <li>Embedding external web pages in an HTML page</li>
            <li>Resolving cross-browser issues</li>
            <li>What is new in HTML5?</li>
        </pr><br>

        <h2 class="ser">HTML 5 tag reference-XHTML</h2>
        <h2 class="ser">CASCADING STYLE SHEETS</h2>
        <h2 class="ser">Introduction</h2>
        <pr>
            <li>What is CSS?</li>
            <li>Advantages of CSS</li>
            <li>Why CSS?</li>
            <li>Syntax and Anatomy of CSS</li>
        </pr><br>

        <h2 class="ser">Types of Stylesheets</h2>
        <pr>
            <li>External style sheet</li>
            <li>Internal style sheet</li>
            <li>Inline style</li>
        </pr><br>

        <h2 class="ser">Types of Selectors</h2>
        <pr>
            <li>Global</li>
            <li>Class</li>
            <li>Id</li>
            <li>Grouped</li>
            <li>Descendant</li>
        </pr><br>

        <h2 class="ser">Div’s & Span tags</h2>
        <pr>
            <li>Background</li>
            <pr>
                <li>background-color</li>
                <li>background-image</li>
                <li>background-repeat</li>
                <li>background-attachment</li>
                <li>background-position</li>
            </pr>
        </pr><br>

        <h2 class="ser">Font</h2>
        <pr>
            <li>font-family</li>
            <li>color</li>
            <li>font-size</li>
            <li>font-style</li>
            <li>font-variant</li>
            <li>font-weight</li>
        </pr><br>
        <h2 class="ser">Text Properties</h2>
        <pr>
            <li>letter-spacing</li>
            <li>word-spacing</li>
            <li>line-height</li>
            <li>text-decoration</li>
            <li>text-transform</li>
            <li>vertical-align</li>
        </pr><br>
        <h2 class="ser">INTRODUCTION TO CSS-3.0</h2>
        <h2 class="ser">JAVASCRIPT</h2>
        <h2 class="ser">Introduction to JavaScript</h2>
        <pr>
            <li>Introduction of client-side script</li>
            <li>Introduction of JavaScript</li>
            <li>Cross-browser issues</li>
            <li>Declaration syntax of JavaScript</li>
            <li>Statements</li>
            <li>Comments</li>
            <li>Popup Boxes
                <ul class="list">
                    <li>Alert</li>
                    <li>Confirm</li>
                    <li>Prompt</li>
                </ul>
            </li>
            <li>Variables, Arrays, and Operators
                <ul class="list">
                    <li>Variables</li>
                    <li>Operators
                        <ul class="list">
                            <li>Arithmetic</li>
                            <li>Assignment</li>
                            <li>Comparison</li>
                            <li>Logical</li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li>Document Object Model</li>
            <li>Functions and Types</li>
            <li>Conversion Functions</li>
            <li>Conditional Statements
                <ul class="list">
                    <li>if</li>
                    <li>if…else</li>
                    <li>if…else if…else</li>
                    <li>Switch</li>
                </ul>
            </li>
            <li>Loops
                <ul class="list">
                    <li>while</li>
                    <li>do…while</li>
                    <li>for</li>
                    <li>for…in Statement</li>
                    <li>Break</li>
                    <li>Continue</li>
                </ul>
            </li>
            <li>Window object Document object Arrays</li>
            <li>Advanced JavaScript
                <ul class="list">
                    <li>Date object</li>
                    <li>This object</li>
                    <li>Event object</li>
                    <li>State management
                        <ul class="list">
                            <li>Cookie</li>
                        </ul>
                    </li>
                    <li>Form validation
                        <ul class="list">
                            <li>Expressions</li>
                            <li>Email validation</li>
                        </ul>
                    </li>
                    <li>Dynamic functionalities of HTML controls</li>
                </ul>
            </li>
        </pr><br>
        <h2 class="ser">Introduction to Jquery</h2> 
        <form class="border-top border-bottom">
            <br>
            <h8>Click Here For<a1>  Javascript Online Training</a1></h8><br>
            <br>
        </form>
    </div>
</div>

<div class="col-md-6 px-4">
        <div class="right-box">
            <h3><a href="http://localhost:3000/home" style=" color: red;"> Home </a><svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="currentColor" class="bi bi-chevron-double-right" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M3.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L9.293 8 3.646 2.354a.5.5 0 0 1 0-.708z"/>
                <path fill-rule="evenodd" d="M7.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L13.293 8 7.646 2.354a.5.5 0 0 1 0-.708z"/>
            </svg> CLASSROOM TRAINING <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="currentColor" class="bi bi-chevron-double-right" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M3.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L9.293 8 3.646 2.354a.5.5 0 0 1 0-.708z"/>
                <path fill-rule="evenodd" d="M7.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L13.293 8 7.646 2.354a.5.5 0 0 1 0-.708z"/>
            </svg> HTML Javascript Training </h3><br><br>
            <div class="star">
            <span class="Rating"><a>Rating of &nbsp; <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="yellow" class="bi bi-star" viewBox="0 0 16 16">
                <polygon points="8 0 10 5 15 5 11.25 8.75 12.5 14.5 8 11 3.5 14.5 4.75 8.75 1 5" />
            </svg><svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="yellow" class="bi bi-star" viewBox="0 0 16 16">
                <polygon points="8 0 10 5 15 5 11.25 8.75 12.5 14.5 8 11 3.5 14.5 4.75 8.75 1 5" />
            </svg><svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="yellow" class="bi bi-star" viewBox="0 0 16 16">
                <polygon points="8 0 10 5 15 5 11.25 8.75 12.5 14.5 8 11 3.5 14.5 4.75 8.75 1 5" />
            </svg><svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="yellow" class="bi bi-star" viewBox="0 0 16 16">
                <polygon points="8 0 10 5 15 5 11.25 8.75 12.5 14.5 8 11 3.5 14.5 4.75 8.75 1 5" />
            </svg><svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="yellow" class="bi bi-star" viewBox="0 0 16 16">
                <polygon points="8 0 10 5 15 5 11.25 8.75 12.5 14.5 8 11 3.5 14.5 4.75 8.75 1 5" />
            </svg> </a></span><br>
            <a class="average" style="font-size: 10px;">Average of 4.98 on a total of 500 Ratings</a><br></div>
            <div class="training" style="margin-left: 142px; margin-top: 14px; font-size: 12px">
            <a herf="/trainers_profile" style="color: red;">Trainers Profile</a><br>
            <a href="/student_enquiry" style="color: red;">Student Enquiry</a><br>
            <a href="/corporate_training" style="color: red;">Corporate Training</a><br>
            <a href="/feedback" style="color: red;">Post your Feedback</a><br>
            <a href="/post_testimonials" style="color: red;">View/Post Testimonials<br>
            <a href="/contact" style="color: red;">Contact Us</a></a1></div>
            <div class="margin" style="margin-left: 141px;">
                <h2>Register for Course!</h3><br>
                <p>Learn from the Real-Time Experts</p>
                <br>
                    <form>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="firstName">First Name<span class="text-danger">*</span></label>
                                <input type="text" class="form-control" id="firstName" placeholder="Enter your first name">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="lastName">Last Name<span class="text-danger">*</span></label>
                                <input type="text" class="form-control" id="lastName" placeholder="Enter your last name">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="email">Email<span class="text-danger">*</span></label>
                                <input type="email" class="form-control" id="email" placeholder="Enter your email">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="phone">Phone<span class="text-danger">*</span></label>
                                <input type="tel" class="form-control" id="phone" placeholder="Enter your phone number">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="state">State</label>
                                <input type="tel" class="form-control" id="state" placeholder="Enter your phone number">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="modeOfTraining">Mode of Training<span class="text-danger">*</span></label>
                            <select id="modeOfTraining" class="form-control">
                                <option selected>Online Training</option>
                                <option selected>Classroom Training</option>
                                <option selected>Weekend Training</option>
                                <option selected>Project Training</option>
                                <option selected>Intership Training</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="course">Course</label>
                            <select id="course" class="form-control">
                                <option selected>Select Course</option>
                                <option selected>Python</option>
                                <option selected>Java</option>
                                <option selected>C++</option>
                                <option selected>C#</option>
                                <option selected>JavaScript</option>
                                <option selected>Ruby</option>
                                <option selected>Swift</option>
                                <option selected>Kotlin</option>
                                <option selected>Data Science</option>
                                <option selected>Machine Learning</option>
                                <option selected>Deep Learning</option>
                                <option selected>Natural Language Processing (NLP)</option>
                                <option selected>TensorFlow</option>
                                <option selected>PyTorch</option>
                            </select>
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                    <br>

                    <h2>JOIN WHATSAPP GROUPS FOR UPDATES<br><br>
                        <img src="./assets/whatsappjpg">
                    </h2>
                    <h2>WATCH FREE TUTORIALS<br><br>
                        <img src="./assets/telegramjpeg">
                    </h2>
                    <h2>JOIN US ON TELEGRAM FOR UPDATES<br><br>
                        <img src="./assets/freejpg">
                    </h2>
                    <h2>FIND COURSES HERE</h2>
                    <li>courses traning</li>
                    <li>Android Training</li>
                    <li>iPhone Training</li>
                    <li>Asp.Net Training</li>
                    <li>Asp.Net MVC Training</li>
                    <li>C#.NET Training</li>
                    <li>C++ Training</li>
                    <li>Data Structure Training</li>
                    <li>Java Training</li>
                    <ul class="list">
                        <li>Core Java Training</li>
                        <li>Advanced Java Training</li>
                        <li>Hibernate Training</li>
                        <li>J2EE Training</li>
                        <li>Spring 5.x Training</li>
                        <li>Hibernate Training</li>
                        <li>Web Services Training</li>
                        <li>Struts Training</li>
                        <li>XML Training</li>
                        <li>Java Online Training</li></ul>
                    <li>Oracle Training</li>
                    <li>SQL Server Training</li>
                    <li>Selenium Training</li>
                    <li>UNIX LINUX Training</li>
                    <li>PHP Training</li>
                    <li>HTML5 CSS3 Training</li>
                    <li>jQuery Training</li>
                    <li>UI Technologies Training</li>
                    <li>UI UX Training</li>
                    <li>AngularJS Training</li>
                    <ul class="list">
                        <li>Angular 2 Training</li>
                        <li>Angular 4 Training</li>
                        <li>Angular 6 Training</li>
                        <li>Angular 7 Training</li>
                    </ul>
                    <li>Data Science Training</li>
                    <li>Artificial Intelligence Training</li>
                    <li>Hadoop Training</li>
                    <li>Apache Spark Training</li>
                    <li>Python Training</li>
                    <li>Hadoop Online Training</li>
                    <li>DevOps Training</li>
                    <li>AWS Training</li>
                    <li>IoT Training</li>
                    <li>SalesForce CRM Training</li>
                    <li>Digital Marketing Training</li>
                    <li>RPA Training</li>
                    <ul class="list">
                        <li>Blue Prism Training</li>
                        <li>Automation Anywhere Training</li>
                        <li>Automation Anywhere Online Training</li>
                    </ul>
                    <li>Blockchain Training</li>
                    <li>Realtime Projects</li>
                    <ul class="list">
                        <li>Real Time Java Project</li>
                        <li>Real-Time Project on PHP</li></ul>
                    <li>Doubleclick for Publishers Training</li>
                    <li>Software Training in Chennai</li>
                    <li>Testing Tools Training</li>
                    <li>Full Stack Web Development Course</li>
                    <li>Full Stack Web Development Course</li>
                    <li>Full Stack Java Developer Course</li>
               </div>
           </div>
        </div>
    </div>
</body>
<%= render "fooder" %>
<br>
<p class="paragrap" style="font-weight: bold;">© 2023 Naresh i Technologies | Software Training - Online Training - Live Project Training - Weekend Training</p>