<%= render "header" %>
<style>
    body {
        margin: 41px;
        padding: 0;
    }
    h{
        font-weight: bold;
    }pr li{
    margin-left: 35px;
    font-size: 12px;
    font-style: italic;
    }
    .course-card {
        margin-bottom: 20px;
    }
    .left-box {
        padding: 20px;
/*        width: 120%;*/
    }

    .right-box {
        padding: 20px;
        margin-top: 20px;
    }

    
    h1 {
        font-weight: bold;
    }

    h2 {
        font-weight: bold;
        margin: 0px;
        margin-top: 20px; 
       font-size: 19px;
    }
    h3{
        color: red;
        font-size: 16px;
        margin-left: 135px;
    }
    h4{
        font-size: 1.5rem;
        margin-top: 102px;
        font-size: 20px;
        font-weight: bold;
    }
    a1, td {
        color: red;
    }
    .text-black {
        color: black !important;
    }
    .star{
        margin-left: 210px;
    }
    span.Rating{    
        margin-left: 28px;
    }
    p{
        font-size: 12px
    }
    .ser {
        font-size: 12px;
        font-weight: bold;
        margin: 16px;
    }
</style>
<body>
<div class="row">
<!-- Left Box -->
<div class="col-md-6">
    <div class="left-box">
        <h4 class="border-bottom pb-2">Asp.Net MVC Training</h4>
        <a1 class="border-bottom pb-2">NIT Manager</a1>
        <div class="left-box">
            <h class="services" style="font-size: 12px; font-weight: bold;">Asp.Net MVC 6 Course Overview</h>
            <p class="paragrap" style="margin-top: 20px; word-spacing: 2px;">Prior .NET web application development experience and familiarity with Object-Oriented Programming concepts is assumed. Some experience with<a1> HTML and JavaScript</a1> is also expected. Experience developing ASP.NET MVC Training applications with Web Forms would be beneficial.</p>
        </div>
        <div class="left-box">
            <h class="services" style="font-size: 12px; font-weight: bold;">Asp.Net MVC 6 Training Course Objective</h>
            <p class="paragrap" style="margin-top: 20px; word-spacing: 2px;">ASP.NET MVC Training gives you a powerful, patterns-based way to build dynamic websites that enables a clean separation of concerns and that gives you full control over markup for enjoyable, agile development. ASP.NET MVC Training includes many features that enable fast, TDD-friendly development for creating sophisticated applications that use the latest web standards.</p>
        </div>
        <h2 class="ser">Asp.Net MVC 6 Training Course Duration</h2>
        <pr><li>40 Days</li></pr><br>
        <h2 class="ser">Asp.Net MVC 6 Training Course Overview</h2>
        <h2 class="ser">Introduction to ASP.NET MVC 6</h2>
        <pr>
            <li>Introduction to MVC 6</li>
            <li>NET Web Forms (vs) ASP.NET MVC</li>
            <li>Advantages and disadvantages of each</li>
            <li>Determining when-to-use which one</li>
            <li>List of Versions of ASP.NET MVC</li>
            <li>Differences between versions of ASP.NET MVC</li>
            <li>Overview of installing ASP.NET MVC in various versions of Visual Studio</li>
        </pr><br>

        <h2 class="ser">MVC Architecture</h2>
        <pr>
            <li>What is MVC?</li>
            <li>Architecture Explanation</li>
            <li>What is Controller and action method</li>
            <li>What is View</li>
            <li>What is Model</li>
            <li>Request Flow in ASP.NET MVC</li>
        </pr><br>

        <h2 class="ser">Getting started with MVC Core</h2>
        <pr>
            <li>New Project in Visual Studio</li>
            <li>Overview of Folders and files of MVC project</li>
        </pr><br>

        <h2 class="ser">Controllers</h2>
        <pr>
            <li>Introduction to Controllers</li>
            <li>Creating Controllers and Actions</li>
            <li>Calling action methods thru the browser</li>
            <li>Returning from action methods</li>
            <li>Parameters in Action methods</li>
            <li>ActionLink</li>
            <li>URL Routing</li>
        </pr><br>

        <h2 class="ser">Views (Razor)</h2>
        <pr>
            <li>Introduction to Views (Razor)</li>
            <li>ActionResult and ViewResult</li>
            <li>Returning a view</li>
            <li>Creating a Simple Razor View</li>
            <li>Intermingling Code and Markup in Razor Views</li>
            <li>View Bag / View Data / Temp Data</li>
            <li>Shared Views</li>
            <li>ASPX View Engine (vs) Razor</li>
        </pr><br>

        <h2 class="ser">LayoutViews</h2>
        <pr>
            <li>Introduction to LayoutViews</li>
            <li>The need of layout views</li>
            <li>cshtml</li>
            <li>Creating custom layout views</li>
            <li>Layout Views with Sections</li>
            <li>RenderSection()</li>
            <li>cshtml</li>
            <li>Overriding the _ViewStart.cshtml</li>
        </pr><br>

        <h2 class="ser">Partial Views</h2>
        <pr>
            <li>Partial Views</li>
            <li>RenderPartial()</li>
        </pr><br>
        <h2 class="ser">Models</h2>
        <pr>
            <li>Introduction to Models</li>
            <li>Need of models</li>
            <li>Creating models using 'CodeFirst approach'</li>
        </pr><br>

        <h2 class="ser">Entity Framework in MVC</h2>
        <pr>
            <li>Introduction to Entity Framework</li>
            <li>Need of Entity Framework</li>
            <li>Creating DbContext and DbSet</li>
            <li>Configuring connection string</li>
        </pr><br>

        <h2 class="ser">Scaffold Templates in MVC</h2>
        <pr>
            <li>Introduction to Scaffold Templates in MVC</li>
            <li>Need of Scaffolding</li>
            <li>Creating controllers and views using scaffold</li>
            <li>Strongly typed views</li>
            <li>Understanding Index, Details, Create, Edit, Delete action methods and views</li>
        </pr><br>

        <h2 class="ser">HTML Helpers</h2>
        <pr>
            <li>Introduction to HTML helpers</li>
            <li>DisplayNameFor( )</li>
            <li>DisplayFor( )</li>
            <li>BeginForm( )</li>
            <li>LabelFor()</li>
            <li>EditorFor( )</li>
            <li>ValidationMessageFor( )</li>
            <li>RadioButtonFor( )</li>
            <li>DropDownListFor( )</li>
            <li>ListBoxFor( )</li>
            <li>CheckBoxFor( )</li>
            <li>AntiForgeryToken()</li>
            <li>Code First Migrations</li>
        </pr><br>
        <h2 class="ser">Action Filters</h2>
        <pr>
            <li>Introduction to action filters</li>
            <li>[HttpPost]</li>
            <li>[HttpGet]</li>
            <li>[ValidateAntiForgeryToken]</li>
            <li>[OutputCache]</li>
            <li>[HandleError]</li>
            <li>[NonAction]</li>
            <li>[ActionName]</li>
        </pr><br>
        <h2 class="ser">Bundles and Minification</h2>
        <pr>
            <li>Introduction to Bundles and minification</li>
            <li>Understanding BundleConfig.cs</li>
            <li>ScriptBundle (vs) StyleBundle</li>
            <li>Importing a ScriptBundle and StyleBundle</li>
            <li>Creating and consuming custom bundles</li>
        </pr><br>

        <h2 class="ser">Validations</h2>
        <pr>
            <li>Introduction to Validations</li>
            <li>Model level validations (vs) View level validations</li>
            <li>Importing jQuery Validation Plug in</li>
            <li>[Required]</li>
            <li>[RegularExpression]</li>
            <li>[Range]</li>
            <li>[StringLength]</li>
            <li>[Compare]</li>
            <li>[Remote]</li>
            <li>IsValid</li>
        </pr><br>

        <h2 class="ser">Data Annotations</h2>
        <pr>
            <li>[Display]</li>
            <li>[Datatype]</li>
            <li>[DisplayFormat]</li>
            <li>[ScaffoldColumn]</li>
        </pr><br>

        <h2 class="ser">jQuery in MVC</h2>
        <pr>
            <li>Introduction to jQuery in MVC</li>
            <li>Need of jQuery in MVC</li>
            <li>Importing/updating jQuery plug in</li>
            <li>Demos</li>
        </pr><br>

        <h2 class="ser">jQuery AJAX in MVC</h2>
        <pr>
            <li>Need of jQuery-AJAX in MVC</li>
            <li>Demos on jQuery-AJAX (with JSON) in MVC with database handling</li>
            <li>Intro to jQGrid</li>
        </pr><br>
        <h2 class="ser">Web API</h2>
        <pr>
            <li>Introduction to Web API</li>
            <li>WCF REST (vs) Web API</li>
            <li>Understanding HTTP methods(GET, POST, PUT, DELETE)</li>
            <li>Creating API controller</li>
            <li>API configuration</li>
            <li>Calling Web API from jQuery</li>
            <li>Demo: CRUD operations using jQuery AJAX with Web API</li>
        </pr><br>

        <h2 class="ser">Security in MVC</h2>
        <pr>
            <li>Forms based security with [Authorize]</li>
            <li>Windows based security</li>
        </pr><br>

        <h2 class="ser">What’s New in MVC Core</h2>
        <pr>
            <li>Web API 2</li>
            <li>Overview of Facebook Application</li>
            <li>OWIN Abstraction</li>
            <li>Inbuilt Support for Dependency Injection</li>
            <li>SIGNAL R 3</li>
            <li>Web API 3</li>
        </pr><br>

        <h2 class="ser">Repository Layer and Service Layer</h2>
        <pr>
            <li>Introduction to Repository Layer and Service Layer</li>
            <li>MVC Architecture with both layers</li>
            <li>Demos</li>
        </pr><br>
        <h2 class="ser">Dependency Injection</h2>
        <pr>
            <li>Problems in accessing repository layer / service layer directly in controller</li>
            <li>What is Dependency Injection</li>
            <li>Installing ‘Unity’ plug in</li>
            <li>Configuring Unity</li>
            <li>Construction injection and property injection using interface</li>
        </pr><br>

        <h2 class="ser">Database-First Approach in MVC</h2>
        <pr>
            <li>Introduction to Database-First approach in MVC</li>
            <li>Demos on ‘Database-First’ approach</li>
        </pr><br>

        <h2 class="ser">Areas in MVC</h2>
        <pr>
            <li>Introduction to areas in MVC</li>
            <li>Demos on areas</li>
        </pr><br>

        <h2 class="ser">Mobile Web Apps using MVC</h2>
        <pr>
            <li>Introduction to jQuery Mobile</li>
            <li>Mobile Application’ project template</li>
            <li>Overview of Customizing jQuery Mobile</li>
            <li>Deployment</li>
            <li>Configuring IIS</li>
            <li>Publishing MVC web applications to local IIS</li>
        </pr><br>
        <h2 class="ser">Angular 9 Integration</h2>
        <pr>
            <li>What is Angular 9</li>
            <li>Advantages</li>
            <li>Getting started</li>
            <li>MVVM and MVC Architecture</li>
            <li>What is Model, View, ViewModel</li>
            <li>Creating view model</li>
            <li>data-bind</li>
            <li>Observable properties</li>
            <li>Subscribe</li>
            <li>Working with Directives, Services, Filters, Functions</li>
        </pr><br>

        <h2 class="ser">Single Page Application (SPA)</h2>
        <pr>
            <li>What is SPA</li>
            <li>Need of SPA</li>
            <li>Getting started</li>
            <li>Angular JS with API</li>
            <li>Reading and posting data</li>
        </pr><br>
    <form class="border-top border-bottom">
                <br>
                <h8>Click Here For<a1> Asp.Net MVC Online Training</a1></h8><br><br>
                <h8>Categories:<a1>Online Training -- <h8 class="color" style='color: black;'>Tags:</h8> Chennai, Hyderabad</a1></h8>
                <br>
            </form>
        </div>
    </div>

<div class="col-md-6 px-4">
        <div class="right-box">
            <h3><a href="http://localhost:3000/home" style=" color: red;"> Home </a><svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="currentColor" class="bi bi-chevron-double-right" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M3.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L9.293 8 3.646 2.354a.5.5 0 0 1 0-.708z"/>
                <path fill-rule="evenodd" d="M7.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L13.293 8 7.646 2.354a.5.5 0 0 1 0-.708z"/>
            </svg> CLASSROOM TRAINING <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="currentColor" class="bi bi-chevron-double-right" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M3.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L9.293 8 3.646 2.354a.5.5 0 0 1 0-.708z"/>
                <path fill-rule="evenodd" d="M7.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L13.293 8 7.646 2.354a.5.5 0 0 1 0-.708z"/>
            </svg> Asp.Net MVC Training </h3><br><br>
            <div class="star">
            <span class="Rating"><a>Rating of &nbsp; <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="yellow" class="bi bi-star" viewBox="0 0 16 16">
                <polygon points="8 0 10 5 15 5 11.25 8.75 12.5 14.5 8 11 3.5 14.5 4.75 8.75 1 5" />
            </svg><svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="yellow" class="bi bi-star" viewBox="0 0 16 16">
                <polygon points="8 0 10 5 15 5 11.25 8.75 12.5 14.5 8 11 3.5 14.5 4.75 8.75 1 5" />
            </svg><svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="yellow" class="bi bi-star" viewBox="0 0 16 16">
                <polygon points="8 0 10 5 15 5 11.25 8.75 12.5 14.5 8 11 3.5 14.5 4.75 8.75 1 5" />
            </svg><svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="yellow" class="bi bi-star" viewBox="0 0 16 16">
                <polygon points="8 0 10 5 15 5 11.25 8.75 12.5 14.5 8 11 3.5 14.5 4.75 8.75 1 5" />
            </svg><svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="yellow" class="bi bi-star" viewBox="0 0 16 16">
                <polygon points="8 0 10 5 15 5 11.25 8.75 12.5 14.5 8 11 3.5 14.5 4.75 8.75 1 5" />
            </svg> </a></span><br>
            <a class="average" style="font-size: 10px;">Average of 4.98 on a total of 500 Ratings</a><br></div>
            <div class="training" style="margin-left: 142px; margin-top: 14px; font-size: 12px">
            <a herf="/trainers_profile" style="color: red;">Trainers Profile</a><br>
            <a href="/student_enquiry" style="color: red;">Student Enquiry</a><br>
            <a href="/corporate_training" style="color: red;">Corporate Training</a><br>
            <a href="/feedback" style="color: red;">Post your Feedback</a><br>
            <a href="/post_testimonials" style="color: red;">View/Post Testimonials<br>
            <a href="/contact" style="color: red;">Contact Us</a></a1></div>
            <div class="margin" style="margin-left: 141px;">
                <h2>Register for Course!</h3><br>
                <p>Learn from the Real-Time Experts</p>
                <br>
                    <form>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="firstName">First Name<span class="text-danger">*</span></label>
                                <input type="text" class="form-control" id="firstName" placeholder="Enter your first name">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="lastName">Last Name<span class="text-danger">*</span></label>
                                <input type="text" class="form-control" id="lastName" placeholder="Enter your last name">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="email">Email<span class="text-danger">*</span></label>
                                <input type="email" class="form-control" id="email" placeholder="Enter your email">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="phone">Phone<span class="text-danger">*</span></label>
                                <input type="tel" class="form-control" id="phone" placeholder="Enter your phone number">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="state">State</label>
                                <input type="tel" class="form-control" id="state" placeholder="Enter your phone number">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="modeOfTraining">Mode of Training<span class="text-danger">*</span></label>
                            <select id="modeOfTraining" class="form-control">
                                <option selected>Online Training</option>
                                <option selected>Classroom Training</option>
                                <option selected>Weekend Training</option>
                                <option selected>Project Training</option>
                                <option selected>Intership Training</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="course">Course</label>
                            <select id="course" class="form-control">
                                <option selected>Select Course</option>
                                <option selected>Python</option>
                                <option selected>Java</option>
                                <option selected>C++</option>
                                <option selected>C#</option>
                                <option selected>JavaScript</option>
                                <option selected>Ruby</option>
                                <option selected>Swift</option>
                                <option selected>Kotlin</option>
                                <option selected>Data Science</option>
                                <option selected>Machine Learning</option>
                                <option selected>Deep Learning</option>
                                <option selected>Natural Language Processing (NLP)</option>
                                <option selected>TensorFlow</option>
                                <option selected>PyTorch</option>
                            </select>
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                    <br>

                    <h2>JOIN WHATSAPP GROUPS FOR UPDATES<br><br>
                        <img src="./assets/whatsappjpg">
                    </h2>
                    <h2>WATCH FREE TUTORIALS<br><br>
                        <img src="./assets/telegramjpeg">
                    </h2>
                    <h2>JOIN US ON TELEGRAM FOR UPDATES<br><br>
                        <img src="./assets/freejpg">
                    </h2>
                    <h2>FIND COURSES HERE</h2>
                    <li>courses traning</li>
                    <li>Android Training</li>
                    <li>iPhone Training</li>
                    <li>Asp.Net Training</li>
                    <li>Asp.Net MVC Training</li>
                    <li>C#.NET Training</li>
                    <li>C++ Training</li>
                    <li>Data Structure Training</li>
                    <li>Java Training</li>
                    <ul class="list">
                        <li>Core Java Training</li>
                        <li>Advanced Java Training</li>
                        <li>Hibernate Training</li>
                        <li>J2EE Training</li>
                        <li>Spring 5.x Training</li>
                        <li>Hibernate Training</li>
                        <li>Web Services Training</li>
                        <li>Struts Training</li>
                        <li>XML Training</li>
                        <li>Java Online Training</li></ul>
                    <li>Oracle Training</li>
                    <li>SQL Server Training</li>
                    <li>Selenium Training</li>
                    <li>UNIX LINUX Training</li>
                    <li>PHP Training</li>
                    <li>HTML5 CSS3 Training</li>
                    <li>jQuery Training</li>
                    <li>UI Technologies Training</li>
                    <li>UI UX Training</li>
                    <li>AngularJS Training</li>
                    <ul class="list">
                        <li>Angular 2 Training</li>
                        <li>Angular 4 Training</li>
                        <li>Angular 6 Training</li>
                        <li>Angular 7 Training</li>
                    </ul>
                    <li>Data Science Training</li>
                    <li>Artificial Intelligence Training</li>
                    <li>Hadoop Training</li>
                    <li>Apache Spark Training</li>
                    <li>Python Training</li>
                    <li>Hadoop Online Training</li>
                    <li>DevOps Training</li>
                    <li>AWS Training</li>
                    <li>IoT Training</li>
                    <li>SalesForce CRM Training</li>
                    <li>Digital Marketing Training</li>
                    <li>RPA Training</li>
                    <ul class="list">
                        <li>Blue Prism Training</li>
                        <li>Automation Anywhere Training</li>
                        <li>Automation Anywhere Online Training</li>
                    </ul>
                    <li>Blockchain Training</li>
                    <li>Realtime Projects</li>
                    <ul class="list">
                        <li>Real Time Java Project</li>
                        <li>Real-Time Project on PHP</li></ul>
                    <li>Doubleclick for Publishers Training</li>
                    <li>Software Training in Chennai</li>
                    <li>Testing Tools Training</li>
                    <li>Full Stack Web Development Course</li>
                    <li>Full Stack Web Development Course</li>
                    <li>Full Stack Java Developer Course</li>
               </div>
           </div>
        </div>
    </div>
</body>
<%= render "fooder" %>
<br>
<p class="paragrap" style="font-weight: bold;">© 2023 Naresh i Technologies | Software Training - Online Training - Live Project Training - Weekend Training</p>