<%= render "header" %>
<style>
    h{
        font-weight: bold;
    }pr li{
    margin-left: 35px;
    font-size: 12px;
    font-style: italic;
    }
    .course-card {
        margin-bottom: 20px;
    }
    .left-box {
        padding: 20px;
/*        width: 120%;*/
    }

    .right-box {
        padding: 20px;
        margin-top: 20px;
    }

    
    h1 {
        font-weight: bold;
    }

    h2 {
        font-weight: bold;
        margin: 0px;
        margin-top: 20px; 
       font-size: 19px;
    }
    h3{
        color: red;
        font-size: 16px;
        margin-left: 135px;
    }
    h4{
        font-size: 1.5rem;
        margin-top: 102px;
        font-size: 20px;
        font-weight: bold;
    }
    a1, td {
        color: red;
    }
    .text-black {
        color: black !important;
    }
    .star{
        margin-left: 210px;
    }
    span.Rating{    
        margin-left: 28px;
    }
    p{
        font-size: 12px
    }
    .ser {
        font-size: 12px;
        font-weight: bold;
        margin: 16px;
    }
</style>
<body>
<div class="row">
<!-- Left Box -->
<div class="col-md-6">
    <div class="left-box">
        <h4 class="border-bottom pb-2">iPhone Training</h4>
        <a1 class="border-bottom pb-2">NIT Manager</a1>
        <div class="left-box">
            <h class="services" style="font-size: 12px; font-weight: bold;">iPhone Course Overview</h>
            <p class="paragrap" style="margin-top: 20px; word-spacing: 2px;">Our iOS training classes can help you get off to a running start in iPhone, iPod, and <strong>iPad app development.</strong> Learn from expert Objective-C developers with years of experience in Apple’s iPhone SDK and Mac OS X development tools and frameworks. You’ll be creating working iPhone and iPad Apps in class within a few, fast-paced days. You will Understand the entire iPhone<strong> Apps Development Cycle</strong> from start to end</p>
        </div>
        <h2 class="ser">iPhone Course Prerequisite</h2>
        <pr>
            <li>Prior 'ANSI-C' programming language experience</li>
            <li>Basic object-oriented languages like<strong> C++,</strong> Java,<a1> C#.Net</a1> is recommended</li>
            <li>Knowing basic <a1>SQL</a1> queries can be an advantage</li>
        </pr><br>

        <h2 class="ser">iPhone Training Course Objective</h2>
        <pr>
            <li>Our <strong>iOS (iPhone/iPad/iPod) </strong>training offerings feature smaller class sizes, more intensive hands-on lab exercises, deeper explanations, and the very best instructors</li>
            <li>Our focus on—and let’s face it, love of—Objective-C, Xcode, cocoa and Apple’s iOS development frameworks ensures you’ll get the very best iOS training available</li>
            <li>Our goal is to not only get you coding quickly—we’ll also help you get a solid understanding of how things work under the covers so you can continue learning on your own</li>
            <li>You’ll come away with practical, hands-on skills in designing and implementing well-engineered iPhone iPad and iPod apps, plus a level of insight that’s essential to resolving bugs, memory leaks, and other development issues</li>
        </pr><br>
        <h2 class="ser">iPhone Training Course Duration</h2>
        <pr>
            <li>45 Working days, daily 2 Hours</li>
        </pr><br>
        <h2 class="ser">Hardware and Software Requirements</h2>
        <pr>
            <li>32 bit “Mac OS X” system with 2/++ GB RAM (minimum)</li>
            <li>OS X v10.6 (Snow Leopard ) or other higher version</li>
            <li>Xcode IDE-4.3 or other Higher Version</li>
        </pr><br>
        <h2 class="ser">iPhone Training Course Overview</h2>
        <h2 class="ser">Intro to Objective-C</h2>
        <pr>
            <li>Objective-C and Smalltalk</li>
            <li>Objective-C, C, C++ and Mac OS X</li>
            <li>Objective-C and iPhone/iPad/iOS</li>
        </pr><br>

        <h2 class="ser">Introduction iOS and SDK</h2>
        <pr>
            <li>iOS SDK: iPhone, iPod Touch</li>
            <li>Xcode</li>
            <li>Interface Builder</li>
            <li>iPhone Simulator</li>
            <li>Debugger</li>
        </pr><br>

        <h2 class="ser">Xcode</h2>
        <pr>
            <li>Xcode IDE</li>
            <li>Editing</li>
            <li>Building</li>
            <li>Running</li>
            <li>Console</li>
        </pr><br>
        <h2 class="ser">Objective-C 2.0</h2>
        <pr>
            <li>Programming in Objective-C</li>
            <li>The Preprocessor</li>
        </pr><br>

        <h2 class="ser">Classes, Objects, Methods, and Properties</h2>
        <pr>
            <li>id</li>
            <li>null</li>
            <li>@interface</li>
            <li>@end</li>
            <li>@implementation</li>
            <li>Archiving</li>
            <li>@property</li>
            <li>@synthesize</li>
            <li>@dynamic</li>
        </pr><br>

        <h2 class="ser">Data Types and Control Flow</h2>
        <pr>
            <li>Data Types</li>
            <li>Control Flow Statements</li>
            <li>More about Classes</li>
            <li>More about Variables and Data Types</li>
            <li>Inheritance</li>
            <li>Polymorphism, Dynamic Typing, and Dynamic Binding</li>
        </pr><br>

        <h2 class="ser">Categories and Protocols</h2>
        <pr>
            <li>About Categories</li>
            <li>@category</li>
            <li>About Protocols</li>
            <li>@protocol</li>
        </pr><br>

        <h2 class="ser">Foundation Framework</h2>
        <pr>
            <li>Introduction to the Foundation Framework</li>
        </pr><br>
        <h2 class="ser">Collections</h2>
        <pr>
            <li>NSArray</li>
            <li>Enumeration</li>
            <li>NSMutableArray</li>
            <li>NSDictionary</li>
            <li>NSMutableDictionary</li>
        </pr><br>

        <h2 class="ser">Scalar Data Types</h2>
        <pr>
            <li>NSObject and NSString</li>
            <li>NSData and NSDate</li>
        </pr><br>

        <h2 class="ser">Files</h2>
        <pr>
            <li>NSFileManager</li>
            <li>NSFileHandle</li>
            <li>NSUserDefaults</li>
            <li>NSHomeDirectory(), etc.</li>
        </pr><br>

        <h2 class="ser">Resource Files and File Operations</h2>
        <pr>
            <li>Read/Write Text Files</li>
            <li>Copying Objects</li>
            <li>Archiving</li>
        </pr><br>

        <h2 class="ser">Memory Management</h2>
        <pr>
            <li>Allocate</li>
            <li>Release</li>
            <li>Auto Releasing</li>
            <li>Reference Counting</li>
            <li>Static Analyzer</li>
            <li>Garbage Collection</li>
        </pr><br>

        <h2 class="ser">Cocoa and Touch</h2>
        <pr>
            <li>What is Cocoa?</li>
            <li>Cocoa Framework and Cocoa Classes</li>
            <li>Subclassing</li>
            <li>Xcode</li>
            <li>Simulator</li>
            <li>Interface Builder</li>
            <li>Nib files</li>
            <li>File’s Owner</li>
            <li>Outlet Connections</li>
            <li>Action Connections</li>
            <li>Inspector</li>
        </pr><br>
        <h2 class="ser">Controls Part-1</h2>
        <pr>
            <li>Controls</li>
            <li>Labels</li>
            <li>IBOutlet</li>
            <li>Buttons</li>
            <li>IBAction</li>
            <li>Event Handling</li>
            <li>UIEvent</li>
            <li>Toolbars</li>
            <li>Toolbar items</li>
            <li>Status bar</li>
            <li>Navigation bar and items</li>
        </pr><br>

        <h2 class="ser">Controls Part-2</h2>
        <pr>
            <li>Activity Indicator</li>
            <li>Network Activity Indicator</li>
            <li>Page Indicator</li>
            <li>Progress View</li>
            <li>Refresh Control</li>
            <li>Scope Bar</li>
            <li>Search Bar</li>
            <li>Segmented Control</li>
            <li>Slider</li>
            <li>Stepper</li>
            <li>Switch</li>
            <li>Detail Disclosure Button</li>
            <li>Info Button</li>
        </pr><br>

        <h2 class="ser">Text Controls</h2>
        <pr>
            <li>Text Field and Delegate</li>
            <li>Text View and Delegate</li>
        </pr><br>

        <h2 class="ser">View</h2>
        <pr>
            <li>What is View?</li>
            <li>UIViews and UIViewControllers</li>
            <li>UIView Class</li>
            <li>UIView Subclasses</li>
            <li>Types of Views</li>
            <li>UIApplication</li>
        </pr><br>
        <h2 class="ser">Window Based Application</h2>
        <pr>
            <li>Application</li>
            <li>Application Delegate</li>
            <li>View Controller</li>
            <li>Window & Views</li>
            <li>Device Info</li>
            <li>Screen</li>
            <li>CGRect, CGPoint, CGSize</li>
            <li>CGRectMake(), CGRectZero</li>
            <li>Static Device Info</li>
            <li>Dynamic Device Info</li>
            <li>Orientation Info</li>
            <li>The iPhone Accelerometer</li>
            <li>Detecting shakes</li>
            <li>Determining orientation</li>
            <li>Responding to the accelerometer</li>
        </pr><br>

        <h2 class="ser">Tab Bar Application</h2>
        <pr>
            <li>Tab Bar Controllers</li>
            <li>Tab Bars</li>
            <li>First View Controller</li>
            <li>Second View Controller</li>
            <li>Third View Controller</li>
            <li>Creating New Classes</li>
            <li>Classes and Interface Builder</li>
        </pr><br>

        <h2 class="ser">Navigation Based Application</h2>
        <pr>
            <li>Root View Controller</li>
            <li>Navigation Controller, Bars and Items</li>
            <li>Button Bar Items</li>
            <li>Push/Pop Views</li>
        </pr><br>

        <h2 class="ser">Picker View</h2>
        <pr>
            <li>UIPickerView</li>
            <li>UIPickerViewDelegate</li>
            <li>UIPickerViewDataSource</li>
            <li>Date and Time Picker</li>
            <li>UIDatePicker</li>
            <li>NSTimer</li>
        </pr><br>
        <h2 class="ser">Table View</h2>
        <pr>
            <li>Table View and Controller</li>
            <li>Table View Cells</li>
            <li>Data Source</li>
            <li>Table View Delegate</li>
        </pr><br>
        <h2 class="ser">Popover (iPad Only)</h2>
        <h2 class="ser">Split View (iPad Only)</h2>
        <h2 class="ser">Browser View</h2>

        <h2 class="ser">Alerting Users</h2>
        <pr>
            <li>Alert View</li>
            <li>Alert View Delegate</li>
            <li>Action Sheet</li>
            <li>Action Sheet Delegate</li>
        </pr><br>

        <h2 class="ser">Media and Images</h2>
        <pr>
            <li>UIImageView</li>
            <li>UIImage</li>
            <li>AnimationImages</li>
            <li>Highlighted Animation Images</li>
            <li>UITouch</li>
            <li>UIGestureRecognizer</li>
            <li>UIPinchGestureRecognizer</li>
            <li>Panning</li>
            <li>Zooming</li>
            <li>Rotating Image</li>
            <li>Playing Audio</li>
            <li>Responding to Audio Events</li>
            <li>Playing Audio in Background</li>
            <li>Recording Audio</li>
            <li>Playing Video</li>
            <li>Photo Library</li>
            <li>UIImagePickerController</li>
            <li>Taking Pictures and Movies</li>
        </pr><br>
        <h2 class="ser">Processes and Threads</h2>
        <pr>
            <li>NSProcessInfo</li>
            <li>NSThread</li>
            <li>PerformInBackground</li>
            <li>GCD (Grand Central Dispatch)</li>
            <li>Synchronization</li>
        </pr><br>

        <h2 class="ser">Networking</h2>
        <pr>
            <li>NSURL</li>
            <li>NSURLRequest</li>
            <li>NSURLConnection</li>
            <li>XMLParser</li>
            <li>SCNetwork</li>
            <li>CFHTTP</li>
            <li>CFFTP</li>
            <li>CFSocket</li>
            <li>Web Server</li>
        </pr><br>

        <h2 class="ser">Working with SQLite</h2>
        <pr>
            <li>What Is SQLite?</li>
            <li>The SQLite Library</li>
            <li>Building a Simple Database</li>
            <li>Designing the Database</li>
            <li>Creating the Database</li>
            <li>Populating the Database</li>
            <li>Creating Records with the INSERT Command</li>
        </pr><br>

        <h2 class="ser">Working with Core Data</h2>
        <pr>
            <li>Introducing Core Data</li>
            <li>SQLite and Core Data</li>
            <li>Modeling Data in Xcode</li>
            <li>Building a Core Data Application</li>
            <li>Core Data-Related Cocoa Features</li>
            <li>Core Data Migration and Performance</li>
            <li>Application Integration using Web Services</li>
        </pr><br>
        <h2 class="ser">Location and Mapping</h2>
        <pr>
            <li>About Core Location</li>
            <li>Handling location updates</li>
            <li>About Map Kit</li>
            <li>Map Overlays</li>
            <li>Adding annotations</li>
        </pr><br>

        <h2 class="ser">Social Networks Integration</h2>
        <pr>
            <li>Flickr integration</li>
            <li>Twitter integration</li>
            <li>Facebook integration</li>
            <li>Youtube integration</li>
        </pr><br>

        <h2 class="ser">Real-Time Working Scenario</h2>
        <pr>
            <li>What is mercurial and repository?</li>
            <li>What is IPA file?</li>
            <li>How to make an IPA file, upload a build to TestFlight?</li>
            <li>How to upload an app to the app store?</li>
        </pr><br>

        <form class="border-top border-bottom">
            <br>
            <h8>Click Here For<a1> iPhone Online Training </a1></h8><br><br>
            <h8>Categories:<a1>Online Training<h8 class="color" style='color: black;'>Tags:</h8> Chennai, Hyderabad</a1></h8>
            <br>
        </form>
    </div>
</div>

<div class="col-md-6 px-4">
        <div class="right-box">
            <h3><a href="http://localhost:3000/home" style=" color: red;"> Home </a><svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="currentColor" class="bi bi-chevron-double-right" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M3.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L9.293 8 3.646 2.354a.5.5 0 0 1 0-.708z"/>
                <path fill-rule="evenodd" d="M7.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L13.293 8 7.646 2.354a.5.5 0 0 1 0-.708z"/>
            </svg> ONLINE TRAINING <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="currentColor" class="bi bi-chevron-double-right" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M3.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L9.293 8 3.646 2.354a.5.5 0 0 1 0-.708z"/>
                <path fill-rule="evenodd" d="M7.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L13.293 8 7.646 2.354a.5.5 0 0 1 0-.708z"/>
            </svg> iPhone Training </h3><br><br>
            <div class="star">
            <span class="Rating"><a>Rating of &nbsp; <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="yellow" class="bi bi-star" viewBox="0 0 16 16">
                <polygon points="8 0 10 5 15 5 11.25 8.75 12.5 14.5 8 11 3.5 14.5 4.75 8.75 1 5" />
            </svg><svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="yellow" class="bi bi-star" viewBox="0 0 16 16">
                <polygon points="8 0 10 5 15 5 11.25 8.75 12.5 14.5 8 11 3.5 14.5 4.75 8.75 1 5" />
            </svg><svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="yellow" class="bi bi-star" viewBox="0 0 16 16">
                <polygon points="8 0 10 5 15 5 11.25 8.75 12.5 14.5 8 11 3.5 14.5 4.75 8.75 1 5" />
            </svg><svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="yellow" class="bi bi-star" viewBox="0 0 16 16">
                <polygon points="8 0 10 5 15 5 11.25 8.75 12.5 14.5 8 11 3.5 14.5 4.75 8.75 1 5" />
            </svg><svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="yellow" class="bi bi-star" viewBox="0 0 16 16">
                <polygon points="8 0 10 5 15 5 11.25 8.75 12.5 14.5 8 11 3.5 14.5 4.75 8.75 1 5" />
            </svg> </a></span><br>
            <a class="average" style="font-size: 10px;">Average of 4.98 on a total of 500 Ratings</a><br></div>
            <div class="training" style="margin-left: 142px; margin-top: 14px; font-size: 12px">
            <a herf="/trainers_profile" style="color: red;">Trainers Profile</a><br>
            <a href="/student_enquiry" style="color: red;">Student Enquiry</a><br>
            <a href="/corporate_training" style="color: red;">Corporate Training</a><br>
            <a href="/feedback" style="color: red;">Post your Feedback</a><br>
            <a href="/post_testimonials" style="color: red;">View/Post Testimonials<br>
            <a href="/contact" style="color: red;">Contact Us</a></a1></div>
            <div class="margin" style="margin-left: 141px;">
                <h2>Register for Course!</h3><br>
                <p>Learn from the Real-Time Experts</p>
                <br>
                    <form>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="firstName">First Name<span class="text-danger">*</span></label>
                                <input type="text" class="form-control" id="firstName" placeholder="Enter your first name">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="lastName">Last Name<span class="text-danger">*</span></label>
                                <input type="text" class="form-control" id="lastName" placeholder="Enter your last name">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="email">Email<span class="text-danger">*</span></label>
                                <input type="email" class="form-control" id="email" placeholder="Enter your email">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="phone">Phone<span class="text-danger">*</span></label>
                                <input type="tel" class="form-control" id="phone" placeholder="Enter your phone number">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="state">State</label>
                                <input type="tel" class="form-control" id="state" placeholder="Enter your phone number">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="modeOfTraining">Mode of Training<span class="text-danger">*</span></label>
                            <select id="modeOfTraining" class="form-control">
                                <option selected>Online Training</option>
                                <option selected>Classroom Training</option>
                                <option selected>Weekend Training</option>
                                <option selected>Project Training</option>
                                <option selected>Intership Training</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="course">Course</label>
                            <select id="course" class="form-control">
                                <option selected>Select Course</option>
                                <option selected>Python</option>
                                <option selected>Java</option>
                                <option selected>C++</option>
                                <option selected>C#</option>
                                <option selected>JavaScript</option>
                                <option selected>Ruby</option>
                                <option selected>Swift</option>
                                <option selected>Kotlin</option>
                                <option selected>Data Science</option>
                                <option selected>Machine Learning</option>
                                <option selected>Deep Learning</option>
                                <option selected>Natural Language Processing (NLP)</option>
                                <option selected>TensorFlow</option>
                                <option selected>PyTorch</option>
                            </select>
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                    <br>

                    <h2>JOIN WHATSAPP GROUPS FOR UPDATES<br><br>
                        <img src="./assets/whatsappjpg">
                    </h2>
                    <h2>WATCH FREE TUTORIALS<br><br>
                        <img src="./assets/telegramjpeg">
                    </h2>
                    <h2>JOIN US ON TELEGRAM FOR UPDATES<br><br>
                        <img src="./assets/freejpg">
                    </h2>
                    <h2>FIND COURSES HERE</h2>
                    <li>courses traning</li>
                    <li>Android Training</li>
                    <li>iPhone Training</li>
                    <li>Asp.Net Training</li>
                    <li>Asp.Net MVC Training</li>
                    <li>C#.NET Training</li>
                    <li>C++ Training</li>
                    <li>Data Structure Training</li>
                    <li>Java Training</li>
                    <ul class="list">
                        <li>Core Java Training</li>
                        <li>Advanced Java Training</li>
                        <li>Hibernate Training</li>
                        <li>J2EE Training</li>
                        <li>Spring 5.x Training</li>
                        <li>Hibernate Training</li>
                        <li>Web Services Training</li>
                        <li>Struts Training</li>
                        <li>XML Training</li>
                        <li>Java Online Training</li></ul>
                    <li>Oracle Training</li>
                    <li>SQL Server Training</li>
                    <li>Selenium Training</li>
                    <li>UNIX LINUX Training</li>
                    <li>PHP Training</li>
                    <li>HTML5 CSS3 Training</li>
                    <li>jQuery Training</li>
                    <li>UI Technologies Training</li>
                    <li>UI UX Training</li>
                    <li>AngularJS Training</li>
                    <ul class="list">
                        <li>Angular 2 Training</li>
                        <li>Angular 4 Training</li>
                        <li>Angular 6 Training</li>
                        <li>Angular 7 Training</li>
                    </ul>
                    <li>Data Science Training</li>
                    <li>Artificial Intelligence Training</li>
                    <li>Hadoop Training</li>
                    <li>Apache Spark Training</li>
                    <li>Python Training</li>
                    <li>Hadoop Online Training</li>
                    <li>DevOps Training</li>
                    <li>AWS Training</li>
                    <li>IoT Training</li>
                    <li>SalesForce CRM Training</li>
                    <li>Digital Marketing Training</li>
                    <li>RPA Training</li>
                    <ul class="list">
                        <li>Blue Prism Training</li>
                        <li>Automation Anywhere Training</li>
                        <li>Automation Anywhere Online Training</li>
                    </ul>
                    <li>Blockchain Training</li>
                    <li>Realtime Projects</li>
                    <ul class="list">
                        <li>Real Time Java Project</li>
                        <li>Real-Time Project on PHP</li></ul>
                    <li>Doubleclick for Publishers Training</li>
                    <li>Software Training in Chennai</li>
                    <li>Testing Tools Training</li>
                    <li>Full Stack Web Development Course</li>
                    <li>Full Stack Web Development Course</li>
                    <li>Full Stack Java Developer Course</li>
               </div>
           </div>
        </div>
    </div>
</body>
<%= render "fooder" %>
