<%= render "header" %>
<style>
    body {
        margin: 41px;
        padding: 0;
    }
    h{
        font-weight: bold;
    }pr li{
    margin-left: 35px;
    font-size: 12px;
    font-style: italic;
    }
    .course-card {
        margin-bottom: 20px;
    }
    .left-box {
        padding: 20px;
/*        width: 120%;*/
    }

    .right-box {
        padding: 20px;
        margin-top: 20px;
    }

    
    h1 {
        font-weight: bold;
    }

    h2 {
        font-weight: bold;
        margin: 0px;
        margin-top: 20px; 
       font-size: 19px;
    }
    h3{
        color: red;
        font-size: 16px;
        margin-left: 135px;
    }
    h4{
        font-size: 1.5rem;
        margin-top: 102px;
        font-size: 20px;
        font-weight: bold;
    }
    a1, td {
        color: red;
    }
    .text-black {
        color: black !important;
    }
    .star{
        margin-left: 210px;
    }
    span.Rating{    
        margin-left: 28px;
    }
    p{
        font-size: 12px
    }
    .ser {
        font-size: 12px;
        font-weight: bold;
        margin: 16px;
    }
</style>
<body>
<div class="row">
<!-- Left Box -->
<div class="col-md-6">
    <div class="left-box">
        <h4 class="border-bottom pb-2">PHP Training</h4>
        <a1 class="border-bottom pb-2">NIT Manager</a1>
        <div class="left-box">
            <h class="services" style="font-size: 12px; font-weight: bold;">PHP  Course Overview</h>
            <p class="paragrap" style="margin-top: 20px; word-spacing: 2px;">PHP is a widely-used general-purpose scripting language that is especially suited for Web development and can be embedded into HTML.</p>
            <pr><li>PHP can generate dynamic page content</li>
            <li>PHP can create, open, read, write, and close files on the server</li>
            <li>PHP can collect form data</li>
            <li>PHP can send and receive cookies</li>
            <li>PHP can add, delete, modify data in your database</li>
            <li>PHP can restrict users to access some pages on your website</li>
            <li>PHP can encrypt data</li></pr>
            <p class="paragrap" style="margin-top: 20px; word-spacing: 2px;">With PHP you are not limited to output HTML. You can output images, PDF files, and even Flash movies. You can also output any text, such as<strong> XHTML </strong>and <strong>XML</strong></p>
        </div>
        <h2 class="ser">PHP Training Course Prerequisite</h2>
        <pr>
            <li>HTML</li>
            <li>CSS</li>
            <li>Javascript</li>
        </pr><br>

        <h2 class="ser">Objectives of the Course</h2>
        <pr>
            <li>PHP runs on different platforms (Windows, Linux, Unix, Mac OS X, etc.)</li>
            <li>PHP is compatible with almost all servers used today (Apache, IIS, etc.)</li>
            <li>PHP has support for a wide range of databases</li>
            <li>PHP is free. Download it from the official PHP resource: <a href="www.php.net">www.php.net</a></li>
            <li>PHP is easy to learn and runs efficiently on the server side</li>
        </pr><br>

        <h2 class="ser">PHP Training Course Duration</h2>
        <pr>
            <li>45 Working days, daily 1.30 hours</li>
        </pr><br>
        <h2 class="ser">PHP Training Course Overview</h2>
        <h2 class="ser">An Introduction to PHP</h2>
        <pr>
            <li>History of PHP</li>
            <li>Versions and Differences between them</li>
            <li>Practicality</li>
            <li>Power</li>
            <li>Installation and configuring Apache and PHP</li>
        </pr><br>

        <h2 class="ser">PHP Basics</h2>
        <h2 class="ser">Default Syntax</h2>
        <pr>
            <li>Styles of PHP Tags</li>
            <li>Comments in PHP</li>
            <li>Output functions in PHP</li>
            <li>Datatypes in PHP</li>
            <li>Configuration Settings</li>
            <li>Error Types</li>
        </pr><br>

        <h2 class="ser">Variables in PHP</h2>
        <pr>
            <li>Variable Declarations</li>
            <li>Variable Scope</li>
            <li>PHP’s Superglobal Variables</li>
            <li>Variable Variables</li>
        </pr><br>

        <h2 class="ser">Constants in PHP</h2>
        <pr>
            <li>Magic Constants</li>
            <li>Standard Pre-defined Constants</li>
            <li>Core Pre-defined Languages</li>
            <li>User-defined Constants</li>
        </pr><br>

        <h2 class="ser">Control Structures</h2>
        <pr>
            <li>Execution Control Statements</li>
            <li>Conditional Statements</li>
            <li>Looping Statements with Real-time Examples</li>
        </pr><br>

        <h2 class="ser">Functions</h2>
        <pr>
            <li>Creating Functions</li>
            <li>Passing Arguments by Value and Reference</li>
            <li>Recursive Functions</li>
        </pr><br>

        <h2 class="ser">Arrays</h2>
        <pr>
            <li>What is an Array?</li>
            <li>How to create an Array</li>
            <li>Traversing Arrays</li>
            <li>Array Functions</li>
        </pr><br>

        <h2 class="ser">Include Functions</h2>
        <pr>
            <li>Include, Include_once</li>
            <li>Require, Require_once</li>
        </pr><br>
        <h2 class="ser">Regular Expressions</h2>
        <pr>
            <li>Validating text boxes, emails, phone numbers, etc.</li>
            <li>Creating custom regular expressions</li>
        </pr>

        <h2 class="ser">Object-Oriented Programming in PHP</h2>
        <pr>
            <li>Classes, Objects, Fields, Properties, _set(), Constants, Methods</li>
            <li>Encapsulation</li>
            <li>Inheritance and types</li>
            <li>Polymorphism</li>
            <li>Constructor and Destructor</li>
            <li>Static Class Members, Instance of Keyword, Helper Functions</li>
            <li>Object Cloning and Copy</li>
            <li>Reflections</li>
        </pr><br>

        <h2 class="ser">PHP with MySQL</h2>
        <pr>
            <li>What is MySQL</li>
            <li>Integration with MySQL</li>
            <li>MySQL functions</li>
            <li>Gmail Data Grid options</li>
            <li>SQL Injection</li>
            <li>Uploading and downloading images in Database</li>
            <li>Registration and Login forms with validations</li>
            <li>Paging, Sorting, etc.</li>
        </pr><br>

        <h2 class="ser">Strings and Regular Expressions</h2>
        <pr>
            <li>Declarations styles of String Variables</li>
            <li>Heredoc style</li>
            <li>String Functions</li>
            <li>Regular Expression Syntax (POSIX)</li>
            <li>PHP’s Regular Expression Functions (POSIX Extended)</li>
        </pr><br>

        <h2 class="ser">Working with the Files and Operating System</h2>
        <pr>
            <li>File Functions</li>
            <li>Open, Create and Delete files</li>
            <li>Create Directories and Manipulate them</li>
            <li>Information about Hard Disk</li>
            <li>Directory Functions</li>
            <li>Calculating File, Directory and Disk Sizes</li>
        </pr><br>

        <h2 class="ser">Error and Exception Handling</h2>
        <pr>
            <li>Error Logging</li>
            <li>Configuration Directives</li>
            <li>PHP’s Exception Class</li>
            <li>Throw New Exception</li>
            <li>Custom Exceptions</li>
        </pr><br>
        <h2 class="ser">Date and Time Functions</h2>
        <h2 class="ser">Authentication</h2>
        <pr>
            <li>HTTP Authentication</li>
            <li>PHP Authentication</li>
            <li>Authentication Methodologies</li>
        </pr><br>

        <h2 class="ser">Cookies</h2>
        <pr>
            <li>Why Cookies</li>
            <li>Types of Cookies</li>
            <li>How to Create and Access Cookies</li>
        </pr><br>

        <h2 class="ser">Sessions</h2>
        <pr>
            <li>Session Variables</li>
            <li>Creating and Destroying a Session</li>
            <li>Retrieving and Setting the Session ID</li>
            <li>Encoding and Decoding Session Data</li>
            <li>Auto-Login</li>
            <li>Recently Viewed Document Index</li>
        </pr><br>

        <h2 class="ser">Web Services</h2>
        <pr>
            <li>Why Web Services</li>
            <li>RSS Syntax</li>
            <li>SOAP</li>
            <li>How to Access Web Services</li>
        </pr><br>

        <h2 class="ser">XML Integration</h2>
        <pr>
            <li>What is XML</li>
            <li>Create an XML file from PHP with Database records</li>
            <li>Reading Information from XML File</li>
        </pr><br>

        <h2 class="ser">MySQL Concepts</h2>
        <pr>
            <li>Introduction</li>
            <li>Storage Engines</li>
            <li>Functions</li>
            <li>Operators</li>
            <li>Constraints</li>
            <li>DDL commands</li>
            <li>DML Commands</li>
            <li>DCL Command</li>
            <li>TCL Commands</li>
            <li>Views</li>
            <li>Joins</li>
            <li>Cursors</li>
            <li>Indexing</li>
            <li>Stored Procedures</li>
            <li>Mysql with PHP Programming</li>
            <li>Mysql with Sqlserver (Optional)</li>
        </pr><br>
        <h2 class="ser">Protocols</h2>
        <pr>
            <li>HTTP Headers and types</li>
            <li>Sending Mails using PHP</li>
            <li>Email with Attachment</li>
            <li>File Uploading and Downloading using Headers</li>
            <li>Implementing Chatting Applications using PHP and Ajax</li>
            <li>SMS Gateways and sending SMS to Mobiles</li>
            <li>Payments gateways and How to Integrate them</li>
        </pr><br>

        <h2 class="ser">Complete</h2>
        <pr>
            <li>MVC Architecture</li>
            <li>DRUPAL</li>
            <li>JOOMLA</li>
            <li>Word Press</li>
            <li>AJAX</li>
            <li>CSS</li>
            <li>JQUERY (Introduction and few plugins only)</li>
        </pr><br>

        <form class="border-top border-bottom">
            <br>
            <h8>Click Here For<a1>  PHP Online Training</a1></h8><br><br>
            <h8>Categories:<a1>Online Training -- <h8 class="color" style='color: black;'>Tags:</h8> Chennai, Hyderabad</a1></h8>
            <br>
        </form>
    </div>
</div>

<div class="col-md-6 px-4">
        <div class="right-box">
            <h3><a href="http://localhost:3000/home" style=" color: red;"> Home </a><svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="currentColor" class="bi bi-chevron-double-right" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M3.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L9.293 8 3.646 2.354a.5.5 0 0 1 0-.708z"/>
                <path fill-rule="evenodd" d="M7.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L13.293 8 7.646 2.354a.5.5 0 0 1 0-.708z"/>
            </svg> CLASSROOM TRAINING <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="currentColor" class="bi bi-chevron-double-right" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M3.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L9.293 8 3.646 2.354a.5.5 0 0 1 0-.708z"/>
                <path fill-rule="evenodd" d="M7.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L13.293 8 7.646 2.354a.5.5 0 0 1 0-.708z"/>
            </svg> PHP Training </h3><br><br>
            <div class="star">
            <span class="Rating"><a>Rating of &nbsp; <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="yellow" class="bi bi-star" viewBox="0 0 16 16">
                <polygon points="8 0 10 5 15 5 11.25 8.75 12.5 14.5 8 11 3.5 14.5 4.75 8.75 1 5" />
            </svg><svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="yellow" class="bi bi-star" viewBox="0 0 16 16">
                <polygon points="8 0 10 5 15 5 11.25 8.75 12.5 14.5 8 11 3.5 14.5 4.75 8.75 1 5" />
            </svg><svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="yellow" class="bi bi-star" viewBox="0 0 16 16">
                <polygon points="8 0 10 5 15 5 11.25 8.75 12.5 14.5 8 11 3.5 14.5 4.75 8.75 1 5" />
            </svg><svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="yellow" class="bi bi-star" viewBox="0 0 16 16">
                <polygon points="8 0 10 5 15 5 11.25 8.75 12.5 14.5 8 11 3.5 14.5 4.75 8.75 1 5" />
            </svg><svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="yellow" class="bi bi-star" viewBox="0 0 16 16">
                <polygon points="8 0 10 5 15 5 11.25 8.75 12.5 14.5 8 11 3.5 14.5 4.75 8.75 1 5" />
            </svg> </a></span><br>
            <a class="average" style="font-size: 10px;">Average of 4.98 on a total of 500 Ratings</a><br></div>
            <div class="training" style="margin-left: 142px; margin-top: 14px; font-size: 12px">
            <a herf="/trainers_profile" style="color: red;">Trainers Profile</a><br>
            <a href="/student_enquiry" style="color: red;">Student Enquiry</a><br>
            <a href="/corporate_training" style="color: red;">Corporate Training</a><br>
            <a href="/feedback" style="color: red;">Post your Feedback</a><br>
            <a href="/post_testimonials" style="color: red;">View/Post Testimonials<br>
            <a href="/contact" style="color: red;">Contact Us</a></a1></div>
            <div class="margin" style="margin-left: 141px;">
                <h2>Register for Course!</h3><br>
                <p>Learn from the Real-Time Experts</p>
                <br>
                    <form>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="firstName">First Name<span class="text-danger">*</span></label>
                                <input type="text" class="form-control" id="firstName" placeholder="Enter your first name">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="lastName">Last Name<span class="text-danger">*</span></label>
                                <input type="text" class="form-control" id="lastName" placeholder="Enter your last name">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="email">Email<span class="text-danger">*</span></label>
                                <input type="email" class="form-control" id="email" placeholder="Enter your email">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="phone">Phone<span class="text-danger">*</span></label>
                                <input type="tel" class="form-control" id="phone" placeholder="Enter your phone number">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="state">State</label>
                                <input type="tel" class="form-control" id="state" placeholder="Enter your phone number">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="modeOfTraining">Mode of Training<span class="text-danger">*</span></label>
                            <select id="modeOfTraining" class="form-control">
                                <option selected>Online Training</option>
                                <option selected>Classroom Training</option>
                                <option selected>Weekend Training</option>
                                <option selected>Project Training</option>
                                <option selected>Intership Training</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="course">Course</label>
                            <select id="course" class="form-control">
                                <option selected>Select Course</option>
                                <option selected>Python</option>
                                <option selected>Java</option>
                                <option selected>C++</option>
                                <option selected>C#</option>
                                <option selected>JavaScript</option>
                                <option selected>Ruby</option>
                                <option selected>Swift</option>
                                <option selected>Kotlin</option>
                                <option selected>Data Science</option>
                                <option selected>Machine Learning</option>
                                <option selected>Deep Learning</option>
                                <option selected>Natural Language Processing (NLP)</option>
                                <option selected>TensorFlow</option>
                                <option selected>PyTorch</option>
                            </select>
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                    <br>

                    <h2>JOIN WHATSAPP GROUPS FOR UPDATES<br><br>
                        <img src="./assets/whatsappjpg">
                    </h2>
                    <h2>WATCH FREE TUTORIALS<br><br>
                        <img src="./assets/telegramjpeg">
                    </h2>
                    <h2>JOIN US ON TELEGRAM FOR UPDATES<br><br>
                        <img src="./assets/freejpg">
                    </h2>
                    <h2>FIND COURSES HERE</h2>
                    <li>courses traning</li>
                    <li>Android Training</li>
                    <li>iPhone Training</li>
                    <li>Asp.Net Training</li>
                    <li>Asp.Net MVC Training</li>
                    <li>C#.NET Training</li>
                    <li>C++ Training</li>
                    <li>Data Structure Training</li>
                    <li>Java Training</li>
                    <ul class="list">
                        <li>Core Java Training</li>
                        <li>Advanced Java Training</li>
                        <li>Hibernate Training</li>
                        <li>J2EE Training</li>
                        <li>Spring 5.x Training</li>
                        <li>Hibernate Training</li>
                        <li>Web Services Training</li>
                        <li>Struts Training</li>
                        <li>XML Training</li>
                        <li>Java Online Training</li></ul>
                    <li>Oracle Training</li>
                    <li>SQL Server Training</li>
                    <li>Selenium Training</li>
                    <li>UNIX LINUX Training</li>
                    <li>PHP Training</li>
                    <li>HTML5 CSS3 Training</li>
                    <li>jQuery Training</li>
                    <li>UI Technologies Training</li>
                    <li>UI UX Training</li>
                    <li>AngularJS Training</li>
                    <ul class="list">
                        <li>Angular 2 Training</li>
                        <li>Angular 4 Training</li>
                        <li>Angular 6 Training</li>
                        <li>Angular 7 Training</li>
                    </ul>
                    <li>Data Science Training</li>
                    <li>Artificial Intelligence Training</li>
                    <li>Hadoop Training</li>
                    <li>Apache Spark Training</li>
                    <li>Python Training</li>
                    <li>Hadoop Online Training</li>
                    <li>DevOps Training</li>
                    <li>AWS Training</li>
                    <li>IoT Training</li>
                    <li>SalesForce CRM Training</li>
                    <li>Digital Marketing Training</li>
                    <li>RPA Training</li>
                    <ul class="list">
                        <li>Blue Prism Training</li>
                        <li>Automation Anywhere Training</li>
                        <li>Automation Anywhere Online Training</li>
                    </ul>
                    <li>Blockchain Training</li>
                    <li>Realtime Projects</li>
                    <ul class="list">
                        <li>Real Time Java Project</li>
                        <li>Real-Time Project on PHP</li></ul>
                    <li>Doubleclick for Publishers Training</li>
                    <li>Software Training in Chennai</li>
                    <li>Testing Tools Training</li>
                    <li>Full Stack Web Development Course</li>
                    <li>Full Stack Web Development Course</li>
                    <li>Full Stack Java Developer Course</li>
               </div>
           </div>
        </div>
    </div>
</body>
<%= render "fooder" %>
<br>
<p class="paragrap" style="font-weight: bold;">© 2023 Depth Core Technologies | Software Training - Online Training - Live Project Training - Weekend Training</p>