<%= render "header" %>
<style>
    h{
        font-weight: bold;
    }pr li{
    margin-left: 35px;
    font-size: 12px;
    font-style: italic;
    }
    .course-card {
        margin-bottom: 20px;
    }
    .left-box {
        padding: 20px;
/*        width: 120%;*/
    }

    .right-box {
        padding: 20px;
        margin-top: 20px;
    }

    
    h1 {
        font-weight: bold;
    }

    h2 {
        font-weight: bold;
        margin: 0px;
        margin-top: 20px; 
       font-size: 19px;
    }
    h3{
        color: red;
        font-size: 16px;
        margin-left: 135px;
    }
    h4{
        font-size: 1.5rem;
        margin-top: 102px;
        font-size: 20px;
        font-weight: bold;
    }
    a1, td {
        color: red;
    }
    .text-black {
        color: black !important;
    }
    .star{
        margin-left: 210px;
    }
    span.Rating{    
        margin-left: 28px;
    }
    p{
        font-size: 12px
    }
    .ser {
        font-size: 12px;
        font-weight: bold;
        margin: 16px;
    }
</style>
<body>
<div class="row">
<!-- Left Box -->
<div class="col-md-6">
    <div class="left-box">
        <h4 class="border-bottom pb-2">Python Training</h4>
        <a1 class="border-bottom pb-2">Webmaster</a1>
        <div class="left-box">
            <h class="services" style="font-size: 12px; font-weight: bold;">Python Training Overview</h>
            <p class="paragrap" style="margin-top: 20px; word-spacing: 2px;">Python is a general-purpose interpreted, interactive, object-oriented, and high-level programming language. Python has been one of the premier, flexible, and powerful open-source language that is easy to learn, easy to use, and has powerful libraries for data manipulation and analysis</p>
        </div>
        <div class="left-box">
            <h class="services" style="font-size: 12px; font-weight: bold;">What are the Python Course Pre-requisites</h>
            <p class="paragrap" style="margin-top: 20px; word-spacing: 2px;">There are no hard pre-requisites. Basic understanding of Computer Programming terminologies is sufficient. Also, basic concepts related to Programming and <a1>Database</a1> is beeficial but not mandatory.</p>
        </div>
        <h2 class="ser">Objectives of the Course</h2>
        <pr><li>To understand the concepts and constructs of Python</li>
        <li>To create own Python programs, know the machine learning algorithms in Python and work on a real-time project running on Python</li></pr><br>

        <h2 class="ser">Who should do the course</h2>
        <pr><li>Big Data Professionals</li>
        <li>IT Developers</li>
        <li>Those who are showing interest to build their career in Python</li></pr><br>

        <h2 class="ser">Python Training Course Duration</h2>
        <pr><li>35 Days, Daily 1 Hour</li><pr><br>

        <h2 class="ser">Python Course Content</h2><br>
        <h2 class="ser">Core Python</h2><br>
        <h2 class="ser">Introduction to Languages</h2>
        <pr><li>What is Language?</li>
        <li>Types of languages</li>
        <li>Introduction to Translators</li>
        <li>Compiler</li>
        <li>Interpreter</li>
        <li>What is Scripting Language?</li>
        <li>Types of Script</li>
        <li>Programming Languages v/s Scripting Languages</li>
        <li>Difference between Scripting and Programming languages</li>
        <li>What is programming paradigm?</li>
        <li>Procedural programming paradigm</li>
        <li>Object Oriented Programming paradigm</li></pr><br>

        <h2 class="ser">Introduction to Python</h2>
        <pr><li>What is Python?</li>
        <li>WHY PYTHON?</li>
        <li>History</li>
        <li>Features – Dynamic, Interpreted, Object oriented, Embeddable, Extensible, Large standard libraries, Free and Open source</li>
        <li>Why Python is General Language?</li>
        <li>Limitations of Python</li>
        <li>What is PSF?</li>
        <li>Python implementations</li>
        <li>Python applications</li>
        <li>Python versions</li>
        <li>PYTHON IN REALTIME INDUSTRY</li>
        <li>Difference between Python 2.x and 3.x</li>
        <li>Difference between Python 3.7 and 3.8</li>
        <li>Software Development Architectures</li></pr><br>

        <h2 class="ser">Python Software’s</h2>
        <pr><li>Python Distributions</li>
        <li>Download &Python Installation Process in Windows, Unix, Linux and Mac</li>
        <li>Online Python IDLE</li>
        <li>Python Real-time IDEs like Spyder, Jupyter Note Book, PyCharm, Rodeo, Visual Studio Code, ATOM, PyDevetc</li></pr><br>

        <h2 class="ser">Python Language Fundamentals</h2>
        <pr><li>Python Implementation Alternatives/Flavors</li>
        <li>Keywords</li>
        <li>Identifiers</li>
        <li>Constants / Literals</li>
        <li>Data types</li>
        <li>Python VS JAVA</li>
        <li>Python Syntax</li></pr><br>

        <h2 class="ser">Different Modes of Python</h2>
        <pr><li>Interactive Mode</li>
        <li>Scripting Mode</li>
        <li>Programming Elements</li>
        <li>Structure of Python program</li>
        <li>First Python Application</li>
        <li>Comments in Python</li>
        <li>Python file extensions</li>
        <li>Setting Path in Windows</li>
        <li>Edit and Run python program without IDE</li>
        <li>Edit and Run python program using IDEs</li>
        <li>INSIDE PYTHON</li>
        <li>Programmers View of Interpreter</li>
        <li>Inside INTERPRETER</li>
        <li>What is Byte Code in PYTHON?</li>
        <li>Python Debugger</li></pr><br>

        <h2 class="ser">Python Variables</h2>
        <pr><li>bytes Data Type</li>
        <li>byte array</li>
        <li>String Formatting in Python</li>
        <li>Math, Random, Secrets Modules</li>
        <li>Introduction</li>
        <li>Initialization of variables</li>
        <li>Local variables</li>
        <li>Global variables</li>
        <li>‘global’ keyword</li>
        <h2 class="ser">Input and Output operations</h2>
        <pr><li>Data conversion functions – int(), float(), complex(), str(), chr(), ord()</li>
        <li>Operators</li>
        <li>Arithmetic Operators</li>
        <li>Comparison Operators</li>
        <li>Python Assignment Operators</li>
        <li>Logical Operators</li>
        <li>Bitwise Operators</li>
        <li>Shift operators</li>
        <li>Membership Operators</li>
        <li>Identity Operators</li>
        <li>Ternary Operator</li>
        <li>Operator precedence</li>
        <li>Difference between “is” vs “==”</li>
        <li>Input & Output Operators</li>
        <li>Print</li>
        <li>Input</li>
        <li>Command-line arguments</li></pr><br>
        <h2 class="ser">Control Statements</h2>
        <pr><li>Conditional control statements</li>
        <li>If</li>
        <li>If-else</li>
        <li>If-elif-else</li>
        <li>Nested-if</li>
        <li>Loop control statements</li>
        <li>for</li>
        <li>while</li>
        <li>Nested loops</li>
        <li>Branching statements</li>
        <li>Break</li>
        <li>Continue</li>
        <li>Pass</li>
        <li>Return</li>
        <li>Case studies</li>
        <h2 class="ser">Data Structures or Collections</h2>
        <pr><li>Introduction</li>
        <li>Importance of Data structures</li>
        <li>Applications of Data structures</li>
        <li>Types of Collections</li>
        <li>Sequence</li>
        <li>Strings, List, Tuple, range</li>
        <li>Non sequence</li>
        <li>Set, Frozen set, Dictionary</li>
        <li>Strings</li>
        <li>What is string</li>
        <li>Representation of Strings</li>
        <li>Processing elements using indexing</li>
        <li>Processing elements using Iterators</li>
        <li>Manipulation of String using Indexing and Slicing</li>
        <li>String operators</li>
        <li>Methods of String object</li>
        <li>String Formatting</li>
        <li>String functions</li>
        <li>String Immutability</li>
        <li>Case studies</li></pr><br>
        <h2 class="ser">List Collection</h2>
        <pr><li>What is List</li>
        <li>Need of List collection</li>
        <li>Different ways of creating List</li>
        <li>List comprehension</li>
        <li>List indices</li>
        <li>Processing elements of List through Indexing and Slicing</li>
        <li>List object methods</li>
        <li>List is Mutable</li>
        <li>Mutable and Immutable elements of List</li>
        <li>Nested Lists</li>
        <li>List_of_lists</li>
        <li>Hardcopy, shallowCopy and DeepCopy</li>
        <li>zip() in Python</li>
        <li>How to unzip?</li>
        <li>Python Arrays:</li>
        <li>Case studies</li></pr><br>
        <h2 class="ser">Tuple Collection</h2>
        <pr><li>What is tuple?</li>
        <li>Different ways of creating Tuple</li>
        <li>Method of Tuple object</li>
        <li>Tuple is Immutable</li>
        <li>Mutable and Immutable elements of Tuple</li>
        <li>Process tuple through Indexing and Slicing</li>
        <li>List v/s Tuple</li>
        <li>Case studies</li></pr><br>
        <h2 class="ser">Set Collection</h2>
        <pr><li>What is set?</li>
        <li>Different ways of creating set</li>
        <li>Difference between list and set</li>
        <li>Iteration Over Sets</li>
        <li>Accessing elements of set</li>
        <li>Python Set Methods</li>
        <li>Python Set Operations</li>
        <li>Union of sets</li>
        <li>functions and methods of set</li>
        <li>Python Frozen set</li>
        <li>Difference between set and frozenset ?</li>
        <li>Case study</li>
        <li>Dictionary Collection</li>
        <li>What is dictionary?</li>
        <li>Difference between list, set and dictionary</li>
        <li>How to create a dictionary?</li>
        <li>PYTHON HASHING?</li>
        <li>Accessing values of dictionary</li>
        <li>Python Dictionary Methods</li>
        <li>Copying dictionary</li>
        <li>Updating Dictionary</li>
        <li>Reading keys from Dictionary</li>
        <li>Reading values from Dictionary</li>
        <li>Reading items from Dictionary</li>
        <li>Delete Keys from the dictionary</li>
        <li>Sorting the Dictionary</li>
        <li>Python Dictionary Functions and methods</li>
        <li>Dictionary comprehension</li></pr><br>
 
        <form class="border-top border-bottom">
            <br>
            <h8>Click Here For<a1>  Python Online Training</a1></h8><br><br>
            <h8>Categories:<a1>Online Training -- <h8 class="color" style='color: black;'>Tags:</h8> Chennai, Hyderabad</a1></h8>
            <br>
        </form>
    </div>
</div>

<div class="col-md-6 px-4">
        <div class="right-box">
            <h3><a href="http://localhost:3000/home" style=" color: red;"> Home </a><svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="currentColor" class="bi bi-chevron-double-right" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M3.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L9.293 8 3.646 2.354a.5.5 0 0 1 0-.708z"/>
                <path fill-rule="evenodd" d="M7.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L13.293 8 7.646 2.354a.5.5 0 0 1 0-.708z"/>
            </svg> ONLINE TRAINING <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="currentColor" class="bi bi-chevron-double-right" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M3.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L9.293 8 3.646 2.354a.5.5 0 0 1 0-.708z"/>
                <path fill-rule="evenodd" d="M7.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L13.293 8 7.646 2.354a.5.5 0 0 1 0-.708z"/>
            </svg> Python Training </h3><br><br>
            <div class="star">
            <span class="Rating"><a>Rating of &nbsp; <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="yellow" class="bi bi-star" viewBox="0 0 16 16">
                <polygon points="8 0 10 5 15 5 11.25 8.75 12.5 14.5 8 11 3.5 14.5 4.75 8.75 1 5" />
            </svg><svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="yellow" class="bi bi-star" viewBox="0 0 16 16">
                <polygon points="8 0 10 5 15 5 11.25 8.75 12.5 14.5 8 11 3.5 14.5 4.75 8.75 1 5" />
            </svg><svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="yellow" class="bi bi-star" viewBox="0 0 16 16">
                <polygon points="8 0 10 5 15 5 11.25 8.75 12.5 14.5 8 11 3.5 14.5 4.75 8.75 1 5" />
            </svg><svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="yellow" class="bi bi-star" viewBox="0 0 16 16">
                <polygon points="8 0 10 5 15 5 11.25 8.75 12.5 14.5 8 11 3.5 14.5 4.75 8.75 1 5" />
            </svg><svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="yellow" class="bi bi-star" viewBox="0 0 16 16">
                <polygon points="8 0 10 5 15 5 11.25 8.75 12.5 14.5 8 11 3.5 14.5 4.75 8.75 1 5" />
            </svg> </a></span><br>
            <a class="average" style="font-size: 10px;">Average of 4.98 on a total of 500 Ratings</a><br></div>
            <div class="training" style="margin-left: 142px; margin-top: 14px; font-size: 12px">
            <a herf="/trainers_profile" style="color: red;">Trainers Profile</a><br>
            <a href="/student_enquiry" style="color: red;">Student Enquiry</a><br>
            <a href="/corporate_training" style="color: red;">Corporate Training</a><br>
            <a href="/feedback" style="color: red;">Post your Feedback</a><br>
            <a href="/post_testimonials" style="color: red;">View/Post Testimonials<br>
            <a href="/contact" style="color: red;">Contact Us</a></a1></div>
            <div class="margin" style="margin-left: 141px;">
                <h2>Register for Course!</h3><br>
                <p>Learn from the Real-Time Experts</p>
                <br>
                    <form>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="firstName">First Name<span class="text-danger">*</span></label>
                                <input type="text" class="form-control" id="firstName" placeholder="Enter your first name">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="lastName">Last Name<span class="text-danger">*</span></label>
                                <input type="text" class="form-control" id="lastName" placeholder="Enter your last name">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="email">Email<span class="text-danger">*</span></label>
                                <input type="email" class="form-control" id="email" placeholder="Enter your email">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="phone">Phone<span class="text-danger">*</span></label>
                                <input type="tel" class="form-control" id="phone" placeholder="Enter your phone number">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="state">State</label>
                                <input type="tel" class="form-control" id="state" placeholder="Enter your phone number">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="modeOfTraining">Mode of Training<span class="text-danger">*</span></label>
                            <select id="modeOfTraining" class="form-control">
                                <option selected>Online Training</option>
                                <option selected>Classroom Training</option>
                                <option selected>Weekend Training</option>
                                <option selected>Project Training</option>
                                <option selected>Intership Training</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="course">Course</label>
                            <select id="course" class="form-control">
                                <option selected>Select Course</option>
                                <option selected>Python</option>
                                <option selected>Java</option>
                                <option selected>C++</option>
                                <option selected>C#</option>
                                <option selected>JavaScript</option>
                                <option selected>Ruby</option>
                                <option selected>Swift</option>
                                <option selected>Kotlin</option>
                                <option selected>Data Science</option>
                                <option selected>Machine Learning</option>
                                <option selected>Deep Learning</option>
                                <option selected>Natural Language Processing (NLP)</option>
                                <option selected>TensorFlow</option>
                                <option selected>PyTorch</option>
                            </select>
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                    <br>

                    <h2>JOIN WHATSAPP GROUPS FOR UPDATES<br><br>
                        <img src="./assets/whatsappjpg">
                    </h2>
                    <h2>WATCH FREE TUTORIALS<br><br>
                        <img src="./assets/telegramjpeg">
                    </h2>
                    <h2>JOIN US ON TELEGRAM FOR UPDATES<br><br>
                        <img src="./assets/freejpg">
                    </h2>
                    <h2>FIND COURSES HERE</h2>
                    <li>courses traning</li>
                    <li>Android Training</li>
                    <li>iPhone Training</li>
                    <li>Asp.Net Training</li>
                    <li>Asp.Net MVC Training</li>
                    <li>C#.NET Training</li>
                    <li>C++ Training</li>
                    <li>Data Structure Training</li>
                    <li>Java Training</li>
                    <ul class="list">
                        <li>Core Java Training</li>
                        <li>Advanced Java Training</li>
                        <li>Hibernate Training</li>
                        <li>J2EE Training</li>
                        <li>Spring 5.x Training</li>
                        <li>Hibernate Training</li>
                        <li>Web Services Training</li>
                        <li>Struts Training</li>
                        <li>XML Training</li>
                        <li>Java Online Training</li></ul>
                    <li>Oracle Training</li>
                    <li>SQL Server Training</li>
                    <li>Selenium Training</li>
                    <li>UNIX LINUX Training</li>
                    <li>PHP Training</li>
                    <li>HTML5 CSS3 Training</li>
                    <li>jQuery Training</li>
                    <li>UI Technologies Training</li>
                    <li>UI UX Training</li>
                    <li>AngularJS Training</li>
                    <ul class="list">
                        <li>Angular 2 Training</li>
                        <li>Angular 4 Training</li>
                        <li>Angular 6 Training</li>
                        <li>Angular 7 Training</li>
                    </ul>
                    <li>Data Science Training</li>
                    <li>Artificial Intelligence Training</li>
                    <li>Hadoop Training</li>
                    <li>Apache Spark Training</li>
                    <li>Python Training</li>
                    <li>Hadoop Online Training</li>
                    <li>DevOps Training</li>
                    <li>AWS Training</li>
                    <li>IoT Training</li>
                    <li>SalesForce CRM Training</li>
                    <li>Digital Marketing Training</li>
                    <li>RPA Training</li>
                    <ul class="list">
                        <li>Blue Prism Training</li>
                        <li>Automation Anywhere Training</li>
                        <li>Automation Anywhere Online Training</li>
                    </ul>
                    <li>Blockchain Training</li>
                    <li>Realtime Projects</li>
                    <ul class="list">
                        <li>Real Time Java Project</li>
                        <li>Real-Time Project on PHP</li></ul>
                    <li>Doubleclick for Publishers Training</li>
                    <li>Software Training in Chennai</li>
                    <li>Testing Tools Training</li>
                    <li>Full Stack Web Development Course</li>
                    <li>Full Stack Web Development Course</li>
                    <li>Full Stack Java Developer Course</li>
               </div>
           </div>
        </div>
    </div>
</body>
<%= render "fooder" %>
