<%= render "header" %>
<style>
    h{
        font-weight: bold;
    }pr li{
    margin-left: 35px;
    font-size: 12px;
    font-style: italic;
    }
    .course-card {
        margin-bottom: 20px;
    }
    .left-box {
        padding: 20px;
/*        width: 120%;*/
    }

    .right-box {
        padding: 20px;
        margin-top: 20px;
    }

    
    h1 {
        font-weight: bold;
    }

    h2 {
        font-weight: bold;
        margin: 0px;
        margin-top: 20px; 
       font-size: 19px;
    }
    h3{
        color: red;
        font-size: 16px;
        margin-left: 135px;
    }
    h4{
        font-size: 1.5rem;
        margin-top: 102px;
        font-size: 20px;
        font-weight: bold;
    }
    a1, td {
        color: red;
    }
    .text-black {
        color: black !important;
    }
    .star{
        margin-left: 210px;
    }
    span.Rating{    
        margin-left: 28px;
    }
    p{
        font-size: 12px
    }
    .ser {
        font-size: 12px;
        font-weight: bold;
        margin: 16px;
    }
</style>
<body>
<div class="row">
<!-- Left Box -->
<div class="col-md-6">
    <div class="left-box">
        <h4 class="border-bottom pb-2">Selenium Training</h4>
        <a1 class="border-bottom pb-2">NIT Manager</a1>
        <div class="left-box">
            <h class="services" style="font-size: 12px; font-weight: bold;">Selenium Course Overview</h>
            <p class="paragrap" style="margin-top: 20px; word-spacing: 2px;">Selenium it is an automatic testing web-based application. Here we learn writing test cases,use cases, Selenium web driver API, selenium IDE, Usage of selenium.Attend demo of  Selenium Training by Expert.</p>
        </div>
        <h2 class="ser">Objectives of the Course</h2>
        <pr>
            <li>To learn Java-based Test Script Development</li>
            <li>Hands-on experience with Selenium IDE, Selenium RC, and Selenium Webdriver</li>
            <li>Understanding Selenium architecture and Related Components</li>
        </pr>

        <h2 class="ser">Who should take this course</h2>
        <pr>
            <li>Freshers and students</li>
            <li>Working Professionals</li>
        </pr>

        <h2 class="ser">Selenium Training Content</h2>
        <h2 class="ser">Manual + Jira + Core Java + Cucumber + Selenium WebDriver
        + TestNG + Frameworks + Web Services with Project</h2>

        <h2 class="ser">SELENIUM</h2>
        <h2 class="ser">Module 1: Selenium Components & Object Identification</h2>

        <h2 class="ser">Module 2: Core Java</h2>

        <h2 class="ser">Module 3: WebDriver with Project Testing</h2>

        <h2 class="ser">Module 4: Framework Design & Implementation from Scratch</h2>

        <h2 class="ser">Module 5: Integration of Third party Tools in Framework</h2>

        <h2 class="ser">Module 6: Fundamentals of RESTFULL service in Java</h2>

        <h2 class="ser">Module 1: Selenium Components & Object Identification</h2>

        <h2 class="ser">Automation Testing Overview & Process</h2>
        <pr>
            <li>What is automation testing</li>
            <li>Why Testing tools?</li>
            <li>Difference between manual & Automation Testing</li>
            <li>Advantages of Automation Testing</li>
            <li>When to start Automation Testing</li>
            <li>Tool Evaluation or POC</li>
        </pr><br>


        <h2 class="ser">Types of Automation tools</h2>
        <pr>
            <li>Licensed Tools</li>
            <li>Open Source Tools</li>
        </pr><br>

        <h2 class="ser">Test Automation Fundamentals</h2>
        <pr>
            <li>Automated Testing</li>
            <li>Benefits of Automation Testing</li>
            <li>Limitations of Automation Testing</li>
        </pr><br>

        <h2 class="ser">Automation Testing Tools</h2>
        <pr>
            <li>Test Automation Tool Evaluation</li>
            <li>Introduction to Selenium</li>
            <li>Difference between Selenium and QTP</li>
        </pr><br>

        <h2 class="ser">Selenium Components</h2>
        <pr>
            <li>Selenium IDE</li>
            <li>Selenium RC</li>
            <li>Selenium WebDriver</li>
            <li>Selenium Grid</li>
        </pr><br>

        <h2 class="ser">Object Identification/Locators</h2>
        <pr>
            <li>Introduction to element locators</li>
            <li>Types of Element Locators</li>
            <li>Writing XPath Manually</li>
            <li>Types of XPath</li>
            <li>findElement & findElements</li>
            <li>Element locators on different browsers</li>
        </pr><br>

        <h2 class="ser">Module 2: Core Java</h2>
        <h2 class="ser">Core Java Fundamentals</h2>

        <h2 class="ser">About Eclipse</h2>
        <pr>
            <li>Installation of Java</li>
            <li>Installation of Eclipse IDE</li>
            <li>Creating Project in Eclipse</li>
            <li>Writing & Executing programs in Eclipse IDE</li>
            <li>Eclipse and Selenium integration</li>
            <li>Debugging using Eclipse</li>
        </pr><br>

        <h2 class="ser">Language Fundamentals</h2>
        <pr>
            <li>History & Features of Java</li>
            <li>Introduction to Java Programming</li>
            <li>Keywords, Class, and Object</li>
            <li>Data Types & Variables</li>
            <li>Arrays, Construction, and Initialization</li>
        </pr><br>

        <h2 class="ser">Conditional Statements</h2>
        <pr>
            <li>if else condition</li>
            <li>nested if else condition</li>
            <li>Switch case statement</li>
            <li>Examples for all the if conditions</li>
        </pr><br>

        <h2 class="ser">Loop Statement</h2>
        <pr>
            <li>While Loop</li>
            <li>Do-while Loop</li>
            <li>For Loop</li>
            <li>Foreach Loop</li>
            <li>Examples for loops</li>
        </pr><br>

        <h2 class="ser">Keywords</h2>
        <pr>
            <li>break</li>
            <li>continue</li>
            <li>Examples for keywords</li>
        </pr><br>

        <h2 class="ser">Arrays</h2>
        <pr>
            <li>What is Array</li>
            <li>Advantages of Array in Java</li>
            <li>Working with Array and ForEach loop</li>
            <li>Examples for Array</li>
        </pr><br>

        <h2 class="ser">Packages, Classes, and Objects</h2>
        <pr>
            <li>What are Packages</li>
            <li>Creating packages, Class & Objects</li>
            <li>Types of Methods</li>
            <li>Writing user-defined methods</li>
        </pr><br>

        <h2 class="ser">Inheritance</h2>
        <pr>
            <li>What is Inheritance</li>
            <li>Advantage of Inheritance</li>
            <li>Types of Inheritance</li>
            <li>Examples for Inheritance</li>
        </pr><br>

        <h2 class="ser">Polymorphism</h2>
        <pr>
            <li>What is Polymorphism</li>
            <li>Method Overloading</li>
            <li>Method Overriding</li>
            <li>Examples for Polymorphism</li>
        </pr><br>

        <h2 class="ser">Encapsulation</h2>
        <pr>
            <li>Introduction</li>
            <li>Examples</li>
        </pr><br>

        <h2 class="ser">Abstraction</h2>
        <pr>
            <li>Define Abstraction Class</li>
            <li>Define Abstract Methods</li>
            <li>Steps to define Abstraction</li>
        </pr><br>

        <h2 class="ser">Interface</h2>
        <pr>
            <li>Implementing Interface</li>
            <li>Difference between Abstraction & Interface</li>
            <li>Implements vs Extends</li>
        </pr><br>

        <h2 class="ser">Module 3: WebDriver with Project Testing</h2>

        <h2 class="ser">Basic Selenium / Web Driver</h2>
        <pr>
            <li>Introduction to Selenium</li>
            <li>Advantages of Web Driver</li>
            <li>Web Driver vs RC</li>
            <li>Architecture of Web Driver and RC</li>
            <li>Configure Selenium with Eclipse IDE (Adding Selenium jar files)</li>
            <li>Working with drivers Firefox, Chrome, IE, etc.</li>
            <li>Creating generic scripts in Web Driver</li>
            <li>Navigate methods</li>
        </pr><br>

        <h2 class="ser">Advanced Stuff</h2>

        <h2 class="ser">Alerts, Frames, Windows</h2>
        <pr>
            <li>Handling alerts</li>
            <li>Alert interface methods</li>
            <li>Handling Frames/Iframes</li>
            <li>Locating Frames</li>
            <li>Switching between Frames</li>
            <li>Using window handler methods</li>
            <li>Switching between windows</li>
        </pr><br>

        <h2 class="ser">Dropdown, Web Table, Page Back Commands</h2>
        <pr>
            <li>Handling dropdown</li>
            <li>Select class methods</li>
            <li>Selecting single value & multiple values from dropdown</li>
            <li>Reading data from web table</li>
            <li>Page back commands</li>
        </pr><br>
        <form class="border-top border-bottom">
            <br>
            <h8>Click Here For<a1>  Selenium Online Training</a1></h8><br><br>
            <h8>Categories:<a1>Online Training -- <h8 class="color" style='color: black;'>Tags:</h8> Chennai, Hyderabad</a1></h8>
            <br>
        </form>
    </div>
</div>

<div class="col-md-6 px-4">
        <div class="right-box">
            <h3><a href="http://localhost:3000/home" style=" color: red;"> Home </a><svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="currentColor" class="bi bi-chevron-double-right" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M3.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L9.293 8 3.646 2.354a.5.5 0 0 1 0-.708z"/>
                <path fill-rule="evenodd" d="M7.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L13.293 8 7.646 2.354a.5.5 0 0 1 0-.708z"/>
            </svg> ONLINE TRAINING <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="currentColor" class="bi bi-chevron-double-right" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M3.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L9.293 8 3.646 2.354a.5.5 0 0 1 0-.708z"/>
                <path fill-rule="evenodd" d="M7.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L13.293 8 7.646 2.354a.5.5 0 0 1 0-.708z"/>
            </svg> Selenium Training </h3><br><br>
            <div class="star">
            <span class="Rating"><a>Rating of &nbsp; <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="yellow" class="bi bi-star" viewBox="0 0 16 16">
                <polygon points="8 0 10 5 15 5 11.25 8.75 12.5 14.5 8 11 3.5 14.5 4.75 8.75 1 5" />
            </svg><svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="yellow" class="bi bi-star" viewBox="0 0 16 16">
                <polygon points="8 0 10 5 15 5 11.25 8.75 12.5 14.5 8 11 3.5 14.5 4.75 8.75 1 5" />
            </svg><svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="yellow" class="bi bi-star" viewBox="0 0 16 16">
                <polygon points="8 0 10 5 15 5 11.25 8.75 12.5 14.5 8 11 3.5 14.5 4.75 8.75 1 5" />
            </svg><svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="yellow" class="bi bi-star" viewBox="0 0 16 16">
                <polygon points="8 0 10 5 15 5 11.25 8.75 12.5 14.5 8 11 3.5 14.5 4.75 8.75 1 5" />
            </svg><svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="yellow" class="bi bi-star" viewBox="0 0 16 16">
                <polygon points="8 0 10 5 15 5 11.25 8.75 12.5 14.5 8 11 3.5 14.5 4.75 8.75 1 5" />
            </svg> </a></span><br>
            <a class="average" style="font-size: 10px;">Average of 4.98 on a total of 500 Ratings</a><br></div>
            <div class="training" style="margin-left: 142px; margin-top: 14px; font-size: 12px">
            <a herf="/trainers_profile" style="color: red;">Trainers Profile</a><br>
            <a href="/student_enquiry" style="color: red;">Student Enquiry</a><br>
            <a href="/corporate_training" style="color: red;">Corporate Training</a><br>
            <a href="/feedback" style="color: red;">Post your Feedback</a><br>
            <a href="/post_testimonials" style="color: red;">View/Post Testimonials<br>
            <a href="/contact" style="color: red;">Contact Us</a></a1></div>
            <div class="margin" style="margin-left: 141px;">
                <h2>Register for Course!</h3><br>
                <p>Learn from the Real-Time Experts</p>
                <br>
                    <form>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="firstName">First Name<span class="text-danger">*</span></label>
                                <input type="text" class="form-control" id="firstName" placeholder="Enter your first name">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="lastName">Last Name<span class="text-danger">*</span></label>
                                <input type="text" class="form-control" id="lastName" placeholder="Enter your last name">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="email">Email<span class="text-danger">*</span></label>
                                <input type="email" class="form-control" id="email" placeholder="Enter your email">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="phone">Phone<span class="text-danger">*</span></label>
                                <input type="tel" class="form-control" id="phone" placeholder="Enter your phone number">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="state">State</label>
                                <input type="tel" class="form-control" id="state" placeholder="Enter your phone number">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="modeOfTraining">Mode of Training<span class="text-danger">*</span></label>
                            <select id="modeOfTraining" class="form-control">
                                <option selected>Online Training</option>
                                <option selected>Classroom Training</option>
                                <option selected>Weekend Training</option>
                                <option selected>Project Training</option>
                                <option selected>Intership Training</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="course">Course</label>
                            <select id="course" class="form-control">
                                <option selected>Select Course</option>
                                <option selected>Python</option>
                                <option selected>Java</option>
                                <option selected>C++</option>
                                <option selected>C#</option>
                                <option selected>JavaScript</option>
                                <option selected>Ruby</option>
                                <option selected>Swift</option>
                                <option selected>Kotlin</option>
                                <option selected>Data Science</option>
                                <option selected>Machine Learning</option>
                                <option selected>Deep Learning</option>
                                <option selected>Natural Language Processing (NLP)</option>
                                <option selected>TensorFlow</option>
                                <option selected>PyTorch</option>
                            </select>
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                    <br>

                    <h2>JOIN WHATSAPP GROUPS FOR UPDATES<br><br>
                        <img src="./assets/whatsappjpg">
                    </h2>
                    <h2>WATCH FREE TUTORIALS<br><br>
                        <img src="./assets/telegramjpeg">
                    </h2>
                    <h2>JOIN US ON TELEGRAM FOR UPDATES<br><br>
                        <img src="./assets/freejpg">
                    </h2>
                    <h2>FIND COURSES HERE</h2>
                    <li>courses traning</li>
                    <li>Android Training</li>
                    <li>iPhone Training</li>
                    <li>Asp.Net Training</li>
                    <li>Asp.Net MVC Training</li>
                    <li>C#.NET Training</li>
                    <li>C++ Training</li>
                    <li>Data Structure Training</li>
                    <li>Java Training</li>
                    <ul class="list">
                        <li>Core Java Training</li>
                        <li>Advanced Java Training</li>
                        <li>Hibernate Training</li>
                        <li>J2EE Training</li>
                        <li>Spring 5.x Training</li>
                        <li>Hibernate Training</li>
                        <li>Web Services Training</li>
                        <li>Struts Training</li>
                        <li>XML Training</li>
                        <li>Java Online Training</li></ul>
                    <li>Oracle Training</li>
                    <li>SQL Server Training</li>
                    <li>Selenium Training</li>
                    <li>UNIX LINUX Training</li>
                    <li>PHP Training</li>
                    <li>HTML5 CSS3 Training</li>
                    <li>jQuery Training</li>
                    <li>UI Technologies Training</li>
                    <li>UI UX Training</li>
                    <li>AngularJS Training</li>
                    <ul class="list">
                        <li>Angular 2 Training</li>
                        <li>Angular 4 Training</li>
                        <li>Angular 6 Training</li>
                        <li>Angular 7 Training</li>
                    </ul>
                    <li>Data Science Training</li>
                    <li>Artificial Intelligence Training</li>
                    <li>Hadoop Training</li>
                    <li>Apache Spark Training</li>
                    <li>Python Training</li>
                    <li>Hadoop Online Training</li>
                    <li>DevOps Training</li>
                    <li>AWS Training</li>
                    <li>IoT Training</li>
                    <li>SalesForce CRM Training</li>
                    <li>Digital Marketing Training</li>
                    <li>RPA Training</li>
                    <ul class="list">
                        <li>Blue Prism Training</li>
                        <li>Automation Anywhere Training</li>
                        <li>Automation Anywhere Online Training</li>
                    </ul>
                    <li>Blockchain Training</li>
                    <li>Realtime Projects</li>
                    <ul class="list">
                        <li>Real Time Java Project</li>
                        <li>Real-Time Project on PHP</li></ul>
                    <li>Doubleclick for Publishers Training</li>
                    <li>Software Training in Chennai</li>
                    <li>Testing Tools Training</li>
                    <li>Full Stack Web Development Course</li>
                    <li>Full Stack Web Development Course</li>
                    <li>Full Stack Java Developer Course</li>
               </div>
           </div>
        </div>
    </div>
</body>
<%= render "fooder" %>
