<%= render "header" %>
<style>
    body {
        margin: 41px;
        padding: 0;
    }
    h{
        font-weight: bold;
    }pr li{
    margin-left: 35px;
    font-size: 12px;
    font-style: italic;
    }
    .course-card {
        margin-bottom: 20px;
    }
    .left-box {
        padding: 20px;
/*        width: 120%;*/
    }

    .right-box {
        padding: 20px;
        margin-top: 20px;
    }

    
    h1 {
        font-weight: bold;
    }

    h2 {
        font-weight: bold;
        margin: 0px;
        margin-top: 20px; 
       font-size: 19px;
    }
    h3{
        color: red;
        font-size: 16px;
        margin-left: 135px;
    }
    h4{
        font-size: 1.5rem;
        margin-top: 102px;
        font-size: 20px;
        font-weight: bold;
    }
    a1, td {
        color: red;
    }
    .text-black {
        color: black !important;
    }
    .star{
        margin-left: 210px;
    }
    span.Rating{    
        margin-left: 28px;
    }
    p{
        font-size: 12px
    }
    .ser {
        font-size: 12px;
        font-weight: bold;
        margin: 16px;
    }
</style>
<body>
<div class="row">
<!-- Left Box -->
<div class="col-md-6">
    <div class="left-box">
        <h4 class="border-bottom pb-2">Apache Spark Training</h4>
        <a1 class="border-bottom pb-2">NIT Manager</a1>
        <div class="left-box">
            <h class="services" style="font-size: 12px; font-weight: bold;">Apache Spark Training Overview</h>
            <p class="paragrap" style="margin-top: 20px; word-spacing: 2px;">Spark is a unique framework for big data analytics which gives one unique integrated API by developers for the purpose of data scientists and analysts to perform separate tasks. It supports a wide range of popular languages like Python, R, SQL, Java and Scala. Apache Spark main aim is to provide hands-on experience to create real-time Data Stream Analysis and large-scale learning solutions for data scientists, data analysts and software developers.</p>
        </div>
        <h2 class="ser">Apache Spark Training Objectives</h2>
        <pr>
            <li>Understanding Apache Spark Architecture</li>
            <li>Utilizing Spark with Scala</li>
            <li>Deployment of Spark Projects to the Cloud</li>
            <li>Exploring Machine Learning with Spark</li>
        </pr><br>
        <h2 class="ser">Pre-requisites of the Course</h2>
        <pr>
            <li>Basic knowledge of object-oriented programming is required.</li>
            <li>Knowledge of Scala will be an added advantage.</li>
            <li>Learners with basic knowledge of databases and SQL queries will find it beneficial for learning this course.</li>
        </pr><br>
        <h2 class="ser">Who Should Do the Course</h2>
        <pr>
            <li>Developers, Architects, IT Professionals</li>
            <li>Software Engineers, Data Scientists, and Analysts</li>
        </pr><br>
        <h2 class="ser">Apache Spark Course Content</h2>
        <h2 class="ser">Batch and Real-Time Analytics with Apache Spark</h2>
        <h2 class="ser">SCALA (Object Oriented and Functional Programming)</h2>
        <pr>
            <li>Getting started With Scala</li>
            <li>Scala Background, Scala Vs Java and Basics</li>
            <li>Interactive Scala – REPL, data types, variables, expressions, simple functions</li>
            <li>Running the program with Scala Compiler</li>
            <li>Explore the type lattice and use type inference</li>
            <li>Define Methods and Pattern Matching</li>
        </pr><br>
        <h2 class="ser">Scala Environment Set up</h2>
        <pr>
            <li>Installing Scala on Windows</li>
            <li>Setting up Scala on UNIX</li>
            <li>Configuring Environment Variables</li>
            <li>Verifying Scala Installation</li>
            <li>Using Scala REPL (Read-Eval-Print Loop)</li>
            <li>Running Scala Programs</li>
        </pr><br>
        <h2 class="ser">Functional Programming</h2>
        <pr>
            <li>What is Functional Programming?</li>
            <li>Differences between OOPS and FPP</li>
        </pr><br>
        <h2 class="ser">Collections (Very Important for Spark)</h2>
        <pr>
            <li>Iterating, Mapping, Filtering, and Counting</li>
            <li>Regular Expressions and Matching with Them</li>
            <li>Maps, Sets, Group By, Options, Flatten, FlatMap</li>
            <li>Word Count, IO Operations, File Access, FlatMap</li>
        </pr><br>
        <h2 class="ser">Object-Oriented Programming</h2>
        <pr>
            <li>Classes and Properties</li>
            <li>Objects, Packaging, and Imports</li>
            <li>Traits</li>
            <li>Objects, Classes, Inheritance, Lists with Multiple Related Types, Apply</li>
        </pr><br>
        <h2 class="ser">Integrations</h2>
        <pr>
            <li>What is SBT?</li>
            <li>Integration of Scala in Eclipse IDE</li>
            <li>Integration of SBT with Eclipse</li>
        </pr><br>
        <h2 class="ser">SPARK CORE</h2>
        <pr>
            <li>Batch versus Real-time Data Processing</li>
            <li>Introduction to Spark, Spark versus Hadoop</li>
            <li>The Architecture of Spark</li>
            <li>Coding Spark Jobs in Scala</li>
            <li>Exploring the Spark Shell to Creating Spark Context</li>
            <li>RDD Programming</li>
            <li>Operations on RDD</li>
            <li>Transformations</li>
            <li>Actions</li>
            <li>Loading Data and Saving Data</li>
            <li>Key Value Pair RDD</li>
            <li>Broadcast Variables</li>
        </pr><br>
        <h2 class="ser">Persistence</h2>
        <pr>
            <li>Configuring and Running the Spark Cluster</li>
            <li>Exploring to Multi-Node Spark Cluster</li>
            <li>Cluster Management</li>
            <li>Submitting Spark Jobs and Running in the Cluster Mode</li>
            <li>Developing Spark Applications in Eclipse</li>
            <li>Tuning and Debugging Spark</li>
        </pr><br>
        <h2 class="ser">CASSANDRA (NoSQL Database)</h2>
        <pr>
            <li>Learning Cassandra</li>
            <li>Getting Started with Architecture</li>
            <li>Installing Cassandra</li>
            <li>Communicating with Cassandra</li>
            <li>Creating a Database</li>
            <li>Create a Table</li>
            <li>Inserting Data</li>
            <li>Modeling Data</li>
            <li>Creating an Application with Web</li>
            <li>Updating and Deleting Data</li>
        </pr><br>
        <h2 class="ser">Spark Integration with NoSQL (CASSANDRA) and Amazon EC2</h2>
        <pr>
            <li>Introduction to Spark and Cassandra Connectors</li>
            <li>Setting Up Spark with Cassandra</li>
            <li>Creating Spark Context to Connect to Cassandra</li>
            <li>Creating Spark RDD on the Cassandra Database</li>
            <li>Performing Transformations and Actions on the Cassandra RDD</li>
            <li>Running Spark Application in Eclipse to Access Data in Cassandra</li>
            <li>Introduction to Amazon Web Services (AWS)</li>
            <li>Building a 4-Node Spark Multi-Node Cluster in AWS</li>
            <li>Deploying in Production with Mesos and YARN</li>
        </pr><br>
        <h2 class="ser">Spark Streaming</h2>
        <pr>
            <li>Introduction of Spark Streaming</li>
            <li>Architecture of Spark Streaming</li>
            <li>Processing Distributed Log Files in Real Time</li>
            <li>Discretized Streams (DStreams) and RDDs</li>
            <li>Applying Transformations and Actions on Streaming Data</li>
            <li>Integration with Flume and Kafka</li>
            <li>Integration with Cassandra</li>
            <li>Monitoring Streaming Jobs</li>
        </pr><br>
        <h2 class="ser">Spark SQL</h2>
        <pr>
            <li>Introduction to Apache Spark SQL</li>
            <li>The SQL Context</li>
            <li>Importing and Saving Data</li>
            <li>Processing Text Files, JSON, and Parquet Files</li>
            <li>DataFrames</li>
            <li>User-Defined Functions (UDFs)</li>
            <li>Using Hive</li>
            <li>Local Hive Metastore Server</li>
        </pr><br><h2 class="ser">Spark MLLib</h2>
        <pr>
            <li>Introduction to Machine Learning</li>
            <li>Types of Machine Learning</li>
            <li>Introduction to Apache Spark MLLib Algorithms</li>
            <li>Machine Learning Data Types and Working with MLLib</li>
            <li>Regression and Classification Algorithms</li>
            <li>Decision Trees in Depth</li>
            <li>Classification with SVM (Support Vector Machines) and Naive Bayes</li>
            <li>Clustering with K-Means</li>
            <li>Building the Spark Server</li>
        </pr><br>

        <form class="border-top border-bottom">
            <br>
            <h8>Categories:<a1>Online Training -- <h8 class="color" style='color: black;'>Tags:</h8> Chennai, Hyderabad</a1></h8>
            <br>
        </form>
    </div>
</div>

<div class="col-md-6 px-4">
        <div class="right-box">
            <h3><a href="http://localhost:3000/home" style=" color: red;"> Home </a><svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="currentColor" class="bi bi-chevron-double-right" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M3.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L9.293 8 3.646 2.354a.5.5 0 0 1 0-.708z"/>
                <path fill-rule="evenodd" d="M7.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L13.293 8 7.646 2.354a.5.5 0 0 1 0-.708z"/>
            </svg> ONLINE TRAINING <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="currentColor" class="bi bi-chevron-double-right" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M3.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L9.293 8 3.646 2.354a.5.5 0 0 1 0-.708z"/>
                <path fill-rule="evenodd" d="M7.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L13.293 8 7.646 2.354a.5.5 0 0 1 0-.708z"/>
            </svg> Apache Spark Training </h3><br><br>
            <div class="star">
            <span class="Rating"><a>Rating of &nbsp; <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="yellow" class="bi bi-star" viewBox="0 0 16 16">
                <polygon points="8 0 10 5 15 5 11.25 8.75 12.5 14.5 8 11 3.5 14.5 4.75 8.75 1 5" />
            </svg><svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="yellow" class="bi bi-star" viewBox="0 0 16 16">
                <polygon points="8 0 10 5 15 5 11.25 8.75 12.5 14.5 8 11 3.5 14.5 4.75 8.75 1 5" />
            </svg><svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="yellow" class="bi bi-star" viewBox="0 0 16 16">
                <polygon points="8 0 10 5 15 5 11.25 8.75 12.5 14.5 8 11 3.5 14.5 4.75 8.75 1 5" />
            </svg><svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="yellow" class="bi bi-star" viewBox="0 0 16 16">
                <polygon points="8 0 10 5 15 5 11.25 8.75 12.5 14.5 8 11 3.5 14.5 4.75 8.75 1 5" />
            </svg><svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="yellow" class="bi bi-star" viewBox="0 0 16 16">
                <polygon points="8 0 10 5 15 5 11.25 8.75 12.5 14.5 8 11 3.5 14.5 4.75 8.75 1 5" />
            </svg> </a></span><br>
            <a class="average" style="font-size: 10px;">Average of 4.98 on a total of 500 Ratings</a><br></div>
            <div class="training" style="margin-left: 142px; margin-top: 14px; font-size: 12px">
            <a herf="/trainers_profile" style="color: red;">Trainers Profile</a><br>
            <a href="/student_enquiry" style="color: red;">Student Enquiry</a><br>
            <a href="/corporate_training" style="color: red;">Corporate Training</a><br>
            <a href="/feedback" style="color: red;">Post your Feedback</a><br>
            <a href="/post_testimonials" style="color: red;">View/Post Testimonials<br>
            <a href="/contact" style="color: red;">Contact Us</a></a1></div>
            <div class="margin" style="margin-left: 141px;">
                <h2>Register for Course!</h3><br>
                <p>Learn from the Real-Time Experts</p>
                <br>
                    <form>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="firstName">First Name<span class="text-danger">*</span></label>
                                <input type="text" class="form-control" id="firstName" placeholder="Enter your first name">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="lastName">Last Name<span class="text-danger">*</span></label>
                                <input type="text" class="form-control" id="lastName" placeholder="Enter your last name">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="email">Email<span class="text-danger">*</span></label>
                                <input type="email" class="form-control" id="email" placeholder="Enter your email">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="phone">Phone<span class="text-danger">*</span></label>
                                <input type="tel" class="form-control" id="phone" placeholder="Enter your phone number">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="state">State</label>
                                <input type="tel" class="form-control" id="state" placeholder="Enter your phone number">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="modeOfTraining">Mode of Training<span class="text-danger">*</span></label>
                            <select id="modeOfTraining" class="form-control">
                                <option selected>Online Training</option>
                                <option selected>Classroom Training</option>
                                <option selected>Weekend Training</option>
                                <option selected>Project Training</option>
                                <option selected>Intership Training</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="course">Course</label>
                            <select id="course" class="form-control">
                                <option selected>Select Course</option>
                                <option selected>Python</option>
                                <option selected>Java</option>
                                <option selected>C++</option>
                                <option selected>C#</option>
                                <option selected>JavaScript</option>
                                <option selected>Ruby</option>
                                <option selected>Swift</option>
                                <option selected>Kotlin</option>
                                <option selected>Data Science</option>
                                <option selected>Machine Learning</option>
                                <option selected>Deep Learning</option>
                                <option selected>Natural Language Processing (NLP)</option>
                                <option selected>TensorFlow</option>
                                <option selected>PyTorch</option>
                            </select>
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                    <br>

                    <h2>JOIN WHATSAPP GROUPS FOR UPDATES<br><br>
                        <img src="./assets/whatsappjpg">
                    </h2>
                    <h2>WATCH FREE TUTORIALS<br><br>
                        <img src="./assets/telegramjpeg">
                    </h2>
                    <h2>JOIN US ON TELEGRAM FOR UPDATES<br><br>
                        <img src="./assets/freejpg">
                    </h2>
                    <h2>FIND COURSES HERE</h2>
                    <li>courses traning</li>
                    <li>Android Training</li>
                    <li>iPhone Training</li>
                    <li>Asp.Net Training</li>
                    <li>Asp.Net MVC Training</li>
                    <li>C#.NET Training</li>
                    <li>C++ Training</li>
                    <li>Data Structure Training</li>
                    <li>Java Training</li>
                    <ul class="list">
                        <li>Core Java Training</li>
                        <li>Advanced Java Training</li>
                        <li>Hibernate Training</li>
                        <li>J2EE Training</li>
                        <li>Spring 5.x Training</li>
                        <li>Hibernate Training</li>
                        <li>Web Services Training</li>
                        <li>Struts Training</li>
                        <li>XML Training</li>
                        <li>Java Online Training</li></ul>
                    <li>Oracle Training</li>
                    <li>SQL Server Training</li>
                    <li>Selenium Training</li>
                    <li>UNIX LINUX Training</li>
                    <li>PHP Training</li>
                    <li>HTML5 CSS3 Training</li>
                    <li>jQuery Training</li>
                    <li>UI Technologies Training</li>
                    <li>UI UX Training</li>
                    <li>AngularJS Training</li>
                    <ul class="list">
                        <li>Angular 2 Training</li>
                        <li>Angular 4 Training</li>
                        <li>Angular 6 Training</li>
                        <li>Angular 7 Training</li>
                    </ul>
                    <li>Data Science Training</li>
                    <li>Artificial Intelligence Training</li>
                    <li>Hadoop Training</li>
                    <li>Apache Spark Training</li>
                    <li>Python Training</li>
                    <li>Hadoop Online Training</li>
                    <li>DevOps Training</li>
                    <li>AWS Training</li>
                    <li>IoT Training</li>
                    <li>SalesForce CRM Training</li>
                    <li>Digital Marketing Training</li>
                    <li>RPA Training</li>
                    <ul class="list">
                        <li>Blue Prism Training</li>
                        <li>Automation Anywhere Training</li>
                        <li>Automation Anywhere Online Training</li>
                    </ul>
                    <li>Blockchain Training</li>
                    <li>Realtime Projects</li>
                    <ul class="list">
                        <li>Real Time Java Project</li>
                        <li>Real-Time Project on PHP</li></ul>
                    <li>Doubleclick for Publishers Training</li>
                    <li>Software Training in Chennai</li>
                    <li>Testing Tools Training</li>
                    <li>Full Stack Web Development Course</li>
                    <li>Full Stack Web Development Course</li>
                    <li>Full Stack Java Developer Course</li>
               </div>
           </div>
        </div>
    </div>
</body>
<%= render "fooder" %>
<br>
<p class="paragrap" style="font-weight: bold;">© 2023 Naresh i Technologies | Software Training - Online Training - Live Project Training - Weekend Training</p>