<%= render "header" %>
<style>
    body {
        margin: 41px;
        padding: 0;
    }
    h{
        font-weight: bold;
    }pr li{
    margin-left: 35px;
    font-size: 12px;
    font-style: italic;
    }
    .course-card {
        margin-bottom: 20px;
    }
    .left-box {
        padding: 20px;
/*        width: 120%;*/
    }

    .right-box {
        padding: 20px;
        margin-top: 20px;
    }

    
    h1 {
        font-weight: bold;
    }

    h2 {
        font-weight: bold;
        margin: 0px;
        margin-top: 20px; 
       font-size: 19px;
    }
    h3{
        color: red;
        font-size: 16px;
        margin-left: 135px;
    }
    h4{
        font-size: 1.5rem;
        margin-top: 102px;
        font-size: 20px;
        font-weight: bold;
    }
    a1, td {
        color: red;
    }
    .text-black {
        color: black !important;
    }
    .star{
        margin-left: 210px;
    }
    span.Rating{    
        margin-left: 28px;
    }
    p{
        font-size: 12px
    }
    .ser {
        font-size: 12px;
        font-weight: bold;
        margin: 16px;
    }
</style>
<body>
<div class="row">
<!-- Left Box -->
<div class="col-md-6">
    <div class="left-box">
        <h4 class="border-bottom pb-2">Spring 5.x Training</h4>
        <a1 class="border-bottom pb-2">NIT Manager</a1>
        <div class="left-box">
            <h class="services" style="font-size: 12px; font-weight: bold;">About Spring 5.x Training</h>
            <p class="paragrap" style="margin-top: 20px; word-spacing: 2px;">The Spring Framework is an open source application framework for Java. This framework has taken the Java software community by storm. Spring provided the technology to develop everything from small, stand-alone applications to large complex, enterprise systems out of simple POJOs (plain old Java objects).</p>
            <p class="paragrap" style="margin-top: 20px; word-spacing: 2px;">In this class, students are exposed to the light-weight Spring container, configuration, foundational API, and general Spring architecture. Not just a class that focuses on theory, this course is loaded with practical labs and deals with configuration, maintenance and architectural issues. After taking the class, developers will immediately be able to utilize the Spring Framework in their new or existing applications.</p>
        </div>
        <div class="left-box">
            <h class="services" style="font-size: 12px; font-weight: bold;">Spring 5.x Course Prerequisite</h>
            <p class="paragrap" style="margin-top: 20px; word-spacing: 2px;">Students should have a good understanding of the Java programming language. A basic understanding of relational databases and SQL is very helpful. A basic understanding of XML is also useful.  Students that have attended Intertech’s Complete Java have the necessary background for this course.</p>
        </div>
        <h2 class="ser">Spring 5.x Training Course Objective</h2>
        <pr>
            <li>Learn how to download, setup, and configure the Spring Framework</li>
            <li>Explore the Spring Container and Modules</li>
            <li>Discover the Spring philosophies and principles and how they impact application development</li>
            <li>Understand Dependency Injection</li>
            <li>Learn Aspect-Oriented Programming and how it is used to provide cross-cutting concerns</li>
            <li>See how to accomplish data access with Spring’s DAO Module</li>
            <li>Understand how Spring deals with transaction management</li>
            <li>Examine Spring’s unit testing framework</li>
        </pr><br>
        <h2 class="ser">Spring 5.x Training Course Duration</h2>
        <pr>
            <li>60 Working days, daily one and a half hours</li>
        </pr><br>
        <h2 class="ser">Spring 5.x Training Overview</h2>
        <h2 class="ser">Spring Introduction</h2>
        <pr>
            <li>Differences between Programming Language, Software Technology, and Framework</li>
            <li>Introduction to Spring Framework</li>
            <li>Evolution of Spring Framework</li>
            <li>Modules of Spring in Spring 1.x, 2.x, 3.x, 4.x, and 5.x</li>
            <li>MVC Architecture</li>
            <li>Role of Spring Framework in MVC Architecture Application Development</li>
            <li>Definition of Spring Framework</li>
            <li>POJO Class, POJI, JavaBean, Component Class, Spring Bean Classes</li>
        </pr><br>
        <h2 class="ser">Spring Core Module</h2>
        <pr>
            <li>Introduction to IOC</li>
            <li>Introduction to Spring Container/IOC Container</li>
            <li>Types of Dependency Injections</li>
            <ul class="list">
                <li>Setter Injection</li>
                <li>Constructor Injection</li>
                <li>Aware Injection</li>
                <li>Method Injection</li>
                <li>Lookup Method Injection</li>
            </ul>
            <li>Introduction to Design Patterns</li>
            <ul class="list">
                <li>Factory Design Pattern</li>
                <li>Strategy Design Pattern</li>
            </ul>
            <li>Layered Application Demonstrating Real-Time Dependency Injection</li>
            <li>Resolving/Identifying Parameters in Constructor Injection</li>
            <li>Bean Inheritance</li>
            <li>Collection Merging</li>
            <li>Null Injections</li>
            <li>Bean Alias</li>
            <li>Default Bean IDs</li>
            <li>Performing Dependency Lookup by Using IOC Container</li>
            <li>Idref Tag</li>
            <li>Understanding Factory Methods</li>
            <ul class="list">
                <li>Factory Method Bean Instantiation</li>
                <li>Static Factory Method Bean Instantiation</li>
                <li>Instance Factory Method Bean Instantiation</li>
            </ul>
            <li>Singleton Java Class and Its Use Cases</li>
            <li>Bean Scopes</li>
            <ul class="list">
                <li>Singleton</li>
                <li>Prototype</li>
                <li>Request</li>
                <li>Session</li>
                <li>Application</li>
                <li>Websocket</li>
            </ul>
            <li>Bean Wiring</li>
            <pr>
                <li>Explicit Wiring</li>
                <li>Implicit Wiring or Auto Wiring</li>
                <ul class="list">
                    <li>ByType</li>
                    <li>ByName</li>
                    <li>Constructor</li>
                    <li>Autodetect</li>
                </ul>
                <li>p-namespace, C-namespace</li>
            </pr>
            <li>ApplicationContext Container</li>
            <li>Preinstantiation of Singleton Scope Beans</li>
            <li>Working with Properties File</li>
            <li>I18n (Internationalization)</li>
            <li>Event Handling</li>
            <li>BeanFactory Vs ApplicationContext</li>
            <li>Automatic Registration of Bean Post Processor and Bean Factory Post Processor</li>
            <li>Bean Life Cycle</li>
            <ul class="list">
                <li>Declarative Approach</li>
                <li>Programmatic Approach</li>
                <li>Annotation Driven Approach</li>
            </ul>
            <li>Nested IOC Containers</li>
            <ul class="list">
                <li>Presentation Tier</li>
                <li>Business Tier</li>
            </ul>
            <li>Various Attributes of <ref> Tag</li>
            <li>FactoryBean</li>
            <li>ServiceLocator as FactoryBean</li>
            <li>FactoryMethod Bean Instantiation Based Service Locator</li>
            <li>Method Replacement/Method Injection</li>
            <li>Aware Injection</li>
            <li>Lookup Method Injection</li>
            <li>BeanPostProcessor</li>
            <li>BeanFactoryPostProcessors</li>
            <li>PropertyEditors</li>
            <ul class="list">
                <li>Custom Property Editors</li>
            </ur>
            <li>Spring Expression Language(SpEL)</li>
        </pr><br>
        <h2 class="ser">Spring Core Module with Annotations</h2>
        <pr>
            <li>Spring Stereotype Annotations</li>
                <li>@Component</li>
                <li>@Service</li>
                <li>@Controller</li>
            <li>Dependency Injection Annotations</li>
                <li>@Autowired</li>
                <li>@Qualifier</li>
                <li>@Lazy</li>
            <li>Working with Java Config Annotations</li>
                <li>@Named</li>
                <li>@Inject</li>
                <li>@Resource</li>
            <li>Working with Properties File in Annotations Environment</li>
            <li>Developing Layered Applications in Annotations Environment</li>
        </pr><br>
        <h2 class="ser">Spring Core Module with 100% Code/Java Config Approach</h2>
        <pr>
            <li>Working with @Bean, @Configuration, @Lazy, @PropertySource, and etc.</li>
            <li>Developing Layered Application</li>
            <li>Working with AnnotationConfigApplicationContext</li>
        </pr><br>
        <h2 class="ser">Spring Boot Core</h2>
        <pr>
            <li>Introduction to Spring Boot</li>
            <li>Spring Boot Primary Goals</li>
            <li>Spring Boot Features</li>
            <li>Spring Boot Starters</li>
            <li>Understanding @SpringBootApplication</li>
            <li>Auto Configuration</li>
            <li>Example Applications</li>
            <li>Spring Profiles</li>
            <li>Properties Vs application.yml</li>
            <li>Spring Boot Standalone Flow</li>
            <li>Working with STS Plugins in Eclipse to Develop Spring Boot Application</li>
        </pr><br>
        <h2 class="ser">Spring Boot Core</h2>
        <pr>
            <li>Introduction to Spring Boot</li>
            <li>Spring Boot Primary Goals</li>
            <li>Spring Boot Features</li>
            <li>Spring Boot Starters</li>
            <li>Understanding @SpringBootApplication</li>
            <li>Auto Configuration</li>
            <li>Example Applications</li>
            <li>Spring Profiles</li>
            <li>Properties Vs application.yml</li>
            <li>Spring Boot Standalone Flow</li>
            <li>Working with STS Plugins in Eclipse to Develop Spring Boot Application</li>
        </pr><br>
        <h2 class="ser">Spring JDBC/DAO</h2>
        <pr>
            <li>Introduction</li>
            <li>Plain JDBC Limitations</li>
            <li>Advantages of Spring JDBC/DAO</li>
            <li>Working with Different Data Sources</li>
            <li>JdbcTemplate</li>
            <li>JNDI Registry and ServerManaged JDBC Connection Pool</li>
            <li>Callback Interfaces</li>
            <li>Batch Processing/Updating</li>
            <li>NamedParameterJdbcTemplate</li>
            <li>Working with SimpleJdbcInsert, SimpleJdbcCall</li>
            <li>Using SimpleJdbcCall to Call PL/SQL Procedures</li>
            <li>Mapping SQL Operations as Subclasses</li>
            <li>Spring JDBC/DAO with Annotations</li>
            <li>Spring JDBC/DAO with 100% Code Approach</li>
            <li>Spring Boot JDBC/DAO</li>
            <li>Spring Boot DAO - JdbcTemplate</li>
            <li>Spring Boot DAO - SimpleJdbcInsert</li>
            <li>Spring Boot Application Flow</li>
            <li>Working with DataSources through AutoConfiguration in Spring Boot 1.x and 2.x</li>
        </pr><br>
        <h2 class="ser">Spring AOP Module</h2>
        <pr>
            <li>Introduction</li>
            <li>Plain JDBC Limitations</li>
            <li>Spring JDBC/DAO Advantages</li>
            <li>Working with Different Data Sources</li>
            <li>JdbcTemplate</li>
            <li>JNDI Registry and ServerManaged Jdbc Connection Pool</li>
            <li>Callback Interfaces</li>
            <li>Batch Processing/Updating</li>
            <li>NamedParameterJdbcTemplate</li>
            <li>Working with SimpleJdbcInsert, SimpleJdbcCall</li>
            <li>Using SimpleJdbcCall to Call PL/SQL Procedures</li>
            <li>Mapping SQL Operations as Subclasses</li>
            <li>Spring JDBC/DAO with Annotations</li>
            <li>Spring JDBC/DAO with 100% Code Approach</li>
            <li>Spring Boot JDBC/DAO</li>
            <li>Spring Boot DAO - JdbcTemplate</li>
            <li>Spring Boot DAO - SimpleJdbcInsert</li>
            <li>Spring Boot Application Flow</li>
            <li>Working with DataSources through AutoConfiguration in Spring Boot 1.x and 2.x</li>
        </pr><br>
        <h2 class="ser">Spring Transaction Management</h2>
        <pr>
            <li>Introduction to Transaction Management</li>
            <li>Local Transaction Vs Distributed Transaction</li>
            <li>2pc Principle</li>
            <li>Transaction Models</li>
            <ul class="list">
                <li>Flat Transaction Model</li>
                <li>Nested Transaction Model</li>
            </ul>
            <li>Need of Spring Transaction Management</li>
            <li>Choosing Spring Transaction Manager</li>
            <ul class="list">
                <li>DataSourceTransactionManager</li>
                <li>Hibernate TransactionManager</li>
                <li>JTATransactionManager and etc…</li>
            </ul>
            <li>Different Ways of Implementing Spring Transaction Management</li>
            <ul class="list">
                <li>Programmatic Approach</li>
                <li>Declarative Approach using Spring AOP/AspectJ AOP</li>
                <li>Annotation Driven Approach using AspectJ AOP</li>
                <li>100% Code-Driven Approach using AspectJ AOP</li>
                <li>Spring Boot-Driven Approach using AspectJ AOP</li>
            </ul>
            <li>Transaction Attributes</li>
            <li>Transactions and Integration Testing</li>
            <li>Distributed Transaction Management Implementation using WebLogic server, Atomikos API</li>
            <li>Configuring Transaction Isolation Levels</li>
            <ul class="list">
                <li>Read Uncommitted</li>
                <li>Read Committed</li>
                <li>Repeatable Read</li>
                <li>Serializable</li>
            </ul>
            <li>Working with RollBackfor, NoRollBackfor, Timeout, and etc. in Transaction Management</li>
        </pr><br>
        <h2 class="ser">Spring MVC</h2>
        <pr>
            <li>Introduction To MVC</li>
            <li>Understanding MVC1, MVC2 Architectures</li>
            <li>Front Controller Design Pattern</li>
            <li>Intercepting Filter Vs Front Controller</li>
            <li>Different types of Servlet URL patterns</li>
            <li>Spring MVC Resources</li>
            <li>Spring MVC flow</li>
            <ul class="list">
                <li>Structural Flow</li>
                <li>Strategy Flow (Code based Flow)</li>
            </ul>
            <li>DispatcherServlet</li>
            <li>Different Controller Classes</li>
            <ul class="list">
                <li>ParameterizableViewController</li>
                <li>UrlFileNameViewController</li>
                <li>AbstractController</li>
                <li>AbstractCommandController</li>
                <li>SimpleFormController</li>
                <li>MultiActionController</li>
                <li>AbstractWizardFormController and etc.</li>
            </ul>
            <li>Developing Mini Project with CURD operation</li>
            <li>ContextLoaderListener</li>
            <li>Working with Two Containers</li>
            <li>HandlerMappings</li>
            <ul class="list">
                <li>BeanNameUrlHandlerMapping</li>
                <li>SimpleUrlHandlerMapping</li>
                <li>ResourceBundleViewResolver</li>
                <li>XmlViewResolver</li>
                <li>TilesViewResolver</li>
                <li>BeanNameViewResolver and etc.</li>
            </ul>
            <li>HandlerMappingChaining</li>
            <li>Form Validations</li>
            <li>ViewResolvers</li>
            <ul class="list">
                <li>InternalResourceViewResolver</li>
                <li>UrlBasedViewResolver</li>
                <li>ResourceBundleViewResolver</li>
                <li>XmlViewResolver</li>
                <li>TilesViewResolver</li>
                <li>BeanNameViewResolver and etc.</li>
            </ul>
            <li>ViewResolverChaining</li>
            <li>Views</li>
            <ul class="list">
                <li>InternalResourceView</li>
                <li>JstlView, TilesView, AbstractPdfView</li>
                <li>AbstractXlsView and etc.</li>
            </ul>
            <li>Exception Handling in Spring MVC</li>
            <li>Tiles integration with Spring MVC</li>
            <li>MessageSources and I18N</li>
            <li>Formatting Labels, Numbers, Dates, Currency Symbols</li>
            <li>Locale</li>
            <li>MVC namespace</li>
            <li>Handler interceptors/Adapters</li>
            <li>Checking Browser Type, Timeout period, Preventing double posting problem</li>
            <li>PDF Views and Excel Views</li>
            <li>File Uploading and Downloading</li>
            <li>Spring MVC with Annotations</li>
            <ul class="list">
                <li>Annotation driven Controllers</li>
                <li>@RequestMapping, @Controller</li>
                <li>@ModelAttribute, @SessionAttribute, @RequestParam</li>
                <li>RequestToViewNameTranslator</li>
                <li>MVC NameSpace</li>
                <li>Annotation driven Form validation using Hibernate Validator API, JEE validator API</li>
            </ul>
            <li>Spring MVC with 100% Code Approach</li>
            <li>Dynamic Registration of Servlet</li>
            <li>WebApplicationInitializer</li>
            <li>SpringServletContainerInitializer</li>
            <li>@EnableWebMVC, @Import</li>
            <li>AbstractAnnotationConfigDispatcherServletInitializer</li>
            <li>Spring Boot MVC</li>
            <ul class="list">
                <li>SpringServletInitializer</li>
                <li>Working with embedded TomcatServer</li>
                <li>Spring Boot dev tools</li>
                <li>Properties, application.yml in Spring Boot</li>
                <li>Developing Mini Project with CURD operation</li>
                <li>Solving double posting problems in Spring Boot MVC using PostRedirectGetPattern</li>
                <li>Profiles in spring, Spring boot</li>
            </ul>
        </pr><br>
        <h2 class="ser">Spring Security</h2>
        <pr>
            <li>Introduction to Spring Security</li>
            <li>Authentication and Authorization</li>
            <li>Authentication Manager and Authentication Info Provider</li>
            <li>Need of Spring Security</li>
            <li>DeliagatingFilterProxy</li>
            <li>SecurityNameSpace</li>
            <li>Form Login</li>
            <li>Remember Me</li>
            <li>Session Concurrency</li>
            <li>Logout and etc.</li>
            <li>Working with Different Authentication Providers</li>
            <ul class="list">
                <li>XML File</li>
                <li>Properties File</li>
                <li>Database</li>
                <li>LDAP Server</li>
            </ul>
            <li>Security Examples</li>
            <ul class="list">
                <li>Using XML Configurations</li>
                <li>Using Annotation Configurations</li>
                <li>100% Code-Driven Configurations</li>
                <li>Spring Boot Configuration</li>
                <li>Using LDAP Server as Authentication Provider</li>
            </ul>
        </pr><br>
        <h2 class="ser">Spring ORM</h2>
        <pr>
            <li>Introduction to ORM</li>
            <li>Spring ORM Advantage</li>
            <li>Integrating with Hibernate</li>
            <li>Spring with Hibernate using HibernateTemplate</li>
            <li>HibernateTemplate and its methods</li>
            <li>HibernateDAOSupport</li>
            <li>HibernateCallback interfaces</li>
        </pr><br>
        <h2 class="ser">Spring Data and Spring Data JPA</h2>
        <pr>
            <li>Need of Spring Data</li>
            <li>Spring Data JPA</li>
            <li>Finder Methods of Finder API</li>
            <li>Repositories</li>
            <li>JpaRepository</li>
            <li>CURDRepository</li>
            <li>Paging and Sorting Repository and etc…</li>
            <li>Spring Data Custom Query</li>
            <li>Automatic custom Query</li>
            <li>Manual custom Query(@Query)</li>
            <li>Spring Data Jpa Exception Translator</li>
            <li>Difference b/w Hibernate and Spring Data JPA</li>
            <li>Interacting with Mongo DB</li>
            <li>JUnit Test Cases</li>
        </pr><br>
        <h2 class="ser">Spring Batch</h2>
        <pr>
            <li>Need of Batch Processing</li>
            <li>Need of Spring Batch</li>
            <li>Understanding Spring Batch Architecture</li>
            <li>Working with Batch NameSpace</li>
            <li>Working with different ItemReaders, ItemWriters and ItemProcessors</li>
            <li>Converting Database Data to CSV File</li>
            <li>Converting CSV File to XML File</li>
            <li>Converting XML file to CSV File</li>
            <li>Spring Batch Application using Spring Boot</li>
            <li>JobBuilderFactory</li>
            <li>StepBuilderFactory</li>
            <li>Step point TaskLet and etc….</li>
            <li>Working with scheduler</li>
        </pr><br>
        <h2 class="ser">Spring Mail</h2>
        <pr>
            <li>Understanding Java mail API</li>
            <li>Understanding SMTP, POP3, IMAP Protocols</li>
            <li>Understanding Mail server and Mail Clients</li>
            <li>Understanding Email Message Structure</li>
            <li>Spring Mail abstraction over Java Mail</li>
            <li>Spring Mail using Spring Boot</li>
        </pr><br>
        <h2 class="ser">Introduction to Spring Microservices</h2>
        <pr>
            <li>Understanding Microservices Architecture</li>
            <li>Advantages of Microservices over Monolithic Architecture</li>
            <li>Components of a Microservices-based System</li>
        </pr><br>

        <h2 class="ser">Explaining Project Architectures</h2>
        <pr>
            <li>Servlet and JSP Project Architecture</li>
            <li>Spring MVC Project Architecture</li>
            <li>Spring Boot with Microservice Project Architecture</li>
            <li>Comparison and Contrast of Different Architectures</li>
        </pr><br>

        <h2 class="ser">Adapting Agile Methodology</h2>
        <pr>
            <li>Understanding Agile Methodology</li>
            <li>Benefits and Features of Agile</li>
            <li>Implementing Agile in Software Development</li>
        </pr><br>
        <form class="border-top border-bottom">
            <br>
            <h8>Categories:<a1>Online Training -- <h8 class="color" style='color: black;'>Tags:</h8> Chennai</a1></h8>
            <br>
        </form>
    </div>
</div>

<div class="col-md-6 px-4">
        <div class="right-box">
            <h3><a href="http://localhost:3000/home" style=" color: red;"> Home </a><svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="currentColor" class="bi bi-chevron-double-right" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M3.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L9.293 8 3.646 2.354a.5.5 0 0 1 0-.708z"/>
                <path fill-rule="evenodd" d="M7.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L13.293 8 7.646 2.354a.5.5 0 0 1 0-.708z"/>
            </svg> CLASSROOM TRAINING <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="currentColor" class="bi bi-chevron-double-right" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M3.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L9.293 8 3.646 2.354a.5.5 0 0 1 0-.708z"/>
                <path fill-rule="evenodd" d="M7.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L13.293 8 7.646 2.354a.5.5 0 0 1 0-.708z"/>
            </svg> Spring 5.x Training</h3><br><br>
            <div class="star">
            <span class="Rating"><a>Rating of &nbsp; <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="yellow" class="bi bi-star" viewBox="0 0 16 16">
                <polygon points="8 0 10 5 15 5 11.25 8.75 12.5 14.5 8 11 3.5 14.5 4.75 8.75 1 5" />
            </svg><svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="yellow" class="bi bi-star" viewBox="0 0 16 16">
                <polygon points="8 0 10 5 15 5 11.25 8.75 12.5 14.5 8 11 3.5 14.5 4.75 8.75 1 5" />
            </svg><svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="yellow" class="bi bi-star" viewBox="0 0 16 16">
                <polygon points="8 0 10 5 15 5 11.25 8.75 12.5 14.5 8 11 3.5 14.5 4.75 8.75 1 5" />
            </svg><svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="yellow" class="bi bi-star" viewBox="0 0 16 16">
                <polygon points="8 0 10 5 15 5 11.25 8.75 12.5 14.5 8 11 3.5 14.5 4.75 8.75 1 5" />
            </svg><svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="yellow" class="bi bi-star" viewBox="0 0 16 16">
                <polygon points="8 0 10 5 15 5 11.25 8.75 12.5 14.5 8 11 3.5 14.5 4.75 8.75 1 5" />
            </svg> </a></span><br>
            <a class="average" style="font-size: 10px;">Average of 4.98 on a total of 500 Ratings</a><br></div>
            <div class="training" style="margin-left: 142px; margin-top: 14px; font-size: 12px">
            <a herf="/trainers_profile" style="color: red;">Trainers Profile</a><br>
            <a href="/student_enquiry" style="color: red;">Student Enquiry</a><br>
            <a href="/corporate_training" style="color: red;">Corporate Training</a><br>
            <a href="/feedback" style="color: red;">Post your Feedback</a><br>
            <a href="/post_testimonials" style="color: red;">View/Post Testimonials<br>
            <a href="/contact" style="color: red;">Contact Us</a></a1></div>
            <div class="margin" style="margin-left: 141px;">
                <h2>Register for Course!</h3><br>
                <p>Learn from the Real-Time Experts</p>
                <br>
                    <form>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="firstName">First Name<span class="text-danger">*</span></label>
                                <input type="text" class="form-control" id="firstName" placeholder="Enter your first name">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="lastName">Last Name<span class="text-danger">*</span></label>
                                <input type="text" class="form-control" id="lastName" placeholder="Enter your last name">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="email">Email<span class="text-danger">*</span></label>
                                <input type="email" class="form-control" id="email" placeholder="Enter your email">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="phone">Phone<span class="text-danger">*</span></label>
                                <input type="tel" class="form-control" id="phone" placeholder="Enter your phone number">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="state">State</label>
                                <input type="tel" class="form-control" id="state" placeholder="Enter your phone number">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="modeOfTraining">Mode of Training<span class="text-danger">*</span></label>
                            <select id="modeOfTraining" class="form-control">
                                <option selected>Online Training</option>
                                <option selected>Classroom Training</option>
                                <option selected>Weekend Training</option>
                                <option selected>Project Training</option>
                                <option selected>Intership Training</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="course">Course</label>
                            <select id="course" class="form-control">
                                <option selected>Select Course</option>
                                <option selected>Python</option>
                                <option selected>Java</option>
                                <option selected>C++</option>
                                <option selected>C#</option>
                                <option selected>JavaScript</option>
                                <option selected>Ruby</option>
                                <option selected>Swift</option>
                                <option selected>Kotlin</option>
                                <option selected>Data Science</option>
                                <option selected>Machine Learning</option>
                                <option selected>Deep Learning</option>
                                <option selected>Natural Language Processing (NLP)</option>
                                <option selected>TensorFlow</option>
                                <option selected>PyTorch</option>
                            </select>
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                    <br>

                    <h2>JOIN WHATSAPP GROUPS FOR UPDATES<br><br>
                        <img src="./assets/whatsappjpg">
                    </h2>
                    <h2>WATCH FREE TUTORIALS<br><br>
                        <img src="./assets/telegramjpeg">
                    </h2>
                    <h2>JOIN US ON TELEGRAM FOR UPDATES<br><br>
                        <img src="./assets/freejpg">
                    </h2>
                    <h2>FIND COURSES HERE</h2>
                    <li>courses traning</li>
                    <li>Android Training</li>
                    <li>iPhone Training</li>
                    <li>Asp.Net Training</li>
                    <li>Asp.Net MVC Training</li>
                    <li>C#.NET Training</li>
                    <li>C++ Training</li>
                    <li>Data Structure Training</li>
                    <li>Java Training</li>
                    <ul class="list">
                        <li>Core Java Training</li>
                        <li>Advanced Java Training</li>
                        <li>Hibernate Training</li>
                        <li>J2EE Training</li>
                        <li>Spring 5.x Training</li>
                        <li>Hibernate Training</li>
                        <li>Web Services Training</li>
                        <li>Struts Training</li>
                        <li>XML Training</li>
                        <li>Java Online Training</li></ul>
                    <li>Oracle Training</li>
                    <li>SQL Server Training</li>
                    <li>Selenium Training</li>
                    <li>UNIX LINUX Training</li>
                    <li>PHP Training</li>
                    <li>HTML5 CSS3 Training</li>
                    <li>jQuery Training</li>
                    <li>UI Technologies Training</li>
                    <li>UI UX Training</li>
                    <li>AngularJS Training</li>
                    <ul class="list">
                        <li>Angular 2 Training</li>
                        <li>Angular 4 Training</li>
                        <li>Angular 6 Training</li>
                        <li>Angular 7 Training</li>
                    </ul>
                    <li>Data Science Training</li>
                    <li>Artificial Intelligence Training</li>
                    <li>Hadoop Training</li>
                    <li>Apache Spark Training</li>
                    <li>Python Training</li>
                    <li>Hadoop Online Training</li>
                    <li>DevOps Training</li>
                    <li>AWS Training</li>
                    <li>IoT Training</li>
                    <li>SalesForce CRM Training</li>
                    <li>Digital Marketing Training</li>
                    <li>RPA Training</li>
                    <ul class="list">
                        <li>Blue Prism Training</li>
                        <li>Automation Anywhere Training</li>
                        <li>Automation Anywhere Online Training</li>
                    </ul>
                    <li>Blockchain Training</li>
                    <li>Realtime Projects</li>
                    <ul class="list">
                        <li>Real Time Java Project</li>
                        <li>Real-Time Project on PHP</li></ul>
                    <li>Doubleclick for Publishers Training</li>
                    <li>Software Training in Chennai</li>
                    <li>Testing Tools Training</li>
                    <li>Full Stack Web Development Course</li>
                    <li>Full Stack Web Development Course</li>
                    <li>Full Stack Java Developer Course</li>
               </div>
           </div>
        </div>
    </div>
</body>
<%= render "fooder" %>
<br>
<p class="paragrap" style="font-weight: bold;">© 2023 Depth Core Technologies | Software Training - Online Training - Live Project Training - Weekend Training</p>