<%= render "header" %>
<style>
    h{
        font-weight: bold;
    }pr li{
    margin-left: 35px;
    font-size: 12px;
    font-style: italic;
    }
    .course-card {
        margin-bottom: 20px;
    }
    .left-box {
        padding: 20px;
/*        width: 120%;*/
    }

    .right-box {
        padding: 20px;
        margin-top: 20px;
    }

    
    h1 {
        font-weight: bold;
    }

    h2 {
        font-weight: bold;
        margin: 0px;
        margin-top: 20px; 
       font-size: 19px;
    }
    h3{
        color: red;
        font-size: 16px;
        margin-left: 135px;
    }
    h4{
        font-size: 1.5rem;
        margin-top: 102px;
        font-size: 20px;
        font-weight: bold;
    }
    a1, td {
        color: red;
    }
    .text-black {
        color: black !important;
    }
    .star{
        margin-left: 210px;
    }
    span.Rating{    
        margin-left: 28px;
    }
    p{
        font-size: 12px
    }
    .ser {
        font-size: 12px;
        font-weight: bold;
        margin: 16px;
    }
</style>
<body>
<div class="row">
<!-- Left Box -->
<div class="col-md-6">
    <div class="left-box">
        <h4 class="border-bottom pb-2">Struts Training</h4>
        <a1 class="border-bottom pb-2">NIT Manager</a1>
        <div class="left-box">
            <h class="services" style="font-size: 12px; font-weight: bold;">Struts 1.x and 2.x Training Overview</h>
            <p class="paragrap" style="margin-top: 20px; word-spacing: 2px;">The Apache Struts web framework is a free open-source solution for creating Java web applications. It provides various components that can be used to develop MVC based web applications that are easy to develop and maintain.</p>
            <p class="paragrap" style="margin-top: 20px; word-spacing: 2px;">This advanced course shows JSP and servlet programmers how to build web applications using the <strong>Apache Struts framework.</strong> Learner learn the Struts architecture and see how it captures a great deal of pre-existing best practice: in model-view-controller action mappings, form beans, custom tags for working with <strong>HTML</strong> forms, input validation, and the Tiles view-building framework. This Struts 1.3 and 2.0 version of the course illustrates the use of Struts 1.3 in detail and 2.0.</p>
        </div>
        <div class="left-box">
            <h class="services" style="font-size: 12px; font-weight: bold;">Struts 1.x & 2.x Course Prerequisite</h>
            <p class="paragrap" style="margin-top: 20px; word-spacing: 2px;">Java Programming, Java Web Programming, or Java Enterprise Edition. Java Servlet and JSP programming experience, and a basic understanding of<a1> HTML </a1>and <strong>XML</strong> is required.</p>
        </div>
        <h2 class="ser">Struts 1.x & 2.x Training Course Objectives</h2>
        <pr>
            <li>Facilitate understanding of the Model-View-Controller (MVC) design pattern and how it is best applied to Java Web development</li>
            <li>Use Struts actions and action mappings to take control of HTTP requests/responses</li>
            <li>Manage HTML form input and output with form beans, and use these beans to simplify data handling in the controller</li>
            <li>Use JSTL and Struts custom tags to build robust and reusable JSP presentation logic</li>
            <li>Support multiple client locales with various internationalization techniques</li>
            <li>Define validation rules for input forms, and provide clear user feedback</li>
            <li>Build complex presentations using decoupled, reusable tiles, screens, and layouts</li>
        </pr><br>
        <h2 class="ser">Struts 1.x and 2.x Training Course Duration</h2>
        <pr>
            <li>60 Working days</li>
            <li>Daily one and a half hours</li>
        </pr><br>
        <h2 class="ser">Struts 1.x and 2.x Training Course Content</h2>
        <h2 class="ser">STRUTS – 1.x</h2>
        <h2 class="ser">Different types of Applications</h2>
        <h2 class="ser">Different Layers in Application</h2>
        <pr>
            <li>Presentation Processing Layer</li>
            <li>Business Processing Layer</li>
            <li>Data Storage and Access Layer</li>
        </pr><br>
        <h2 class="ser">Web Application Designing Models</h2>
        <pr>
            <li>Model1-Architecture</li>
            <li>Model2-Architecture (MVC)</li>
            <li>Designing web application using MVC architecture</li>
        </pr><br>
        <h2 class="ser">Struts Introduction</h2>
        <h2 class="ser">Struts Architecture</h2>
        <h2 class="ser">Struts Resources</h2>
        <pr>
            <li>JSP</li>
            <li>ActionServlet</li>
            <li>web.xml</li>
            <li>ActionForm</li>
            <li>Action class</li>
            <li>Struts Configuration File</li>
            <li>Explanation about Struts-configuration File</li>
            <li>Detailed explanation of Struts request processing flow</li>
            <li>Customizing RequestProcessor</li>
        </pr><br>
        <h2 class="ser">Validations in Struts</h2>
        <h2 class="ser">Client Validations</h2>
        <h2 class="ser">Server-side Validations</h2>
        <pr>
            <li>By using validate() method – programmatic approach</li>
            <li>By using Validator Framework – declarative approach</li>
            <li>Combination of programmatic approach and declarative approach</li>
        </pr><br>
        <h2 class="ser">Different types of Action Forms and Dynamic Action Forms</h2>
        <pr>
            <li>ActionForm</li>
            <li>DynaActionForm</li>
            <li>ValidatorForm</li>
            <li>DynaValidatorForm</li>
            <li>ValidatorActionForm</li>
            <li>DynaValidatorActionForm</li>
        </pr><br>
        <h2 class="ser">Exception Handling in Struts</h2>
        <pr>
            <li>Programmatic Approach</li>
            <li>Declarative Approach</li>
        </pr><br>
        <h2 class="ser">Local Forwards and Global Forwards</h2>
        <h2 class="ser">Local Exceptions and Global Exceptions</h2>
        <h2 class="ser">Struts Predefined Tag Libraries</h2>
        <pr>
            <li>HTML Tag Library</li>
            <li>Bean Tag Library</li>
            <li>Logic Tag Library</li>
            <li>Nested Tag Library</li>
            <li>Tiles Tag Library</li>
        </pr><br>
        <h2 class="ser">Predefined Action Classes</h2>
        <pr>
            <li>ForwardAction</li>
            <li>IncludeAction</li>
            <li>DispatchAction</li>
            <li>LookupDispatchAction</li>
            <li>MappingDispatchAction</li>
            <li>SwitchAction</li>
            <li>LocaleAction</li>
            <li>DownloadAction</li>
            <li>EventDispatchAction</li>
        </pr><br>
        <h2 class="ser">Internationalization (I18N) in Struts 1.x</h2>
        <h2 class="ser">Struts with Ajax Example</h2>
        <h2 class="ser">Preventing Double Submits</h2>
        <h2 class="ser">Data Source</h2>
        <h2 class="ser">File Uploading and Downloading in Struts</h2>
        <h2 class="ser">Tiles Framework</h2>
        <h2 class="ser">IDEs: Eclipse, Netbeans</h2>

        <h2 class="ser">STRUTS – 2.x</h2>

        <h2 class="ser">Basic Components of Struts 2</h2>
        <pr><li>Struts 2 Features</li></pr><br>

        <h2 class="ser">Differences between Struts 1.x & 2.x</h2>
        <h2 class="ser">Steps to Create Struts 2 Application</h2>

        <h2 class="ser">Core Components in Struts 2</h2>
        <pr>
            <li>Filter Dispatcher</li>
            <li>Interceptors</li>
            <li>Value Stack</li>
            <li>Action Context</li>
            <li>Action Invocation</li>
            <li>OGNL (Object Graph Notation Language)</li>
        </pr><br>
        <h2 class="ser">Struts 2 Work Flow</h2>
        <h2 class="ser">Struts 2 Action</h2>
        <h2 class="ser">Struts 2 Configuration</h2>
        <pr>
            <li>Multi Configuration</li>
            <li>MultiNameSpace</li>
        </pr><br>
        <h2 class="ser">Struts 2 Tag Library</h2>
        <h2 class="ser">Interceptors</h2>
        <pr>
            <li>Params Interceptor</li>
            <li>Model Driven Interceptor</li>
            <li>Custom Interceptor</li>
            <li>Exception Handling</li>
        </pr><br>

        <h2 class="ser">Struts 2 Validation</h2>
        <pr>
            <li>Custom Validation</li>
            <li>Input Validation</li>
            <li>Aware Interfaces</li>
            <li>Application Aware</li>
            <li>Session Aware</li>
            <li>Request and Response Aware</li>
        </pr><br>
        <h2 class="ser">Aware Interfaces</h2>
        <pr>
            <li>Application Aware</li>
            <li>Session Aware</li>
            <li>Request and Response Aware</li>
        </pr><br>
        <h2 class="ser">Internationalization(I18N) in Struts 2.x</h2>
        <h2 class="ser">Files Uploading and Downloading</h2>
        <h2 class="ser">Securing Struts Application</h2>
        <h2 class="ser">Debugging and Profiling</h2>
        <h2 class="ser">Progress Meters</h2>
        <h2 class="ser">Custom Interceptors</h2>
        <h2 class="ser">Data Store using Struts 2</h2>
        <h2 class="ser">JFreeChart Plugins</h2>
        <h2 class="ser">Struts 2 with Tiles 2</h2>
        <h2 class="ser">IDEs: Eclipse, Netbeans</h2>
        <form class="border-top border-bottom">
            <br>
            <h8>Categories:<a1>Struts Training</a1></h8>
            <br>
        </form>
    </div>
</div>

<div class="col-md-6 px-4">
        <div class="right-box">
            <h3><a href="http://localhost:3000/home" style=" color: red;"> Home </a><svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="currentColor" class="bi bi-chevron-double-right" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M3.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L9.293 8 3.646 2.354a.5.5 0 0 1 0-.708z"/>
                <path fill-rule="evenodd" d="M7.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L13.293 8 7.646 2.354a.5.5 0 0 1 0-.708z"/>
            </svg> CLASSROOM TRAINING <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="currentColor" class="bi bi-chevron-double-right" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M3.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L9.293 8 3.646 2.354a.5.5 0 0 1 0-.708z"/>
                <path fill-rule="evenodd" d="M7.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L13.293 8 7.646 2.354a.5.5 0 0 1 0-.708z"/>
            </svg> Struts Training </h3><br><br>
            <div class="star">
            <span class="Rating"><a>Rating of &nbsp; <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="yellow" class="bi bi-star" viewBox="0 0 16 16">
                <polygon points="8 0 10 5 15 5 11.25 8.75 12.5 14.5 8 11 3.5 14.5 4.75 8.75 1 5" />
            </svg><svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="yellow" class="bi bi-star" viewBox="0 0 16 16">
                <polygon points="8 0 10 5 15 5 11.25 8.75 12.5 14.5 8 11 3.5 14.5 4.75 8.75 1 5" />
            </svg><svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="yellow" class="bi bi-star" viewBox="0 0 16 16">
                <polygon points="8 0 10 5 15 5 11.25 8.75 12.5 14.5 8 11 3.5 14.5 4.75 8.75 1 5" />
            </svg><svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="yellow" class="bi bi-star" viewBox="0 0 16 16">
                <polygon points="8 0 10 5 15 5 11.25 8.75 12.5 14.5 8 11 3.5 14.5 4.75 8.75 1 5" />
            </svg><svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="yellow" class="bi bi-star" viewBox="0 0 16 16">
                <polygon points="8 0 10 5 15 5 11.25 8.75 12.5 14.5 8 11 3.5 14.5 4.75 8.75 1 5" />
            </svg> </a></span><br>
            <a class="average" style="font-size: 10px;">Average of 4.98 on a total of 500 Ratings</a><br></div>
            <div class="training" style="margin-left: 142px; margin-top: 14px; font-size: 12px">
            <a herf="/trainers_profile" style="color: red;">Trainers Profile</a><br>
            <a href="/student_enquiry" style="color: red;">Student Enquiry</a><br>
            <a href="/corporate_training" style="color: red;">Corporate Training</a><br>
            <a href="/feedback" style="color: red;">Post your Feedback</a><br>
            <a href="/post_testimonials" style="color: red;">View/Post Testimonials<br>
            <a href="/contact" style="color: red;">Contact Us</a></a1></div>
            <div class="margin" style="margin-left: 141px;">
                <h2>Register for Course!</h3><br>
                <p>Learn from the Real-Time Experts</p>
                <br>
                    <form>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="firstName">First Name<span class="text-danger">*</span></label>
                                <input type="text" class="form-control" id="firstName" placeholder="Enter your first name">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="lastName">Last Name<span class="text-danger">*</span></label>
                                <input type="text" class="form-control" id="lastName" placeholder="Enter your last name">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="email">Email<span class="text-danger">*</span></label>
                                <input type="email" class="form-control" id="email" placeholder="Enter your email">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="phone">Phone<span class="text-danger">*</span></label>
                                <input type="tel" class="form-control" id="phone" placeholder="Enter your phone number">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="state">State</label>
                                <input type="tel" class="form-control" id="state" placeholder="Enter your phone number">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="modeOfTraining">Mode of Training<span class="text-danger">*</span></label>
                            <select id="modeOfTraining" class="form-control">
                                <option selected>Online Training</option>
                                <option selected>Classroom Training</option>
                                <option selected>Weekend Training</option>
                                <option selected>Project Training</option>
                                <option selected>Intership Training</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="course">Course</label>
                            <select id="course" class="form-control">
                                <option selected>Select Course</option>
                                <option selected>Python</option>
                                <option selected>Java</option>
                                <option selected>C++</option>
                                <option selected>C#</option>
                                <option selected>JavaScript</option>
                                <option selected>Ruby</option>
                                <option selected>Swift</option>
                                <option selected>Kotlin</option>
                                <option selected>Data Science</option>
                                <option selected>Machine Learning</option>
                                <option selected>Deep Learning</option>
                                <option selected>Natural Language Processing (NLP)</option>
                                <option selected>TensorFlow</option>
                                <option selected>PyTorch</option>
                            </select>
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                    <br>

                    <h2>JOIN WHATSAPP GROUPS FOR UPDATES<br><br>
                        <img src="./assets/whatsappjpg">
                    </h2>
                    <h2>WATCH FREE TUTORIALS<br><br>
                        <img src="./assets/telegramjpeg">
                    </h2>
                    <h2>JOIN US ON TELEGRAM FOR UPDATES<br><br>
                        <img src="./assets/freejpg">
                    </h2>
                    <h2>FIND COURSES HERE</h2>
                    <li>courses traning</li>
                    <li>Android Training</li>
                    <li>iPhone Training</li>
                    <li>Asp.Net Training</li>
                    <li>Asp.Net MVC Training</li>
                    <li>C#.NET Training</li>
                    <li>C++ Training</li>
                    <li>Data Structure Training</li>
                    <li>Java Training</li>
                    <ul class="list">
                        <li>Core Java Training</li>
                        <li>Advanced Java Training</li>
                        <li>Hibernate Training</li>
                        <li>J2EE Training</li>
                        <li>Spring 5.x Training</li>
                        <li>Hibernate Training</li>
                        <li>Web Services Training</li>
                        <li>Struts Training</li>
                        <li>XML Training</li>
                        <li>Java Online Training</li></ul>
                    <li>Oracle Training</li>
                    <li>SQL Server Training</li>
                    <li>Selenium Training</li>
                    <li>UNIX LINUX Training</li>
                    <li>PHP Training</li>
                    <li>HTML5 CSS3 Training</li>
                    <li>jQuery Training</li>
                    <li>UI Technologies Training</li>
                    <li>UI UX Training</li>
                    <li>AngularJS Training</li>
                    <ul class="list">
                        <li>Angular 2 Training</li>
                        <li>Angular 4 Training</li>
                        <li>Angular 6 Training</li>
                        <li>Angular 7 Training</li>
                    </ul>
                    <li>Data Science Training</li>
                    <li>Artificial Intelligence Training</li>
                    <li>Hadoop Training</li>
                    <li>Apache Spark Training</li>
                    <li>Python Training</li>
                    <li>Hadoop Online Training</li>
                    <li>DevOps Training</li>
                    <li>AWS Training</li>
                    <li>IoT Training</li>
                    <li>SalesForce CRM Training</li>
                    <li>Digital Marketing Training</li>
                    <li>RPA Training</li>
                    <ul class="list">
                        <li>Blue Prism Training</li>
                        <li>Automation Anywhere Training</li>
                        <li>Automation Anywhere Online Training</li>
                    </ul>
                    <li>Blockchain Training</li>
                    <li>Realtime Projects</li>
                    <ul class="list">
                        <li>Real Time Java Project</li>
                        <li>Real-Time Project on PHP</li></ul>
                    <li>Doubleclick for Publishers Training</li>
                    <li>Software Training in Chennai</li>
                    <li>Testing Tools Training</li>
                    <li>Full Stack Web Development Course</li>
                    <li>Full Stack Web Development Course</li>
                    <li>Full Stack Java Developer Course</li>
               </div>
           </div>
        </div>
    </div>
</body>
<%= render "fooder" %>
