<% @syllabuses.each do |syllabus| %>
   <div class="text-center" style="background-color: #87ceeb29;">
   	<%= syllabus.course_name %><br>
      <%= syllabus.duration %><br>
      <%= syllabus.database %>
   </div>
<% end %>